[2019-04-24 18:43] Melissa37 commented on #1263
will we have a fixed number of contrib group types (authors, peer-review, translators) or do we need to have that extensible?

I did see/hear one option at one point of having a non-author group. Perhaps that could be used? "non-author" contributor group type, so you'd have `author` and `non-author`, and then the role is used as a display term for the custom vocabulary

Would my suggestions above

[2019-04-24 18:50] Melissa37 commented on #1262
That is correct. It mitigates against the risk of one being updated and updating the others without the user seeing - as we think they will be displayed in different places.
It is unlikely they will share the affiliations for eLife and we think it is better they are repeated than risk one group updating for another accidently.

I appreciate your concern from the point of view of initial data entry

[2019-04-24 18:54] oliver---- commented on #1262
@Melissa37 there is always an option for prefill an entity for sake of convenience. After that, things are treated as separated entities.

[2019-04-24 19:04] Melissa37 commented on #1261
I agree, but would like @FAtherden-eLife and @JGilbert-eLife to confirm for eLife

I like the idea of an extensible list of role values. I think some might need that field to be completely open and editable, but we at eLife would have defined roles that we'd need to add to/change over time

[2019-04-24 19:07] Melissa37 commented on #1269
@michael Thanks for doing this, but we need to wait for @NickDuf to think about this and think about designs.

Some of the interpretations are wrong, eg:

This does not meet the need of non-eLife users.

We need to work out how to add it if not present and it should not be part of the main area as it is so rare.

Needs more thought on this to realize all possibilities.

Also, in Milestone 2 we wil

[2019-04-24 19:08] Melissa37 commented on #1260
This would not work for another journal we are working with for Libero so I think it would not be a good idea to set it up this way. Sorry!

[2019-04-24 19:13] oliver---- commented on #1260
Could you elaborate on this?

Having an email and being corresponding author is not necessary the same IMO. What is the reasoning behind this?

[2019-04-24 19:57] fabiobatalha commented on #1262
No @Melissa37, This comment concerns to the *Awaiting Decision* above.

[2019-04-24 20:20] fabiobatalha commented on #1261
@michael At Érudit we do not have all this variety of roles only because the ÉruditArticle Schema do not support this. But considering we are moving to JATS and we will start to have control of this information it is totally acceptable to have a pre-defined list of possible values for authors and non-authors.

I would say some journals will adopt the terms of this list but I can not assure all the

[2019-04-24 20:47] Melissa37 commented on #1260
The corresponding author is the person readers should contact if they want to ask the authors something about the paper. The other authors may display their email address, but they are not the official contact for the actual paper. Does that make sense?

I agree, not great.

[2019-04-24 20:50] oliver---- commented on #1260
Yes.

[2019-04-24 20:53] Melissa37 commented on #1262
Note: please add a user story if you want to have a convenience prefill of something.

@oliver---- thanks. I don't think we need to add that user story for eLife now as it does not affect our use case. If we feel we should add it for Texture as a tool and it slots in here we should do it. Everyone should decide on that I guess?

[2019-04-25 07:48] Melissa37 commented on #1249
@michael do you mind if I rename this to Keywords and categories and add our user stories to it from the Consortium? I can do this today with your approval.

I think we need better user stories for the Source Data requirement. It would be good to understand better about this, I have a little understanding from the call we had with them.

We are lucky that JATS4R has a draft proposal out for public

[2019-04-25 07:49] michael commented on #1269
Hey @Melissa37 ! This is a work in progress of course. I'm just trying to keep a full proposal addressing the requirements as they come in. The idea is to tailor this until we are all happy. I'm calling this a "Feature" which addresses a set of feature requests.

Understand. I updated the proposal to have separate fields for email and corresponding author.

It's only shown inside "more fields" so

[2019-04-25 07:55] michael commented on #1260
Understand, let's capture this in two separate fields then. My assumption was based on Erudit's use-case. But makes perfect sense to have emails for a number of authors where only some of them are corresponding authors. Updated the proposal as well to reflect this. See #1269.

[2019-04-25 08:23] michael commented on #1249
@Melissa37 sounds good.

I renamed this ticket to "Figure metadata editor" - we are already working on this. I will create a separate new ticket "Keywords and categories" where you can capture all requirements and then at a later point refine the existing implementation (which currently only has the goal to improve figure metadata editing).

[2019-04-25 08:31] michael opened #1270 "Keywords and categories"
# Description

Please provide a brief description of this feature.

# User stories

Please add your user stories.

# Use cases

- Article keywords (needs spec)
- Article subjects (needs spec)
- Figure metadata field editing
- Contribution roles

# But what if . . . ?

Please provide details of situations that may occur and/or overlap with other features and are not covered in the user stories.

#

[2019-04-25 09:14] michael commented on #1270
@Melissa37 please add your user stories here.

[2019-04-25 09:45] michael commented on #1252
think this does not belong here. Otherwise the requirements are clear.

[2019-04-25 09:53] michael commented on #1252
this is possible, but is it really MVP? we would suggest to move such things into separate feature-request tickets to be addressed in later iterations.

[2019-04-25 09:59] michael commented on #1253
@Melissa37 we've been discussing this, and think the automation part of authenicating ORCID's can not be part of the MVP. We would provide the necessary fields in Texture: ORCID with optional authenticated checkbox. That way you can edit all the needed data.

Later, this could be improved with a workflow in Libero to manage ORCID + authenticated flag. We would suggest to split this out into a sepa

[2019-04-25 10:11] michael commented on #1256
Looking good. I think we already address this (except for the translation layer requirements). Could you verify if the following fields we use currently are sufficient:

[code]

[2019-04-25 10:16] michael commented on #1258
Since we see two different ways to mark deceased authors (deceased attribute vs. deceased author footnote) we would need a decision here which concept to use (or allow both ways, would try to avoid).

Otherwise the requirements are clear.

[2019-04-25 10:38] evabenitoembo commented on #1250
To keep in mind: often we will have situations in which authors may want to group panels. E.g. panels E-D and F-G as in this example:

<img width="893" alt="figure_D_E_legend" src="https://user-images.githubusercontent.com/31538460/56730010-ffebc280-6756-11e9-93d4-ce69422d9954.png">
<img width="497" alt="figure_D_E" src="https://user-images.githubusercontent.com/31538460/56730013-ffebc280-6756-11e

[2019-04-25 10:42] evabenitoembo commented on #1250
And one more thing to keep in mind (_did not find a more appropriate place to put this example, feel free to move to correct thread if need be_): sometimes we have a short paragraph of text that refers to all of the panels in a figure group, like the last paragraph here with the data information:

<img width="413" alt="footer_text" src="https://user-images.githubusercontent.com/31538460/56730171-7

[2019-04-25 19:12] eLifeProduction commented on #1253
Agreed.

Let's talk about this as I think there is a misunderstanding - the input into Texture would have authenticated attribute in the XML. I am not sure anyone should be able to change an ORCID in Texture if it's provided.

If something is authenticated, the ORCID should not be editable in Texture. If it's not authenticated it can be edited. That could be the "flag" to indicate whether somethin

[2019-04-25 19:14] Melissa37 commented on #1253
That was my comment above - was logged into another production account

[2019-04-26 10:55] Melissa37 commented on #1270
@michael I have pulled this out of the ticket but it is kept here for now. They cannot be in the ticket without user stories attached to them.

## Figure Metadata keywords:

[code]

[2019-04-26 11:07] Melissa37 commented on #1252
We've agreed to sign off on all eLife requirements by end of July so we are not splitting out MVP from eLife production ready. If you want to split out the development of this feature so it's done later down the line of what you agree with eLife for a timeline, that's fine for us. We need it to go live.

[2019-04-26 11:12] michael commented on #1252
I don’t understand why you require this to go live. Typing out PhD in a
text field and do quality checking works.

Having auto suggestion is a convenience, that could be something agreed
with other journals (the values) and delivered after the eLife launch?

On Fri 26. Apr 2019 at 13:07, Melissa Harrison <notifications@github.com>
wrote:

[2019-04-26 11:24] Melissa37 commented on #1252
@michael can you explain what you mean by auto suggestion? This is not mentioned here in our ticket. We've not asked for it here.
We're being explicit about what we allow/do, but not expecting Texture to limit the field. Does that clarify?

[2019-04-30 14:33] #1251 closed

[2019-04-30 15:02] JGilbert-eLife commented on #1258
Doesn't that question belong in https://github.com/substance/texture/issues/1259?

I've also updated the considerations to account for SciELO using footnotes to capture contributions (they keep them as a single footnote rather than splitting them between the authors):

[code]

[2019-05-01 13:54] FAtherden-eLife opened #1271 "Author roles"
# Description

Érudit allows authors to be assigned a role.

## User Stories
### Author
-

### Production staff
-

### Érudit
- As QC staff, I want to be able to see any role assigned to an author so that I can check that this information is correct.
- As QC staff, I want to be able to edit the role for an author so that I can correct any errors.
- As QC staff, I want to be able to add a role from

[2019-05-01 13:55] FAtherden-eLife opened #1272 "Bio"
# Description

A human readable biography (bio) displayed for an author or non-author contributor.

## User Stories
### Author
- As an author, I want to be able to see the bio associated with an author or non-author contributor so that I can check the information is correct.
- As an author, I want to be able to edit a bio so that I can correct any errors.
- As an author, I want to be able to add a

[2019-05-01 13:57] FAtherden-eLife opened #1273 "Asset-level licensing"
# Description

We need to be able to support separate licenses for assets within the article as these (particularly figures) may reproduce material from other articles not published under CC-BY licenses.

## User Stories
### Author
- As an author, I want to be able to see any permissions information associated with an asset in my article so that I check this information is correct.

### Production

[2019-05-01 13:58] FAtherden-eLife opened #1274 "Videos"
# Description

eLife allows authors to include videos as primary assets in their articles.

## User Stories
### Author
- As an author, I want to be able to edit the title and legend for a video so that I can correct any errors.
- As an author, I want to be able to play a video so that I can check that it is the correct video.
- As an author, I want to be able to add a reference or asset citation t

[2019-05-01 13:58] JGilbert-eLife opened #1275 "Author contributions"
# Description

Contributions will be included as text captured using role elements - pre-set options + optional free text options (see https://trello.com/c/xDiPXFXm/22-author-contributions-no-free-form-text-anymore-just-credit-taxonomy)

# User stories

### Author
- As an author, I want to be able to clearly see the contributions that will be listed for each author so that I can check that the det

[2019-05-01 13:59] FAtherden-eLife opened #1276 "Asset-level source files"
# Description

eLife allows source code and source data files to be directly associated with figures and figure supplements, tables and videos.

## User Stories
### Author
- As an author, I want to be able to clearly see any source data or code associated with assets (figures, figure supplements, videos or tables) so that I can be sure that they are associated correctly and that none are missing.

[2019-05-01 14:00] JGilbert-eLife opened #1277 "Author competing interests"
# Description

A statement of any conflicts of interest an author may have.

# User stories

### Author
- As an author, I want to be able to see the competing interest statements listed for each author so that I can check this information is correct.
- As an author, I want to add a competing interest statement to an author so that I can acknowledge conflicts of interest.
- As an author, I want to

[2019-05-01 14:01] FAtherden-eLife opened #1278 "Group authors"
# Description

A group author is an alternative to a singular author, representing a group that has contributed to an article. They are composed of multiple individual contributors, who may or may not be acknowledged by name and whose contribution is counted collectively rather than individually.

## User Stories
### Author
- As an author, I want to be able to edit the name of the group author so

[2019-05-01 14:03] JGilbert-eLife opened #1279 "On Behalf of"
# Description

An 'on behalf of statement' appears at the end of the author list stating that the authors are writing on behalf of a larger group.

# User stories
### Author
- As an author, I want to be able to see any 'on behalf of' statement on the author list so that I can check it is correct.
- As an author, I want to be able to add an 'on behalf of' statement to my author list so that I can a

[2019-05-01 14:05] JGilbert-eLife opened #1280 "Figures"
# Description

Main figures are present in nearly every research article.

# User stories

### Author
- As an author, I want to be able to clearly see my figures, so that I can be sure that none are missing and that their quality is sufficient.
- As an author, I want to be able to clearly identify any source data or code that is directly associated with my figures so that I can confirm this relati

[2019-05-01 14:07] JGilbert-eLife opened #1281 "Figure supplements"
# Description

eLife accommodates supplementary images that authors want to include as direct supplements to main figures. To quote the author guide, figure supplements “must be linked to one of the primary figures: they can, for example, provide additional examples of analyses or data shown in a primary figure.” There are no limits on how many figure supplements can be appended to one main figure

[2019-05-01 14:10] JGilbert-eLife opened #1282 "Video supplements"
# Description

eLife allows videos to be included as supplements to main figures.

# User stories

### Author
- As an author, I want to be able to play a video supplement so that I can check that it is the correct video.
- As an author, I want to be able to clearly see the relationship between a video supplement and the main figure with which it is associated so that I can check this has been capt

[2019-05-01 14:50] fabiobatalha commented on #1272
**User Stories**

The same user stories for authors applies to the production staff. Including add and and removed bio notes.

- As a production staff, I want to be able to see the bio associated with an author or non-author contributor so that I can check the information is correct.
- As a production staff, I want to be able to edit a bio so that I can correct any errors.
- As a production staff,

[2019-05-01 14:52] fabiobatalha commented on #1091
Continue at: https://github.com/substance/texture/issues/1272

[2019-05-01 14:52] #1091 closed

[2019-05-01 14:53] FAtherden-eLife commented on #1272
@fabiobatalha this applies to all tickets - there is an assumption that production staff can do everything that authors can. This saves us writing out duplicate user stories!

[2019-05-01 16:14] source-data commented on #1245
extended stories from the author, reader and publisher's perspective: https://docs.google.com/document/d/12FBtfwFPjp78XKclNhp4NzDqnuCM1es1RMRBd1xL_t4/edit?usp=sharing

[2019-05-01 16:20] fabiobatalha commented on #1273
Including one example with inline-graphic to support creative commons icons.

[code]

[2019-05-01 16:27] FAtherden-eLife commented on #1273
Thanks @fabiobatalha! - this was also included at the end of the license-p in the second permissions element in the example above
[code]

[2019-05-01 20:57] fabiobatalha commented on #1274
The external links for videos should be considered, example: youtube videos.

[2019-05-02 09:00] oliver---- commented on #1276
Please also take into consideration, that a data file might be the source for two or more figures. This is particularly common if e.g. a larger table of data is processed in different ways, such as using different columns.

[2019-05-02 09:15] oliver---- commented on #1245
@source-data Thanks for this detailed list. Will discuss with @michael next week, and also think about a 'normalized' format for user stories.

[2019-05-02 09:17] oliver---- commented on #1245
@Melissa37 could you help consolidating above user stories?

[2019-05-02 09:23] michael commented on #1245
Thank you @source-data for the user stories. It would be great if you could consolidate those into #1276 and coordinate with Melissa. We will use this ticket solely for discussing the proposal (will delete the user stories now).

[2019-05-02 09:36] Melissa37 commented on #1276
@oliver---- This is why I'd like the tickets to be combined - that's not an eLife use case, but is a SourceData use case

[2019-05-02 10:25] oliver---- commented on #1270
@Melissa37 I sense some source of confusion re `<fig>` level keywords. IMO the user-stories are essentially the same as for '<article-meta>' level keywords. Also there we might consider more scopes for keywords, such as `table-wrap` or `supplementary-material`. Wouldn't it make sense to cover all of such cases with one set of user-stories, and add refinements where necessary?

[2019-05-02 11:26] Melissa37 commented on #1270
Yes I agree. Shall we pull in the figure metadata ones here and close the ticket
https://github.com/substance/texture/issues/1249

The tickets we're generating have good user stories that have been verified by Nick, so we'd like to keep that process going.
Also, we want to provide the Consortium tickets as we produce them and I am happy to pull the ScourceData use cases and examples into them, wit

[2019-05-02 11:48] Melissa37 commented on #1276
https://groups.niso.org/apps/group_public/view_comment.php?comment_id=830&add_comment=1

[2019-05-02 12:29] JGilbert-eLife commented on #1274
@fabiobatalha - many apologies for not putting this in the ticket following our earlier discussions. Would it be possible for you to post some examples of how this works in Érudit articles at the moment? I'd like to clearly understand what you need before making further suggestions.

[2019-05-02 13:46] fabiobatalha commented on #1274
@JGilbert-eLife - No problem. I talked with my colleagues to have sure it is a requirement for us.

So it was requested by one of our journals, we do not have an example on-line.

Our current recommendations for this journal is to identify this video as an external link ``ext-link``. Finally, It will not be necessary for us to fully tag external videos in Texture.  We can ignore my previous commen

[2019-05-02 13:53] JGilbert-eLife commented on #1274
Hi @fabiobatalha - understood! Thanks for letting me know. Happy to delete the comments. @Melissa37 - for information.

[2019-05-02 14:31] JGilbert-eLife commented on #1276
@Melissa37, @oliver----  - On reviewing the requirements/user stories that @source-data have in #1245, I think it is important that we distinguish two different kinds of data that can be associated with figures: files that are going to be included in the DAR file, and external data on an FTP site, a data repository etc. This is not something that I expect to be reflected in the user experience, bu

[2019-05-02 15:58] JGilbert-eLife commented on #1270
@Melissa37, @michael, @source-data - I have added user stories related to figure-specific keywords here. I am assuming these will be at the panel level, but will update if that's not right.

[2019-05-02 19:46] fabiobatalha commented on #1280
Last minute user stories.

**What if**

* I want to have a group of figures with  title and caption and with multiple figures inside it.

**User Stories**

* As a production staff I want to add new figures to a group of figures
* As a production staff I want to remove figures of a group of figures
* As a production staff I wanto to replace figures in a group of figures

**XML Sample**

[code]
**Co

[2019-05-04 14:47] michael commented on #1276
We already have support for external supplementary files. Instead of a file (included in the DAR), those take a URL. Both are represented as `supplementary-material` elements in JATS.

[2019-05-04 14:57] michael commented on #1250
I think an explicit feature for grouping of panels is problematic here. In cases where authors want to group panels, I'd suggest they just use one combined caption and free-form text. Of course while we keep the panel images separate.

[2019-05-04 15:06] michael commented on #1250
You could use the main figure caption here for such additions that belong to all panels. That sound ok?

[2019-05-05 19:45] Melissa37 commented on #1276
@michael that's great!
For eLife we don't list them in supplementary material but have http links or put them in references, but I assume that's not a problem either.

[2019-05-07 13:51] michael commented on #1252
@Melissa37 I'm referring to this consideration.

Think Texture should allow any free form text, for suffixes (since everything could be used in theory). However auto suggest can help putting consistent terms. In order to enforce eLife's rules the validator would be used displaying a warning if the value is not allowed. I wonder however if auto-suggest and the validator are required to be part of t

[2019-05-07 13:54] Melissa37 commented on #1252
Agreed.
We're happy to restrict this in our Schematron validation outside of Texture. As a vanilla tool, Texture should not be a restricted tool.

Sorry, it's a communication issue, that's what I meant when I said:

[2019-05-07 14:46] michael commented on #1250
Here's a proposal how we could realise Supplementary Figures (or Figure Supplements when attached to a main figure).

- Main Figures (composite image) with optional panels (<fig> or <fig-group> when panels are available individually)
- Supplementary figures (those would be editable from within in a fixed section "Supplementary figures")
- Ability to attach a supplementary figure to a main figure (

[2019-05-07 15:23] michael commented on #1252
Makes sense. Thank you! Can you maybe remove those considerations from this ticket for brevity, and create a separate feature request which we can pick up later? Because the idea for auto suggestion and validation during editing is good i think.

[2019-05-07 18:31] Melissa37 commented on #1252
I'd rather update the considerations to indicate eLife will deal with that requirement in our own validation tools. That way it's covered in the open so others wanting to use the tool would know the expectation and eLfe have tracked what we've agreed to!
Let me know if that's OK and I'll update.

We'll leave this for now, we're maxed out doing the user stories so we can come back to it later.

Tha

[2019-05-07 20:19] Melissa37 commented on #1250
@michael thanks for this - let's discuss on the call on Thursday - I've assigned this to @NickDuf, @JGilbert-eLife and @FAtherden-eLife too so they can assess it before our call too.

If we have useful feedback beforehand we'll try to provide it.

[2019-05-08 10:02] michael commented on #1252
Ok, update is fine too. :)

But `<role>` will be used for contribution roles right (CReDiT taxonomy stuff)? See Roles section in the proposal: https://github.com/substance/texture/issues/1269

[2019-05-08 10:48] Melissa37 commented on #1252
Have updated the consideration to be clearer as to what we mean:

For editors we add a role to indicate what their role in the paper is, eg `<role>Senior editor</role>'

Use of <role> is covered in other ticket(s)

[2019-05-08 10:50] Melissa37 commented on #1252
@michael

Updated consideration:
eLife only allows suffixes for authors and then only a select few (we don't allow PhD or MD for example, just Roman numerals, Jnr and Snr). Other publishers may allow other suffixes and may also allow prefixes.eLife will control for their own requirements via Schematron validation outside the scope of Texture

[2019-05-08 10:58] JGilbert-eLife commented on #1061
Hi @fabiobatalha - what do you think of the following user stories? Do these cover everything you require from this item? Is this another case where translations will be relevant and if so, how do you handle that at the moment?

- As production staff, I want to be able to create a definition list so that I can define the terms used in an article.
- As production staff, I want to be able to add a t

[2019-05-08 11:14] FAtherden-eLife commented on #1061
@fabiobatalha do you have any need to link to definitions in your content. One way in which I've seen `def-list` used is like the following:
[code]

[2019-05-08 13:37] fred-atherden opened #1284 "Asset citations"
# Description

Authors should be able to cite their assets (figures, figure supplements, tables, videos, video supplements, asset-source files, source data, source code, supplementary files, reporting standard files, equations, appendices, boxes) anywhere in their main text, section titles, appendices, and asset titles and legends.

[UPDATED: 18/06/2019 to add boxes as a citable item]

## User Sto

[2019-05-08 13:37] JGilbert-eLife opened #1285 "Data availability"
# Description

A paragraph of plain text containing citations of data references from the main reference list.

# User stories

### Author
- As an author, I want to be able to edit the Data availability statement so that I can correct mistakes and add missing information.
- As an author, I want to be able to add hyperlinks to the Data availability statement so that I can link out to repositories,

[2019-05-08 13:39] JGilbert-eLife opened #1286 "Ethics"
# Description

Ethics are statements on any animal or human experimentation carried out as part of the work being reported.

# User stories

### Author
- As an author, I want to be able to add ethics statements so that I can provide ethics information relating to a manuscript.
- As an author, I want to be able to set the type of ethics statement so that I can indicate whether it refers to human or

[2019-05-08 13:39] fred-atherden opened #1287 "Appendices"
# Description

Appendices are additional sections of article content considered to be supporting for the main text, but not essential to the flow of the main article. They are usually methods focused, providing details that the authors feel would be be distracting in the main article but would be required by anyone attempting to reproduce their work.

## User Stories
### Author
- As an author I wa

[2019-05-08 13:41] JGilbert-eLife opened #1288 "Acknowledgements"
# Description

Acknowledgements is the section in the article in which authors thank other people for help and support during their work, acknowledge funders, make various disclaimers, and dedicate the work in a plain text statement. Formal tagging for items such as acknowledge funders is covered elsewhere.

# User stories
### Author
- As an author, I want to be able to add an acknowledgements sec

[2019-05-08 15:57] michael commented on #1245
@Melissa37 @source-data are the SourceData user stories already consolidated in #1276 or are you still working on that.

[2019-05-08 15:58] michael opened #1289 "[Feature] Figure Attachments (WIP)"
# Description

We want a flexible solution for various kind of content to be attached to a figure for the purpose of supporting the content of a main figure (e.g. an additional supplementary figure, dataset, table, etc.)

# XML Source Format (TextureJATS)

[code]

When referenced from a main figure xref is used:

[code]

# Proposal

After typesetting we have a list of supplementary figures inside

[2019-05-08 16:01] michael commented on #1250
@Melissa37 thank you! We are working on improving the wording for more clarity. We also moved "Figure Attachments"  into a separate feature ticket. #1289. Please have a look, but no need to comment as we will discuss tomorrow anyways.

[2019-05-08 16:18] Melissa37 commented on #1245
@michael I discussed this with @JGilbert-eLife this morning - he added them but has not heard back from @source-data whether they are OK

[2019-05-08 16:20] JGilbert-eLife commented on #1245
Looking back, I think I might have confused myself and I didn't directly ask @source-data about the user stories in #1276. Very sorry if there was any confusion there!

[2019-05-08 16:46] JGilbert-eLife commented on #1194
@fabiobatalha - please could you provide some XML examples of your use of `related-object`? I think I see what you need here, but it would be useful to look at some real cases before drafting a full set of user stories. Thanks!

[2019-05-08 19:45] source-data commented on #1276
'as a Collaborator (I am not sure how this role is defined; we had the role "Recipient" defined in our [doc](https://docs.google.com/document/d/12FBtfwFPjp78XKclNhp4NzDqnuCM1es1RMRBd1xL_t4/edit?usp=sharing) which is similar to a 'reader') I want a separate View where all the Files are listed with their associations.'
This may or may not have implications on the tagging but it could put some constr

[2019-05-09 08:07] oliver---- commented on #1250
Hi @Melissa37 ,
Yes, that is similar to what we had in mind initially.
But, since you brought up the idea of using `<graphic>`s as panels of a figure, I think, that would fit better for the SourceData use case.
Just to make sure that I understood your sketch correctly: would it be wrong to presume, that a Figure Part could potentially consist of multiple 'panels', that means be something like a `<

[2019-05-09 08:32] Melissa37 commented on #1250
Humm, it came from Jeff, not me :-) and as a potentially solution to the issues we face, not seeing everything required.

I would personally warn against using `graphic` for Sourcedata - if you look at the content model on JATS there are far fewer options for `graphic` than `fig` and it could be limiting.
For instance, permissions is not allowed, neither is disp-formula...
![Screenshot 2019-05-09

[2019-05-09 08:33] oliver---- commented on #1250
Ok. Let's discuss later in the call.

[2019-05-09 08:53] FAtherden-eLife opened #1290 "Supplementary files"
# Description

Supplementary files for the whole article. These usually contain additional information and data that cannot be captured as source code, source data, tables or figures, videos, figure supplements etc. They can also be used to avoid overly large tables in the main article e.g. if the Key resources table is huge, it may be moved to a supplementary file.

## User Stories
### Author
- A

[2019-05-09 08:55] FAtherden-eLife opened #1291 "Reporting standards"
# Description

Reporting standards contain any details of a specific standard that the data being reported meets, usually in the form of a checklist.

## User Stories

### Author
- As an author, I want to be able to see any reporting standard files associated with my article so that I can make sure none are missing.
- As an author, I want to be able to download any reporting standard files associa

[2019-05-09 08:57] FAtherden-eLife opened #1292 "Transparent reporting form"
# Description

A transparent reporting form is a singular document accompanying most eLife research articles in which authors provide information to facilitate the replication of their work.

## User Stories
### Author
- As an author, I want to be able to see if a transparent reporting form associated with my article so that it is present.
- As an author, I want to be able to download the transpar

[2019-05-09 08:58] FAtherden-eLife opened #1293 "Source code"
# Description

Source code associated with the whole article. Covers a wide variety of file types.

## User Stories
- As an author, I want to be able to see any source code files associated with my article so that I can make sure none are missing.
- As an author, I want to be able to download any source code files associated with my articles so that I can check the files themselves are correct.
-

[2019-05-09 09:01] FAtherden-eLife opened #1294 "Source data"
# Description

Source data for the whole article.

## User Stories
### Author
- As an author, I want to be able to see any source data files associated with my article so that I can make sure none are missing.
- As an author, I want to be able to download any source data files associated with my articles so that I can check the files themselves are correct.
- As an author, I want to be able to upd

[2019-05-09 10:51] JGilbert-eLife commented on #1276
Hi @source-data - thanks for commenting. Sorry, I misunderstood what you meant by 'recipient' previously. Would it be better to use 'reader' in these user stories? At a glance, it looks like all recipients of the data (either collaborators with the authors or post-publication readers) would count as readers for the purposes of the Texture interface?

The user story in your comment sounds like a so

[2019-05-12 01:20] kwahyu opened #1296 "APA citation and reference"
Dear Texture team,
I am a journal editor who seeks a tool to create XML file for our publication. I don't have any background on programming. So far, we created XML file using this https://github.com/Vitaliy-1/DOCX2JATS. However, a bunch of work should be done to edit the produced XML. The tool only supports numbering based citation and reference (Vancouver), meanwhile, our journal applies APA for

[2019-05-12 15:51] Melissa37 commented on #1296
HI @kwahyu

This is on the roadmap! We're writing out the user stories for this requirement now and they will be added to the Feature specification board in the next few weeks: https://github.com/substance/texture/projects/3.

Please do review the tickets to make sure they answer to your requirements too.

Thanks!

[2019-05-12 16:00] kwahyu commented on #1296
Thanks for the upcoming feature. Ok, noted.

[2019-05-14 15:55] JGilbert-eLife opened #1297 "Abstracts"
# Description

The abstract(s) for an article.

# User stories
### Author
- As an author, I want to be able to edit an abstract so that I can correct any errors.
- As an author I want to be able to add sub headings to an abstract so that I can structure the content.
- As an author, I want to be able to add and remove styling to the text in an abstract so that I can correct any errors.
- As an auth

[2019-05-15 06:29] Integral opened #1298 "Some keyboard shortcuts are not working"
One particular example is removing collection item in metadata mode `⌘⌥DELETE`.

[2019-05-15 06:30] Integral opened #1299 "Context menu is not working in metadata mode"
E.g. it is not appearing after right click.

[2019-05-17 11:42] evabenitoembo opened #1301 "Relocate 'edit' menu from top right to within element"
‘Edit’ menu on top right to be relocated to the relevant element? To make it more obvious to use and where it belongs to

![image](https://user-images.githubusercontent.com/31538460/57925751-9cfad080-78a9-11e9-95f5-b0a31deb47ac.png)

[2019-05-17 11:44] evabenitoembo opened #1302 "Implement ‘insert image’ functionality:"
• Start from an empty container - currently can only be edited by default.
• Consider adding ‘drag-and-drop’ area here as well
• Currently it is only accessible from the contextual menu for the figure

![image](https://user-images.githubusercontent.com/31538460/57925806-ca477e80-78a9-11e9-9d74-298bda488ecf.png)

[2019-05-17 11:46] evabenitoembo opened #1303 "cannot upload .dar if dataset attached to panel"
# Describe the bug
Cannot open .dar files that do not conform to JATS

# Steps To Reproduce
Open a new figure package, insert a figure in the middle of a figure legend, save, quit and try to reopen file (will be blank)

# Expected behavior
In general, the tool should always be able to import what it exports, even if JATS is not respected in prototyping version.

# Screenshots
If applicable, add sc

[2019-05-17 11:47] evabenitoembo opened #1304 "suggestions to improve contextual menus"
• Evaluate whether having a hover of fixed menu appear on the left/right of the element would be more intuitive or anyway to provide a hint. Now it is a ‘hidden feature’.

• Active click on element required to activate contextual menu. It is not enough to right-click on the right place, if the ‘wrong’ element is selected (highlighted), then the wrong contextual menu appears.

• The menu can be lon

[2019-05-17 11:48] evabenitoembo opened #1305 "Make adding figures even more intuitive"
Maybe add a ‘+’ button to make it quick and easy to add figures?

![image](https://user-images.githubusercontent.com/31538460/57926007-6b363980-78aa-11e9-8d5d-af756de3771f.png)

[2019-05-17 11:50] evabenitoembo opened #1306 "Convert to a one-page design"
might be useful to convert to a one-page design vs. ‘manuscript’ vs. ‘details’, which is hard to navigate for first-time users.

Insertion of new element via a structured form is perhaps inevitable but it is confusing to be on a separate page.

The authoring vs. detailed checking views are ok, but all authoring should be possible on the authoring view.

[2019-05-17 11:52] evabenitoembo opened #1307 "Consider adding a quick 'add panel' button or menu"
Make it easier to know how to add a panel, for example by adding a ‘+’ button on the top right of the figure element?

![image](https://user-images.githubusercontent.com/31538460/57926223-07604080-78ab-11e9-8985-e9dcff8b2ac5.png)

[2019-05-17 11:53] evabenitoembo opened #1308 "Make contextual menus more intuitive/more obvious that they exist"
In general we feel like we need to make it more obvious _WHERE_ there are contextual menus that become available with certain elements. Either by explicitly adding a button or a hover function (e.g. panel edit contextual menu) maybe?
It’s not obvious that this exists until you right-click on the panel

![image](https://user-images.githubusercontent.com/31538460/57926288-2eb70d80-78ab-11e9-8f30-686

[2019-05-21 14:49] michael commented on #1278
@Melissa37 @FAtherden-eLife In which cases do we have affiliations assigned to group members? Do you have a sample of an existing article that displays an affiliation for a group member? Could this be too detailed?

[2019-05-22 08:03] FAtherden-eLife commented on #1278
@michael Yep, we have articles where group members are assigned affiliations. Examples:
- https://elifesciences.org/articles/43511
- https://elifesciences.org/articles/39944
- https://elifesciences.org/articles/39856
- https://elifesciences.org/articles/37754

[2019-05-25 16:24] jkanche commented on #1071
would a solution for this be

- dar -> jats (dont know what to use here)
- jats -> pdf (using pandoc)

any suggestions for the first step ?

[2019-05-26 11:28] Melissa37 commented on #1071
@jkanche Thanks!

DAR is JATS :-)

It's a strict JATS format

[2019-05-26 12:44] source-data commented on #1276
Here is a updates list of user stories. The description is also updated below:

# Linked source files

EMBO SourceData allows files to be associated with the whole document, individual or multiple figures,  individual or multiple figure panels.

## User stories

- As an author, I want to link or unlink one or several files with one or several panels of a given figure so that datasets, protocols, c

[2019-05-26 13:06] fabiobatalha commented on #1071
@jkanche

Rename your dar file extension to zip, unzip the file and you will have access to the JATS file and assets.

To convert JATS you can use XSLT conventions to HTML and after that use any libraries to convert HTML to PDF, ex:

Paged.JS
Weasyprint
Pandoc

[2019-05-26 19:19] source-data commented on #1280
Here is an extension of the user stories for structured multi-panel figures.

# Multi-panel structured figures

EMBO SourceData allows the creation of structured figures where individual panels benefit from all functionalities normally available to figures.

## User stories

- As an author, I want to create a new figure from a local image file so that I can easily provide a visual depiction of a s

[2019-05-28 08:09] Melissa37 commented on #1276
Hey @NickDuf do you have any comments on these user stories and considerations before I integrate them into the ticket?
@FAtherden-eLife do you have any amendments to make to the XML?

Thanks!

M

[2019-05-28 08:10] Melissa37 commented on #1280
Hi @NickDuf do you have any comments on these additional user stories before I incorporate them into the main ticket specification at the top?

@FAtherden-eLife any changes required to the XML?

[2019-05-28 08:18] NickDuf commented on #1280
@Melissa37 I will take a look this morning.

[2019-05-28 12:59] michael commented on #1296
@Melissa37  can we close this, as it will be replaced by proper tickets with user stories anyways?

[2019-05-28 20:32] Melissa37 commented on #1296
Yes, sounds good :-)

[2019-05-28 20:32] #1296 closed

[2019-05-29 08:02] FAtherden-eLife commented on #1276
@Melissa37, presumably I do, but I'm not sure exactly what's required here.

@source-data, for this user story:

Is the requirement here just to be able to add an `ext-link` in the caption or something more akin to the `xref` for local files? If the latter, please can you let us know if any markup has been proposed/decided upon so that this can be included in the ticket above. (I can't see any XML

[2019-05-29 08:09] FAtherden-eLife commented on #1280
@Melissa37 I think this user story and consideration informs/affects the discussion in #1281:
User story

Consideration

I don't think we need to add anything to the XML requirements here though based on these user stories.

[2019-05-29 08:11] FAtherden-eLife commented on #1280
@Melissa37, @JGilbert-eLife what about Fabio's [comment above](https://github.com/substance/texture/issues/1280#issuecomment-488806998)? Presumably, we need to account for this in some way?

[2019-05-29 15:55] michael commented on #1267
Not actionable atm, removing feature-request label.

[2019-05-30 09:11] JGilbert-eLife commented on #1280
@FAtherden-eLife It sounds like it could be covered by a stricter implementation of what Source Data want to do. Perhaps we can revisit this once Nick's finished looking over their user stories?

@source-data - @NickDuf is going to be out of the office until Monday but he would like to set up a quick phone call to ask a few questions about the user stories you posted above.

[2019-05-31 13:10] michael opened #1310 "Insert and cite reference workflow"
Goal is to insert a new reference and cite in one go. Here's the sketched UI flow we have in mind:

![Edit Citation](https://user-images.githubusercontent.com/2931/58707696-f4269800-83b5-11e9-97f3-25c1bb198a08.png)
![Insert Reference](https://user-images.githubusercontent.com/2931/58707709-f852b580-83b5-11e9-873c-12c308125e09.png)
![Insert Reference _ Search](https://user-images.githubusercontent.

[2019-05-31 13:47] pigeonm commented on #950
@michael the ideal way of tagging dedications would be in the body

[2019-06-03 12:53] JGilbert-eLife commented on #1273
I've updated the considerations here to account for public domain licenses where there will be no copyright holder. This means `copyright-holder`, `copyright-year` and `copyright-statement` need to be optional, even if they will be there for most cases.

[2019-06-04 13:56] Melissa37 commented on #1310
@michael Thanks for this.

@NickDuf and @oliver---- we've been thinking inhouse about how to tackle references. It feels like it is a massive topic that needs further group work before chunking it down into issues and tickets to ensure we get the right message across. And then passing over user stories to build designs from.

Is it worth the production team going through some of the issues we see

[2019-06-04 21:17] jcolomb opened #1311 ""replace figures" keep the image"
# Describe the bug

when replacing a figure, the new figure is included in the dar file and the xml link to that file, but the old file is not erased from the dar file (so the file gets bigger for no reason !)

# Steps To Reproduce
add a figure, replace it, look into the unzipped dar file.

# Expected behavior
Figures not linked in the xml should be erased

# Screenshots
If applicable, add screens

[2019-06-05 06:20] NickDuf commented on #1310
@Melissa37 I think this would be a good idea. Let's organise something this week and also review Michaels design.

[2019-06-05 07:40] michael commented on #1311
Hi @jcolomb! We are aware of this, and we still have not decided how to handle this situation. At the first glance it may seem that the assets could be deleted from the DAR file when removed. However, this would break undo/redo.

We have several options how to deal with this:

1) Purge on every save (then we would need to clear the undo/redo history)
2) Purge option in a separate file manager view

[2019-06-05 14:22] JGilbert-eLife opened #1312 "Special characters"
# Description

Support for special characters in the text.

# User stories

### Author
1. As an author, I want to be able to add non-standard characters to my text so that I can describe scientific and mathematical terms (Greek letters, maths symbols, shapes etc.)

# But what if . . . ?

# Consideration

- What set of unicode special characters do we want to allow/support? Ideally we want to suppo

[2019-06-05 14:22] FAtherden-eLife opened #1313 "Style elements"
# Description

eLife supports italics, bold, superscript, subscript, smallcaps, and monospace text. Following internal discussions, we have decided to stop supporting colour text due to accessibility concerns.

## User Stories
### Author
1. As an author, I want to be able to apply style formatting to my text so that I can add emphasis.
2. As an author, I want to be able to remove style formatting

[2019-06-05 14:24] JGilbert-eLife opened #1314 "Lists"
# Description

Please provide a brief description of this feature.

# User stories
### Author
1. As an author, I want to be able to create an ordered/numbered list so that I can organise my content for ease of reading.
2. As an author, I want to be able to create an unordered/bulleted list so that I can organise my content for ease of reading.
3. As an author, I want to be able to change the style

[2019-06-05 14:25] JGilbert-eLife opened #1315 "Hyperlinks"
# Description

Applying a link to text in the article.

# User stories

1. As an author, I want to be able to make text into a hyperlink so that I can link out to an external URL.
2. As an author, I want to be able to see if text is a hyperlink so that I can check this is correct.
3. As an author, I want to be able to follow a hyperlink out to the target so that I can check the link is going to th

[2019-06-05 14:26] JGilbert-eLife opened #1316 "Display quotes"
# Description

Text intended to be pulled out as a quote.

# User stories
### Author
1. As an author, I want to be able to distinguish quoted content from non-quote content so that I can check the status has been applied correctly.
2. As an author, I want to be able to see any attribution applied to a quote so that I can check this is correct.

### Production staff
3. As production staff, I want t

[2019-06-05 14:27] FAtherden-eLife opened #1317 "Paragraphs"
# Description

Authors must be able to add in new paragraphs.

## User Stories
### Author
1. As an author, I want to be able to add a new paragraph to my text so that I can organise my content.
2. As an author, I want to be able to remove a paragraph break so that I can organise my content.

### Production staff
-

### But what if . . . ?
-

### Considerations
- Users should be able to add new par

[2019-06-05 14:28] FAtherden-eLife opened #1318 "Equations"
# Description

Maths in articles can be captured within 'inline equations' that run on with the surrounding text in a paragraph and 'display equations', which are shown on a new line and can be labelled (e.g. (1), (2), etc).

## User Stories
### Author
1. As an author, I want to be able to edit an equation in the manuscript so that I can correct/update the information.
2. As an author, I want to b

[2019-06-05 14:30] FAtherden-eLife opened #1319 "Graphics in table cells"
# Description

Inline graphics within table cells.

## User Stories
### Author
1. As an author, I want to be able to see any inline graphics in table cells, so that I can determine that the content is correct.
2. As an author, I want to be able to add an inline graphic to a table cell so that I can ensure the content is correct and up to date.
3. As an author, I want to be able to remove an inline

[2019-06-05 19:40] fabiobatalha commented on #951
Continue at: https://github.com/substance/texture/issues/1316

[2019-06-05 19:40] #951 closed

[2019-06-05 19:40] fabiobatalha commented on #949
Continue at: https://github.com/substance/texture/issues/1316

[2019-06-05 19:40] #949 closed

[2019-06-05 19:41] fabiobatalha commented on #952
Contineu at: https://github.com/substance/texture/issues/1316

[2019-06-05 19:41] #952 closed

[2019-06-05 19:42] fabiobatalha commented on #950
continue a: https://github.com/substance/texture/issues/1316

[2019-06-05 19:42] #950 closed

[2019-06-06 10:35] michael commented on #1313
Hi there. I will use this example to demonstrate how we can iterate on user stories to bring them to a condensed general form.

That is a something that violates Texture's principles. Instead of allowing custom non-standard styling what we can do is just extending the list of available stylings. We'd like to avoid configurability because it creates non-standard islands. We want eLife to be able to

[2019-06-06 12:46] michael opened #1320 "Citations for Authors (WIP)"
# Description

Maintain a bibliography and cite references in the manuscript.

# User stories

1. As an author, I want to be able to insert/remove references to the bibliography, so I can maintain a list of all external works, I’m referring to in my article
2. As an author, I want to be able to insert/remove citations to the text, so I can refer to other people’s work(s) at the right place
3. As a

[2019-06-06 12:47] michael commented on #1320
@NickDuf can you have a look if you see issues with those? It would be good to merge this with the consortium-generated user stories.

[2019-06-06 21:05] tlemberger commented on #1276
@oliver---- and @michael need to decide on the suitable xml implementation. In terms of the underlying tagging, it seems to me more akin to `ext-link` since it refers to external resources. I don't see how `xref` could be used in this context, but my knowledge is imited.

In terms of UI implementation for the authoring scenario, linking to remote or local files will most likely be somewhat related

[2019-06-07 13:56] JGilbert-eLife opened #1321 "Semantic tagging for text"
# Description

The ability to add semantic tagging to text in order to designate them as, for example, gene sequences, RRIDs and so on. Currently, gene sequences at eLife is the only live use case.

# User stories

### Author
1. As an author, I want to be able to tag a piece of text as a gene sequence so that this information can be picked out for special display, data mining etc.
2. As an author,

[2019-06-07 15:15] fabiobatalha commented on #1316
@JGilbert-eLife

Last minute considerations. In some of our articles we have grouped examples, as for example:

[code]

[2019-06-07 16:43] FAtherden-eLife opened #1322 "Tables"
Tables within an article.

- [x] Write out user stories and other considerations
- [x] Add XML requirements
- [x] Becky to review
- [x] Fred to review
- [ ] James to review
- [x] Melissa to review
- [x] Nick to review
- [ ] All review issues resolved
- [ ] Requirements shared with Texture

## User Stories
### Author
1. A an author, I want to be able to see the title and legend for a table so that

[2019-06-07 16:44] FAtherden-eLife opened #1323 "Table footnotes"
Footnotes appended to table content.

## User Stories
### Author
1. As an author, I want to see any footnotes associated with a table so that I can check they are correct.
2. As an author, I want to be able to add a new footnote to a table so that I can append additional information to the content.
3. As an author, I want to be able to cite a footnote within a table cell so that I can point reader

[2019-06-07 18:08] fabiobatalha commented on #1316
@JGilbert-eLife

We did a better evaluation in our corpus. There is only 2 articles with group of examples. We can ignore them. Fill free to remove this and the previous comment.

[2019-06-11 08:53] JGilbert-eLife commented on #1316
Thanks for letting me know @fabiobatalha

[2019-06-12 15:33] FAtherden-eLife opened #1324 "Code blocks"
# Description

A block of text designated as code, to be displayed with the original spacing/line-breaks retained.

## User Stories
### Author
1. As an author, I want to be able to add a code-block to my article so that I can include pseudo-code or code-snippets to illustrate my text.
2. As an author, I want to be able to distinguish my code-blocks from the normal text so that I can tell how they

[2019-06-13 14:07] de-code opened #1325 "Install and use texture as a npm dependency without node / electron"
I am upgrading from an old version of Texture 1.0 to 2.3. Since there doesn't seem to be an npm dependency I am using a github link.

It installs fine but `texture` depends on `yazl` which in turn is a node library depending on `fs`. Is there still support to just use Texture as an editor / viewer in the browser? (not an electron app)

[2019-06-17 09:56] oliver---- opened #1326 "A right-click on an item, such as reference, should select and then open context menu"
# Describe the bug

ATM, when right-clicking on an item, such as a reference, the context menu shows the actions for the previous selection.

# Steps To Reproduce

- open kitchen-sink
- select a cell in a table
- right-click on a reference
- context-menu shows actions for the table cell

# Expected behavior

- the editor should select the item, in this case the reference, as it was selected using

[2019-06-18 12:57] JGilbert-eLife commented on #1284
I've updated this ticket to include boxes as a citable item.

[2019-06-19 11:31] JGilbert-eLife opened #1327 "Boxes"
# Description

Boxes are more common in Feature content than research content but have been known to occur in both kinds of article.

# User stories

### Author
1. As an author, I want to be able to add a box to my article so that I can include information to support the main text.
2. As an author, I want to be able to add a title, text and sub-headings to the box so that I can add content.
3. As

[2019-06-19 17:13] pigeonm commented on #1263
At Erudit we only use one type of non author contributor: the translator (but our schema support all of the types listed in the [MARC21 list for relators](http://www.loc.gov/marc/relators/relacode.html))

[2019-06-25 13:39] JGilbert-eLife opened #1328 "Verses"
# Description

Verse content is intended to capture poetry and other forms of writing where the line-by-line structure is important. The production team should be able to tag and fix verse content. This content is frequently present in HSS articles.

# User stories

### Production staff
1. As production staff, I want to be able to include a verse, so that I can semantically tag this content type f

[2019-06-25 13:40] JGilbert-eLife opened #1329 "Sections"
# Description

Sections are used to organise the content of an article.

# User stories

### Author
1. As an author, I want to be able to see the hierarchy of section headings within an article so that I can check this is correct.
2. As an author, I want to be able to add a new heading to my article text so that I can create a new section.
3. As an author, I want to be able to edit existing headin

[2019-06-25 13:43] JGilbert-eLife opened #1330 "Article citation details"
# Description

The volume, issue, issue title, season and page numbers OR elocation-ID under which the article will be published.

# User stories

### Author
1. As an author, I want to be able to see my article's pending citation details so that I can share them before publication.

### Production staff
2. As production staff, I want to be able to check the citation details for the article so that

[2019-06-25 14:17] Integral opened #1331 "Scope reset styles"
We want to scope [reset style](https://github.com/substance/texture/blob/master/texture-reset.css) to `.sc-texture` class to avoid style interfering within existing environments.

[2019-06-25 15:04] fabiobatalha commented on #1330
@JGilbert-eLife

I think it is complete.

The only comment I do is regarding the issue-title that could have translations. It means more then one issue-title can be available.

[code]

[2019-06-27 20:45] fabiobatalha commented on #1329
@JGilbert-eLife

The following elements should also be included in sec.

* verse
* disp-formula
* disp-formula-group
* graphic
* tex-math
* mml:math

[2019-06-28 09:39] JGilbert-eLife commented on #1329
@FAtherden-eLife - please could you take a look at the elements Fabio mentioned? Was there any reason we excluded any of these from the XML requirements in this ticket? I think verse/verse-group may simply have been missed, but I'm not sure about the rest? I just want to make sure we don't need to make similar changes in other tickets.

Thanks!

[2019-06-28 11:31] FAtherden-eLife commented on #1329
@JGilbert-eLife `verse-group` I simply missed.

@fabiobatalha in #1318 we specified that `disp-formula` (and `disp-formula-group` elsewhere) should always be treated as inline content and captured in a `p` element (or similar, like `td`, `title` etc.). As a result I didn't include them as allowed children of `sec` - does that requirement still work for you?

With regard to `graphic`, `tex-math`, `

[2019-07-01 14:07] JGilbert-eLife opened #1332 "Article IDs"
# Description

The unique identifiers for an article (internal publisher ID, DOIs etc)

# User stories

1. As an author, I should be able to see the article ID so that I can use it for reference in conversation with production staff.

### Production staff
2. As production staff, I should be able to see the DOI so that I know what it will be upon publication.
3. As production staff, I should be abl

[2019-07-01 14:09] JGilbert-eLife opened #1333 "Self URI/Download PDF"
# Description

Option to download PDF version of article (during proofing).

# User stories

### Author
1. As an author, I want to be able to download the article PDF so that I can check this document ahead of publication.

# But what if . . . ?

# Consideration

- At eLife, how the PDF will be generated is still an open question.
- Érudit are not currently generating PDFs themselves; journals are

[2019-07-01 14:11] JGilbert-eLife opened #1334 "Article title"
# Description

The overall title for the article.

# User stories

### Author
1. As an author, I want to be able to clearly see the title for my article so that I can check it is correct.
2. As an author, I want to be able to edit the title so that I can correct any errors.
3. As an author, I want to be able to apply style formatting to the title so that I can add emphasis.
4. As an author, I want

[2019-07-01 14:11] JGilbert-eLife opened #1335 "Journal metadata"
# Description

Please provide a brief description of this feature.

# User stories

Please provide all user stories required to develop this feature in the format of "As XX I want to XX because of XX"
Example: As an author I want to be able to edit my email address because it may have changed since I started writing my document in Texture.

# But what if . . . ?

Please provide details of situatio

[2019-07-01 14:13] JGilbert-eLife opened #1336 "Clinical trial info"
# Description

There are best-practice recommendations for capturing clinical trials on which the article is reporting, which include adding text (with tagging guidelines from JATS4R) to the end of an abstract (Any other clinical trial references that are present should remain as URL links in the text and should not be converted to references/citations or to a `<related-object>`).

# User stories

[2019-07-01 14:15] JGilbert-eLife opened #1337 "Related articles"
# Description

A related article link is used to connect an article to one or more articles with which it has some sort of relationship. This is used to denote co-submissions, article/commentary pairs and link a correction notice to the corrected article.

# User stories
### Author
1. As an author, I want to be able to see if my article is linked to one or more additional articles.

### Production

[2019-07-02 14:46] JGilbert-eLife opened #1338 "Equation groups"
# Description

A group of display-equations (see #1318) collected together. The group and individual equations within it may be labelled.

# User stories

### Érudit

1. As production staff, I want to be able to group display equations so that I can associate linked sets of equations.
2. As production staff, I want to be able to add and edit a label to a display equation group so that I can refer

[2019-07-02 14:47] JGilbert-eLife opened #1339 "Definition list"
# Description

A list of definitions.

# User stories
### Author
1. As an author, I want to be able to create a definition list so that I can define the terms used in an article.
2. As an author, I want to be able to add a term and its definition to a definition list so that I can expand the terms it covers.
3. As an author, I want to be able to edit a term and its definition from a definition lis

[2019-07-02 15:21] FAtherden-eLife commented on #1330
Thanks @fabiobatalha added above to the XML requirements.

[2019-07-02 21:30] eternoinvisible commented on #483
I tried to import the csl jason (generated with zotero) file of citations without DOI and it didn´t allow me to do it because of lack of DOI error

[2019-07-03 16:05] JGilbert-eLife opened #1340 "Notes"
# Description

Miscellaneous notes appearing in frontmatter or backmatter of an article, intended to capture information related to the publication or translation of an article (or to the issue in which it appears). Can also cover 'Notes added in proof', where an author wishes to append additional content to their article based on, for example, a recently published article that might have bearing

[2019-07-10 14:35] fabiobatalha commented on #1061
We don't have this use case in our corpus. (Links to def-list)

[2019-07-10 15:03] fabiobatalha commented on #542
Continue at: https://github.com/substance/texture/issues/1327

[2019-07-10 15:03] #542 closed

[2019-07-10 15:05] fabiobatalha commented on #626
Continue at: https://github.com/substance/texture/issues/1322

[2019-07-10 15:05] #626 closed

[2019-07-12 11:05] FAtherden-eLife opened #1342 "Article categories"
An article may be assigned to one or more categories for indexing purposes. These can include subject areas, human-readable article types, collection names and so on.

## User Stories
### Author
1. As an author, I want to see the categories applied to my article so that I can confirm this is correct.

### Production staff
2. As production staff, I want to be able to change the article categories s

[2019-07-12 11:06] FAtherden-eLife commented on #1342
Note - this was raised before receiving feedback from SciELO.

[2019-07-12 11:07] FAtherden-eLife opened #1343 "Submission history (submitted, accepted)"
The history of an article prior to publication.

## User Stories
### Author
1. As an author, I want to be able to see the history dates associated with my article so that I am aware of this information ahead of publication.

### Production staff
-

### But what if . . . ?
-

### Considerations
- Standard dates included in this section are:
  - received (the date the article was submitted to a jour

[2019-07-12 11:08] FAtherden-eLife commented on #1343
Note - feedback on this ticket was not received from PKP.

[2019-07-12 11:09] FAtherden-eLife opened #1344 "Licensing and Copyright"
# Description

License and copyright details for the article.

## User Stories
### Author
1. As an author, I want to be able to see the license information for an article so that I can confirm the correct license is being used.

### Production staff
2. As production staff, I want to be able to change the license information for an article so that I can switch the license if required.

### But what

[2019-07-12 11:09] FAtherden-eLife commented on #1344
Note - feedback was not received from SciELO for this ticket.

[2019-07-30 06:56] sbirAECA commented on #1215
It is not necessary to be outside the keyboard, for the Spanish case and with the accent keys, it also doesn't work.

[2019-08-08 18:25] jobdiogenes commented on #963
Why not stay using the standard JatsXML attribute xml:lang, that are in almost every section?

I really like @michael  UI proposal, the triple dots is a common UI, so users will understand fast. And could also add new  features/actions in the future.

But for the point of view to deal to the translations of Texture Interface code.
My suggest is to use PO POT formats.

[2019-08-15 15:23] fabiobatalha commented on #1061
Continue at: https://github.com/substance/texture/issues/1339

[2019-08-15 15:23] #1061 closed

[2019-08-20 17:20] fabiobatalha commented on #1011
Continue at: https://github.com/substance/texture/issues/1318

[2019-08-20 17:21] fabiobatalha commented on #1036
Continue at: https://github.com/substance/texture/issues/1288

[2019-08-20 17:51] fabiobatalha commented on #996
Continue at:
https://github.com/substance/texture/issues/1263
https://github.com/substance/texture/issues/1261

[2019-10-09 18:23] ronniebrito opened #1353 "How to change default port?"
I,

I need to change Texture port from 4000 to another one.

Is there a config file ou parameter to control this?

regards

[2020-02-23 19:40] ohtusabes opened #1356 "Texture in spanish"
Hi. I am new using desktop Texture (and OJS also), and I am editing a journal in spanish, so I want to use the labels in spanish (e.g., "Figura" in place of "Figure"; "Referencias" in place of "References"; "Tablas" in place of "Tables", "Autor" vs "Author", and so on). Is there anyway to do that? ( I have no knowledge of coding or programming).

![image](https://user-images.githubusercontent.com/

[2020-02-23 20:11] withanage commented on #1356
texture currently has the interface only in english.

[2020-02-23 22:28] ohtusabes commented on #1356
Hi. Thank you for your repy.
The interface in english is not the problem, just I want to change the
labels in the resulting xml. Is there a  way to do that from texture
directly?

Pablo

El dom., feb. 23, 2020 17:11, Dulip Withanage <notifications@github.com>
escribió:

[2020-05-26 19:12] Lucia003 opened #1357 "The program does not open again after close ones"
When I try to open a .dar, it(Texture) open a white page, it can't be modified or see which content was made it# Describe the bug

# Steps To Reproduce
Complete a document for an academic magazine at ones.
Close the document form Texture
try to reopen from .dar
It doesn't open

# Expected behavior
that texture open .dar
step 1 texture->file->open
<img width="1440" alt="Screen Shot 2020-05-26 at 1

[2020-08-27 12:14] lpanebr opened #1358 "is this project still active?"
I would like to know if development is still happening here or maybe it moved to another repo?
thanks!

[2020-09-09 21:58] jorgelpolanco commented on #1358
I have the same question, @jalperin do you have any information?

[2020-09-10 09:35] michael commented on #1358
@lpanebr @jorgelpolanco sorry for the late response. Unfortunately no, there is no more development planned for Texture. The reason is, that requirements of the involved organisations were too diverse. You can still build on our work but we would recommend that instead create an independent project based on Substance.js directly.

The sourcedata-smartfigure editor is an example for that. https://g

[2020-09-10 11:01] lpanebr commented on #1358
I'm sorry to hear that.

Perhaps adding this information and recommendation to the readme would be a
good idea.

Thanks!