[2018-11-05 15:45] #411 closed

[2018-11-05 16:25] michael opened #1012 "Support for figure supplements"
We want to support "Stacks of Figures". At eLife there's one main figure and any number of figure supplements. The desired tagging for this in JATS is as follows:

[code]

We added `content-type="stack"` to be able to distinguish this from another type of grouping ?`content-type="panels"`, which represents a single figure, consisting of multiple individual panels. (to be described in a separate is

[2018-11-05 16:29] michael commented on #1012
@dalapeyre there is just one use-case, we may also have which is a "stack of multi-panel figures". Therefore we would need nesting of fig-group like:

[code]

This is not a pressing issue, but maybe it would make sense to allow nesting fig-group elements in JATS. Up for discussion...

[2018-11-05 16:30] michael commented on #533
Closing in favor of #1012

[2018-11-05 16:30] #533 closed

[2018-11-05 16:33] michael commented on #1012
eLife Example XML (of current corpus, not Dar):

[code]

[2018-11-05 17:17] dalapeyre commented on #1012
looks fine to me.

—debbie

================================================================
Deborah A Lapeyre              mailto:dalapeyre@mulberrytech.com
Mulberry Technologies, Inc.      http://www.mulberrytech.com
17 West Jefferson Street         Phone: 301-315-9631 (USA)
Suite 207                        Fax:   301-315-8385
Rockville, MD 20850
-------------------------------------------------

[2018-11-05 17:23] JGilbert-eLife commented on #998
confproc, data, patent, article (aka preprint), report, software, thesis all need to have 'uri?' within the DAR spec (https://github.com/substance/dar/blob/master/DarArticle.md). All these reference types can have URLs at eLife so we need to account for that.

@michael - this is what I mentioned on the call today. Thanks!

[2018-11-05 18:12] JGilbert-eLife commented on #534
@michael - I haven't had a chance to do this today but I intend to create new tickets (if they don't exist) for the related issues that fall under this one.

Here, I'm using the word 'asset' simply to mean file associated with an article, which is perhaps not very edifying!

Briefly, I think these categorise as:

video (video) - video files, displayed like figures, this can exist as a main display

[2018-11-06 08:39] Melissa37 commented on #1012
@michael Thanks for this.
I personally prefer the option that eLife figure supplements are contained within the same fig group as their parent (like eLife does it). I think semantically this is more correct and negates the need to have nested fig groups. I think attributes on the ```<fig>``` and ```<fig-group>``` can manage the distinctions between your two use-cases.

[2018-11-06 17:22] JGilbert-eLife opened #1014 "Add support for videos"
eLife publishes videos on the same level as figures. They can have source date and source code. It should be possible to cite them in the text as, e.g. `<xref ref-type="video" rid="video1">Video 1</xref>`.

[code]

eLife also allows a specific variant of videos, animations, which play continuously online. This labelling is applied to videos with mime-stubtype="gif".

[code]

[2018-11-06 17:25] JGilbert-eLife opened #1015 "Add support for supplementary-material in back"
eLife allows the following `<supplementary-material>` in a section labelled "Additional files" within the back matter. It should be possible to cite these in the text as, e.g. `<xref ref-type="supplementary-material" rid="supp1">Supplementary file 1</xref>`.

Supplementary files:

[code]

Source data:
[code]

Source code:

[code]

Reporting standards document:
[code]

Transparent reporting form:

[2018-11-06 17:36] JGilbert-eLife opened #1016 "Add support for supplementary-material in caption"
eLife allows two types of `<supplementary-material>` within `<caption>` for figures, tables and videos - source data and source code.

(This is a separate but related use of supplementary-material at the article level, see #1015 )

Examples:

Source data for a table:

[code]

Source data for a figure supplement (see: #1012)

[code]

Source code for a video:

[code]

[2018-11-06 17:39] JGilbert-eLife opened #1017 "Add support for video supplements to figures"
eLife allows for videos to be included like figure supplements as supplemental to main figures:

[code]

Like figures and figure supplements, they can have source data and source code (see #1016 )

[2018-11-06 17:44] JGilbert-eLife opened #1018 "Add support for inline graphics"
eLife does allow inline graphics as distinct from main figures. We are reconsidering their use in general but we have examples in the archive of this being used to place images within tables.

[code]

[2018-11-06 17:45] JGilbert-eLife commented on #534
Hi again @michael , @Melissa37 - I've added individual tickets for these addition assets. On reflection, I thought it sensible to structure it around the way this gets expressed in the XML.

So we have:

Use of `<supplementary-material>` in `<caption>`: https://github.com/substance/texture/issues/1016
Use of `<supplementary-material>` in `<back>`: https://github.com/substance/texture/issues/1015

[2018-11-06 21:06] Melissa37 commented on #534
Fab, thanks @JGilbert-eLife! M

[2018-11-07 10:31] michael commented on #1012
@Melissa37 @dalapeyre nested fig-groups we only need when the actual figures are of this new multipanel figure type. So we would need this only if SourceData wanted figure supplements (of which each is another group of panels = multi-panel fig). But let's neglect this use-case for now.

[2018-11-07 11:12] michael commented on #997
We can possibly just render the information redundantly for checking.

[2018-11-07 11:37] michael commented on #989
We'll take care of this.

[2018-11-07 11:41] michael commented on #988
We can try to detect some edge cases while fetching, like resolving page ranges to first/last page. But generally we must assume the data we can fetch from online databases won't be perfect. So sometimes you'll have to make corrections manually.

[2018-11-07 11:44] michael commented on #276
Closing this as we have an initial implementation and will advance based on new issues.

[2018-11-07 11:44] #276 closed

[2018-11-07 11:53] michael commented on #980
Yeah we should talk about this and normalise across the user interface. What may be tricky is allowing different formats. Like year-only, year + season, year + month, year+month+day. It's not only a UI issue but an effort to normalise date usage in XML. Currently there's a lot mixed up. And sometimes we have human readable dates in addition to iso-8601 values.

Think we should dedicate a few days

[2018-11-07 11:54] michael commented on #979
That's indeed a bug. And will be fixed asap.

[2018-11-07 12:00] michael commented on #978
I understand this would be useful. It's a bit challenging technically because we need to map fields from one type to another in order to preserve them. I suggest to do this in the later stage when we are certain about the fields of each type.

[2018-11-07 12:30] michael commented on #977
We can do this once we have a spec for it. Like how the CSV is structured? And I wonder how is the CSV prepared?

[2018-11-07 12:31] michael commented on #977
Is it only the authors data or also affiliations etc.?

[2018-11-07 12:34] michael commented on #975
How about cut and paste to rearrange? We had drag+drop functionality but found this a bit fiddly so removed it in the latest Texture release.

[2018-11-07 12:40] michael commented on #972
Need to think about it. Maybe we can just remove the horizontal space limit for tables. Alternatively allow horizontal scrolling.

[2018-11-07 12:45] michael commented on #971
Just investigated. This happens when the text cursor is active inside a cell. If the cell is selected fully (table selection) then it works as expected. @oliver---- over to you.

[2018-11-07 12:51] michael commented on #969
I think we will need this to have consistent behavior. We chose to use a table selection interface, like in spreadsheets over a text-ish interface (as in Word). This makes table operations more clear and easier to apply (such as merge cells etc.) the downside is the extra click. But think it shouldn't bee too misleading as you don't see a text cursor.

Keeping this as a proposal but don't assign a

[2018-11-07 12:57] lpanebr commented on #993
I know Scielo Brasil also requires orgdivs and country[1] for every aff WITH the ISO country code, and if city and state exist they should be captured as `named-content`.[2]

[code]

[1] http://docs.scielo.org/projects/scielo-publishing-schema/pt_BR/1.8-branch/tagset/elemento-country.html
[2] http://docs.scielo.org/projects/scielo-publishing-schema/pt_BR/1.8-branch/tagset/elemento-aff.html#element

[2018-11-07 12:58] michael commented on #967
Closing in favor of #947.

[2018-11-07 12:58] #967 closed

[2018-11-07 13:06] michael opened #1019 "Inline code should display as monospace"
Currently displays as superscript.

![image](https://user-images.githubusercontent.com/2931/48133196-52fbb700-e296-11e8-9002-c25f08394257.png)

[2018-11-07 13:38] michael commented on #956
As discussed with Melissa in yesterday's call we can go with TeXMath as an input (which I think is a great choice). So I'm closing this issue.

[2018-11-07 13:38] #956 closed

[2018-11-07 14:01] Melissa37 commented on #993
**Aside:**
I notice you use this:
```<named-content content-type="city">Manguinhos</named-content>```
So does eLife.
However, JATS has a ```<city>``` tag and the recent JATS4R author and affiliations group leader was surprised when I requested greater detail in their proposal around granular tagging. She was really confused as to why we did that and we should just use ```<city>```. I cannot rememb

[2018-11-07 14:09] lpanebr opened #1020 "same elements different use-cases..."
I just thought I'd record this I've noticed in some issues requesting ability to add the same elements but with only an attribute different..

 - #557 `<sec sec-type="data-availability">`
 - #952 `<disp-quote content-type="example">` `<disp-quote content-type="block-citation">`
 - #951 `<disp-quote content-type="verbatim">`
 - #950 `<disp-quote content-type="dedicatory">`
 - #949 `<disp-quote cont

[2018-11-07 14:09] fabiobatalha commented on #993
As far as I Know, this was a previous requirement from SciELO once they
manage this information in this way.

The SciELO Publishing Schema was created a few years ago. I’m not sure but
probably it should the way to do that in JATS on that time. To assure that
I need to check JATS 1.0 or previous...

I fill comfortable to change it to city and state now.
On Wed, 7 Nov 2018 at 09:01 Melissa Harrison

[2018-11-07 14:10] lpanebr commented on #473
There are a multitude os use-cases **(document types)** for sub-articles including but not limited to:
 - response published with letter[1]
 - Decision Letter
 - Author Comments
 - translated version of article published with original article[2]

and on top of that they may be nested!

Maybe this is another case of #1020 ?

[1] https://www.ncbi.nlm.nih.gov/pmc/pmcdoc/tagging-guidelines/article/tag

[2018-11-07 17:56] #882 closed

[2018-11-07 18:26] michael opened #1022 "Dar should conform to the EJP ouptut format"
https://github.com/elifesciences/package-ejp-raw-output-zip/blob/develop/EJP_Output_Converted_Kitchen_Sink.xml

[2018-11-07 19:57] dalapeyre commented on #1012
Thank you.  —Debbie

[2018-11-08 08:40] Melissa37 commented on #993
@fabiobatalha and @lpanebr thanks for the insights! I'll work on eLife updating our xml specs to use ```<city>``` instead

[2018-11-08 10:34] Integral commented on #1019
Fixed in master.

[2018-11-08 10:34] #1019 closed

[2018-11-08 11:02] Integral commented on #979
Fixed in master via #1021, thanks @JGilbert-eLife!

[2018-11-08 11:02] #979 closed

[2018-11-08 11:08] Integral commented on #947
Fixed in master via #994. Not yet released.

[2018-11-08 11:08] #947 closed

[2018-11-08 11:08] Integral commented on #948
Fixed in master via #994.

[2018-11-08 11:08] #948 closed

[2018-11-08 15:40] #624 closed

[2018-11-08 15:42] #618 closed

[2018-11-08 15:45] michael opened #1023 "Multiple Permissions per figure"
This is an edge case but important to eLife, when we have a composite figure with multiple panels, and panels having different licenses.

[2018-11-08 15:54] michael commented on #617
Closing this as mostly done and move multi-permissions into a separate issue. #1023

[2018-11-08 15:54] #617 closed

[2018-11-08 16:09] Integral opened #1024 "Linux electron libgconf dependency"
Since [chrome 42](https://github.com/electron/electron/issues/1518#issuecomment-97708181) You can't run electron in devmode without installed libgconf library. Don't know what we should do, but this will be a problem for linux users. The error is something like that `error while loading shared libraries: libgconf-2.s0.4`

[2018-11-08 16:12] JGilbert-eLife commented on #975
That sounds good to me @michael .

[2018-11-08 16:13] Integral commented on #942
@sbirAECA I just installed latest version from master branch on Ubuntu, did `npm run app` and imported file from your archive. I can't see any problems.

[2018-11-08 16:16] michael commented on #557
I see. I can't dig into this deeper now, but maintaining a separate reference list is challenging technically and UI-wise so we should expect that this issue will take more than a few days to implement.

@Melissa37 can we make this a stretch goal for 2.0, so we can discuss more before starting to implement this.

[2018-11-08 16:16] Integral commented on #942
I used this dialog... and you?
<img width="938" alt="screen shot 2018-11-08 at 19 15 16" src="https://user-images.githubusercontent.com/182010/48211530-ba932e80-e38a-11e8-936e-5a141152ee4c.png">

[2018-11-08 16:24] michael commented on #554
@JGilbert-eLife can we break this down into separate issues with examples?

[2018-11-08 16:28] michael commented on #550
I think we should not integrate schematron into the editor at this point. You can run the checks after editing in a separate process. Let's see how far we get with live-validation inside Texture and then consider plugging in more complex schematron rules or translating them to rules we can evaluate in the browser.

[2018-11-08 16:29] sbirAECA commented on #942
Yes, pressing 'select'

[2018-11-08 16:38] Integral commented on #942
Please give a try with fresh git clone

On Thu, 8 Nov 2018, 19:29 Carlos Martinez <notifications@github.com wrote:

[2018-11-08 16:43] Integral commented on #942
There are might be some other problems with building in Linux systems, see #1024

[2018-11-08 16:47] sbirAECA commented on #942
Give me a moment

[2018-11-08 17:07] sbirAECA commented on #942
Again, it is empty fileType (WIN 32)
![filetype](https://user-images.githubusercontent.com/37865559/48214853-26709980-e381-11e8-82dd-c1ad5897698f.jpg)

[2018-11-08 17:55] JGilbert-eLife commented on #978
Makes sense to me!

[2018-11-09 08:12] sbirAECA commented on #942
Here is the screen when I run the command 'npm run app'

![npmrunapp](https://user-images.githubusercontent.com/37865559/48250735-9291e280-e3ff-11e8-858f-9b3262c44c63.jpg)

[2018-11-09 08:33] Integral commented on #942
I will check Windows version, thanks

On Fri, 9 Nov 2018, 11:12 Carlos Martinez <notifications@github.com wrote:

[2018-11-09 16:17] JGilbert-eLife commented on #977
Hmm. Affiliations would be trickier because it's entirely possible for there to be commas WITHIN departments or institutions.

I am primarily concerned with making it easy to add details for references, as these can sometimes have very long author lists (100+) and while it is likely that we can pull the details in with a DOI search in most cases, there will always be some reference items we cannot

[2018-11-09 17:29] Integral commented on #942
@sbirAECA, just to have a better understanding, what Windows are you using, what is your browser? You could see a report here: https://www.whatsmybrowser.org

[2018-11-09 18:34] sbirAECA commented on #942
I'm not at work at this very moment. I'm at home. But I can try to test it.
Here is the rport of my home computer. I can tell you it is different from work
![ordenador](https://user-images.githubusercontent.com/37865559/48281303-766d6000-e456-11e8-99e5-92f088374d1b.jpg)

[2018-11-09 18:35] sbirAECA commented on #942
Now, give me a moment to install texture

[2018-11-09 18:53] sbirAECA commented on #942
git clone https://github.com/substance/texture.git ...
npm install ...

![npminstall](https://user-images.githubusercontent.com/37865559/48282132-11ffd000-e459-11e8-83e2-23a9d8664478.jpg)

[2018-11-09 18:57] sbirAECA commented on #942
and npm run app ...
![npmrunapp](https://user-images.githubusercontent.com/37865559/48282338-b5e97b80-e459-11e8-9542-36c224159c9b.jpg)

[2018-11-09 19:02] sbirAECA commented on #942
It doesn't recognize file.type

![jsonfile](https://user-images.githubusercontent.com/37865559/48282584-66577f80-e45a-11e8-862a-fc0a43eb4ac1.jpg)

[2018-11-09 19:52] Integral commented on #942
@sbirAECA thanks again, I will continue my investigation!

[2018-11-10 09:12] Integral commented on #942
At last, I can see these problems on windows.

On Fri, 9 Nov 2018, 22:02 Carlos Martinez <notifications@github.com wrote:

[2018-11-12 16:41] JGilbert-eLife opened #1026 "Appendix: Allow figures and figure supplements"
Related to #554, #1012.

Should act the same way as main figures and figure supplements but with different labelling convention:

[code]

[2018-11-13 17:03] JGilbert-eLife commented on #1026
For clarity - figures and figure supplements in appendices should work exactly the same way as figures in the main text, but contained with the appendix and using the current appendix number (Appendix 1, Appendix 2 etc) prefixed on the label to create, e.g. Appendix 1—figure 1, Appendix 1—figure 2, Appendix 2—figure 1, Appendix 2—figure 1—figure supplement 1 etc.

[2018-11-13 17:05] JGilbert-eLife opened #1027 "Appendix: Allow tables"
Tables should be allowed in appendix sections, following the same tagging rules as the main text, just within the appendix section and taking the current appendix number as a prefix on the label, creating e.g. Appendix 1—table 1, Appendix 1—table 2, Appendix 2—table 1, Appendix 3—table 1 etc.

I believe inline, un-numbered tables are also allowed in appendices - @Melissa37?

[2018-11-13 17:12] JGilbert-eLife opened #1028 "Appendix: Allow videos"
Linked to #554

Videos should be allowed in appendix sections, following the same tagging rules as the main text, just within the appendix section and taking the current appendix number as a prefix on the label, creating e.g. Appendix 1—video 1, Appendix 1—video 2, Appendix 2—video 1, Appendix 3—video 1 etc.

[code]

[2018-11-13 17:15] JGilbert-eLife commented on #554
I've added individual tickets for

Figures: #1026
Tables: #1027
Videos: #1028

The XML for those individual items is the same as in the main text; what is different is it is appearing within the appendix structure and the labels take the appendix number as a prefix (e.g. Appendix 1—figure 1).

We (eLife) need to nail down an issue with appendix tagging before I can post examples of that, but hopef

[2018-11-14 09:59] michael commented on #733
We are working on this feature right now.

@Melissa37 @JGilbert-eLife can you provide samples of math usage in eLife articles? Not completely clear to me yet how we do labelling the equations etc.

We could have automatic numbering, but if that's too hard to do, we can also have the label field editable.

[2018-11-14 12:02] michael commented on #452
We are consistently using the Metadata View for this now.

[2018-11-14 12:02] #452 closed

[2018-11-14 12:19] michael commented on #553
From an email conversation...

Melissa in response to Debbie:

Hi Debbie

express 4 permissions? How do you tie individual permissions to the
graphical-only, untagged portions of a single graphic?

They could not. That's why I had tentatively suggested tagging the most restrictive one as the license and having the other's as <p>.
However, I think James has a point that if they are all tagged prope

[2018-11-14 12:45] eLifeProduction commented on #733
@michael disp-formula elements containing maths may or may not have a label, so I think the second option would be preferable, if possible. inline-formula elements don't have labels.

**Example 1 - with label**
[code]

**Example 2 - without label**
[code]

[2018-11-14 13:47] michael commented on #538
This needs better specification. Don't want to realise this as abritrary footnotes in the editor. Better see this as number of fields to fill out per author.

@JGilbert-eLife when is something like this (with custom label) needed?

[code]

Can we somehow avoid that?

[2018-11-14 13:51] Integral commented on #733
Is there any reason to put disp-formula inside paragraph?

[2018-11-14 13:59] Melissa37 commented on #538
Please see: https://jats4r.org/conflict-of-interest-statements for conflict of interest - eLife will update tagging to conform with the JATS4R recommendation

https://gitlab.com/JATS4R/credit-taxonomy/issues/4 - Contributions.  eLife will update tagging to conform with the JATS4R recommendation when it is published.

Regarding "other footnotes", eLife will _consider_ removing the necessity for the

[2018-11-14 14:41] FAtherden-eLife commented on #733
@Integral It's entirely possible that an author wants to continue the paragraph after the formula, for example (actual mml:math removed for readability):
`<p> ... were taken to be<disp-formula id="equ7"><label>(6)</label><mml:math id="m7"></mml:math></disp-formula>where A defines the amplitude of the complex ...`

HTML view:
![screen shot 2018-11-14 at 14 24 25](https://user-images.githubuserconte

[2018-11-14 14:54] FAtherden-eLife commented on #733
No problem. We only use labels in a linear sequence with numbers (and parentheses, as above). Thanks!

[2018-11-14 14:59] JGilbert-eLife commented on #733
That's not necessarily true - I think there are examples in our corpus where the authors have used, for example, (A-1), (A-2) etc to distinguish equations in the abstract from the main text, but that;s only happened very infrequently.

[2018-11-14 15:02] michael commented on #733
@FAtherden-eLife we would like to treat them as block level elements always. This improves UI/UX and simplifies implementation, as we don't have to consider the inline-block case. We did the same with `<fig>` elements. And we don't allow them inside `<p>`. As a consequence, adding a disp-formula always breaks the paragraph, which I think is valid.

[code]

[2018-11-14 15:04] michael commented on #733
Regarding labels, if we can agree on an automatic numbering scheme, this saves you time during authoring/editing. E.g. you can move around formulas and the numbers will update accordingly. If not, you'll have to manually edit them each time.

Is referencing formulas a use-case for eLife? Like an xref that points to a disp-formula?

[2018-11-14 15:12] JGilbert-eLife commented on #733
Yes, they can be cited:

`<xref ref-type="disp-formula" rid="equ1">equation 1</xref>`

Regarding the placement of equations, doing it the way you suggest will lead to `<p>` elements that begin with lowercase letters. Not necessarily a problem and I see the argument for doing it your way, but the case where the author wants to continue the 'sentence' started by the display equation, or embed the eq

[2018-11-14 16:26] michael commented on #733
If ok, we would like to proceed as described with real block level disp-formulas. And allow referencing them in the main text.

If really needed, we could store some display hint for rendering these special cases, or introduce an inline disp-formula (though this would as said really complicate the UI/UX -> the author needs to choose between a block level or inline formula, this will lead to confus

[2018-11-14 16:41] michael opened #1029 "Capturing clinical trial information"
Needs clear specification. On waiting list for now.

https://jats4r.org/clinical-trials

[2018-11-14 16:49] michael opened #1030 "Support for conflict of interest statements"
For authors according to JATS4R. Will come up with a UI proposal, for assigning existing statements, or create and assign a new statement in-place. We will need this type of UI in other places as well.

[code]

@Melissa37 @JGilbert-eLife is it true that an author could have multiple conflict of interest statements?

[2018-11-14 16:58] JGilbert-eLife commented on #1030
Not the way we do it - we always include all the competing interests for one author in a single footnote.

Multiple authors can have the 'no conflict of interest declared' footnote, but any actually containing a competing interest must be unique to a single author.

[2018-11-14 16:58] Melissa37 commented on #733
Hi @michael
Welcome to publishing again! There is a reason for what we've got.

I think the purpose of differentiating disp and inline formula in XML is to allow for our different use cases as described (http://jats.nlm.nih.gov/archiving/tag-library/1.2d1/element/inline-formula.html).

Personally, I think it's going to be too problematic to have new ```<p>```tags starting with lower case letters -

[2018-11-14 16:59] michael opened #1031 "Author contributions"
Needs clear specification. On waiting list for now.

https://gitlab.com/JATS4R/credit-taxonomy/issues/4

[2018-11-14 17:01] michael commented on #538
OK, I split this up into separate issues. I think we can use the footnotes for encoding as done currently but will make them separate requirements.

#1030
#1031
#1029

closing this issue.

[2018-11-14 17:01] #538 closed

[2018-11-14 17:06] michael opened #1032 "Edit @position attribute for figures and tables"
@position on table-wrap: Either "float" or "anchor" - where float means the table can move around the page based on text and other assets, but anchor means it has to stay exactly in this position with relation to the text (<p>) above and below. This is very important for typesetting (PDF) and potentially for the html page? eLife would prefer for this to be specified, but OK with it being phase 2.

[2018-11-14 17:07] Melissa37 commented on #1032
👍

[2018-11-14 17:14] michael commented on #267
We continue in separate issues. If I forgot something please add a missing issue and assign to "Waiting" milestone.

#1032
#918
#111
#626

[2018-11-14 17:14] #267 closed

[2018-11-14 17:30] michael opened #1033 "Add/edit decision Letter"
[code]

[2018-11-14 17:32] michael opened #1034 "Add/Edit Author response"
[code]

[2018-11-14 17:32] michael commented on #1034
Author response sections can contain 'Author response images', tables and videos:
[code]

[2018-11-14 17:33] michael commented on #537
Closing in favor of separate issues #1034 and #1033

[2018-11-14 17:33] #537 closed

[2018-11-14 17:37] michael commented on #536
Well this is actually another reason why we should have individual figure panels. ;)

Manually adding A/B/C inside the reference label is not a good idea in my opinion. Either we generate the label automatically, or we don't. But mixing it, will cause a lot of friction.

[2018-11-14 17:43] michael commented on #534
This is actually a lot we need to do here, so I would ask you to choose an issue to start with and we move the others to the 3.0 milestone.

Once you chose one and assigned the 2.0 milestone to one of the issues, please will close this issue.

[2018-11-14 17:44] JGilbert-eLife commented on #536
Please be aware while thinking about this that citing Figure 1A-D, Figure 1Ai, Figure 1Ai-iv and Figure 1B,C,D are also all perfectly valid ways of citing a figure!

Currently, we'd link all the text within the citation. I'm not sure if I like the idea of leaving the panel labels outside; might look messy.

[2018-11-14 17:48] michael commented on #1014
Thanks for tracking this. Need to think how we treat videos inside a Dar. For pure self-containment they should be included but this can lead to quite heavyweight Dars.

[2018-11-14 17:50] michael commented on #1017
Ok, this is quite advanced. So we can have videos and figures mixed in a fig-group? Will be challenging UI wise to add/remove figures, videos. First we should add support for videos in general #1014. Once that is done, we just need to consider videos in #1012 .

[2018-11-14 17:51] michael commented on #534
Ok I already chose the video support as the next step. Inline-graphic is in the 2.0 milestone too. Closing this. I will finish this iteration and then we can discuss shifting some things around.

[2018-11-14 17:51] #534 closed

[2018-11-14 19:05] michael commented on #529
We'll work on better documentation but closing this issue to clean up a bit.

[2018-11-14 19:05] #529 closed

[2018-11-14 19:12] michael commented on #494
Think we can close this.

[2018-11-14 19:12] #494 closed

[2018-11-14 19:12] #490 closed

[2018-11-14 19:14] #487 closed

[2018-11-14 19:15] #481 closed

[2018-11-14 19:18] michael commented on #474
Dup of #945.

[2018-11-14 19:18] #474 closed

[2018-11-14 19:18] michael commented on #473
We have separate issues for each use-case now.

[2018-11-14 19:18] #473 closed

[2018-11-14 19:18] #471 closed

[2018-11-14 19:19] michael commented on #470
Save button is now there.

[2018-11-14 19:19] #470 closed

[2018-11-14 19:20] michael commented on #466
We store .dar files now.

[2018-11-14 19:20] #466 closed

[2018-11-14 19:21] #456 closed

[2018-11-14 19:22] #455 closed

[2018-11-14 19:23] michael commented on #451
We have the metadata view now.

[2018-11-14 19:23] #451 closed

[2018-11-14 19:24] #431 closed

[2018-11-14 19:30] #426 closed

[2018-11-15 09:14] michael commented on #395
This is done.

[2018-11-15 09:14] #395 closed

[2018-11-15 09:36] michael commented on #378
This is done.

[2018-11-15 09:36] #378 closed

[2018-11-15 09:38] michael commented on #377
Resolved.

[2018-11-15 09:38] #377 closed

[2018-11-15 09:38] michael commented on #376
Done.

[2018-11-15 09:38] #376 closed

[2018-11-15 09:39] michael commented on #375
We won't do that, instead we will expose all relevant attributes as fields in the metadata section.

[2018-11-15 09:39] #375 closed

[2018-11-15 09:51] #946 closed

[2018-11-15 09:53] #554 closed

[2018-11-16 19:38] fabiobatalha opened #1035 "Ability to support multi language in caption."
Error when loading a file with multiple languages in caption.

[code]

[2018-11-16 19:50] fabiobatalha commented on #1035
JATS do not support multiple captions, so I have no clue about how to deal this situation.

Any ideas?

[2018-11-16 20:29] fabiobatalha commented on #943
This functionality should work in the stand alone version while opening a file.

[2018-11-16 20:33] fabiobatalha opened #1036 "Ability to tag acknoledgements"
JATS reference: https://jats.nlm.nih.gov/publishing/tag-library/1.2d2/element/ack.html

Example of use in Érudit: https://www.erudit.org/fr/revues/rseau/2011-v24-n2-rseau5003765/1006110ar/

[code]

[2018-11-16 20:38] fabiobatalha opened #1037 "Ignore the element counts in article-meta"
Texture should ignore the element counts in article-meta when it is available in the XML file.

[2018-11-17 08:36] michael commented on #966
Maybe we call this preformat as in JATS.

[code]

I guess we should also assume CDATA here. E.g. when you want to provide HTML code.

[2018-11-17 10:12] Integral commented on #966
@michael, I would say that we should use ```code```. We already have it, but a bit unfinished. For inline code we are using `monospace`.
Did I miss something?

[2018-11-17 10:16] Integral commented on #942
I will close this issue now since there is fix in master.
@sbirAECA, thank you very much! And please file a new issue about saving problems if you have it.

[2018-11-17 10:16] #942 closed

[2018-11-18 13:55] Integral commented on #462
I guess it was fixed sometime ago, don't know when:
<img width="201" alt="screen shot 2018-11-18 at 16 52 59" src="https://user-images.githubusercontent.com/182010/48673430-73f3c000-eb52-11e8-9c53-c7d7ca44f238.png">
<img width="222" alt="screen shot 2018-11-18 at 16 53 54" src="https://user-images.githubusercontent.com/182010/48673445-92f25200-eb52-11e8-8a0e-420651f9a801.png">

[2018-11-18 13:55] #462 closed

[2018-11-18 14:01] Integral commented on #965
There is another issue from James on the same topic: #1018. I will continue there since there is an example there.

[2018-11-18 14:01] #965 closed

[2018-11-18 14:10] Integral commented on #966
It looks to me that it might make sense to have a references to code blocks... @michael?

[2018-11-18 16:09] Integral commented on #1018
<img width="636" alt="screen shot 2018-11-18 at 19 03 03" src="https://user-images.githubusercontent.com/182010/48675091-71e72c80-eb65-11e8-9103-62965935d0d0.png">

[2018-11-19 10:57] Melissa37 commented on #733
Hi @michael this is something we think it really vital for our UX people to be involved with.
How urgent is it for you to work on right now or can you wait a month?

[2018-11-19 13:11] michael commented on #733
We are already almost there, I'd suggest we now finish that first iteration of that feature and when ready, demo it to you (and your UX people) to collect missing requirements.

[2018-11-20 15:06] fabiobatalha opened #1040 "Undo not working in metadata editor"
After remove an affiliation and try to undo this action the affiliation was not recovered.

[2018-11-20 15:10] fabiobatalha commented on #1040
I noticed also that all the metadata toolbar stops to work after clicking the undo button.

[2018-11-21 20:54] Integral commented on #1004
Fixed via c4ae76e.

[2018-11-21 20:54] #1004 closed

[2018-11-22 07:41] Integral commented on #406
It was already addressed.

[2018-11-22 07:41] #406 closed

[2018-11-22 09:22] michael commented on #557
We were just talking about this more. We see the use-case of internal data (data generated for the study), but we would suggest that instead of tracking them in a data availability section, to allow adding Datasets (CSV + metadata) to a publication. We can provide a user interface for that and include the CSV+metadata in the Dar.

For every external data used, regular references in the main refere

[2018-11-22 10:10] Melissa37 commented on #557
@michael we need to talk about this further and explain.

The separate reference list is pretty much a requirement, sorry! We've implemented this in our current proofing tool. It's a compromise between editorial requirement and display; and XML requirements for distribution and re-use. It's based on many workflows and complies with JATS4R

Data generated for the study is not added to the publicati

[2018-11-22 17:40] JGilbert-eLife opened #1043 "Allow appendix sections with different structures"
I saw @michael closed #554, which is fair, but I think we need a ticket discussing variations in appendix structures. Below is a summary of eLife's currently allowed appendix structures. Reviewing this, I think there is scope for some improvement.

For example, I am unclear why we use `<title>` here for the label e.g. 'Appendix 1' when everywhere else we use `<label>`. This seems to be allowed und

[2018-11-22 17:43] JGilbert-eLife commented on #1043
Oh, just to make it explicit, we do not currently insist on their being a single overall title for an appendix.

[2018-11-23 09:55] michael commented on #557
@Melissa37 @JGilbert-eLife Can you help me answering these question so I better understand the problem.

- What is the purpose of a Data Availability statement?
- How is this information used later (by readers at the display, and by machines for data retrieval)?
- Wouldn't it be beneficial to have data sets included in the Dar in the future? (we could still support external references but in many

[2018-11-23 11:13] oliver---- commented on #966
@Integral interesting general question.
@michael I guess there are more things that could or should be referencable, e.g. sections etc.

[2018-11-23 11:41] oliver---- opened #1044 "Allow to add a soft-break in preformat blocks"
Probably simple to solve, but substance core related.

[2018-11-23 13:21] michael commented on #535
We are happy to address this in 2.0 but we need a final specification of all fields we should expose in the interface.

Here's what we have now:

![image](https://user-images.githubusercontent.com/2931/48945510-f3a2d580-ef2a-11e8-8180-07638cc1bf05.png)

Can you provide me what fields are missing (including the JATS tagging and how to label them). Thank you!

[2018-11-23 14:42] #699 closed

[2018-11-23 14:56] michael commented on #1043
Hi! So the requirement is to have multiple appendices, each with a title? And each allowing, figures, tables, videos, supplementary materials?

Why is it that there are multiple appendices and not just one and you use sections to structure it?

[2018-11-23 15:21] oliver---- opened #1045 "Tidy up definition and usage of placeholder messages."
There are several components that have hard-coded placeholder messages, such as https://github.com/substance/texture/blob/5977a7ebdd625e8cc67c7aaa23a785963cc5713b/src/article/editor/EditExtLinkTool.js#L22
At other places we use a semi-generated approach using something like `Edit ${props.label}`

1. Constant literals should be avoided and replaced with `this.getLabel(...)`.
2. Partially generated

[2018-11-23 16:04] Melissa37 commented on #557
Hi @michael

I have copy and pasted answers direct from the text available in this article: https://www.nature.com/articles/sdata2018259 for points 1 and 3.

DASs provide a statement about where data supporting the results reported in a published article can be found, including, where applicable, unique identifiers linking to publicly archived datasets analyzed or generated during the study. In ad

[2018-11-23 16:17] Melissa37 commented on #535
Thanks, @lpanebr, I often forget PMC guidelines! In that case eLife will need to retain it too!

[2018-11-23 16:30] Melissa37 commented on #535
I can see nothing missing from that list, we at eLife do not publish all those fields but might do in future and they are necessary for many.

Once JATS 2 is out of draft we will also be adding:

[code]

We will also start publishing links to previous versions of the article:

[code]

[2018-11-23 16:58] egortsaryk9 opened #1046 "[Question] JATS4R to DAR"
Hello everybody, thanks for developing Texture, it's a great product.

I would like to understand the current state of Texture DAR format and it's compatibilities with other JATS-oriented formats.

Is Texture compatible with JATS4R format at the moment (or any other JATS-oriented subsets) ? After some code review and tests, I found `JATSImporter` with importing that pipe includes `jats2restrictedJ

[2018-11-23 22:00] Melissa37 commented on #1046
Hi @egortsaryk9

The samples in the JATS4R folder are very old and were supplied by the publishers setting up the group. They existed as samples to give the group an idea of what sorts of issues the group should look at, they are not samples of JATS4R validated content, sorry for any confusion.
JAS4R has moved its work place to Gitlab - https://gitlab.com/JATS4R, and googledocs: https://drive.goog

[2018-11-23 22:07] Melissa37 commented on #560
Hi @michael

It depends what you mean by rendering, they will need to be in the XML that is output to the next stage, so I'd assume they'd need to be in the UI if we use this tool as a QC tool?

I think this is good for now. For eLife we know an eLife digest would always be called that, and it so could be boilerplate, but I wonder whether other publishers might need the flexibility to re-name this

[2018-11-24 13:58] #924 closed

[2018-11-24 14:40] shaharyarahmad opened #1047 "Feature Request: Automatically Cite References by selecting text"
I think it would be a great addition if we could automatically link text to citations by simply selecting the text and selecting the cite type from the cite menu. For example if we select [1] and click (Cite->Reference) it automatically cites the first reference. This would be more useful for citation styles such as APA where we select the text (Surname, 2016) and it automatically cites the matchi

[2018-11-26 16:11] Integral opened #1048 "Graphic load error: Infinite cycle of rerendering"
![](http://g.recordit.co/GYp2oiBrOT.gif)
<img width="549" alt="screen shot 2018-11-26 at 19 11 10" src="https://user-images.githubusercontent.com/182010/49026502-12b19980-f1af-11e8-89c4-aaed736eb69b.png">

[2018-11-26 16:44] JGilbert-eLife commented on #1043
@michael - Broadly, yes. Authors are allowed to include one or more appendices in their articles. Since these generally get referred to as Appendix 1, Appendix 2, Appendix 3 etc, it makes more sense to use multiple `<app>` elements rather than cramming everything into a single `<app>`. This is what `<app-group>` is for, containing multiple instances of `<app>`.

This is an organisational conventio

[2018-11-26 17:50] michael commented on #535
@Melissa37 I'm still not clear on what we should change in the Texture 2.0 iteration. This `<pub-history>` thing should be a separate discussion, and not critical atm, right?

Assuming that eLife is happy with the current setup, @substance/core-contributors last chance to get your requirements in. :)

[2018-11-26 17:51] michael commented on #535
Sorry ping @substance/texture-contributors.

[2018-11-26 17:55] michael commented on #1048
How to reproduce?

[2018-11-26 17:57] fabiobatalha commented on #535
the pub-date can appear in 3 different publication-format's.

[code]

[2018-11-26 18:03] michael commented on #1006
Duplicate issue. Closing.

[2018-11-26 18:03] #1006 closed

[2018-11-26 18:08] michael commented on #996
@JGilbert-eLife in Texture we consider authors and editors as 'contributors' thus both share the same fields. Is it a problem that too many fields are available? You could just leave them blank right? Maybe some other journal wants to tag affiliations of an editor.

What is missing currently is a field that allows you to tag as Reviewing Editor or Senior Editor. How to call that field in Texture?

[2018-11-26 18:09] lpanebr commented on #535
@fabiobatalha I'm not sure if Erudit is different but PMC guidelines uses "collection" in the **date-type** attribute.[1]

[code]
[1] https://www.ncbi.nlm.nih.gov/pmc/pmcdoc/tagging-guidelines/article/tags.html#el-pubdate

[2018-11-26 18:10] Integral commented on #1048
@michael just remove image from dist folder and open the document

[2018-11-26 18:11] Integral commented on #1048
this is a general way to reproduce `load error` which we are handling, but now in a bad way...

[2018-11-26 18:15] lpanebr commented on #535
I've just realized that in a previous comment **I wrongly stated** that PMC uses `pub-type="collection"`

Sorry... the comment above is the right one.

[2018-11-27 06:56] Integral commented on #1048
I am sorry, it is not on master. Forget about this.

[2018-11-27 06:56] #1048 closed

[2018-11-27 07:15] michael commented on #535
What does `date-type=collection` mean vs `date-type=pub`?

Is it correct that all dates have have format YYYY-MM-DD ?

[2018-11-27 09:46] oliver---- commented on #995
Seems that we have forgotten to enable `<xref>` in the captions.

[2018-11-27 10:48] lpanebr commented on #535
`pub` stands for publication of each single article, while `collection` is used to identify the logical group that holds a group of articles. If you take eLife for instance they do not use the Issue but collect articles by month on their website.

PMC's explanation:

https://www.ncbi.nlm.nih.gov/pmc/pmcdoc/tagging-guidelines/article/tags.html#el-pubdate

Yes, the `@iso-8601-date` follows that form

[2018-11-27 12:13] michael commented on #1043
Ok but can we assume that appendices just use references from the main reference list?

[2018-11-27 12:20] michael commented on #995
Assigning this to 2.0 milestone as a backlog item.

[2018-11-27 12:22] JGilbert-eLife commented on #1043
@michael - Absolutely - eLife makes no distinction for references and just includes a single reference list for all parts of the article.

[2018-11-27 12:22] oliver---- commented on #995
After further investigation, I found the source, and this can even be considered as critical.
doc.findAll() is not working for regular DocumentNodes yet. Thus, in this case, the citation manager does not consider xrefs inside figures.

[2018-11-27 12:41] egortsaryk9 commented on #1046
@Melissa37 Thank you a lot for your reply and the links.
As I understand, Texture intends to support JATS4R, but this is still in WIP ...?
If I import completely valid JATS4R article (not the one that I refer in old repo), will Texture editor be able to work with it at the moment?
You mentioned that JATS4R validator is offline currently.. Is there any repo that contains valid JATS4R articles sampl

[2018-11-27 13:33] michael commented on #360
We have a lot of topics mixed up here. In our new requirements document I will track separate positions for role (aka contribution) and Group Authors generally. I'll send the document by end of week for review.

[2018-11-27 14:17] oliver---- commented on #995
Fixed via #1050

[2018-11-27 14:18] #995 closed

[2018-11-27 14:32] oliver---- commented on #242
Moving this, because it is not critical in the current phase.

[2018-11-27 14:38] oliver---- commented on #619
The observed behavior was not intended, so it must be a bug in the label generator.

In case of references, we will replace the current solution with something based on citeproc.
For other citations, such as Figures and Tables we will still use the current logic.

[2018-11-27 14:39] oliver---- commented on #734
Closing this, as it is not an issue ATM.

[2018-11-27 14:39] #734 closed

[2018-11-27 15:07] michael commented on #557
Thanks for the thorough explanations. Let me try to summarise the requirements.

So we have:

- publicly available citable datasets
   - data citations are used (e.g. a figure caption cites a reference in the main reference list)
- new datasets produced by the study
   - ability to include data right in the publication (CSV inside the Dar, directly reproducible)
   - ability to link to external da

[2018-11-27 15:50] michael commented on #557
I actually like the idea of having datasets listed separately from the other citations. No matter of how we tag it eventually but this would allow us to show a (maybe visually distinctive) "Datasets" section. There you'd see a complete list of all datasets relevant to the paper, and some of them may be even accessible directly from the Dar. For others you'd follow a link to a repository.

[2018-11-28 08:13] Melissa37 commented on #557
@michael Thanks for thinking this through.

My summary would be:

- Data citations should always be captured within an ```<element-citation>``` or ```<mixed-citation>```

- These references can either be within the main ```<ref-list>``` for the article  OR within a ```<ref-list>``` directly in the ```<sec sec-type="data-availability">``` element OR as ```<element-citation>``` or ```<mixed-citation

[2018-11-28 08:41] Melissa37 commented on #996
From a UI point of view it would create too much additional space and effort to skip them, but I guess eLife could deal with that in our version by hiding the fields we don't want to be visible? We also have the additional issue that we actually don't want that extra metadata to be published in the XML so we'd need to hide the fields so nobody filled them in and we accidentally published it. @gmac

[2018-11-28 08:50] Melissa37 commented on #360
@michael great, thanks!

[2018-11-28 13:56] michael commented on #557
Thank you. I think I see the picture more clearly now. I also found an example with an extensive Data Availability section here: https://elifesciences.org/articles/36495/figures#data that has separate lists of datasets (generated vs previously published).

Small request: Please let's not discuss requirements in JATS4R-terms (these are tagging recommendations, not requirements).

So regarding handl

[2018-11-28 14:30] Melissa37 commented on #557
Fair enough :-) eLife will conform to JATS4R recommendations though, so it's good context for why we might ask for things as we're going with a community decision and not necessarily what we might have chosen on our own. I'll indicate what eLife will do with respect to those recommendations then to give context - is that OK?

For eLife, we'll only deal with supporting and generated

eLife won't us

[2018-11-28 14:44] michael commented on #996
Yes we would also consider reviewers as contributors. They would be added just like Editors. Are there any additional fields that reviewers would need?

[2018-11-28 14:48] Melissa37 commented on #996
For eLife
- given-names
- surname
- role
- institution
- country

Sample snippet:

[code]

[2018-11-28 15:03] michael commented on #918
@Melissa37 @JGilbert-eLife how is aligning to a decimal point done currently? Do you have examples?

[2018-11-28 16:02] michael commented on #535
I tried my best to formalise what has been discussed in this thread. We will send the requirements document by end of week for review (and you can make comments there).

I'm assuming all dates we collect can be represented as an iso-8601-date. This does not include things like `2018/Spring` or `2018/02` etc.

[2018-11-28 16:07] michael commented on #996
@Melissa37 that means we have sufficient fields. Thanks!

Just note, that we don't store inline aff records, they must be linked via xref as done with authors and editors. We need to have all `<contrib>` elements structured exactly the same.

[2018-11-28 16:16] michael commented on #571
We will start working on this in the 2.0 milestone, utilising Citeproc.js. We plan to have initial support for CSL/Citeproc.js in 2.0, but add improvements for the 3.0 milestone.

@JGilbert-eLife can you check if the eLife citation style can be reached using CSL/Citeproc.js?

[2018-11-28 18:33] Integral opened #1051 "Jump on list clicking"
![](http://g.recordit.co/B3EIpQzZo5.gif)
I thought that it is a bug of new block formula, but now I'm sure that it is related to list node type.
As you can see if you click on top border of list the selection will move to the beginning of manuscript body.

[2018-11-29 08:51] Melissa37 commented on #918
https://jats.nlm.nih.gov/archiving/tag-library/1.2d1/attribute/char.html

We'll need to dig out some examples. To follow.
And add to the kitchen sink.

@FAtherden-eLife too.

[2018-11-29 08:55] Melissa37 commented on #996
OK thanks. We'll do some testing make sure that works.

[2018-11-29 09:01] Melissa37 commented on #571
Is this what you mean?
https://www.zotero.org/styles?q=id%3Aelife

[2018-11-29 09:45] michael commented on #1015
@JGilbert-eLife Are DOI's for individual supplementary-material objects still a thing? If I remember correctly you wanted to stop adding individual DOI's for Figures, Tables etc.

[2018-11-29 09:51] JGilbert-eLife commented on #1015
Yep, still a thing. We've not made a final decision on dropping 'sub-DOIs' throughout the article yet.

@Melissa37 for confirmation.

[2018-11-29 09:57] Melissa37 commented on #1015
This is not an easy and quick decision. Sorry! However, I think we can ignore component DOIs at this point and add into phase 2 as necessary. @michael does that work for you?

[2018-11-29 10:01] michael commented on #1015
For articles created in Texture, we have generated ID's for all sub-content anyways. So that would allow you to create URL's that take you to the piece of content.

10.7554/eLife.00666#sdata1

@Melissa37 not a problem adding that DOI field, just wanted to check if it is still a requirement. As it could save some time in production leaving those out and instead use urls that navigate 'into' the Dar

[2018-11-29 10:16] michael commented on #1015
@Melissa37 @JGilbert-eLife Would you support specifying a type (using predefined list of type names). That would allow us to generate the labels automatically. E.g. we could have:

- sourcedata: Dataset or Source Data (CSV, XLS, ...)
- sourcecode: Source Code (text file)
- repstand: Reporting Standards Document (PDF, ...)
- transrepform: Transparent Reporting Form (PDF,...)

Thoughts?

[2018-11-29 10:20] michael commented on #1015
Furthermore we could more tightly include Datasets (if those are CSV files of reasonable size, and  view as a spreadsheet), so they are not 'just attached files'. I'm also thinking of the Embo/SourceData usecases here, where we want accessible source data available per figure panel.

Generally we would love to support additional files on the Dar level. That means you can drop any file on a Dar pro

[2018-11-29 10:51] lpanebr commented on #571
ahhahahaha... We provide services to 40+ journals and I ask that question every day for most of our journals.. Thankfully with time we are able to convince our editors to adopt one of the several international standard citations widely available.

[2018-11-29 11:50] Melissa37 commented on #571
Same here - editorial preferences regarding punctuation and journal abbreviations make it really hard to conform to all the specifics in one style. We tell our authors to give us what they want and we'll sort it out, but people still like to have a style to cling to. It's not about the actual semantics of the information, it's all about the human-reading presentation of that content.

We did not r

[2018-11-29 11:54] #1018 closed

[2018-11-29 11:56] Integral commented on #966
Could I close this issue? Or do we need a references now?

[2018-11-29 12:45] oliver---- opened #1052 "Paragraph continuation"
In some cases, for example for equations aka `<disp-formula>`, it should be possible to achieve in JATS something like `<p>This is a paragraph <disp-formula/> continued after the equation.</p>`.

In Texture, we want to approach this from the aspect of paragraph continuation. I.e. the user would rather say that the paragraph after an equation is the continuation of the paragraph started before, rat

[2018-11-29 12:45] oliver---- commented on #733
We have implemented basic support for `<disp-formula>` via #1042.

Still open is the requirement which we call now 'paragraph continuation' for which we have opened a new issue: #1052

[2018-11-29 12:45] #733 closed

[2018-11-29 13:06] Integral commented on #1051
The same thing if you click between disp quote and figure in our kitchen sink...

[2018-11-29 13:09] Integral commented on #1051
only if there is no paragraph between figure and quote

[2018-11-29 13:14] Integral opened #1053 "Isolated node didn't got selected via keyboard"
E.g. if use keyboard I have no chance to insert paragraph between figures or remove one of them.
I'm jumping between internal fields of figures, look:
![](http://g.recordit.co/SCicXXJmDm.gif)
While I would expect this state as well:
![screen shot 2018-11-29 at 16 11 43](https://user-images.githubusercontent.com/182010/49224194-d326bf80-f3f1-11e8-9a75-19e065c9827c.png)

[2018-11-29 13:18] michael commented on #571
Another sign we need overridable labels. :(  I willl provide that feature, but recommend to use it as little as possible. The automatic label generation is much cheaper and less error prone. And then you can move things around and the labels get updated immediately.

That's not a problem, we can have 2 types and then internally convert it to the shared CSL-type for rendering via Citeproc. What is

[2018-11-29 13:31] oliver---- commented on #1053
During the 1.0 development we decided that 'open' isolated nodes results in a nicer UX than 'closed' ones. You can select a whole node by clicking something which is not editable, e.g. the border, or by using ESC when inside one of the fields.

[2018-11-29 13:31] #1053 closed

[2018-11-29 13:36] oliver---- opened #1054 "Context-sensitive Toolgroups"
This an internal, technical feature.

At the moment, single tools can be context sensitive being only enabled when a specific selection is present. However, we do not have means to show/hide full tool-groups according to the current context.
E.g. The table tool group could be completely hidden when not inside a table.

[2018-11-29 13:52] Melissa37 commented on #918
There's been confusion at our end (in my head really!) and I have found out we don't support this on the website or the current tool. We do have authors asking to change the alignment sometimes, which creates manual processes.
It would be good to have input from the others in the consortium to find out if this is important to them?

[2018-11-29 17:01] michael commented on #1015
@JGilbert-eLife I understand that only internal datasets are stored with the publication (e.g. as CSV). I just wanted to propose to come up with a predefined list of types which we can use for automatic label generation ("Dataset 1", "Source Code 1" etc.). However we have a means to reason about the type of the attached content by providing an explicit type. I'd not restrict what file type to asso

[2018-11-29 17:02] oliver---- commented on #987
@fabiobatalha should issue-title support rich-text or any annotation? or is this plain-text only?

[2018-11-29 17:04] oliver---- commented on #966
This is good for now.

[2018-11-29 17:04] #966 closed

[2018-11-29 17:05] oliver---- commented on #846
Still I think this is not critical for now. Shifting to next milestone.

[2018-11-29 17:11] fabiobatalha commented on #987
@oliver---- Yes, we support this in Érudit Publishing Schema, so it should be available in Texture.

[2018-11-29 17:17] JGilbert-eLife commented on #1015
@michael - OK, that makes sense. Though, to be clear, eLife would not at the moment use the label 'Dataset 1' in any context (other publishers, of course, may!).

It feels like there's be a UX question here - would the user upload a file then select what kind of file it is, or pick the kind of item they want to introduce (e.g. Source data) then attach a file to it?

No strong feelings either way,

[2018-11-29 19:03] fabiobatalha commented on #987
@oliver---- @Integral

Sorry I have just realized that even we want to have rich-text in issue-title, JATS will not allow us to do that.

JATS spec: https://jats.nlm.nih.gov/publishing/tag-library/1.2d2/element/issue-title.html

[2018-11-29 20:56] oliver---- commented on #987
Interesting. As usual JATS green allows more here: https://jats.nlm.nih.gov/archiving/tag-library/1.2d1/element/issue-title.html.
At the moment Texture is based on JATS green. @fabiobatalha what is your opinion about this?

[2018-11-29 21:05] michael commented on #1015
Not at all. Here's an updated requirements description according to your comments. Thoughts?

![image](https://user-images.githubusercontent.com/2931/49251831-b191fc00-f422-11e8-8684-2dea7b03008f.png)

[2018-11-29 21:37] michael commented on #1046
Hi @egortsaryk9!

The short answer is, Texture is not automatically compatible with any JATS/JATS4R documents. To power the editor we need very strict tagging (even stricter than JATS4R). However it is relatively easy to write converters to be able to open general JATS/JATS4R files in Texture, but since there are arbitrary many publisher-specific flavours we leave these tasks to the publishers.

Y

[2018-11-30 14:36] JGilbert-eLife commented on #1015
Related ticket for figure and table specific files: #1016

[2018-11-30 14:56] Melissa37 commented on #560
Sounds fine to me.

But:

We took this from the suggested list on JATS:
![screenshot 2018-11-30 at 14 54 35](https://user-images.githubusercontent.com/6051876/49296344-e5ffc980-f4af-11e8-8731-29efd436e453.png)

https://jats.nlm.nih.gov/archiving/tag-library/1.2d1/attribute/abstract-type.html

eLife Digest - the display name is the eLife custom thing, for attributes like @abstract-type we always tr

[2018-11-30 15:18] JGilbert-eLife commented on #996
So, I think the big stumbling block for storing all `<aff>`s as linked xrefs will be delivering to end-points like PMC. @FAtherden-eLife and I modified an existing article to place the group author member affiliations at the same level as the first author's affiliation and have included the Reviewing editor's affiliation as an xlink-ed `<aff>` within her `<contrib-group> block, like so:

[code]
Th

[2018-11-30 21:43] tamirhassan commented on #1009
The same seems to happen to me as soon as there is a bullet list in the content. What's most worrying is that the saving fails silently without returning an error message, so you might not realize before it's too late and you've lost your work.

[2018-11-30 21:45] tamirhassan opened #1056 "Saving fails silently when document contains bullet lists"
This is possibly related to issue #1009

What's most worrying is that the saving fails silently without returning an error message, so you might not realize before it's too late and you've lost your work.

[2018-12-03 15:51] Melissa37 commented on #996
I have emailed Jeff and Laura at PMC for their input.

I hope it is clear @michael that from the work @JGilbert-eLife and @FAtherden-eLife did, the affiliations are all ```<x-ref>```s as you've requested, but are not in one block, they are still contained within the respective ```<contrib>``` groups otherwise editor, individuals in a group authorship, and reviewer affiliations would be treated wit

[2018-12-03 19:56] fabiobatalha opened #1058 "Footnotes seems not to work properly"
When a footnote is included in the metadata scope it is not possible to write a text on it.

[2018-12-03 20:02] fabiobatalha opened #1059 "Ability to edit author notes and translated author notes"
JATS Spec: https://jats.nlm.nih.gov/publishing/tag-library/1.1/element/notes.html

[2018-12-03 20:05] fabiobatalha opened #1060 "Ability to support footnotes translations"

[2018-12-03 20:17] fabiobatalha opened #1061 "Ability to create definition lists"
Definition lists should be used to

## User Stories

### Author
-

### Production staff
- As Production staff, I want to be able to edit a definition list to fix any errors that were not identified in previous production steps
- As a Production staff, I want to be able to copy and paste a definition list from one place to another in the document, to fix any positioning error
- As a Production staf

[2018-12-04 07:56] oliver---- commented on #556
@michael I am not feeling confident about the encoding proposed here.

`<table-wrap-foot>` as specified in JATS allows for some more information.
Some of them are redundant to what is possible in `<table-wrap>`: `<attrib>` and `<permission>`
Beyond that, `t-w-f` allows for a sequence of `<p>`s and footnotes can either be grouped or flat. It could even have a title (?).

Could you please come up wi

[2018-12-04 09:43] oliver---- commented on #970
Solved via #1062

[2018-12-04 10:01] oliver---- opened #1063 "Can not add inline-graphics to a table-cell"
While the particular tool in the menu is enabled, and it is valid to insert an inline-graphic inside a table-cell, nothing happens when doing so:

![texture-bug-inline-graphic-in-table-cell](https://user-images.githubusercontent.com/284099/49434224-fd8ec900-f7b3-11e8-92dd-44ee22d59a5d.gif)

[2018-12-04 14:01] oliver---- opened #1064 "Internal: derive 'context' from current selection"
While we implicitly have do something similar already, we want to use this concept in a wider more defined sense.

Examples:
- parts of the toolbar should only be visible when inside a table (in general, contextual tools, toolbars, menus etc.
- footnotes inside a table cell are restricted to the table's (local) footnotes

We should come up with a list of such contexts, which would also  be used as

[2018-12-04 16:15] fabiobatalha opened #1065 "inline-graphic resizing images"
What is the ideal approach to produce images to be used in inline-graphics?

It seems Texture is resizing the images while rendering it in the editor. It makes difficult to see the images inserted in the text.

[2018-12-04 16:18] oliver---- commented on #1065
@fabiobatalha Image size is a good general question which we should think about. What would be your requirements here in general?

In the case of inline-graphics I remember @Integral mentioned something about a max-height currently, to avoid an inline image stretching to wide in height. However I guess we should disable this 'hack' and instead come-up with an idea for controlling the size.

[2018-12-04 16:42] Integral commented on #1065
Yes, currently height restricted to font size to avoid changing of line
height.

On Tue, 4 Dec 2018, 19:18 Oliver Buchtala <notifications@github.com wrote:

[2018-12-04 16:44] fabiobatalha commented on #1065
@oliver---- Yes it is a trick issue.

The following image should illustrate what I'm talking about, and it seems to be related to the max-height (hack).

    In the paragraph L'agglomération autor.....

There is an inline-graph with the image ![x](https://user-images.githubusercontent.com/504142/49457756-63ca1a80-f7b9-11e8-9c27-7c35a6958752.png)

I put two versions of the same image:

* The origin

[2018-12-04 16:52] oliver---- commented on #1065
Just looked at the JATS spec. There seems to be no way to store desired height and width.

Thus, the only way I see so far is controlling the size via the image file itself. @fabiobatalha do you have a different idea?

@Integral we should remove the height restriction, and leave the problem to the image owner :)

[2018-12-04 16:54] oliver---- commented on #1065
I noticed that there is a baseline-shift attribute on inline-grahic. @fabiobatalha could this help somehow?

[2018-12-04 17:12] fabiobatalha commented on #1065
@oliver---- I'm not sure how it can help.

I would say:
* The images should be displayed in their original size.
* This size should be controlled by the person who is editing the text.
* Texture should allow a minimum top and bottom overlap between one line and another while dealing with inline-graphics (I don't know how to do this)
  * maybe inline-graph should be (vertical-align: middle;)

[2018-12-04 17:14] oliver---- commented on #1065
Fine with your suggestion.
The baseline-shift can be used to add certain vertical displacement. But not the size.

[2018-12-04 17:27] obuchtala opened #1067 "Ability to adjust vertical alignment of inline-graphics"
JATS has an attribute for `<inline-graphic>` call @baseline-shift: see https://jats.nlm.nih.gov/archiving/tag-library/1.2d1/attribute/baseline-shift.html

[2018-12-04 19:28] Integral opened #1068 "Affiliations renderer and selector are broken"
<img width="765" alt="screen shot 2018-12-04 at 22 24 04" src="https://user-images.githubusercontent.com/182010/49467577-d831a780-f813-11e8-9ed1-064099c7f037.png">

[2018-12-05 07:39] oliver---- opened #1069 "Enhance display of TableFigures"
Table figures become more and more complex.

As a recent screenshot shows, now it is not clear anymore, which part represents what.

![image](https://user-images.githubusercontent.com/284099/49497457-c1697000-f868-11e8-8230-8d385d06a79d.png)

I'd suggest to add labels, as we have for the blocks in the manuscripts.

[2018-12-05 07:40] oliver---- commented on #1069
@michael could you develop an idea how to improve this?

[2018-12-05 10:15] oliver---- opened #1070 "Not a real issue"

[2018-12-05 10:15] oliver---- commented on #1070
@michael this is a test ping

[2018-12-05 10:23] oliver---- commented on #1070
@michael another ping

[2018-12-05 11:27] YSZYCF opened #1071 "Can you give me some suggestion? How to convert the documents to PDF"

[2018-12-05 11:29] oliver---- opened #1072 "Improve styles for tables in meta-data view"
See this comment: https://github.com/substance/texture/pull/1057#issuecomment-444439889

[2018-12-05 12:34] oliver---- commented on #1063
Fixed via https://github.com/substance/texture/commit/c19a341b7dda8e6a82e58b974c036305cfda4883

[2018-12-05 12:34] #1063 closed

[2018-12-05 12:37] oliver---- commented on #1058
This is how it looks like in the current version.

![texture-insert-footnote](https://user-images.githubusercontent.com/284099/49513955-deb33400-f892-11e8-93c7-bc0a55d53e2a.gif)

[2018-12-05 12:37] oliver---- commented on #1058
Closing this, assuming that the issue has been resolved.

[2018-12-05 12:37] #1058 closed

[2018-12-05 12:45] oliver---- commented on #912
Fixed via https://github.com/substance/texture/commit/64860304b46f5df232771efb81ddc059f934d298

[2018-12-05 12:45] #912 closed

[2018-12-05 13:10] oliver---- commented on #619
Fixed via https://github.com/substance/texture/commit/957cc6114a069727f41fb4145e1b0cc17f674cdd

[2018-12-05 13:10] #619 closed

[2018-12-05 13:11] oliver---- commented on #619
@soarecostin Thank you. Your report was very helpful.

[2018-12-05 13:35] #1070 closed

[2018-12-05 13:40] oliver---- opened #1073 "Add Affiliation is broken"
![image](https://user-images.githubusercontent.com/284099/49517093-951b1700-f89b-11e8-903c-9355a22e9828.png)

![image](https://user-images.githubusercontent.com/284099/49517117-ab28d780-f89b-11e8-81a0-9f6bfc486834.png)

[2018-12-05 15:16] fabiobatalha opened #1074 "Ability to include contrib-id other then ORCID"
There are several authority databases available to identify authors.

At this moment Texture allows to include only ORCID ids.

In Érudit we have some journals that relies on ISNI.

Texture should be able to handler more then on "contrib-id" allowing the user to identify the @contrib-id-type.

[2018-12-05 17:59] fabiobatalha opened #1075 "Ability to deal with footnote groups"
The article has a group of footnotes for the author, editor and translator.

Example of use case: https://www.erudit.org/fr/revues/rssi/2013-v33-n1-2-3-rssi02379/1035294ar/

[2018-12-07 06:09] oliver---- commented on #556
This has been done via #1057

[2018-12-07 06:11] oliver---- commented on #1064
As a first step towards this, we now derive something similar to the xpath of the currently selected element (in terms of our internal model).

[2018-12-07 06:13] oliver---- commented on #935
Almost done. Only for the title it is still missing.

[2018-12-07 06:14] #970 closed

[2018-12-07 06:45] obuchtala opened #1076 "Internal: make internal schema for <title> consistent with TextureArticle"
1. title is not used consistently in the internal model
2. it is not consistent with the XML schema

We should restrict the XML schema, and use title consistently in the internal model.

In Texture JATS `<title>` looks like this at the moment:
[code]

In our internal model we support only a subset.

[2018-12-07 06:50] oliver---- commented on #935
Solved via #1077

[2018-12-07 06:51] #935 closed

[2018-12-07 06:54] oliver---- opened #1078 "Internal: Make kitchen-sink complete"
There is a lot of valid input which is not reflected.
In addition to complementing the kitchen-sink, we should add restrictions to TextureArticle.rng, where we haven't done this yet.

[2018-12-07 08:58] #1073 closed

[2018-12-07 09:01] oliver---- commented on #1040
Confirmed.

[2018-12-07 09:04] oliver---- commented on #1040
I will add 'Undo' to all tests for adding entities. This way we should be able to cover this.

[2018-12-07 11:44] #1040 closed

[2018-12-07 11:51] oliver---- commented on #881
Closing this. As the decision is final for me. No fancy updates. This is not needed often, so better to implement this canonically.

[2018-12-07 11:51] #881 closed

[2018-12-08 08:41] #877 closed

[2018-12-10 09:26] oliver---- opened #1082 "Metadata View: focus field of table footnote when creating new"
Probably this related to a wrong surfaceId.

[2018-12-10 12:55] Melissa37 commented on #996
Message from Laura Randall (PMC):

I think the route of using the <xref> element to link contributors to the affiliations is a solid method that should provide what you need in most cases. Since PMC, as a rule, only generates text in a very select number of cases, including the number in the <xref> is an unfortunate necessity—if you’re concerned with PMC display.
Personally, when wearing my “what’

[2018-12-10 13:22] obuchtala opened #1083 "Omit ids for elements that can be identified by their context"
ATM, we generate a lot of ids, where some of them are not necessary, because the element is uniquely identified by the context. Beyond that, Texture uses ids internally very extensively to 'route' changes to the correct place in the document. When loading or generating JATS, some of the ids could be omitted.

Example:
[code]
For most elements inside a `<fig>` we could omit the id (label, title, gr

[2018-12-10 13:30] michael commented on #996
@Melissa37 We would like to stick with the global affs in the Dar source format, as it is the most generic representation. E.g. it allows to share an aff record between an author and an editor.

Regarding PMC: I understand this is important but I'd suggest to rather develop a `Dar -> PMC` converter, then we get the freedom to define our model after best engineering practices (reducing redundancy a

[2018-12-10 13:42] JGilbert-eLife commented on #1083
@oliver---- Can you elaborate on why you'd need to retain the id of the paragraph element? In eLife JATS XML and other examples I've seen, `<p>` always exists without an id attribute even when there are many of them present in a section or caption.

Thanks,

James

[2018-12-10 13:59] oliver---- commented on #1083
Yeah, then we can drop a lot of these ids.

[2018-12-10 15:49] Melissa37 commented on #996
Can we talk about it in more detail so we can get a better understanding of what you mean?
We cannot risk affiliations of non-authors somehow getting mixed with those of authors in our output from Texture (it's not a PMC requirement but a basic XML requirement we and many publishers would share with PMC). That's why we thought it was a good compromise on our part that all affiliations could be xre

[2018-12-11 06:25] oliver---- opened #1085 "Change terminology from figure 'caption' to 'legend'"
I have noticed that we are using the term figure 'caption' probably not correctly. It would be more common to name the fields in a Figure 'label', 'title', and 'legend'.

[2018-12-11 10:12] JGilbert-eLife commented on #1085
The `<caption>` element in JATS captures the combined title (`<title>`) and legend (One or more `<p>` following `<title>`). It does not contain `<label>` which is applied outside `<caption>` as a direct child of the object being labelled e.g. `<fig>`.

Therefore it's more accurate to say that a figure would have a label and a caption, with the caption being the composite of the title and legend.

[2018-12-11 10:15] oliver---- commented on #1085
Just don't want to use confuse with using terms incorrectly.
After what you said, it would still be better to name fields 'label', 'title', and 'legend'.
Correct?

[2018-12-11 10:18] JGilbert-eLife commented on #1085
Absolutely, and apologies for not being so succinct!

[2018-12-11 10:19] oliver---- commented on #1085
Thanks! 😄

[2018-12-11 11:06] oliver---- opened #1086 "Internal: use Model API consistently"
Some months ago we have introduced a so called Model API as an abstraction of the low-level Document API. This transition is not done completely, so we find a mixture of concepts.

I want to come up with a guide-line and design patterns, how to specify Models, and how to map them to the lower level. Then I would like to tidy up the current implementation so that it is idiomatic.

[2018-12-11 18:35] michael commented on #974
Will be covered by sub-figures requirement. Closing.

[2018-12-11 18:35] #974 closed

[2018-12-12 23:21] michael commented on #1009
We will make sure this is resolved with the upcoming 2.0 release.

@Integral can you try to reproduce this problem and work on a fix?

[2018-12-13 08:49] Integral commented on #1009
I think so!

On Thu, 13 Dec 2018, 00:21 Michael Aufreiter <notifications@github.com
wrote:

[2018-12-18 19:59] jobdiogenes opened #1088 "Kitchen-sink error when open"
I download Texture AppImage Linux,
download the kitchen-sink demo files.
create a zip with all kitchen-sink files , change extension to .dar
and open in Texture.
After open I receive these errors:
-------------

Importing JATS
Validate JATS
<tex-math> is incomplete. Schema: TEXT
<tex-math>
  <![CDATA[
1+\frac{q^2}{(1-q)}+\frac{q^6}{(1-q)(1-q^2)}+\cdots=
\prod_{j=0}^{\infty}\frac{1}{(1-q^{5j+2})(1-

[2018-12-20 16:58] jalperin commented on #571
Whatever a journal's preferences are, I think supporting CSL styling is the only sensible thing to do. There are some basic labeling options that the Zotero and Mendeley plugins for Word provide. These include:
- suppress author (just include year)
- prefixes (free text form, to include things like: "i.e., "; "e.g."; "see also")
- suffix (free text form)
- page numbering (this can almost always al

[2019-01-08 15:11] fabiobatalha opened #1091 "Support for translated bio notes"
Some authors provide their bio notes in multiple languages. Texture should support the tagging of the translated bio notes.

[code]

[2019-01-16 06:59] oliver---- commented on #1086
I have done a greater refactor, going back to a pure Substance Data model, and introducing a new framework that works with 'Values'.

[2019-01-16 06:59] #1086 closed

[2019-01-16 07:23] #1076 closed, assigned to nobody

[2019-01-16 07:34] oliver---- commented on #1068
Fixed.

[2019-01-16 07:34] #1068 closed

[2019-01-16 07:34] oliver---- commented on #1069
We do have labels now.

[2019-01-16 07:34] #1069 closed

[2019-01-16 07:36] oliver---- commented on #925
@michael these needs a clear description of how affiliations should be rendered

[2019-01-16 07:37] oliver---- commented on #421
The solution is not to change the schema, but to fix the prettyPrinter

[2019-01-16 07:44] oliver---- commented on #432
Regarding rendering, we might want to move to using Citeproc at some point. Don't know yet how e.g. elocation-id is considered there.

[2019-01-16 07:49] oliver---- commented on #1012
We have added support for sub-figures. What is missing to achieve 'figure supplements' is a means to tag a sub-figure as being 'supplementary' and a label generator, that takes this into account and produce something like 'Figure 1-figure supplement 2'.

[2019-01-16 07:59] oliver---- commented on #987
Done.

[2019-01-16 07:59] #987 closed

[2019-01-16 08:00] oliver---- commented on #985
A first iteration has been done via https://github.com/substance/texture/pull/1097

[2019-01-16 08:00] #985 closed

[2019-01-16 08:04] oliver---- opened #1099 "Corresponding Authors must have an email"
Texture should treat the email field as mandatory if an author is tagged as corresponding author.

[2019-01-16 16:42] dalapeyre commented on #1012
I thought we had agreed that these were just sub-figures
in a <fig-group> with either a @content-type or a
@specific-use of “supplement" on  each individual figure.

Figures can take labels, either
  'Figure 1-figure supplement 2’
or just

if you expect figure numbers to be autogenerated.
The rules are different it type =“supplement”

Doesn't this work?

—Debbie

==================================

[2019-01-19 19:09] Integral commented on #1072
Somehow tables are looking quite ok now:
![screen shot 2019-01-19 at 22 08 00](https://user-images.githubusercontent.com/182010/51431223-e3f7f280-1c36-11e9-904c-df2c6333a4cd.png)

So I will close this issue.

[2019-01-19 19:09] #1072 closed

[2019-01-21 04:02] hyglac opened #1101 "Deployment of .dar files"
Texture would be great as a tool for production editors like myself. I could quickly and cleanly transition a paper from Word to JATS XML. However, after reading the documentation and checking out OTS, it is still unclear for me how I would deploy a .dar file online within OJS platform, for instance.

Can anybody please help me with this?

[2019-01-21 08:39] michael commented on #1101
Hi! A Dar archive is essentially a folder that includes the JATS XML files + all assets, as well as a manifest file. So OJS would need to allow access to those files in their Texture integration.

[2019-01-21 11:32] #1065 closed

[2019-01-21 12:17] michael commented on #1099
Tracked in requirements document. Closing.

[2019-01-21 12:17] #1099 closed

[2019-01-21 12:20] michael commented on #1071
PDF export will be covered by external tools, and is out of scope for the Texture editor.

[2019-01-21 12:20] #1071 closed

[2019-01-21 12:30] #1012 closed, assigned to nobody

[2019-01-21 12:35] michael commented on #1002
Tracked in requirements document.

[2019-01-21 12:35] #1002 closed

[2019-01-21 12:36] michael commented on #996
Covered in requirements document. Working on a proposal.

[2019-01-21 12:36] #996 closed

[2019-01-21 12:38] michael commented on #1007
See Keywords feature in requirements document. Closing.

[2019-01-21 12:38] #1007 closed

[2019-01-21 12:56] michael opened #1102 "Gene sequences"
In JATS named content is used currently to identify field sequences (needs spec, provide examples).

@Melissa37 is this high priority, can you provide examples?

[2019-01-21 12:58] michael opened #1103 "Related articles"
needs spec, provide examples, could this information be generated instead of entered in Texture (e.g. maintained in xPub/OJS) to avoid redundancy?

@Melissa37 is this a high priority?

[2019-01-21 13:07] michael commented on #626
Tracked in requirements document. Closing.

[2019-01-21 13:08] michael commented on #918
Tracked in requirements document. Closing.

[2019-01-21 13:08] #918 closed

[2019-01-21 13:12] michael commented on #972
Tracked in requirements document.

[2019-01-21 13:12] #972 closed

[2019-01-21 13:14] michael commented on #954
Tracked in requirements document.

[2019-01-21 13:14] #954 closed

[2019-01-21 13:16] michael commented on #360
Tracked in requirements document.

[2019-01-21 13:16] #360 closed

[2019-01-21 13:17] michael commented on #850
Covered in latest contributors proposal.

[2019-01-21 13:18] michael commented on #571
See citation styles feature in requirements document. Closing.

[2019-01-21 13:18] #571 closed

[2019-01-21 13:22] michael commented on #557
Tracked in requirements document.

[2019-01-21 13:22] #557 closed

[2019-01-21 14:05] alimohammadi92 opened #1104 "pure xml from texture"
I want to know if it is possible to get pure XML in texture as output not DAR format?

[2019-01-21 16:30] JGilbert-eLife commented on #1103
Just jumping in in @Melissa37's absence: this is a fairly high priority as we require it for publication. It cannot be simply generated as we are often required to add/remove or otherwise change article linking during production.

None or more `<related-article>` elements are allowed within `<article-meta>`. These are the current eLife allowed related article type values:

Research to Research (or

[2019-01-21 16:54] #690 closed

[2019-01-21 17:05] michael commented on #1104
You can simply rename a .dar to .zip and extract the contents.

[2019-01-21 17:05] #1104 closed

[2019-01-21 23:54] oliver---- opened #1106 "Regression: cut and paste of partial lists is broken"
Add a revealing test and fix the regression.

[2019-01-22 09:06] #1101 closed

[2019-01-22 10:02] Melissa37 commented on #1102
@michael we cannot go live without it. We don't know what papers will have gene sequences in them in advance of entering production, so we'd struggle to triage out papers in a phased launch.

The solution is very eLife specific, so I think a wider discussion would be useful, maybe with the JATS list/PMC? This tagging means our long genes do not fall off the webpage on the eLife site. I am not sure

[2019-01-22 12:07] FAtherden-eLife commented on #1102
@michael we use `<named-content content-type="sequence">` elements. We tend to only do it in the main flow of text - these sequences can occur in tables but, since this is only used for rendering purposes, it's typically not necessary to tag them.

#### Simple example in paragraph
This:
`<p>... (forward primer, <italic>Ov-</italic>GRN<italic>-</italic>1-RT-F: 5&#x0027;-GGGATCGGTTAGTCTAATCTCC and r

[2019-01-22 12:16] michael commented on #1102
Thank you Fred, that's very helpful. I think a "Concepts" tagging feature in Texture could address this. I'd like to move a way from things like `author-callout-style-a3` and instead use a defined list of concept types that can be configured per publisher. If colours are really important, I'd add these to the configuration. Still I'd try to avoid colours in the editor as that's pretty arbitrary, y

[2019-01-22 12:34] FAtherden-eLife commented on #1102
Thanks @michael - I (personally) agree regarding the colours - I think we should be moving away from allowing colours in text and instead, rely on on other formatting (italic, bold underline etc.) for emphasis if it's needed. @Melissa37 would you agree? Are there any editorial implications in forcing authors to use other means of emphasis?

We (eLife) don't make a distinction for the different typ

[2019-01-22 12:53] michael commented on #1102
If the typing is not needed it could wait and we just define things as a "concept". Later if required one could optionally choose a type (e.g. gene sequence).

Can you point me to an article, where you have gene sequences so I can inspect the markup and style?

[2019-01-22 13:03] FAtherden-eLife commented on #1102
Sure, [this one](https://elifesciences.org/articles/41771/#s4-2) has sequences with all different kinds of formatting.

[This one](https://elifesciences.org/articles/42078#s4-1) is more typical of how they appear (inside a paragraph and with no emphasis).

Thanks

[2019-01-22 13:18] Melissa37 commented on #1102
Yes I agree, I am adding this to the eLife trello board for Production process to do - I need to discuss and agree with the planning team

@michael can you show us what you mean? Is it that there are concepts which are free-form, and then publishers define them and it outputs as required in their XML?

[2019-01-22 13:39] oliver---- commented on #1102
@michael I think it would be cleaner to use the @vocab attributes to specify the concept. For Gene Sequences it could be @vocab-term-identifier='gene-sequence'. If there was an existing vocabulary for such concepts we could use it.

[2019-01-22 13:43] michael commented on #1102
Yeah we could consider that, and I checked those attributes too. Just wasn't sure if we want to go that far already. If we used the vocab attributes I'd expect to really link with an item in the database. While when we say this is a concept of category x, we are way less specific and it could be a first step before we introduce entity tagging that points to real resources in databases.

[2019-01-22 13:48] oliver---- commented on #1102
Just to make clear, why I am against using @specific-use -- from the JATS documentation:

https://jats.nlm.nih.gov/archiving/tag-library/1.2d1/attribute/specific-use.html

Now only the question, how bad is it to use @vocab-term without specifying a real @vocab.

[2019-01-22 13:51] michael commented on #1102
Fair point, I think the semantic tagging use-cases must be discussed more before we act. So I suggest different phases. First phase are untyped concepts, to support a MVP for eLife, second phase would involve vocab-linking (to be further discussed).

I've added a section in the requirements document:

https://docs.google.com/document/d/1ZOjKrQZOndU9G12bVaXmFt56aWRW4kJSDjaMjcxSHSc/edit#heading=h.vq

[2019-01-22 13:55] michael commented on #555
Closing this in favour of #1102.

[2019-01-22 13:55] #555 closed

[2019-01-22 13:59] oliver---- opened #1107 "Internal: provide a better solution for empty containers"
ATM, there is no way to e.g. create the first paragraph.
Usually we avoid this, by initialising a container (e.g. body) with an empty paragraph.
But we still should a provide a way out if this situation.

[2019-01-22 14:03] obuchtala opened #1108 "Regression: new table has no paragraph in legend"
- add test revealing the problem
- fix this by adapting `TableFigure.getTemplate()`

[2019-01-22 14:48] michael opened #1109 "Create new article footnote should set the cursor"

[2019-01-22 15:00] oliver---- commented on #1109
This is working on master.

[2019-01-22 15:00] #1109 closed

[2019-01-23 12:09] Melissa37 commented on #1102
Hi there

I am liking this! However, I would like to check in with the JATS community about it. Could you send an email to the JATS listserve with your proposal or ask Debbie?

It makes sense to have their experience weigh in on this too.

Melissa

[2019-01-23 15:47] michael commented on #1102
Debbie is pinged! :)

[2019-01-24 06:02] #1108 closed, assigned to nobody

[2019-01-24 06:03] oliver---- opened #1111 "Internal: undo of a structural table change does not trigger rerendering"

[2019-01-28 04:10] oliver---- opened #1113 "Internal: add test for ReferenceUpload and DOIImport"
- [x] test general functionality
- [x] `DOIInputComponent.js` should be test covered
- [x] `ReferenceUploadComponent.js` should be test covered
- [x] `BibConversion.js` should be test covered
- [x] `QueryComponent.js` should be test covered

[2019-01-28 04:10] oliver---- opened #1114 "Internal: add test for AbstractScrollPane"

[2019-01-28 04:24] oliver---- opened #1115 "Internal: add tests for FileUploadComponent"
ATM error handling and file-dropping is not tested.

[2019-01-28 10:41] michael commented on #968
Just tracked unnumbered tables in the req doc.

@Melissa37 @JGilbert-eLife can you answer the following questions?

- Do such tables allow title+caption?
- We would like to avoid inline (in-flow tables) as we don't support inline figures, that ok?
- PROPOSAL: Add "hide label" functionality to regular tables, that removes the label and moves it out of the numbered sequence of table labels. To achie

[2019-01-28 10:45] oliver---- commented on #968
@michael don't forget, that 'block-level graphics' are requested -- if that is what you mean with 'inline figures' .

[2019-01-28 10:53] michael commented on #968
@oliver---- yeah, they are tracked here, but good time to review.

https://docs.google.com/document/d/1ZOjKrQZOndU9G12bVaXmFt56aWRW4kJSDjaMjcxSHSc/edit#heading=h.4u40zuqovdu

[2019-01-28 11:12] oliver---- commented on #968
I'd also suggest that we find a common terminology, because unfortunately the term 'inline' is used inconsistently. JATS seems to distinguish 'inline' vs 'display'.
**inline** seems to mean that it is used like a character in text, such as `inline-graphic` and `inline-formula`. **display** seems to mean that it is an element in the flow of the body, such as `disp-formula` and `disp-quote`.

Follow

[2019-01-28 18:20] helenum commented on #963
I endorse this proposal :)

[2019-01-28 18:23] helenum commented on #979
This is also happening with languages for keywords.

[2019-01-28 18:45] michael commented on #963
We have recently discussed the option of implementing multiple-language articles as separate documents. So that you start with an original document (say english), a "translate" action would create a copy of the document and set a language property (e.g. spanish). Now as a translator you would just rewrite the sections you want to translate. For the others you keep the original text.

Pro:
- we wou

[2019-01-28 18:46] michael commented on #979
@helenum new release will have those problems addressed (ready end of Feb).

[2019-01-28 18:47] helenum commented on #979
Many thanks :)

HES

___________________
Helena Espírito Santo, Professora Auxiliar
Coordenadora, Departamento de Investigação & Desenvolvimento do ISMT <http://diinews.ismt.pt/>
Editora-chefe, Revista Portuguesa de Investigação Comportamental e Social <http://rpics.ismt.pt/index.php/ISMT/index>
Consultora, Gabinete de Apoio Psicológico do ISMT <http://helenum.ismt.pt/GAPSI1/Quem_somos.html>
Profe

[2019-01-28 19:01] oliver---- commented on #1107
A placeholder could be displayed. When clicked on the placeholder, the default node for the container would be inserted.

[2019-01-29 01:02] cccaballero commented on #963
Hi, in my opinion (and in the Latin American context), the main issue with the proposed approach is that repositories or databases like SciELO or Redalic are expecting translated JATS, mostly for metadata like title, keywords and abstract, so this approach will make texture useless for exporting content to those databases.

[2019-01-29 04:39] oliver---- commented on #963
I want to emphasize and correct, that the idea we have discussed was about using `<sub-article>` in a way it is  explained in the JATS spec: https://jats.nlm.nih.gov/archiving/tag-library/1.1/element/sub-article.html

I.e. every language gets its own sub-article, and can 'override' as much as needed, even only front matter stuff such as title, sub-titles, abstracts, keywords, subjects etc. but pot

[2019-01-29 06:15] oliver---- opened #1118 "Improve style for selections in figure legend."
ATM, we render a blue rectangle when the legend is focused. If there is a supplementary file in the legend, this does not look nice:
![image](https://user-images.githubusercontent.com/284099/51887925-a3fee100-2395-11e9-803c-90a170c71a57.png)

[2019-01-29 11:00] Melissa37 commented on #968
@michael this is a big issue we need to dig into a lot more. James and Fred are looking into our archive and considering our position

[2019-01-29 12:09] michael opened #1120 "Open image in new tab"
Implement a contextual tool that openes the currently selected sub-figure in a new tab.

This is needed to fully inspect a large image, which is too small when shown in the document flow.

[2019-01-29 12:14] michael opened #1121 "Implement more minimal navigation for sub-figures"
The thumbnails are eating space and cause edge cases (e.g. we need a carousel with size measuring etc.), so we need a more scalable solution. Here it is:

![image](https://user-images.githubusercontent.com/2931/51907660-c3166680-23c7-11e9-84d4-4c74b94e00db.png)

@Integral can you implement this?

[2019-01-29 12:25] michael opened #1122 "Electron bundle for Texture 2"
We should prepare new bundling.

- [ ] Evaluate and use latest electron
- [ ] Update electron-builder
- [ ] Check the issues with file saving (see #1009)

[2019-01-29 12:28] michael opened #1123 "Dar Templates for desktop app"
Since we now have two different document types, we need to specify templates and allow to create new documents based on them.

File > New > Article
File > New > Figure Package

[2019-01-29 12:47] michael commented on #1016
We had discussed exactly this topic today with SourceData as we also supported supplementary files inside figure captions. However we came to the conclusion that it's much more elegant to have all supp materials in the main text, but reference them from the figure caption, to tie them together. Another reason is that JATS does not allow supplementary-material inside captions, only through the back

[2019-01-29 12:50] michael commented on #1121
@Melissa37 this is for finishing the current iteration with SourceData. It shows the UI for the authoring view, not for the QC view / author proofing where we have all sub-figures expanded.

[2019-01-29 12:57] michael opened #1124 "Create and cite workflow"
Currently you need to create the target first, and then reference it with a cross reference. That’s confusing for some people and not ideal for authoring. We propose the following workflow:

Insert > Cross Reference creates a an untyped cross reference (???) and opens the edit dialog. Now you can select from all available targets (of different types). You can filter the targets by typing in the se

[2019-01-29 14:12] oliver---- commented on #1085
Done.

[2019-01-29 14:12] #1085 closed

[2019-01-29 14:15] oliver---- commented on #1015
Done.

[2019-01-29 14:15] #1015 closed

[2019-01-29 19:55] gustavofonseca commented on #963
So, for instance, a translated abstract would be placed inside a sub-article, instead of in `article/front/article-meta/trans-abstract`, even if it is the only piece of translated data?

Maybe I'm ignoring something, but at first it sounds like a very elegant solution.

[2019-01-29 21:33] oliver---- commented on #963
Correct. Obviously, for this example the proposal sounds a bit like taking a sledgehammer to crack a nut. But to us it seems utterly consistent across all use-cases for translations.

[2019-01-30 01:43] hyglac opened #1126 "Error saving documents on desktop app (macOS 10.14.2)"
Hi, I want to report the following error; I'm not sure whether you're aware of it. Basically, it doesn't save changes and I have to exit Texture without edits made. Also, footnotes are not created.

Uncaught Exception:
Error: Object has been destroyed
    at EventEmitter.ipcMain.once (/Applications/Texture.app/Contents/Resources/app/main.js:148:20)
    at Object.onceWrapper (events.js:315:30)

[2019-01-30 07:48] oliver---- commented on #1121
Done via #1125

[2019-01-30 07:48] #1121 closed

[2019-01-30 07:49] oliver---- commented on #1120
Done via #1125

[2019-01-30 07:49] #1120 closed

[2019-01-30 07:56] oliver---- commented on #925
This is duplicate of #981

[2019-01-30 07:56] #925 closed

[2019-01-30 08:17] #943 closed

[2019-01-30 08:17] oliver---- commented on #808
Done via #1127

[2019-01-30 08:43] oliver---- opened #1128 "Internal: placeholder for block-quote not displayed"

[2019-01-30 08:46] oliver---- commented on #421
Done via #1127

[2019-01-30 08:46] #421 closed

[2019-01-30 08:57] oliver---- commented on #1128
Done via #1127

[2019-01-30 08:57] #1128 closed

[2019-01-30 09:02] oliver---- commented on #1082
This is working as expected now.

[2019-01-30 09:02] #1082 closed

[2019-01-30 09:05] oliver---- commented on #961
The problem is caused by `draggable=true`.
IMO, we should make this feature rather opt-in and not default.
Otherwise it is a wont-fix, being a Chrome 'bug'

[2019-01-30 09:32] oliver---- commented on #961
This is has been fixed in substance land: https://github.com/substance/substance/pull/1258

[2019-01-30 09:32] #961 closed

[2019-01-30 09:57] oliver---- commented on #1126
Thanks!

We are currently about to work on the next release. And we will take a look at this.

[2019-01-30 17:41] jobdiogenes commented on #1124
Yes, would be nice to have a better interface to References.
At now for example, when you choose import, you don't know what format are accept.
I guess at first time to use bibtex, which is one of most used and has many features, but.
from my tests, bibtex its not accept and does not show error message.
Really important to give feedback for this kind of action.

Import bibtex files its a must have

[2019-02-01 05:46] oliver---- commented on #1123
@Integral you can move on

[2019-02-01 21:04] mark-donoghue commented on #1102
Received your post to the JATS mailing list.

@vocab seems to be the way to go.

https://jats.nlm.nih.gov/articleauthoring/tag-library/1.2d2/attribute/vocab.html

This is a possible tagging of your example above:

[code]

@vocab is uncontrolled so it can contain anything meaningful to your application.

[2019-02-01 23:26] helenum opened #1131 "OJS 3 upload .dar Files"
Thanks for Texture, it is very easy to use for lacking coding abilities editors like me.
I made the first .dar paper, but I do not see where I should upload the archive within the OJS 3 platform.
I have read the answer by @michael at https://github.com/substance/texture/issues/1101
But I do not understand what to do with the "OJS would need to allow access to those files in their Texture integrati

[2019-02-03 06:45] oliver---- commented on #1102
@mark-donoghue very helpful, thanks!

[2019-02-03 06:57] oliver---- opened #1132 "Improve 'Download File' in desktop app."
ATM this opens a link in the same window. This makes the app unusable afterwards.
We should discuss if we need this feature for the desktop app at all, and if so, then we need an explicit mechanism opening a file dialog similar to 'Save as'.

[2019-02-03 06:59] oliver---- commented on #1132
IMO, we should implement the file-dialog mechanism. Even if we decided to disable the save file command in electron, we would probably want something for a future DAR browser.

[2019-02-03 07:02] oliver---- commented on #1132
@Integral what was the reason why you disabled this for electron in first place? https://github.com/substance/texture/blob/master/src/article/editor/DownloadSupplementaryFileTool.js#L12

[2019-02-03 07:03] #1123 closed

[2019-02-03 07:05] oliver---- opened #1133 "Desktop App should show 'Texture' as application name"
![image](https://user-images.githubusercontent.com/284099/52173748-7bf2f180-278a-11e9-9cf5-dee7d2d9b039.png)

[2019-02-03 11:35] Integral commented on #1133
@oliver---- are you running desktop app through electron cli? Do we want to cover this case? Because I believe that if you install it you'll see this picture:
<img width="445" alt="screen shot 2019-02-03 at 14 35 19" src="https://user-images.githubusercontent.com/182010/52176237-f5a5d200-27c0-11e9-9459-9a996350089a.png">

[2019-02-03 12:01] Integral commented on #1132
@oliver---- Can I ask you to provide more details regarding application unusability after downloading supplementary file? Is there any error, if so what build did you used, in what OS?
I see that file got downloaded in macOS High Sierra and the app is working afterwards. Still there is a big problem that you have no chance to understand that file got downloaded. True, I introduced this exception f

[2019-02-03 14:19] oliver---- commented on #1133
Of course! Sorry, me stupid.

[2019-02-03 14:19] #1133 closed

[2019-02-03 17:12] Integral commented on #1132
@oliver---- thanks for gif!
Can I ask you what branch did you use? Perhaps you can attach a dar file?
Because I don't have this problem with mac os:
![](http://g.recordit.co/GFdHa68wKH.gif)
I not even sure that new window will solve the problem for you. So as a first step I think we should try to understand what's going on.
I also found a problem with attached image as supplementary file. It's not

[2019-02-03 17:16] oliver---- commented on #1132
Yes, opening tab is not a solution, but doing in the same tab is worse.

I am on master. Also for me it's opening the file. The one from the capture was very large and it finished after gif ended.

As I have described in the issue description, we need something different: a file save dialog. Similar as our 'Save as'. And instead of opening the tab we need to 'read' data from that url and pass it t

[2019-02-03 17:37] Integral commented on #1132
@oliver---- I think we can force saving the image via `download` attribute of <a> tag. I think that would be better rather than showing it... What do you think?
I will try to implement save as in separate PR.

[2019-02-03 17:38] oliver---- commented on #1132
If that is possible, it's better. Would that work for electron, too?

[2019-02-03 17:45] Integral commented on #1132
I will investigate ;)

[2019-02-03 18:13] Integral commented on #1132
Re: download attribute. It will instructs browser and electron to download a URL instead of navigating to it, so the user will be prompted to save it as a local file, but only for same-origin URLs. In other words: it will not work for remote images.

[2019-02-03 18:31] oliver---- commented on #1132
In the browser it did download remote files with the target=_blank, though

[2019-02-03 18:32] Integral commented on #1132
yes, but not images

[2019-02-03 18:35] oliver---- commented on #1132
Ok, then let's collect a list of cases and options to summarise what we can do in which situation.

[2019-02-03 20:00] Integral commented on #1132
To my surprise I don't see a lot of options for image downloading in client, I only found [this](https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image) technique. Which is a bit too much in my taste and a bad sign for solving this problem. I mean if there is a move towards image download restriction maybe we should consider that and rather show image with some additional warning.
So

[2019-02-03 20:07] oliver---- commented on #1132
Maybe there we will extend the dar-server protocol to retrieve a download url from the server, then this can be proxied if needed.

[2019-02-03 20:10] Integral commented on #1132
@oliver---- Is it correct for Browser use case: we are opening any file in new tab with @download (we just know that it will not work only for remote images and for now don't want to display warnings)?

[2019-02-03 20:12] oliver---- commented on #1132
I suggested to do `target=_blank` for remote. Because there is no better way.

[2019-02-03 20:14] Integral commented on #1132
Ok. Got it. Priority?

[2019-02-03 20:18] oliver---- commented on #1132
Rather sooner, than later, because currently it is kind of broken.

[2019-02-03 21:51] Integral commented on #1132
Ok, I will try. Unfortunately it's not super trivial for app.

[2019-02-03 22:36] Integral commented on #1132
@oliver---- may I ask you to try #1134 in app?
looks like electron have a [special api](https://electronjs.org/docs/api/download-item) for our case

[2019-02-04 08:09] Integral commented on #1132
For me it works exactly as we discussed, but curious about original case of yours. How it will look like?

[2019-02-04 13:22] oliver---- commented on #1132
It is working - almost :)
It crashes on 'Cancel'.

[2019-02-04 14:04] Melissa37 commented on #968
@michael just to let you know this is on our to-do list, but not yet reached the top. It's on our internal trello board as requiring input from eLife

[2019-02-04 16:38] michael commented on #968
Thank you @Melissa37, take your time!

[2019-02-05 05:18] oliver---- commented on #1132
Done via #1134

[2019-02-05 05:18] #1132 closed

[2019-02-05 10:53] Melissa37 commented on #1016
@thewilkybarkid @gnott @lsh-0  do you have any thoughts on this? We are concerned about an explicit link between the figures and their suppl materials, which we want to display together, but whether they are actually physically together in the XML could impact on this? Not sure how PMC would deal with this, but I thought I'd start with you guys first.

[2019-02-05 12:51] evabenitoembo opened #1135 "Allow 'insert authors' from insert menu"
![image](https://user-images.githubusercontent.com/31538460/52274477-1d29a580-294d-11e9-81fe-c7fa45f5ecb0.png)

the insert menu does not allow to insert authors. Authors first name, last name, email as input fields in manuscript view would make things easier for this important information. Prepopulated by default?

[2019-02-05 12:54] evabenitoembo opened #1136 "Superscript not working in text fields"
![image](https://user-images.githubusercontent.com/31538460/52274603-7b568880-294d-11e9-9134-ce536342873a.png)

[2019-02-05 12:54] evabenitoembo opened #1137 "Re-label menu "Manuscript | Metadata" into "Manuscript | Details" or "Manuscript | Advanced" or something like that to avoid using the word "metadata" which is confusing in the context of a figure/data/metadata authoring tool:"
![image](https://user-images.githubusercontent.com/31538460/52274636-90cbb280-294d-11e9-9b04-001cba3e17f9.png)

[2019-02-05 12:55] evabenitoembo opened #1138 "Make data references resolvable"
Data references: Source should be linkable to a base URL or and resolution service (identifiers.org) and a shorthand namespace, such that the accession number can be resolved.

[2019-02-05 12:57] evabenitoembo opened #1139 "bring back thumbnail of panels?"
I would prefer if a thumbnail carousel of some sort would provide preview of what the panels are. In first demo, it was more intuitive. Maybe similar but horizontal (top?)

[2019-02-05 12:58] evabenitoembo opened #1140 "Making adding new authors easier/more intuitive"
Entering authors is very cumbersome. Contextual 'insert' menu should have authors. Form should appear on page for First, Last name, email.

[2019-02-05 13:01] evabenitoembo opened #1141 "Figure-linked "Supplementary files" should be relabeled "source data file"."
Only when inside a figure/panel, not at paper level! See related issue #1145

![image](https://user-images.githubusercontent.com/31538460/52274966-7e05ad80-294e-11e9-96cc-7884272eaa08.png)

[2019-02-05 13:05] evabenitoembo opened #1142 "Disallow file insertion in the middle of a paragraph within panel legend"
How can one make it obvious that a file link can be inserted in the fig legend. Should it be only possible at the end of the caption. Inserting it in the middle does not make much sense a priori.

[2019-02-05 13:06] evabenitoembo opened #1143 "Repeated file upload naming"
When uploading several times the same file, the file name is changed incrementally. Why? Are there all files kept in the store? What standard security system do we need to consider in terms of renaming of uploaded files?

[2019-02-05 13:06] evabenitoembo opened #1144 "Hyperlink files to trigger download"
Files should be hyperlinked to trigger 'download' button both for local and remote files.

[2019-02-05 13:09] evabenitoembo opened #1145 "Rename paper-leves supplementary files to 'additional files'"
![image](https://user-images.githubusercontent.com/31538460/52275366-a9d56300-294f-11e9-8114-9e4167a50643.png)

[2019-02-05 13:10] evabenitoembo opened #1146 "Data reference resolution service"
Data reference should allow to define a resolution service and a namespace such that the accession ID can be resolved.

[2019-02-05 13:11] evabenitoembo opened #1147 "pre-populate metadata table with 5 standard rows"
Exp system
Method
Measured variable
Perturbations
Disease

[2019-02-05 13:11] evabenitoembo opened #1148 "configure placeholder text in metadata table by row?"
Can we configure the place holder text by row? Maybe too rigid?

[2019-02-05 13:12] evabenitoembo opened #1149 "metadata table: pre-open one empty row by default as a teaser"
![image](https://user-images.githubusercontent.com/31538460/52275519-10f31780-2950-11e9-998c-9a209058daf8.png)

[2019-02-05 13:15] evabenitoembo opened #1150 "Add 'remove file' option in contextual menu"
![image](https://user-images.githubusercontent.com/31538460/52275644-6deecd80-2950-11e9-9bff-b6d936cd8d19.png)

![image](https://user-images.githubusercontent.com/31538460/52275650-721aeb00-2950-11e9-9318-141213c6231e.png)

Not just replace or download, but also remove

[2019-02-05 13:16] evabenitoembo opened #1151 "when source data file is a url, no mechanism to replace it with file instead of url"
![image](https://user-images.githubusercontent.com/31538460/52275700-8f4fb980-2950-11e9-8aec-0c3c507d8c91.png)

One can change the url but not exchange it for a file any more?

[2019-02-05 13:17] evabenitoembo opened #1152 "underline option not available in format menu?"
![image](https://user-images.githubusercontent.com/31538460/52275752-b60df000-2950-11e9-9595-95392a777ced.png)

[2019-02-05 13:18] evabenitoembo opened #1153 "remove subtitle, abstract and Main Text sections"
![image](https://user-images.githubusercontent.com/31538460/52275802-d8077280-2950-11e9-9124-6830a4ab9749.png)
![image](https://user-images.githubusercontent.com/31538460/52275817-e190da80-2950-11e9-9b88-8002b9fdd83a.png)

[2019-02-05 13:18] evabenitoembo opened #1154 "Make it possible to add ‘Metadata fields’ just by hitting ‘enter’ (instead of having to use the context menu)"
![image](https://user-images.githubusercontent.com/31538460/52275838-ef466000-2950-11e9-9dd7-880c5a1ce727.png)

[2019-02-05 13:19] evabenitoembo opened #1155 "when the source data is a url, the context menu should say ‘open url in new tab’"
![image](https://user-images.githubusercontent.com/31538460/52275848-fa998b80-2950-11e9-8d0a-ecef886eca6d.png)

[2019-02-05 13:19] evabenitoembo opened #1156 "substitute ‘sub-figure’ with ‘panel’"
![image](https://user-images.githubusercontent.com/31538460/52275859-038a5d00-2951-11e9-97cb-94e25935a3e7.png)

[2019-02-05 16:11] thewilkybarkid commented on #1016
In my mind these shouldn't be in a caption, but moving them (eg directly inside `<fig>`) doesn't resolve the `<p>` issue, which is also odd.

What would moving them look like? Assume to a `<sec>` inside `<back>`? Can't see a sensible mechanism for linking to it from a `<fig>` etc...

[2019-02-05 16:25] dalapeyre commented on #1016
Pardon me for being dense.

I thought we has agreed that this was just a figure group,
one of which was a regular figure and some of which
were supplementary figures. (Apparently that was my idea,
not agreement. Sorry)

Is your idea that a figure group could contain either:
 - figures (<fig>), or
 - inner figure groups (<fig-group), or
 - supplementary material (<supplementary-material>)?

If so,

[2019-02-05 16:53] JGilbert-eLife commented on #1016
The idea is to associate source data with the specific figure (or supplementary figure) to which it relates. This can lead to cases where we have a Figure that has source data AND figure supplements that can themselves have source data:

Figure 1

This connects source data files directly to the figure to which they relate, making the relationships very clear, rather than just placing the source da

[2019-02-05 19:51] michael commented on #1156
What if we just call it "Figure"? To avoid the technical term, and I think it's clear based on the context when you are dealing with a group of figures (aka sub-figures).

[2019-02-05 20:11] michael commented on #1141
I'd suggest to use a pre configured section title "Source Data Files" and another one "Additional files". The label "Supplementary File ?" is the most generic, so it would be best to keep that. However you can label these things differently in your presentation of the data.

[2019-02-05 20:13] michael commented on #1145
As we discussed the most flexible way (also best UX where there is no nested editing) is to keep all source data files globally in one or more sections and use references to link individual panels. That way you can also reuse one data set in multiple panels.

[2019-02-05 20:20] michael commented on #1153
Since there will be just one Texture version for regular documents and figure packages we need to address such things using configuration. I'd suggest we formalise those as requirements in the Configurability feature section and address those in the next round. eLife has a bunch of configuration wishes too, but we want to have all requirements captured first.

Added a user story to the [Configurat

[2019-02-06 08:16] Integral commented on #899
@michael @oliver---- I think it's already there in electron@4, look:
![](http://g.recordit.co/5RA9wHk6Km.gif)

Or did you mean something else?

[2019-02-06 08:19] oliver---- commented on #899
Cool. Then this was easy ;)

[2019-02-06 08:21] Integral commented on #899
@oliver---- yes ;) But need something else.

[2019-02-06 08:21] #899 closed

[2019-02-06 09:07] diversemix opened #1158 "data/kitchen-sink/placeholder.png has incorrect extension"
The file `data/kitchen-sink/placeholder.png` is being loaded as a png and consequently not shown... even though it is a jpg.
[code]

[2019-02-06 09:21] Integral commented on #1126
I will close this issue since I can not reproduce it within upcoming Texture 2.0 app.
@hyglac I would be very grateful if you could try our [preview release](https://github.com/substance/texture/releases/tag/v2.0.0-preview.1) and open a new issue if you find any saving problems.

[2019-02-06 09:21] #1126 closed

[2019-02-06 12:57] FAtherden-eLife opened #1159 "Allow break in tables"
The [JATS element](https://jats.nlm.nih.gov/archiving/tag-library/1.1/element/break.html) `<break/>` is used to indicate a line break. We (eLife) need to be able to use this element within tables (most often in `<td/>` elements, but could also be needed in `th` elements) so that renderers can output breaks.

[Example ](https://elifesciences.org/articles/43788#table1) of it's use:
`<table-wrap id="

[2019-02-07 01:09] hyglac commented on #117
Hi, I'm using-testing Texture 2.0 and I'm missing the multilanguage support for titles and abstract (Affiliations could also apply here). Is this a feature request or some bug? By the way, it v2.0 is working great so far!

[2019-02-07 06:26] oliver---- commented on #117
The multi-language stuff is currently re-engineered. We disabled the UI in the meantime.

[2019-02-07 06:28] oliver---- commented on #117
Translations are currently being re-discussed in #963

[2019-02-07 07:08] oliver---- commented on #1035
I would like to discuss the approach proposed in #963 w.r.t. to this feature, i.e. using a sub-article for translations.
In that approach, figures would be replicated (at least, as much as necessary) in the translated sub-article. @fabiobatalha how does this approach that sound to you in general?
I don't know yet how to establish the back-link to the original source. Would that be needed?

[2019-02-07 07:32] Integral commented on #1001
Done via #1160.

[2019-02-07 07:32] #1001 closed

[2019-02-07 08:40] Melissa37 commented on #1138
This is something eLife is interested in. Currently we link all RRIDs to their SciCrunch url, but realise this is not ideal as not a PID.
We're beginning to look at identifiers.org and n2t.net for things used in experiments, but had not thought about them for Data references.

We should talk about this as a group?

[2019-02-07 09:46] michael commented on #1016
We had that discussion recently with SourceData. We came to the conclusion that stand-alone supp files (in a separate section) and linking them with figures by creating references in the caption is the most flexible:

- source data file could be reused (e.g. if it's used by two figures)
- nested editing becomes cumbersome
- supp-files are not supported in caption (only works through `p > supplemen

[2019-02-07 13:40] michael commented on #1155
Just to understand the use-case, what is behind this link? If it is a web-page, then using supplementary file is the wrong approach. Then I would rather cite a website (reference) or use a link (external web link).

We were assuming that a file location provided with a supplementary file, can always resolve to a file download.

[2019-02-07 13:48] michael commented on #1154
In your regular scenario, you would start with a template that has the field pre-populated already. When you then add a new sub figure, it would inherit the fields from the parent figure.

Would that be ok for you?

Also we are likely to change the user interface here in the next iteration to allow linking with entities that are part of a vocabulary. See this mockup for semantic keywords (it would

[2019-02-07 13:58] michael commented on #1151
That a result of the decision to have two types of supplementary files (local and remote). So you can not switch them, dynamically. Hope this is acceptable.

But we are capturing this for wider discussion about how to link, relink, replace supplementary files. We also want to hear eLife's feedback on this feature.

[2019-02-07 13:59] michael opened #1162 "Improve changing supplementary files"
For instance ability to turn a remote file into a local file and vice versa. Also the possibility to re-link with an existing other asset. Needs more discussion.

[2019-02-07 14:00] michael commented on #1151
See https://github.com/substance/texture/issues/1162

[2019-02-07 14:03] michael commented on #1150
Can you clarify what you mean exactly?

- remove the supplementary file item from the document
- remote the linked asset
- remove both

[2019-02-07 14:09] michael commented on #1149
This we will solve via templating. Thank you for pointing that out.

[2019-02-07 14:12] michael commented on #1148
Ability to configure placeholder labels in Texture in general would be an interesting feature.

[2019-02-07 14:13] michael commented on #1147
We will add these to the figure package template. Thank you!

[2019-02-07 14:15] michael commented on #1146
That's a larger topic. It is being discussed currently and tracked in the requirements document:

Reference Verification

[2019-02-07 14:18] michael commented on #1145
We will update the template accordingly.

[2019-02-07 14:21] michael commented on #1144
We can't do this in the editor as the file url needs to be editable. In the local file case we could do that, but then it would be inconsistent.

[2019-02-07 14:25] michael commented on #1144
In your published version of the figure package, you should optimise for readers, and make a hyperlink of course.

[2019-02-07 14:29] michael commented on #1143
Do you mean the "replace file" scenario?

Currently the old files are not pruned (this is needed to allow undo) and hence we need to assign a new name if the file is uploaded repeatedly.

[2019-02-07 14:30] michael commented on #1142
As discussed during our demo, we think that having all supplementary files positioned globally and linked via xref to the panels, ist most elegant. Do you agree?

[2019-02-07 14:35] michael commented on #1141
We could let you configure the label generator to use "Source Data File" but then if you upload e.g. a zip or docx, pdf etc. that would not be correct anymore. OK to leave this as is and you optimise on your front-end based on the file type?

[2019-02-07 14:42] michael commented on #1140
Agreed this can be improved. As a first measure, would it be ok to enable Insert Author in the manuscript, but switch the context to the metadata view for editing?

[2019-02-07 14:47] michael commented on #1139
We tried this but realised there's a number of problems with the thumbnails on top approach:

- does not scale (we would need to introduce a complex carousel navigation if there is like more than 3 sub-figures)
- images could have different aspect ratio, which makes it hard to position properly

So that's why we went for a space-saving minimal solution, with the only problem that you don't have ra

[2019-02-07 14:48] michael commented on #1138
Please refer to the product brief document and complete user stories. We have tracked this under "Reference verification".

[2019-02-07 14:49] michael commented on #1137
I think "Details" is a good suggestion. @Melissa37 would that work for eLife as well?

[2019-02-07 14:49] michael commented on #1136
We will look into this.

[2019-02-07 14:50] michael commented on #1135
We will take care of this.

[2019-02-07 15:05] oliver---- commented on #1136
Looks like CSS is missing, or style is broken.

[2019-02-07 15:09] oliver---- opened #1163 "Use current sub-figure as template for new sub-figures"
This is mainly about the structure, not content. Particularly, the structure of figure metadata. I.e. the new sub-figure should have the same metadata fields, but with empty content.

[2019-02-07 15:15] oliver---- commented on #990
Done via #1161

[2019-02-07 15:15] #990 closed

[2019-02-07 15:28] Melissa37 commented on #1137
Yes! Good idea

[2019-02-07 16:07] dalapeyre commented on #1016
I thought the requirement was for them all to be inside the same
grouping. What eLife had looked like a figure group with 4
figures, 3 of which were supplemental figures.

But I admit that I like cross-references much better (they are
closer to the real semantics), and using cross-refernces
requires no JATS changes. Datasets are not typically published
with the paper, but pointed to. I like the ar

[2019-02-07 16:49] Melissa37 commented on #1016
Hi @michael I think there is some confusion but the EMBO use case is different to the eLife use-case. @JGilbert-eLife @FAtherden-eLife and I would be happy to have a call with you about this.

[2019-02-08 07:45] oliver---- commented on #929
Fixed via #1157

[2019-02-08 07:45] #929 closed

[2019-02-08 07:46] oliver---- commented on #1136
Fixed via #1157

[2019-02-08 07:46] #1136 closed

[2019-02-08 07:46] oliver---- commented on #1147
Done via #1157

[2019-02-08 07:46] #1147 closed

[2019-02-08 07:49] oliver---- commented on #1145
There is a little confusion currently about whether or not we should really go for supplementary files inside figure legends. Let's wait with fixing this, until the general question is cleared.

[2019-02-11 13:43] michael opened #1165 "Missing place holder for ref contribs"
![image](https://user-images.githubusercontent.com/2931/52566923-4ba2f700-2e0b-11e9-9dfb-0460cd79ae05.png)

[2019-02-11 14:16] FAtherden-eLife opened #1166 "Small caps rendering"
JATS element [sc](https://jats.nlm.nih.gov/archiving/tag-library/1.1d1/n-ary0.html) is used in eLife content to flag small caps rendering. Currently this displays as follows in Texture:

![screen shot 2019-02-11 at 14 15 02](https://user-images.githubusercontent.com/43879983/52568713-71c69800-2e07-11e9-92b1-61bb5104b10c.png)

Markup for reference:
``<abstract>
        <p>This is the abstract. An a

[2019-02-11 14:20] oliver---- commented on #1156
I'd suggest the following re-wording:
- Add Figure
- Remove Figure
- Move Figure Down
- Move Figure Up
- Open Image
- Replace Image

[2019-02-11 16:05] source-data commented on #1138
about compact identifiers: see section "DOIs and Compact Identifiers" in "[A data citation roadmap for scientific publishers](https://www.nature.com/articles/sdata2018259)"

[2019-02-11 16:42] source-data commented on #1156
Well, it is an important point and I think it is difficult to re-define the terminology for users. I dont' think it would be clear to most users that we mean "_Panel_" when we write "_Figure_". Users will have very different expectations for "_add a figure_" from "_add a figure panel_" or "_add a sub-panel_".

Figures are a bit special. They are really very very well established elements and many

[2019-02-11 16:44] oliver---- commented on #1156
I guess we were thinking that 'Panel' is a too technical term. But I am fine with that, too.

[2019-02-11 16:46] source-data commented on #1156
yes, well, I am open really between Panel and Sub-figure. We can ask users what the prefer. It is just the concept of "figure" that should be clear. We all agree :-)

[2019-02-11 16:52] source-data commented on #1139
yes, the scalability of thumbnails is an issue. Maybe it helps to separate 2 issues: 1) provide a visual hint and overview that the figure as multiple panels; 2) provide random access. I think your solution for random access is very good. But before the figure is expanded there is probably the need to have a slightly more explicit hint that there are sveral panels and how many?

[2019-02-11 16:53] oliver---- commented on #1139
Good suggestion!

[2019-02-11 16:57] source-data commented on #1144
Is it possible to place a little 'download' icon next to the link? If a user downloads a dar figure-data package or receives it by email from a colleague, it would be difficult to ask her to go to a separate site to finally download the file that is supposed to be 'integral' to the package, no?

[2019-02-11 17:03] oliver---- commented on #1144
What about like GDocs provides buttons in the link-popup?
![image](https://user-images.githubusercontent.com/284099/52579764-20c69c00-2e27-11e9-88ac-793e583b13c0.png)

I.e. this is always visible when the cursor is on the link.

Would you suggest to remove the item from the context menu or have this as another option?

[2019-02-11 17:04] source-data commented on #1142
Not sure if I understand completelty. Is this idea to have a single list of data files that are each linked via xref to panesl? I am not sure the associaton between a specific file and a specific panel would be strong and clear enough. Will users understand that they can add a file linked to a specific panel? When seing a list of files in teh global list, will it be clear which one belongs to whic

[2019-02-11 17:22] michael commented on #1139
@source-data how about this approach?

![image](https://user-images.githubusercontent.com/2931/52580928-afd4b380-2e29-11e9-9903-b115113bcb30.png)

I'd then leave out the navigation controls completely and allow only collapsed and expanded modes.

Another option for SourceData, to generally have them always expanded?

[2019-02-11 17:56] fabiobatalha opened #1167 "Ability to insert formulas as images"
As a production assistent, I want to be able to include formulas as images.

[2019-02-11 18:00] fabiobatalha opened #1168 "Ability to use an image as table"
As a production assistent, I want to be able to include tables as images.

[2019-02-11 19:10] fabiobatalha commented on #1037
@michael yes I agree to produce this information it Texture, even though, it should not be a problem to open a XML file in Texture if the XML file has this information available.

[2019-02-11 19:20] michael commented on #1142
@evabenitoembo @source-data

The reasoning behind is this:
- ability to reference a source data file from multiple figure panels (very common scenario is to view the same data set but from different angles, or using different plots)
- editing experience for such nested items is not good (caption becomes a complex editing container if we allow block level elements inside it)
- JATS does not allow s

[2019-02-11 19:48] fabiobatalha commented on #963
Technically I like this approach but it seems to be a huge change of paradigm once everybody is used to keep the translations in the elements designated to it (trans-title-group, trans-abstract, etc).

It will probably be a huge change for XML producers, journals and  other data sources that want to interoperate using JATS. I believe Érudit can deal with this, once we are starting to work with JAT

[2019-02-12 01:23] oliver---- commented on #963
We could address this as part of the 'Compatibility' topic.
@michael could you capture this as a requirement?

[2019-02-12 10:27] oliver---- commented on #981
Fixed via #1169

[2019-02-12 10:27] #981 closed

[2019-02-12 10:28] oliver---- commented on #1165
Fixed via #1169

[2019-02-12 10:28] #1165 closed

[2019-02-12 12:54] Melissa37 commented on #1142
eLife use case does require some files to be associated with one component figure or main figure as it is source data to that specific figure and so it's not appropriate for it to be viewed elsewhere. So we will pursue the ability to add a supplementary file within a figure caption.
We can put in a request to JATS that supplementary-material tag be allowed within fig and I think the proposal will

[2019-02-12 13:15] Melissa37 commented on #1138
Thanks @michael I have added it to the [Product brief](https://docs.google.com/document/d/1ZOjKrQZOndU9G12bVaXmFt56aWRW4kJSDjaMjcxSHSc/edit?ts=5c5b153b#)

eLife will investigate this further too

[2019-02-12 13:31] michael commented on #963
@oliver---- @fabiobatalha added it here:

https://docs.google.com/document/d/1ZOjKrQZOndU9G12bVaXmFt56aWRW4kJSDjaMjcxSHSc/edit#heading=h.2jwddxpcza1d

[2019-02-12 14:22] michael commented on #1142
I'm down voting this JATS request.

My opinion: Not a good idea at all to squeeze supp files into a figure caption for reasons described in my previous comment. Convinced our tool and format is more future proof if we have supp files globally and link them to all the places where needed. It's the same discussion as with authors and affiliations, where we also decided to use xref, in order to be ab

[2019-02-12 14:36] Melissa37 commented on #1142
@michael we need to have a call about this as I think it is probably going to be a baseline requirement for eLife that we cannot budge on. We should schedule a call soon. Does 11.30 next Monday work for you?

[2019-02-12 15:44] michael commented on #1142
@Melissa37 we can do that on Monday.

What strikes me really, is the question what would do you do if two figures use the same dataset / e.g. exact same CSV file? Create two copies of the same file? I think it is very common, to have a dataset and then different views (plots) for it. And it would be a pity if we didn't propose a solution that supports that.

[2019-02-12 15:46] source-data commented on #1142
In terms of visual rendering, I think it is absolutely essential to be able to closely associate a source data files to its respective panel. This is the core idea of the 'data-figure package' concept.

In terms of UI, users (=readers) should be able to identify and access the data in a single click and in the authoring mode (users=authors) they should be able to link a data file to a panel in an

[2019-02-12 15:59] michael commented on #1142
you have all freedom on the display side.

In Texture we strive to have exactly one solution for a certain thing. And that solution should support all different use-cases. So in this case we are very keen to have one way to do it instead of two. It creates a lot of friction.

Imagine the following scenario:
- user adds a dataset to panel A
- user wants to assign that dataset to panel B as well

To

[2019-02-12 16:32] evabenitoembo commented on #1135
Great, thanks!

[2019-02-12 16:34] source-data commented on #1142
"you have all freedom on the display side": in theory maybe. In practice, it is a bit more limited. If there is a too large disconnect between the authoring side and the core concept that we want to implement, and the 'display' side (which may not even exist in our case since the dar archive might be share as is), then it is a sign there is an issue that might need extra-attention. I do think that

[2019-02-12 16:35] evabenitoembo commented on #1139
I personally do not like the option above... I like the current implementation with the count and the arrows. Maybe this could be made a bit more explicit with some wording, like 'panel 1 of x'. And maybe the whole wording + arrows should be wrapped in something like a button or something that makes it more visible?

[2019-02-12 16:35] evabenitoembo commented on #1140
Ok as a first measure, but we believe that eventually it should be possible to do it 'on the fly' in manuscript mode

[2019-02-12 16:39] evabenitoembo commented on #1141
We understand the power of having references to data files and think this would be very useful for pure 'supplementary files'. However, the identity of SourceData packages is in fact that they contain data associated with each panel or figure, so we should really rename those to be differential from 'general' supplementary files at the paper level that might be cited several times in the manuscrip

[2019-02-12 16:40] evabenitoembo commented on #1142
See my comment in #1141 , let us elaborate on this in a separate call if ok with everyone?

[2019-02-12 16:43] evabenitoembo commented on #1143
We mean both in a 'replace file' scenario and in a scenario where you add another file and upload a file with the same name again. The problem is that this may lead to severe confusion: we would feel more comfortable if in both cases the user would be prompted to decide whether they want to replace/overwrite the file or not

[2019-02-12 16:47] evabenitoembo opened #1170 "Ease navigation between 'manuscript/metadata' view"
Would it be possible to implement a shortcut that allows the user to quickly navigate between both views? It is a bit counterintuitive a the moment and people are not necessarily used to switching between those 2 views. Once used to it, having a keyboard shortcut to navigate between them would be very useful.

Also, do you think it'd be ok to consider modifying the current view? Having tabs for ea

[2019-02-12 16:47] evabenitoembo commented on #1150
Remove the linked asset

[2019-02-12 16:51] evabenitoembo commented on #1154
That would be ok I think, but could we maybe still add an intuitive way to add a new metadata field that does not require the contextual menu or the main menu on the top? So something like a + button or something in that direction? Just to 'encourage' adding more interesting information to the experiment

[2019-02-12 17:27] fabiobatalha commented on #1168
Related to: #626

[2019-02-12 17:28] fabiobatalha commented on #1167
Related to: #1011

[2019-02-12 17:28] #1167 closed

[2019-02-12 17:37] fabiobatalha opened #1171 "Support for strikethrough texts"
Example: ~~Text~~

[2019-02-12 18:32] michael commented on #1142
Since it can be represented with one concept, powerful enough to cover all cases I'd say 1 thing.

That's something we can discuss of course. We just need to make sure we don't make an arbitrary decision, so that other Texture users would be bothered. A generated "Files" summary underneath the caption I could imagine. Like this:

![image](https://user-images.githubusercontent.com/2931/52658237-dad

[2019-02-12 22:10] oliver---- commented on #1142
Thanks for all your input!

For our call I see two alternatives that we should discuss:
1. xref and a dedicated display.
2. in-place supplementary files in captions.

The first is the more general approach and does not introduce a new concept (also no JATS change needed).
The latter demands for a new concept and raises questions as @michael has pointed out.

[2019-02-12 22:55] oliver---- commented on #1142
I want to add another twist to my previous comment, in response to

This could suggest, that data are an alternative representation of the illustration. JATS has a concept for that: `<alternatives>`.  See https://jats.nlm.nih.gov/archiving/tag-library/1.1/element/alternatives.html a supplementary file could exist as an alternative to a graphic. This would be 1-to-1 however.

Just to put everything

[2019-02-12 23:14] oliver---- commented on #1142
@dalapeyre what is your take on my last suggestion?

[2019-02-12 23:32] oliver---- commented on #1142
Just for the records: the ability to add alternatives for content has been requested in other situations:

- https://github.com/substance/texture/issues/1168
- https://github.com/substance/texture/issues/1011

[2019-02-12 23:34] oliver---- commented on #1168
I think we should keep these as open.

[2019-02-12 23:34] oliver---- commented on #626
I think we should keep these as open.

[2019-02-12 23:35] oliver---- commented on #1168
Closing this because it is duplicate of #626

[2019-02-12 23:35] #1168 closed

[2019-02-12 23:35] oliver---- commented on #1011
Reopen this because it is not solved.

[2019-02-12 23:53] oliver---- commented on #1171
Fixed via #1169

[2019-02-13 00:00] oliver---- commented on #1170
We have discussed this a lot and still have not come to a good solution.

In general I want to move to a solution where everything is done in the same context as you requested in https://github.com/substance/texture/issues/1140

Beyond that, a keyboard shortcut could be an option.
A different display of that mode switch is also under discussion.

[2019-02-13 00:00] #1171 closed

[2019-02-13 00:01] oliver---- commented on #1166
Fixed via #1169

[2019-02-13 00:01] #1166 closed

[2019-02-13 00:07] dalapeyre commented on #1142
These are for table as image and disp-formula as image.

I have asked the JATS Standing Committee to either:

 - Add table, disp-formula, block-text, etc. to <alternatives>
 OR
 - to add a block-level alternatives element that can hold
   these block objects.

Either will take care of your problem.

JATS SC is meeting this Thursday, but may not get to this
request on the list.

—Debbie

==========

[2019-02-13 00:10] dalapeyre commented on #1142
I like using <alternatives>

Supplementary material inplace in a paragraph, caption, or
similar seems awful to me. Cannot justify that, just an irrational
semantic revulsion.

—Debbie

================================================================
Deborah A Lapeyre              mailto:dalapeyre@mulberrytech.com
Mulberry Technologies, Inc.      http://www.mulberrytech.com
17 West Jefferson Street

[2019-02-13 08:27] source-data commented on #1144
We like the GDocs solution! And keeping it in context menu as well is good.

[2019-02-13 08:30] source-data commented on #1148
OK. This is related to linking semantically link terms with controlled vocabularies. It is quite core to the structured data-figure package idea so let's discuss these things together

[2019-02-13 08:46] source-data commented on #1153
Let's clarify how to deal with the title elements. There is the article title element. This is fine.
There should also be a figure title element, which is standard.
What is less clear to me is how we deal with multi-panel figures. Now we use figure groups to represent a figure with multiple panels. As a result, each panel has a title but the figure group itself not. Can figure groups have their ow

[2019-02-13 08:50] source-data commented on #1154
Can you send the mockup again,  could not see. Let's discuss this in detail before texture 3.0 is implemented since it is key for SourceData semantic annotations (see also #1148).

[2019-02-13 08:58] michael commented on #1154
Sorry forgot to attach, here's the mockup:

![image](https://user-images.githubusercontent.com/2931/52699277-afe1ca00-2f75-11e9-93c6-fe6c6daa4808.png)

Essentially this means the data is not entered in-place but in a modal or popover (much like the affiliation selector). That allows us to have a compact display, and full controls when you edit.

[2019-02-13 09:20] michael commented on #1142
Thank you @dalapeyre. Agre that, if we decide supp files need to be nested under a figure, I'd also prefer to have them in a separate container and not mashed into the caption.

However, that still leaves us with two different concepts/editing workflows:

1) figure-scoped supp file (stored in alternatives)
2) supp file globally and linked multiple times via xref

[2019-02-13 09:22] source-data commented on #1155
Use cases:
1. link to a local file that needs to be included in the package;
2. link to a remotely hosted file for direct download;
3. (more tricky) link to a landing page from which the file can be directly downloaded.

In [SmartFigures](https://search.sourcedata.io/panel/60762) we render #2 and #3 next to each other for convenience (the file is here :

![image](https://user-images.githubusercont

[2019-02-13 09:28] source-data commented on #1151
If a user writes a long legend for its supp file and links it erroneously to a remote file, she has not choice but to delete the whole element and lose the legend. This would be a problem. Being able to delete the link specifically without having to delete the whole element would be important. See also #1150

[2019-02-13 16:55] oliver---- commented on #1153
This might be a temporary issue due to the fact that we use fig-group as a workaround to represent multi-panel figures and it may not fit exactly with what a multi-panel figure is in practise.

This is indeed a possible. We were already discussing this possibility. Could also serve the purpose to provide a composite image in a classical old style, in addition to the panels (if that is desired).

[2019-02-13 18:10] oliver---- commented on #1152
Done via #1169

[2019-02-13 18:10] #1152 closed

[2019-02-13 18:30] oliver---- commented on #1155
Turning this into a feature-request.

Instead of blindly downloading the linked file, Texture should fetch info about the linked file first before (using HTTP headers), and present the user information about the file size, or if it is a landing page let the the user know that it will open the URL in a new tab/window.

[2019-02-13 18:33] oliver---- commented on #1155
This feature is not trivial but do-able, but needs some evaluation and estimation.

[2019-02-18 09:00] Integral commented on #1113
We've added some test and increase coverage in #1169, so for now I will close it. However this should be improved in the future.

[2019-02-18 09:00] Integral commented on #1115
Done via #1169.

[2019-02-18 09:00] #1115 closed

[2019-02-18 09:00] #1113 closed

[2019-02-18 09:04] Integral commented on #1135
Now you can add authors and other entities from manuscript (#1169). This will bring you to the new item in metadata view. We will improve this later, closing this issue for now.

[2019-02-18 09:04] #1135 closed

[2019-02-18 09:08] Integral opened #1173 "Move entity renderers to models"
E.g. what [we did](https://github.com/substance/texture/commit/e832c886abd5772d9f5f2dffcbf2ce16129c6e35) with `Organisation` should be done to other models as well for the sake of consistency.

[2019-02-18 09:52] evabenitoembo commented on #1142
@michael @Melissa37 , can you confirm you are having a call today at 11.30? Ok for us to join in, since also relevant to us? Thanks!

[2019-02-18 10:01] Melissa37 commented on #1142
Hi there

we had no confirmation that there was going to be a call and we've scheduled an internal meeting to discuss this in that slot now. Sorry!

[2019-02-18 10:06] evabenitoembo commented on #1142
Hi @Melissa37 , thanks for the quick feedback! No worries! We were also not sure whether this was formally scheduled.

Should we try to schedule a call with the 3 parties for some time this week then? How about Thursday or Friday sometime between 9am-12am? Or alternatively @michael , @Melissa37 , please suggest available time slots for you. We are relatively flexible this week.

[2019-02-18 13:06] oliver---- commented on #1156
Done via #1169

[2019-02-18 13:06] #1156 closed

[2019-02-18 13:09] oliver---- commented on #1149
We have now a figure-template with 5 standard metadata fields.

[2019-02-18 13:09] #1149 closed

[2019-02-18 13:22] oliver---- opened #1174 "Add labels for command groups in context menu"
At the moment, the context menu shows contextual menu items but not clearly separated by context
if there are multiple contexts active:

![image](https://user-images.githubusercontent.com/284099/52953650-67b51400-3388-11e9-92b6-1b2bf0ea7984.png)

E.g. in the image 'Add panel' belongs to the figure context, and 'Add Metadata Field' to the panel context, like the items in the toolbar suggest.

[2019-02-18 13:25] oliver---- opened #1175 "Internal: introduce routing to retain document position after reload"
For a hosted version of Texture this would serve as permanent-links.

[2019-02-18 13:39] oliver---- opened #1176 "Internal: some tests that should be added"
Looking at code coverage report I found some misses:

- [ ] deleting an xref

[2019-02-18 13:48] oliver---- opened #1178 "Internal: cut down or remove plain-text exporter"
ATM this is outdated and probably not working as expected.
We do not really need this at the moment.
In the future we might want to replace it with a serious implementation, e.g. using an HTML Markdown converter.

[2019-02-18 14:00] oliver---- opened #1179 "Fix regression in SelectAllCommand"
Add a revealing test and then fix the issue.

[2019-02-18 14:17] FAtherden-eLife opened #1180 "Link drop-down not available in metadata text fields"
I am unable to add a link in text fields in the 'Metadata' view. I think this should be possible for text fields.

If I add a link in the source data then the link text simply displays with underline formatting, with no option to follow the link:
![screen shot 2019-02-18 at 14 13 43](https://user-images.githubusercontent.com/43879983/52956572-69caa300-3387-11e9-98c4-46660d937267.png)

XML:
[code]

[2019-02-18 15:54] oliver---- commented on #1180
Yep. Thanks.

[2019-02-18 16:09] FAtherden-eLife opened #1182 "Ability to specify equal author contribution link and status"
Currently we can specify whether an author equally contributed or not. But we cannot specify which author contributed equally relative to each other.

Consider the following scenario ...
An article has five authors:
1. Melissa Harrison
2. James Gilbert
3. Fred Atherden
4. Michael Aufreiter
5. Oliver Buchtala

I want to indicate that authors 1 and 2 contributed equally relative to each other, and a

[2019-02-18 16:25] oliver---- commented on #1179
Fixed via #1183.

[2019-02-18 16:25] #1179 closed

[2019-02-18 17:06] oliver---- commented on #1137
Done via #1184

[2019-02-18 17:06] #1137 closed

[2019-02-18 17:21] Integral commented on #931
@lpanebr we just tried out latest version of texture on latest lts version of Ubuntu and it's working fine.
We will release 2.0 in the end of the month, but currently you can build a latest version yourself and try it out. Please open a new issue if you'll find some errors.

[2019-02-18 17:21] #931 closed

[2019-02-18 17:22] Integral commented on #878
@lpanebr we just tried out latest version of texture on latest lts version of Ubuntu and it's working fine.
We will release 2.0 in the end of the month, but currently you can build a latest version yourself and try it out. Please open a new issue if you'll find some errors.

[2019-02-18 17:22] #878 closed

[2019-02-19 09:46] Melissa37 commented on #1142
Hi @evabenitoembo @michael @source-data

We've discussed this internally and have a plan:
1) Approaching editorial first off to discuss the way we handle source data in general
2) Generate user stories - we'd like to do this with Source data so we have a common starting point
3) Share user stories with Debbie and Jeff from JATS - so they have a clear understanding of all requirements and could the

[2019-02-19 09:58] oliver---- opened #1185 "Internal: rendering is sluggish when typing very quickly"

[2019-02-19 10:01] oliver---- opened #1186 "Equation references are showing wrong options"
Looks like footnotes are presented as options, not equations.

[2019-02-19 10:02] oliver---- opened #1187 "Allow to select and edit authors and references from the Manuscript view"
Idea: user can click on an author (or reference) which will show a blue border around it, and a contextual tool is presented to edit it. It will then open the specific entity in the metadata view.

[2019-02-19 11:18] oliver---- commented on #1175
Done via #1181

[2019-02-19 11:18] #1175 closed

[2019-02-19 11:24] michael opened #1189 "Improve contextual menu UI + mode switcher"
![image](https://user-images.githubusercontent.com/2931/53011398-8c6cc280-3440-11e9-88bd-593c3a80f016.png)

It would improve usability to merge all contextual actions into one menu (displayed on the right edge of the menu bar). We'd also show the category of actions (e.g. Authors, vs Chapters actions).

Additionally I propose to move the mode switcher to the left side, and implement tabs instead o

[2019-02-19 11:30] Integral commented on #1163
Closed via #1188

[2019-02-19 11:30] #1163 closed

[2019-02-19 11:49] oliver---- commented on #1186
Fixed via #1190

[2019-02-19 11:57] #1186 closed

[2019-02-19 14:10] oliver---- opened #1192 "Close popups and overlays when clicking somewhere else"
Currently they are only closed when the selection changes.

[2019-02-19 14:12] oliver---- commented on #1185
Don't know but this seems have been a temporary issue.

[2019-02-19 14:12] #1185 closed

[2019-02-19 14:17] Integral opened #1193 "Don't show empty lists of refs"
Currently if there is no references we are rendering empty list (see file reference example), there should be some phrase like `there is no file references` or action instead.
<img width="745" alt="screen shot 2019-02-19 at 15 14 58" src="https://user-images.githubusercontent.com/182010/53021303-348e8580-3459-11e9-9ee3-02cfa93ce1d0.png">

[2019-02-19 16:04] fabiobatalha opened #1194 "Support for related-object"
Some of Érudit articles are book review, conference review, etc.

We would be able to identify those reviewed documents as a related object following JATS specs.

JATS: https://jats.nlm.nih.gov/publishing/tag-library/1.2d2/element/related-object.html

In a first version will not be necessary to tag all elements available in related-object element. We would at least be able to include a text inside

[2019-02-19 17:16] dalapeyre commented on #1142
Good to me.

—dal

[2019-02-20 07:09] Integral commented on #1193
It was a regression.

[2019-02-20 07:09] #1193 closed

[2019-02-20 11:16] Integral opened #1195 "After inserting columns, type over cell is broken"

[2019-02-20 11:18] oliver---- commented on #1189
Done via #1191

[2019-02-20 11:18] #1189 closed

[2019-02-20 11:19] oliver---- commented on #1174
Done via #1191

[2019-02-20 11:19] #1174 closed

[2019-02-20 11:21] oliver---- opened #1196 "Internal: use explicit actions for handling clicks on TOC entries"
ATM we use the native behavior of `<a>` elements in combination with the Router.
But this does not work if the route has been already updated.

[2019-02-20 14:53] oliver---- opened #1198 "Run tests in electron"
Basic idea is to just launch electron executing the browser test-suite.

[2019-02-20 14:56] oliver---- opened #1199 "Internal: do not use window.open()"
Instead send an action to the ApplicationChrome and let it handle it (Browser vs Electron)

[2019-02-20 15:00] oliver---- commented on #1196
Done via #1197

[2019-02-20 15:00] #1196 closed

[2019-02-24 20:01] LevitatingBusinessMan opened #1201 "Error while installing"
[NPM log](https://hastebin.com/tarosabodo.sql)

While installing the dependencies I keep getting the error `Unexpected end of JSON input while parsing near '...4472PFBk\nBFRwNgTG3qr'`.

[2019-02-25 12:05] oliver---- opened #1202 "Pasting list-items is broken"
![texture-bug-pasting-list-items](https://user-images.githubusercontent.com/284099/53336232-00eea800-38fe-11e9-9249-51a53b51d7d9.gif)

[2019-02-25 12:08] oliver---- opened #1203 "Failure recovery"
Come up with a failure recovery mechanism that brings the application into a valid state, after unexpected errors.
At the moment, the application can get stuck in an invalid state, making it unusable.

[2019-02-25 12:11] oliver---- commented on #1203
For example, after experiencing issue #1202, the action can not be undone, because the UI seems to be in an invalid state.

[2019-02-25 12:19] oliver---- opened #1204 "Deleting a list-item is broken"
![texture-bug-deleting-list-item](https://user-images.githubusercontent.com/284099/53336881-f33a2200-38ff-11e9-8f22-8833a4af1854.gif)

[2019-02-25 12:27] oliver---- opened #1205 "Scrolling bug"
When scrolling up using PAGE-UP, when reaching the top, Texture scrolls down to the bottom:

![texture-bug-scrolling](https://user-images.githubusercontent.com/284099/53337185-04376300-3901-11e9-8c19-aaf0151d482f.gif)

[2019-02-28 06:58] oliver---- opened #1207 "Copying headings is broken"
Looks like a regression of the model refactor.

[2019-02-28 12:11] FAtherden-eLife opened #1208 "Extension of schema needed?"
I notice that if I launch a local instance of Texture with a MS file that does not contain a `back` element (in the DAR), I see the following message:

If it is necessary for there to be a `back` (should it be??), then it would be good if this message can be more informative. I assume the easiest way to do this would be to extend the schema so that it mandates articles must contain front, body and

[2019-02-28 12:27] michael commented on #1208
Thank you for the report. We‘ll take care of that. We should either fail early here or deal with the situation when no back element is present.

[2019-02-28 12:34] FAtherden-eLife opened #1209 "TOC for article with no sections"
Consider the following scenario - an article is made up of a title, abstract, main body text (but this has no sections), acknowledgements, footnotes and references.

Currently the left-hand TOC in 'Manuscript' view displays as follows:
![screen shot 2019-02-28 at 12 32 15](https://user-images.githubusercontent.com/43879983/53566705-e5c9a580-3b54-11e9-877d-092545a89349.png)

I accept that this is a

[2019-02-28 13:27] michael commented on #1209
Choosing the right TOC items is a bit tricky, as we could either use it to navigate the editor (Title, Main Text) or to reflect the article structure (there we probably wouldn't display Title, and References).

So I'm aware it's not perfect now, but I don't se the full picture yet. So I think I'd like to wait until we have chapters in place as that will add another layer to the TOC:

- Main Articl

[2019-02-28 14:29] Integral opened #1210 "Use new router in web testsuite"
After introduction of a new routing system we are no longer able to filter tests via url. We should replace previous router implementation with a new one.

[2019-02-28 14:50] FAtherden-eLife commented on #1209
Sounds perfectly reasonable to me. Thanks!

[2019-02-28 15:07] FAtherden-eLife opened #1211 "Affiliation display in person details"
I just pulled the latest and notice that the affiliations (in the Person cards) now display with extraneous commas next to 'Affiliations:'. e.g.:
![screen shot 2019-02-28 at 15 05 58](https://user-images.githubusercontent.com/43879983/53575862-63e47700-3b6a-11e9-92fa-c9d9b18407da.png)

From the following affiliation:
![screen shot 2019-02-28 at 15 03 59](https://user-images.githubusercontent.com/4

[2019-02-28 16:20] oliver---- commented on #1210
I have fixed that in my branch. I.e. not writing routes during tests.

[2019-02-28 16:24] Integral commented on #1210
Thank you!

[2019-02-28 16:24] #1210 closed

[2019-03-01 11:45] michael commented on #1211
@FAtherden-eLife that renderer needs some tweaking. Actually I think, much like we planned for the references renderers, we should do the same thing for affiliation renderers. And have eLife maintain that code. Does that sound ok?

[2019-03-01 13:34] oliver---- commented on #1207
Fixed via #1200

[2019-03-01 13:34] #1207 closed

[2019-03-01 13:35] oliver---- commented on #1205
Shifting to next 3.0

[2019-03-01 13:35] oliver---- commented on #1204
Fixed via #1200

[2019-03-01 13:35] #1204 closed

[2019-03-01 13:35] oliver---- commented on #1202
Fixed via #1200

[2019-03-01 13:35] #1202 closed

[2019-03-01 13:36] oliver---- commented on #1187
Fixed via #1206

[2019-03-01 13:36] #1187 closed

[2019-03-01 13:37] oliver---- commented on #1145
We will revisit this in the course of #1016.

[2019-03-01 13:45] oliver---- opened #1212 "Undo of breaking a list results in an error"
![texture-bug-undo-break-list](https://user-images.githubusercontent.com/284099/53641901-9eb0e280-3c30-11e9-8f76-8896c34f8216.gif)

![image](https://user-images.githubusercontent.com/284099/53641952-c0aa6500-3c30-11e9-87d3-45d15d754f04.png)

[2019-03-01 16:45] oliver---- commented on #1212
Fixed via #1200

[2019-03-01 16:45] #1212 closed

[2019-03-01 16:46] oliver---- commented on #1203
We will add this in the next iteration.

[2019-03-01 16:48] oliver---- opened #1213 "Insert Affiliation should focus the inserted card"

[2019-03-01 16:49] oliver---- commented on #1211
We have improved this recently. So this should be solved.

[2019-03-01 16:50] oliver---- commented on #1211
Just checked, that this is working with the latest version.

[2019-03-01 17:02] oliver---- commented on #1195
Was a regression in substance. Fixed via #1200

[2019-03-01 17:02] #1195 closed

[2019-03-04 07:12] yoruyenturk opened #1214 "Desktop app don't save after insert figure"
Hi,

I tested 2.0 desktop app. We can't save document after insert figure.

[2019-03-04 10:47] michael commented on #1214
@yoruyenturk can confirm this. Sorry for this. We're working on a fix.

[2019-03-04 10:50] yoruyenturk commented on #1214
Thanks your response.

[2019-03-04 12:50] Integral opened #1215 "Entering accented characters"
There are some symbols in OS X which are outside of keyboard. So you can hold some key and in combination with a number get another letter, this is called accented characters.
When I do this texture append accented character after the cursor, but still the backspace will remove it (e.g. it will remove what is after the cursor):
![](http://g.recordit.co/eVVMGRuVHH.gif)

[2019-03-04 17:43] FAtherden-eLife opened #1216 "link formatting stripped in tables"
I notice when I open (an already marked up) file in a local instance of texture, if the file contains a table which contains links, the link formatting is lost.

For example if I have a file which contains the following:
[code]

This displays like the below in texture:
![screen shot 2019-03-04 at 17 43 00](https://user-images.githubusercontent.com/43879983/53751800-02434600-3ea5-11e9-8da8-9354011a

[2019-03-05 15:17] Integral commented on #1214
@yoruyenturk thanks! you can check https://github.com/substance/texture/releases/tag/v2.0.1 now

[2019-03-05 15:17] #1214 closed

[2019-03-06 14:09] michael opened #1218 "Citation Styles: CSL/JSON mapping"
See mapping provided by eLife for all reference types:

https://docs.google.com/spreadsheets/d/1UYUP44SErl38ExbY6T8nawIBzp9dA-no8NqbThLiK6I/edit#gid=0

Things to address next:

- data references are insufficiently supported in CSL/JSON
- Missing DOI's for books and book chapters, ISBN and DOI's on reports and PubMed IDs onjournals
- page-range is combined field in CSL/JSON but a separate fields in

[2019-03-06 14:12] michael opened #1219 "Preformat: Not possible to add multiple lines"
It should be possible to edit multi-line preformat blocks. Currently ENTER breaks the node and creates a paragraph underneath. Either we interpret ENTER differently when editing a preformat or at least allow Shift+ENTER to create a new line within the current preformat block.

[2019-03-06 14:40] eLifeProduction commented on #1218
Just to clarify, I was working off this URL https://aurimasv.github.io/z2csl/typeMap.xml, which suggests to me that CSL does support datasets but this particular project to map from Zotero does not. Apologies if I didn't explain that sufficiently in the preamble to this ticket!

If anyone has a more complete list of what is allowed under CSL/JSON, I'd really like to take a look.

Thanks,

James

[2019-03-06 14:55] michael commented on #1218
@eLifeProduction @JGilbert-eLife can you allow public read access for that document?

Then @zuphilip could have a look at it too.

[2019-03-06 14:58] eLifeProduction commented on #1218
Ah, this is relevant - https://www.zotero.org/support/dev/translators/datasets

And yes - I think I've made it public now . . . let me know if any problems!

James

[2019-03-06 22:50] Melissa37 commented on #1218
Just to add to this, we will require the ability to add ```specific-use=”generated”``` or ```specific-use=” supporting"``` to the ```<element-citation>```

See examples in https://jats4r.org/data-availability-statements

This is an eLife requirement.

[2019-03-07 07:08] zuphilip commented on #1218
AFAIK the CSL variables are not restricted to a certain type, i.e. you are allowed to use e.g. the DOI variable in CSL for all types. This is different if you look at Zotero, where the DOI variable is only allowed for certain types. However, even then you can add the DOI into the extra field which then will be evaluated in the transformation to DOI and therefore can be used in rendering citations.

[2019-03-08 08:17] sbirAECA opened #1220 "Allow deletion of references"
In the new version 2.0.1 it is not enabled the remove item button when I select a reference

**Version: 1.0**

![referenceslist_10](https://user-images.githubusercontent.com/37865559/54016377-f7c5cc80-4182-11e9-95a8-011c255a924a.jpg)

**Version 2.0.1**

![referenceslist_201](https://user-images.githubusercontent.com/37865559/54016305-b6352180-4182-11e9-8a1f-882fe5df1531.jpg)

Thank you

[2019-03-08 09:43] Integral commented on #1220
@sbirAECA thanks for spotting this regression, this is important one!

[2019-03-08 09:45] Integral commented on #1220
Looks like remove collection command is always disabled.

[2019-03-08 09:46] sbirAECA commented on #1220
Not always it works for example when author collections

[2019-03-08 09:47] Integral commented on #1220
I will investigate. Once again thank you!

[2019-03-08 11:43] solange-scielo commented on #1194
For SciELO it would be useful to relate supplementary material (datasets, spreadsheet, etc), as well as, to publish reviewers report related to an article.

[2019-03-08 11:47] solange-scielo commented on #549
Yes. We do publish articles with peaces of poems too.

[2019-03-08 12:26] Integral opened #1221 "Can't delete table with footnote refs"
![](http://g.recordit.co/A3Ma1hWBYL.gif)

[2019-03-08 12:43] Integral commented on #1220
You are right. Looks like it's just a missing thing. I will add it.

[2019-03-08 13:33] Melissa37 commented on #1194
Hi @solange-scielo

Have you seen this paper: https://f1000research.com/articles/7-1655/v1
It has a proposal for tagging for reviewers report related to an article and it would be great if everyone could follow this model.
Support for this is being factored into Texture as it's an eLife requirement. (sub articles).

I hope this proposal will become a JATS4R working group soon to iron out some of t

[2019-03-08 14:38] Integral opened #1222 "Footnotes removing are not updating xrefs properly"
![](http://g.recordit.co/YZmc8izdVv.gif)
E.g. if you remove a second footnote you'll see `1,?` xref and will not have a chance to get rid of that question mark.

[2019-03-08 14:45] Integral opened #1223 "Footnotes sometimes are in wrong order"
![](http://g.recordit.co/phnjlqbC2Q.gif)
As far as I know that happens if
a) if you toggle first occurrence of footnote reference in manuscript
b) you are referencing multiple footnotes there

[2019-03-08 21:28] Integral commented on #1220
This is now fixed in master. We will fix some of other bugs and then do a patch release.
Thanks!

[2019-03-08 21:28] #1220 closed

[2019-03-10 10:19] Integral commented on #1219
This is not supported by Substance library currently, e.g. [Substance will insert default node type](https://github.com/substance/substance/blob/develop/model/Editing.js#L839-L842).
Newline shift+enter also not supported.

[2019-03-10 10:26] Integral commented on #1219
I think it would not be a hard thing to change this strategy and make it more configurable. Let's wait for @oliver----.
@michael is that a special thing that we do not use new lines? I think for the `preformat` type or code it is very important feature. Let's look at trivial example:
[code]
For now you will only be able to input this:
[code]

[2019-03-11 15:31] michael opened #1226 "Typo in New > Figure Package menu"
![image](https://user-images.githubusercontent.com/2931/54135862-e991dd80-441a-11e9-9bfd-8de278b2172a.png)

Please change to "Figure Pancake". ;)

[2019-03-12 07:45] Integral opened #1227 "Figure scoped supplementary file is not exporting"
Only empty `<p specific-use="display-element-wrapper"/>` exported.

[2019-03-12 09:27] michael commented on #1194
We've seen related-object being used very similarly to a regular reference. So we don't really see the conceptual difference except for display purposes. It would be good if we could consolidate the use of two concepts into one. We can come up with solutions for the special display requirements.

@Melissa37 @fabiobatalha @solange-scielo what would prevent you from using a reference instead ob rela

[2019-03-12 12:53] Melissa37 commented on #1194
@FAtherden-eLife is going to search our archive for any use of related-object and we'll add here.

[2019-03-12 16:37] Integral commented on #1223
It turns to be a problem with custom labels. So currently if you have a custom footnote label and no xrefs pointing to that footnote it will expose a custom label which is `1` in case of our `kitchen-sink` example.
I've added a test and a fix to #1125.

[2019-03-12 16:56] Integral commented on #1222
Fixed via #1225.

[2019-03-12 16:56] #1222 closed

[2019-03-12 16:56] Integral commented on #1221
Fixed via #1225.

[2019-03-12 16:56] #1221 closed

[2019-03-12 16:56] Integral commented on #1223
Fixed via #1225.

[2019-03-12 16:56] #1223 closed

[2019-03-12 16:57] Integral commented on #1226
Fixed via #1225.

[2019-03-12 16:57] #1226 closed

[2019-03-12 16:57] Integral commented on #1227
Fixed via #1225.

[2019-03-12 16:57] #1227 closed

[2019-03-25 09:54] michael opened #1229 "Improved TOC for manuscript and metadata"
- Main Article → `article`
  - Font Matter → `front`
    - Title → `article-title`
    - Authors → `contrib-group`
    - Abstract → `abstract`
      - Abstract subsection 1 → `section`
      - Abstract subsection 2 → `section`
    - eLife digest? → `abstract[abstract-type=executive-summary]`
      - Custom abstract subsection 1 → `section`
      - Custom abstract subsection 2 → `section`
  - Main

[2019-03-28 15:22] oliver---- opened #1233 "Ability to use Texture as a library or CLI for conversion"
1. a means to convert DAR content, particular the JATS file into different format, e.g. JSON or HTML.
2. Texture as a nodejs library allowing to reuse Texture's capabilities to parse and manipulate DAR content

[2019-03-28 15:23] oliver---- opened #1234 "Ability to hide (empty) title of sub-figures / figure-panels"
This feature should be approached via configuration.

[2019-03-28 15:24] oliver---- opened #1235 "Ability to reference a Figure Group instead of single sub-figures"
ATM there is no way for doing that, as Texture allows only to select sub-figures for referencing.

[2019-03-28 15:25] oliver---- opened #1236 "Ability to edit the title of a figure group"
ATM Texture allows only sub-figures to have a title.

[2019-03-28 15:26] oliver---- opened #1237 "Ability to hide (empty) sub-title"
Should be done via configuration.

[2019-03-28 15:26] oliver---- opened #1238 "Ability to hide (empty) abstract"
Should be solved via configuration.

[2019-04-01 14:19] michael opened #1241 "[Feature] Section types"
# User stories

- As a production assistant I want to add an acknowledgements section
- As a production assistant I want to add a data availability section
- As a production assistant I want to add one or more appendices
- As a production assistant I want to change the order of the backmatter elements

# Examples

##  Backmatter

[code]

## Body

[code]

# Proposal

This proposal describes a gener

[2019-04-02 16:16] michael opened #1242 "[Feature] CLI to validate and open a DAR files"
# User stories

- As production team member I want to be able to validate and open a set of DAR files programatically, without having to open Texture
- As a production team member, I want to see a list of errors printed for each DAR that does not pass

# Proposal

TODO: Propose CLI usage

---
Status: DRAFT

[2019-04-04 20:33] oliver---- commented on #1219
This has been solved via #1231

[2019-04-04 20:33] #1219 closed

[2019-04-04 20:43] oliver---- commented on #1159
This has been prepared and only needs to be activated by allowing `<break>` in `<td>` in TextureJATS.

[2019-04-04 20:53] oliver---- commented on #1159
@Melissa37 this is an example of a 'micro' task which we could address without a complex requirements engineering process. I'd like to label such issues and treat them as general backlog similar to bug fixes but with less prio. E.g. @Integral could work on such things while we are spec'ing out the more complex requests. What do you think?

[2019-04-04 21:06] oliver---- commented on #1216
This seems to be working now (is covered by kitchen-sink)

[2019-04-04 21:07] oliver---- commented on #1213
Fixed.

[2019-04-04 21:07] #1213 closed

[2019-04-04 21:11] oliver---- commented on #1180
The command for editing links seems not be enabled in Metadata view.

[2019-04-04 21:17] oliver---- commented on #1118
We probably will remove the ability to insert supplementary file 'inline' in the legend because it relies on a JATS hack, and instead come up with an alternative to associate a file with a figure.

[2019-04-04 21:17] #1118 closed

[2019-04-04 21:18] oliver---- commented on #1083
This will be done in the 'Translation Layer'

[2019-04-04 21:20] oliver---- commented on #1054
This is done.

[2019-04-04 21:20] #1054 closed

[2019-04-04 21:20] oliver---- commented on #1044
Done via #1231

[2019-04-04 21:20] #1044 closed

[2019-04-04 21:28] oliver---- opened #1243 "Table commands not enabled in Metadata view"
**Describe the bug**

In contrast to the Manuscript view, in the Metadata view the context menu for manipulating tables is empty.

**Steps To Reproduce**
- Open Metadata view / Tables
- Select a cell
- Click right mouse button to open context menu

**Expected behavior**

should show a context menu allowing to add/remove rows and columns, for instance

**Screenshots**
![image](https://user-images.g

[2019-04-05 08:14] michael commented on #1159
How about a label "backlog" for those?

[2019-04-05 09:23] Integral opened #1244 "Link is not available in Metadata view"
You can see a link in table or abstract, but the tool is not getting enabled.
![Screenshot 2019-04-05 at 12 23 46](https://user-images.githubusercontent.com/182010/55617849-b5050d80-579d-11e9-9cfc-aa423f385b65.png)

[2019-04-05 09:31] Integral commented on #1243
@oliver---- would you agree with me that footnotes and bibliographic references inside table must be editable in metadata view as well?

[2019-04-05 09:34] Integral commented on #1243
...as well as other types of content available for tables in manuscript mode!

[2019-04-05 09:36] oliver---- commented on #1243
Absolutely!

Daniel Beilinson <notifications@github.com> schrieb am Fr., 5. Apr. 2019,
11:34:

[2019-04-05 10:03] michael opened #1245 "[Feature] Figure files"
# Description

We want the ability to associate files directly with a figure/figure panel. A common use case for this is attaching datasets to individual figures.

# User stories

SourceData:

- As a figure package author, I want to be able to attach one or more datasets to a figure or figure panel
- As a figure package author, I want to be able to assign the same dataset to multiple figure panels

[2019-04-05 10:07] michael commented on #1141
I've captured the requirements here in a Feature ticket. https://github.com/substance/texture/issues/1245

Closing this issue.

[2019-04-05 10:07] #1141 closed

[2019-04-05 10:12] michael commented on #1142
Openend a dedicated feature ticket for this topic. Let's continue discussion there. https://github.com/substance/texture/issues/1245

[2019-04-05 10:12] #1142 closed

[2019-04-05 10:13] michael commented on #1245
@dalapeyre what is your opinion about allowing `<xref>` inside the `<fig>` element directly, in order to link other resources directly to a figure?

[2019-04-05 10:27] michael commented on #1245
@Melissa37 @evabenitoembo @source-data I'd like to put a priority on this topic as we want to move on with implementation of this in the current dev iteration. We'd need to find agreement on the TextureJATS tagging, and define a translation layer for eLife if needed.

Could you all review and update the user stories, including XML requirements for this topic? Once we have that, it would be a good

[2019-04-05 11:01] michael commented on #1016
I've captured the requirements in this feature spec here. https://github.com/substance/texture/issues/1245

Let's continue the discussion there.

[2019-04-05 11:01] #1016 closed

[2019-04-05 11:10] Melissa37 commented on #1245
@michael sounds good. Have pinged @evabenitoembo by email and we'll get back to you next week I hope

[2019-04-05 12:52] Integral commented on #1244
Actually it is a duplicate of #1180.

[2019-04-05 12:52] #1244 closed

[2019-04-05 13:46] oliver---- commented on #1243
Fixed via #1246

[2019-04-05 13:46] #1243 closed

[2019-04-05 13:46] oliver---- commented on #1180
Fixed via #1246

[2019-04-05 13:46] #1180 closed

[2019-04-05 13:55] oliver---- commented on #1158
Fixed via #1246

[2019-04-05 13:55] #1158 closed

[2019-04-05 15:16] dalapeyre commented on #1245
At the next JATS Standing Committee meeting,
we are discussing ways to connect a figure or
table with the dataset(s) behind the figure/
table.

If you want to do it through allowing <xref>
directly inside <fig> (not a bad idea at all),
post that on the NISO comment list. Then the full
Committee will discuss it, along with any other
proposals to do the same.

The NISO list is:

  https://groups.nis

[2019-04-05 15:23] dalapeyre commented on #1245
There are some other decisions the JATS Standing
Committee made that you guys should know about:

1) Block alternatives

2) Repeated figure and table labels and captions

I will attach an explanation of Block Alternatives in
this message, and of multi-lingual table and figure
labels and captions in the next.

--Debbie

================================================================
Deborah A Lape

[2019-04-05 15:24] dalapeyre commented on #1245
There are some other decisions the JATS Standing
Committee made that you guys should know about:

--Debbie

================================================================
Deborah A Lapeyre              mailto:dalapeyre@mulberrytech.com
Mulberry Technologies, Inc.      http://www.mulberrytech.com
17 West Jefferson Street         Phone: 301-315-9631 (USA)
Suite 207                        Fax:   30

[2019-04-05 15:49] michael commented on #1245
Thank you @dalapeyre ! Glad to hear you support that idea. :)

I just posted a comment: https://groups.niso.org/apps/group_public/view_comment.php?comment_id=814&add_comment=1

@dalapeyre email attachments are not possible I think, you'd need to use the Github interface to attach the files.

[2019-04-05 15:55] dalapeyre commented on #1245
Attach them to WHAT at Github? My two email
attachments are just descriptions of JATS SC
decisions that MAY OR MAY NOT be related
to any of your items, that is for you to decide.

I replied all, so some of you should have this in
your inbox.

That is one of the things I find annoying on Github,
if you know WHERE to put it, its easy, but if you
do not know... or there is not good "where"...

Sorry

[2019-04-08 13:48] Melissa37 commented on #1159
Hi there

@FAtherden-eLife can you add this requirement to our new Tables feature request ticket when we get to it perhaps?

@michael I'd be happier to close this and wrap it up in a new feature request than create a new label for it as it's an eLife requirement to go live and needs a proposal.

Cheers

[2019-04-08 19:49] fabiobatalha opened #1247 "Tables: Can not include text if a table is the last content in the document"
# Describe the bug

It is not possible to include new text in the bottom of the document if we have a table in the bottom of it.

# Steps To Reproduce

* Include a table in a document with only one paragraph
* Try to include a text after the table

# Expected behavior

* It should be possible to click in the bottom of the document and include a text

# Screenshots

![bug_texture_1](https://user-im

[2019-04-09 09:35] jcolomb commented on #1245
Hi, I am new in the discussion, and I like the whole texture idea very much!
Here my comments as a reproducible report enthusiast.

On top of data set, one might want to link a key reagent table or a protocol, or an analysis code, you might find some inspiration looking at how profeza is doing this: https://www.profeza.com

Do I understand it right that tagging the supplementary files to tell what

[2019-04-09 09:54] jcolomb commented on #1071
- as a researcher, I want to share my dar figure with my boss (on slack) for peer review.

No one will be able to get to use the tool if everybody needs to install texture.

[2019-04-09 10:25] Melissa37 commented on #1071
Hi @jcolomb eLife and other members of the consortium are looking into this separately - there is no GitHub repo or anything for this work yet and no planned delivery, but it will be open sourced if/when we achieve it.

[2019-04-10 15:48] fabiobatalha commented on #1194
@michael

At first, what made us to take this decision and stick in relate-object to identify a fully reviewed document is like you said for display purpose and also because ÉruditArticle Schema supports this kind of metadata that is identified by a specific element (trefbiblio). The purpose of trefbiblio in ÉruditArticle is similar with the related-object in JATS.

But later, seeing examples in É

[2019-04-11 08:30] Melissa37 commented on #1194
When you use reference tagging, this becomes a _citation_ and affects citation metrics for systems using the XML to pull citations. I am thinking they would not pick up a related object in this way.
If a system is pulling references into a reference list then this will be pulled in.
There is common usage for related-object in the publishing world.

As we have a real use case provided and it could

[2019-04-11 09:05] michael commented on #1194
Let's work on a clear specification for the related-object use-case first. Could we adapt this issue to conform to our feature-request template and have user stories and JATS examples provided? I'd like to reach exactly one tagging style, with optional fields. Can we assume there's structured data and related-objects can then be rendered (like a citation style)? Or would we choose to rather have t

[2019-04-11 12:26] michael opened #1249 "[Feature] Keyword editor"
# Description

Improved keyword editor, for rapid access.

# User stories

- [ ] As a user I want to create multiple keywords for a keyword category
- [ ] As a user I want to quickly add a new keyword to an existing list
- [ ] As a power user I want to use keyboard navigation only to add, edit, delete a keyword
- [ ] As a beginner I want to be able to achieve all tasks without keyboard shortcuts

[2019-04-11 14:12] michael opened #1250 "Multi-panel figures"
# Description

We want a

# User stories

- As a user I want to be able to reference a full figure (Figure 1)
- As a user I want to alternatively reference a figure panel (Figure 1A)
- As a user I want to provide captions per panel
- As a user I want to provide permissions per panel
- As a user I want to provide the full figure (with layout) as an image
- As a user I want to set a title only for t

[2019-04-11 14:58] fabiobatalha commented on #950
a dedication can be also expressed as an note in the article-meta.

[code]

[2019-04-11 15:12] michael commented on #950
Would be good to pick one representation for dedications. Could we collect user stories and make the ticket conform to the Feature Request template?

[2019-04-11 15:16] fabiobatalha commented on #950
Yes @michael, at this moment I'm only reviewing our requirements, I'm also identifying together with @Melissa37 the overlapping requirements, at the end they will be all following the Feature Request template.

[2019-04-11 16:39] fabiobatalha commented on #1059
In JATS the element notes is allowed only once in front.

The suggestion to have more then one note according to a feedback from the jats lists is:

[code]

[2019-04-11 16:39] fabiobatalha commented on #1059
In JATS the element notes is allowed only once in front.

The suggestion to have more then one note according to a feedback from the jats lists is:

[code]

[2019-04-12 15:34] Melissa37 commented on #1061
@fabiobatalha can you provide some XML samples and perhaps screenshots of display?

@JGilbert-eLife @FAtherden-eLife will help write some user stories for this, Fred has experience of this tagging from a previous role.
We see it as a feature Texture should support and so should spec out this ticket

[2019-04-12 15:35] Melissa37 commented on #1194
@JGilbert-eLife  @FAtherden-eLife can you look at this and think of user stories and ask any questions you think necessary?

[2019-04-15 20:41] retorquere commented on #983
BBT exposes its own APIs on Zotero, so citation picking and pulling from Zotero can be done automatically without any CSL-JSON having to hit the disk inbetween.

[2019-04-16 15:30] Melissa37 commented on #1242
@gnott do wanna show @michael what you did on a forked instance to get us what we need?

[2019-04-17 08:45] FAtherden-eLife opened #1251 "Bug: Formatting with ext-link"
# Describe the bug
As reported by @gnott, `ext-link` is not allowed as a child of formatting elements. Formatting inside `ext-link` elements are not displayed in texture.

# Steps To Reproduce
The following markup is considered invalid by Texture and will result in content being un-openable:
[code]

The following markup is considered valid by Texture and will result in content being openable:
[cod

[2019-04-17 08:48] michael commented on #1216
@Integral can you investigate and reopen issue as a bug ticket if you can confirm the behavior?

[2019-04-17 11:29] FAtherden-eLife opened #1252 "Author names"
# Description

The displayed name for each member of the author list.

# User stories

### Author
- As an author, I want to be able to see which parts of an author name have been designated first name(s) + initials, and which surname(s) so that I can make sure this has been done correctly.
- As an author, I want to be able to edit the first name(s) + initials and surnames for authors so that I can

[2019-04-17 11:30] FAtherden-eLife opened #1253 "Author IDs"
# Description

eLife supports ORCID IDs for authors. Erudit supports 3 other author IDs too: isni, researchid, scopus.

# User stories

### Author
- As an author, I want to be able to see which, if any, ORCID ID has been associated with an author name so that I can check this information is correct.

### Production staff
- As production staff, I want to be able to see where an ORCID associated wit

[2019-04-17 11:34] FAtherden-eLife opened #1254 "Corresponding author status"
# Description

One or more authors in the author list will be designated as corresponding author.

# User stories

### Author
- As an author, I want to be able to see which authors have been designated as corresponding authors so that I can check this has been done correctly.

### Production staff
- As production staff, I want to be able to remove corresponding author status from an author so that

[2019-04-17 11:37] FAtherden-eLife opened #1255 "Present addresses"
# Description

The current affiliation for an author as opposed to the affiliation at which they did the work being reported in the article.

# User stories

### Author
- As an author, I want to be able to add and associate a present address with one or more authors so that I can indicate that their current affiliation is different to their primary affiliation when the work was carried out.
- As a

[2019-04-17 11:38] FAtherden-eLife opened #1256 "Author affiliations"
# Description

Structured affiliation information (department, institution, city, country).

# User stories

### Author
- As an author, I want to be able to clearly see which affiliations are associated with an author so that I can check this information is correct.
- As an author, I want to be able to see which authors are associated with an affiliation so that I can check they have been correctl

[2019-04-17 11:40] FAtherden-eLife opened #1257 "Equal contributor status"
# Description
Two or more authors may be tagged as having contributed equally. This has nothing to do with the contributions that are actually listed for these authors.

# User stories
### Author
- As an author, I want to be able to see which authors have been tagged as equal contributors so that I can check this information is correct.
- As an author, I want to be able to add equal contribution s

[2019-04-17 12:50] JGilbert-eLife opened #1258 "Author footnotes"
# Description

Additional custom footnotes occasionally required to denote special statuses on the author list (e.g. ‘Authors listed in alphabetical order’).

# User stories
### Author
- As an author, I want to be able to add a footnote to authors so that I can list non-standard information about them.
- As an author, I want to be able to remove an author footnote so that I correct errors.

### Pr

[2019-04-17 12:53] oliver---- commented on #1251
@Integral I'll investigate first and then hand it over to you.

[2019-04-17 12:55] JGilbert-eLife opened #1259 "Deceased status"
# Description

An indicator that an author is deceased.

# User stories

### Author
- As an author, I want to be able to see if an author has been marked as deceased so that I can check this is correct.

### Production staff
- As production staff, I want to be able to mark an author as deceased so that I can indicate this status when publishing the article.
- As production staff, I want to be able

[2019-04-17 12:57] JGilbert-eLife opened #1260 "Email address"
# Description

An email address associated with an author.

# User stories

### Author
- As an author, I want to be able to see an email address associated with an author so that I can make sure this information is correct in the published article.

### Production staff
- As production staff, I want to be able to edit an email address associated with an author so that I can correct this informatio

[2019-04-17 13:01] JGilbert-eLife opened #1261 "Non-author contributor names"
# Description

The displayed name for a non-author contributor on the article.

# User stories

### Author
- (1) As an author, I would like to be able to see (but not edit) the names of non-author contributors (e.g. editors, reviewers) so that I can confirm this information is correct.
- (2) As an author, I would like to be able to distinguish non-author contributors (editors, reviewers) from the

[2019-04-17 13:06] JGilbert-eLife opened #1262 "Non-author contributor affiliations"
# Description

Affiliations for non-author contributors, to be considered separately from the affiliations for the authors.

# User stories
### Author
- As an author, I would like to be able to see the affiliations for non-author contributors (reviewers, editors etc) so that I can confirm this information is correct.
- As an author, I want to be able to clearly distinguish the affiliations for non

[2019-04-17 13:08] michael commented on #1259
Would make sense to exclude the footnote from TextureJATS and only have the deceased flag set. If needed the translation could provide both the flag + a generated footnote with the content. This would make sense to avoid redundancy, but only works if the content of the deceased footnote is fixed (you can't enter custom text). Is that the case?

Does JATS4R specify how authors should be marked as d

[2019-04-17 13:09] JGilbert-eLife opened #1263 "Non-author contributor roles"
# Description

Designates the kind of non-author contributor e.g. reviewer, reviewing editor, senior editor, translator etc.

# User stories

### Author
- As an author, I want to be able to see the role assigned to each non-author contributor so that I can check that this information is correct.

### Production staff
- As production staff, I want to be able to edit the role for a non-author contri

[2019-04-17 13:12] michael commented on #1258
We had a proposal for this already.

![image](https://user-images.githubusercontent.com/2931/56290211-f04ef700-6122-11e9-83b5-bcc2c1c569d6.png)

![image](https://user-images.githubusercontent.com/2931/56290230-f9d85f00-6122-11e9-8d6f-90f4a161735e.png)

Would work for conflict of interest statements, present addresses, equally contributed (user chooses an author note type). Does that capture your n

[2019-04-17 13:14] oliver---- commented on #1251
@Integral This was indeed incorrectly overridden in TextureJATS. I have added described content to the kitchen-sink.
Could you add a test-case for this, i.e. italic inside ext-link and ext-link inside italic?

[2019-04-17 14:40] michael commented on #1250
@source-data can you take a look at the proposal, so we can discuss tomorrow in our call?

[2019-04-17 15:01] Melissa37 commented on #1259
Yes agreed, we'd need to agree on text!

Nope

[2019-04-17 15:03] michael commented on #1259
Ok, then please specify the text and we can provide a proposal for this.

[2019-04-17 15:36] Melissa37 commented on #1259
Maybe a tick box for Texture could work for this feature? It's a status.
For eLife we just need the attribute in the XML to appear for us somehow, no need for a footnote of text to appear
This is one we can discuss on the call if it's confusing.

@NickDuf

[2019-04-17 17:39] fabiobatalha commented on #1074
Follow: https://github.com/substance/texture/issues/1253

[2019-04-17 17:39] #1074 closed

[2019-04-17 17:44] fabiobatalha commented on #945
Implemented in the version 1.2

[2019-04-17 17:44] #945 closed

[2019-04-17 18:10] michael commented on #1259
Well then this is already implemented. :)

![image](https://user-images.githubusercontent.com/2931/56310688-c9a5b600-614c-11e9-9e00-cf8f5e8b568b.png)

[2019-04-18 08:12] FAtherden-eLife commented on #1216
@michael, @Integral as noted by @gnott - the issue seems to be related to `@id`s on the underlying data.

This seems to occur with any kind of formatting. The same table with this markup
[code]

Renders like this in the interface (i.e. with link formatting):
![Screen Shot 2019-04-18 at 09 10 17](https://user-images.githubusercontent.com/43879983/56346358-d6142800-61b9-11e9-9a71-b2b955eb16a2.png)

[2019-04-18 08:14] michael commented on #1249
@Melissa37 we are aware this currently only addresses source data user stories. We'd like to have the additional user stories of eLife and the others, so if you could give that a priority and create separate tickets for your use-cases with user stories. We will try to consider those in the design of this one, but not necessary address all user stories in the first iteration, which has the goal to

[2019-04-18 08:21] Melissa37 commented on #1249
@michael we will prioritise this - it was in week 7. We'll try to give you something next week.
@NickDuf could you look at the visuals for this so far?

Thanks!

[2019-04-18 08:35] michael commented on #1249
Thank you @Melissa37. We thought that the first stage here is basic plain text keyword editing, with a minimal interface, this should work for the basic article level keywords. Next we could extend this with:

- Auto suggestion: Keywords from a dictionary
- Semantic linking: E.g. for contributor roles (Credit Taxonomy)

[2019-04-18 08:59] NickDuf commented on #1249
@Melissa37 do we have any user stories for this feature from our end?

[2019-04-18 11:25] oliver---- commented on #1216
@FAtherden-eLife I can confirm this. Thx for the clues.

[2019-04-18 11:45] Integral commented on #1251
Yes, I will do it.

[2019-04-18 11:48] oliver---- commented on #1251
Just add another test case to Annotations.test.js. With a tiny fixture for both cases, and then check that it can be loaded and is imported correctly.

[2019-04-18 11:52] michael commented on #1253
The ORCID authentication is something that should be done in Libero as a separate step in the workflow that authors should perform. Texture is only there to read and write the XML, so there's no means to do this kind of verification process, as you could always just manually change the ORCID in the XML.

We can make Texture display a hint if the authenticated flag is set, and make the field read-o

[2019-04-18 12:01] Integral commented on #1173
@oliver---- There are two types of renderers here:
1) When you get a plain text string
2) When you get a markup (for all references)

The first one I moved to member functions, the second pretty complex and I think we should left them as they are for now. Ok?

[2019-04-18 14:46] Melissa37 commented on #1253
Agreed, Texture is not doing the authentication but storing the attribute that is provided on the XML input.

@NickDuf this is one for you too. In the context of all the info the author/QC staff see/action.

[2019-04-18 14:54] oliver---- commented on #1173
Sounds good!

Daniel Beilinson <notifications@github.com> schrieb am Do., 18. Apr. 2019,
14:01:

[2019-04-21 12:03] Integral commented on #1216
This is fixed in #1264. We will try to merge it next week.

[2019-04-21 12:31] Integral opened #1266 "Affiliations input renders selected items incorrectly"
![Screenshot 2019-04-21 at 15 24 50](https://user-images.githubusercontent.com/182010/56470015-ca3e9500-6449-11e9-9db8-afcd43364bd9.png)

The reason is that `MultiSelectInput` calls `toString` method for each selected `Organization`. Strangely for now `toString` method just calls entity renderer which is returning an array, not a string. This is now fixed in PR #1265 via 47eff06742ebee1465a8ba174d

[2019-04-23 13:30] michael opened #1267 "Theming"
# Description

It should be possible to configure styling sufficiently to match an existing page style where Texture is integrated.

# User stories

Please provide user stories.

# Consideration

- eLife needs a consistent user experience with the rest of their site (especially for the parts that authors are facing)

# Mock ups

This is not required, but if you have mock ups of what you would like

[2019-04-23 16:18] Melissa37 commented on #1267
Thanks @michael

I think what we need from you is the concept of how you will achieve this so no need for us to provide the requirements in the proposal at this stage. It needs to be generic for anyone.

We'll work on the user stories, but in the meantime can you think of the hooks concept?

@NickDuf

[2019-04-23 16:21] oliver---- commented on #1267
@Melissa37

I need a better understanding in which regard Texture should exactly be theme-able.

[2019-04-23 19:38] michael commented on #1267
For explanation: we only want to make a few settings configurable (fonts, font sizes, colors etc.) otherwise this becomes unmanageable and not maintainable. So what would help to find the minimum requirements is an image of the eLife site design (with all used elements, fonts, button etc.) in which Texture should be embedded. Then we can figure out how much needs to be tweaked with variables to ma

[2019-04-24 09:56] michael commented on #1263
Thanks for the requirements on this. Very clear and make sense!

Just a few questions:

- is the contrib group type 'peer-review' generic enough?
- will we have a fixed number of contrib group types (authors, peer-review, translators) or do we need to have that extensible?
- Alternatively: could we just have two groups (authors, and 'other')?
- Custom Vocabulary: It would be good to have the same

[2019-04-24 10:55] michael commented on #1262
If we choose to have dedicated affiliations per contrib group, sharing an affiliation is not possible. The information needs to be entered twice or even 3 times, if an author, an editor and a translator have the same affiliation (and given we have three groups). Is that acceptable?

[2019-04-24 11:22] michael commented on #1261
Isn't this something we could agree on as a group? Even if we had 10 different contrib-groups it would be better to have them built-in and optional than having publisher-specific values. The content would no longer be exchangeable, as the semantic meaning is not defined for the custom groups.

Few general questions:

- what are the reasons to sub-group non-author contributors? Where is this inform

[2019-04-24 12:46] michael commented on #1260
Could we assume that when an email is provided, that the author is a corresponding author and save that in the XML, but only capture "email" or "not email" in the editor?

[2019-04-24 15:35] fabiobatalha commented on #1263
I would say those 3 groups are enough, and maybe change the name of **peer-review** to **editorial**.

The CRedIT taxonomy doesn't address the translators, I would say it is ok to include this taxonomy but it is still important to allow to include custom values in the element ``role``.

[2019-04-24 15:42] fabiobatalha commented on #1262
The contrib-group authors and others should be enough for Érudit use cases using ``role`` to distinguish reviewers from translators.

[2019-04-24 15:51] fabiobatalha commented on #1261
@michael

I agree with you. We can have the authors and others contrib-group only. The element ``role`` should be enough to distinguish from reviewers, translators and others.

In this approach:

* the ``role`` element should be flexible enough. It means it can have a controlled vocabulary but still needs to allow users to define their own valid values and it can not be mandatory.
* will not be po

[2019-04-24 15:56] fabiobatalha commented on #1260
@michael

Yes for Érudit.

[2019-04-24 16:12] michael opened #1269 "[Feature] Authors and Contributors"
# Description

A complete feature proposal for editing authors and contributors (reviewer, editor, translator, ...) including affiliations.

# User stories

User stories provided in separate tickets:

- Email address #1260
- Author names  #1252
- Author IDS #1253
- Corresponding author status #1254
- Present addresses #1255
- Deceased status #1259
- Author affiliations #1256
- Author footnotes #12

[2019-04-24 16:23] michael commented on #1261
I've started a complete feature proposal in which I'd like to address all required feature-requests in the end. I came up with 2 sections Authors and Contributors (all other contributor types, such as reviewer translator etc.)

See: https://github.com/substance/texture/issues/1269

@fabiobatalha any chance we can maintain a collaborative list of role values that are available. By doing that conten