[2018-01-30 09:09] michael commented on #324
@Melissa37 the citation elements (xrefs) will actually not be removed, only the targets. E.g. if you have [2,3] and you delete 3, then you'll get [2] in this place. If you then also remove 2 you'll get [???].

I'd not remove the xrefs as we may end up with weird uncontrolled whitespace etc. Better fix those things explicitly.

[2018-01-30 09:10] michael commented on #288
First iteration done.

[2018-01-30 09:27] michael commented on #338
I would still show the full manuscript in the QC view and be able to edit it. So the QC view is just a more detailed authoring view.

Maybe there's a way to make a visual distinction between directly editable parts (title, abstract, manuscript body) and things that need an edit dialog.

[2018-01-30 10:12] michael opened #348 "Improve reference editing"
Allow editing of references right from the manuscript view. We need to add edit/remove buttons, and clicking on Add Reference should open an empty Entity Create dialog immediately.

![image](https://user-images.githubusercontent.com/2931/35560476-d73ac5fe-05ad-11e8-997a-bbc01aaa5d18.png)

[2018-01-30 10:17] michael commented on #324
@Integral the following tasks need to be done:

1) Deleting a reference brings up the prompt and updates the affected xref elements
2) Assign a non-existing target in kitchen_sink for one of the xrefs and update EditXrefTool so that these warnings are displayed. You'll then be able to untoggle the missing target.

Let me know if there are questions.

[2018-01-30 10:42] michael opened #349 "Fix bugs related to generating numbered labels"
When the reference list is changed, labels disappear. Investigate and fix.

[2018-01-30 21:32] michael commented on #324
Mostly solved, will create a separate issue for dealing with invalid xrefs.

[2018-01-30 21:32] #324 closed

[2018-01-30 21:33] michael opened #352 "Deal with invalid xrefs"
If an xref target points to an id that does not exist, we need to somehow handle this and allow the user to fix the error. A dialog such as this one could be displayed

![image](https://user-images.githubusercontent.com/2931/35592527-85c23436-060d-11e8-9eb0-d1190b517732.png)

[2018-01-30 21:35] michael commented on #349
Fixed via #351

[2018-01-30 21:35] #349 closed

[2018-01-30 21:35] michael commented on #346
Fixed via #350.

[2018-01-30 21:35] #346 closed

[2018-01-30 21:37] michael commented on #288
First working iteration in place, we'll iterate on the interface using mockups and implement in the coming versions.

[2018-01-30 21:37] #288 closed

[2018-01-30 21:38] michael commented on #273
Think we can continue with a combined approach for now. Labels are included in the source format, but will be replaced when opened in Texture.

[2018-01-30 21:38] #273 closed

[2018-01-30 21:39] michael commented on #254
This is too unspecific. Closing.

[2018-01-30 21:39] #254 closed

[2018-01-30 21:43] michael commented on #298
We have a working implementation for an EntitySelector now. We'll improve it as we move forward with the UI.

[2018-01-30 21:43] #298 closed

[2018-01-30 21:46] michael commented on #302
Ok, this was an instance of over-engineering. Closing. ;)

[2018-01-30 21:46] #302 closed

[2018-01-30 21:50] michael commented on #249
@cinthia-vieira after some consideration I'd like to with just one publisher-name / publisher-loc pair in the user interface. This will do for 95% of the cases, and if multiple publishers are referenced you can enter them comma separated. However for input/output we could allow multiple publisher-name/publisher loc instances, so it's only a matter of entering the data, but keeping it separated in

[2018-01-30 21:52] michael commented on #173
@robertatakenaka could you check the latest spec if we missed any of your use-cases?

https://github.com/substance/dar/blob/master/specs/JATS4M.md#authors
https://github.com/substance/dar/blob/master/specs/JATS4M.md#affiliations

[2018-01-31 07:23] NickDuf commented on #338
@michael more than happy to look at this with you if you wish?

[2018-01-31 09:18] michael commented on #284
We won't do that, at least not in the near future. Instead, we'll connect CrossRef/etc. to prefill reference forms.

[2018-01-31 09:18] #284 closed

[2018-01-31 09:36] michael commented on #250
Please see JATS4M schema for element-citation.

https://github.com/substance/dar/blob/master/specs/JATS4M.md#references

If something is missing or wrong, please create an issue in the Dar repository.

[2018-01-31 09:36] #250 closed

[2018-01-31 09:37] michael commented on #107
This is obsolete, as we will have a file backend with Alpha.

[2018-01-31 09:37] #107 closed

[2018-01-31 09:38] michael commented on #338
Thank you @NickDuf, can I ping you some time next week?

[2018-01-31 15:04] NickDuf commented on #338
@michael totally fine.

[2018-01-31 16:12] Integral commented on #352
Maybe we should add `[3, ???]`, so user can expect already that 3 is ok and second reference is broken somehow

[2018-02-01 10:38] michael commented on #348
Done.

[2018-02-01 10:38] #348 closed

[2018-02-01 11:19] michael opened #356 "Order of references random"
We need to apply proper sorting for the reference list, depending on labels in ascending order.

![image](https://user-images.githubusercontent.com/2931/35675816-b3801b62-0749-11e8-8edd-eac5b1d7824f.png)

How should we assign the position of the rest? Easiest would be insertion order.

[2018-02-01 11:28] michael opened #357 "Connect image upload with Dar+Storage"

[2018-02-01 12:16] Melissa37 commented on #352
Sorry if being thick, but is this in the reference list but there is no citation in the text?

[2018-02-01 12:25] michael commented on #352
No this is the edit xref dialog and there is a `ref id` referenced that does not exist.

Much like:
`<xref rid="r1, r9891223">`

This shouldn't actually happen with correct XML, but we just want to provide a way to fix such broken links.

[2018-02-01 12:25] Integral commented on #352
@Melissa37 It is in xref tool, not in the reference list (e.g. not in the back matter), there should be `[???]`or `[!!!]` for invalid xrefs.

[2018-02-01 14:26] michael commented on #356
Fixed

[2018-02-01 14:26] #356 closed

[2018-02-02 12:16] michael opened #360 "Group author support"
Here's our latest proposal, for modelling group authors in combination with regular authors:

[code]

UI Proposal (QC Panel):

![image](https://user-images.githubusercontent.com/2931/41923157-0c1f316a-7967-11e8-9f88-36da629e5bf0.png)

Requirements to sign off (according to sample above):

- [ ] Find agreement on roles for group members (spec proposal ok?)
- [ ] Consider present addresses of author

[2018-02-02 12:18] michael commented on #280
I think we can close this. @praveennair please verify the latest spec and create an issue if a requirement isn't met.

JATS4M Spec: https://github.com/substance/dar/blob/master/specs/JATS4M.md

[2018-02-02 12:18] #280 closed

[2018-02-02 12:23] michael commented on #253
Repro-figs are spec'ed and implemented. Closing.

@axfelix will check your posted example but respond separately.

[2018-02-02 12:23] #253 closed

[2018-02-02 12:26] michael commented on #275
Guess this is no longer applicable. Closing.

[2018-02-02 12:26] #275 closed

[2018-02-02 12:28] michael commented on #237
Good enough to have it in tmp, it's not very readable anyway and we have the manually crafted JATS4M spec.

[2018-02-02 12:28] #237 closed

[2018-02-02 12:34] michael commented on #330
Exactly. With respect to the save button+behavior, we are pulling that out of the Texture editing interface, so your integration can decide what to do.

We are working on a reference implementation in node for the storage adapter (will share when ready). I assume you may want to implement that service in PHP, which will require some coordination / coding effort on your side. We should do some plan

[2018-02-02 13:36] michael opened #361 "List support"
We need to do a round of specification first. Here's a proposal:

### `list`

[code]

Example for bullet list:

[code]

### `list-item`

[code]

*NOTE: We allow only one list or paragraph as a child.*

### Questions:

- Is it ok to only support text and inline content in lists?
   - it is problematic and not recommended to put block elements (such as tables or figures etc. into lists), are there a

[2018-02-02 18:10] michael commented on #279
Alpha 4 shouldn't break on save anymore in these cases. For content not conforming to JATS4M you should see a clear error. Closing this issue.

[2018-02-02 18:10] #279 closed

[2018-02-03 20:42] #352 closed

[2018-02-05 10:27] michael opened #365 "Improve RichTextInput"
There are some issues we should address for the RichTextInput:

- tabbing does not work
- when multiple richtext inputs are used multiple overlays are displayed (we need need an EditorManager on top level)

[2018-02-06 11:49] michael commented on #338
We discussed an idea today, which would bring up task-related QC panes, which then are displayed as a modal. For instance, one could bring up the "Check Authors and Affiliations" pane, which will point out issues and let you fix them in a dedicated interface. Once you've made your changes you can hit save and you'll return to the manuscript view.

![image](https://user-images.githubusercontent.com

[2018-02-06 16:48] michael commented on #331
I can confirm this error, we are working on a fix right now.

[2018-02-06 18:33] michael opened #368 "Add support for most basic group authors in <element-citation>"
Here's the markup we want to support.

![image](https://user-images.githubusercontent.com/2931/35877077-97cdbf44-0b74-11e8-965f-055cf5d716ca.png)

[2018-02-06 18:35] michael commented on #357
Done. 😅

[2018-02-06 18:35] #357 closed

[2018-02-06 18:35] michael commented on #331
Solved in Alpha 4 (to be ready in next couple of hours).

[2018-02-06 18:35] #331 closed

[2018-02-06 18:35] michael commented on #330
Solved.

[2018-02-06 18:35] #330 closed

[2018-02-08 13:49] Melissa37 commented on #360
If keeping it simple is important, I'd suggest equal contribution option be dropped from group author if this is causing complexity on the UI side.

Not all group authors have members of the group listed out. Some group authors are simply a group author name and an affiliation.

The reason why members of a group are listed out (not in the author list but associated with it) is generally to give in

[2018-02-08 13:58] Melissa37 commented on #361
Is it ok to only support text and inline content in lists? **I think so**
it is problematic and not recommended to put block elements (such as tables or figures etc. into lists), are there any legitimate use-cases for this? **I cannot think of a use case right now, and for launch I suggest keep it simple**
Should it be possible to mix bullet lists with numbered lists (like level 1 numbered, level

[2018-02-08 13:59] michael opened #373 "Bring back global key handlers (e.g. ESC while in find and replace panel)"

[2018-02-08 14:00] michael opened #374 "Improve UI flow for adding cross references"
Feedback by eLife: Overall, there seems to be a lot of double actions required - e.g. adding a citation of a reference does not open a list of the available references, but inserts a placeholder citation that then needs to be clicked to select the right reference. This could get quite frustrating if writing/editing a long article.

[2018-02-08 14:04] michael opened #375 "Introduce Raw XML Editor Interface"
Introduce Raw XML Editor to allow editing parts which are not supported by the visual interface so far. This needs scope and specification. After each edit session we must ensure JATS4M is fulfilled, otherwise need to throw an error.

[2018-02-08 14:07] michael opened #376 "Improved table editing"
We have missing functionality for table editing. E.g. adding rows/columns, or merging and splitting cells.

Two approaches:

1. Implement Raw XML Editor to allow changing the HTML markup directly
2. Implement UI for adding columns/cells merging etc.

I think we should start with 1, and then schedule a development iteration to focus on table editing.

[2018-02-08 14:11] michael opened #377 "Provide quick editing for person and organisation records"
Feedback from eLife:

We could configure EditRelationship to allow quick editing (e.g. for persons and organisations) without creating a separate dialog. Needs some mockups first, will work on it when I get some time.

[2018-02-08 14:24] michael opened #378 "Improve UI for adding/editing affiliations"
We could add create/edit buttons in the manuscript view directly. However I think we should take some time here and also consider an optimized QC interface for editing authors and affiliations in a quick way.

[2018-02-08 14:30] michael commented on #360
Thank you @Melissa37 !

Good suggestions. Regarding your last point, I think the correct way to derive the main affiliations list is going through the list of authors and capture only those. What we can do is putting something like a `specific-use=primary` attribute to mark those main affiliations explicitly.

[2018-02-13 20:33] michael opened #381 "Add Abstract, References and Footnotes to Table Of Contents"
Often you want to quickly jump to the reference list, so we should add that to the TOC. Let's use the following structure:

- Abstract (display if abstract element can be found)
- Section 1
  - Section 1.1
- Section N
- ...
- References (display if more than one ref-list > ref can be found)
- Footnotes (display if more than one fn-group > fn can be found)

[2018-02-13 20:34] michael commented on #381
Implementation Note: `TOCProvider` must be adjusted to consider the other elements.

[2018-02-13 21:32] fabiobatalha opened #382 "Not able to integrate Texture using the samples"
I'm trying to integrate Texture to our test environment, but without success.

I'm not sure if I'm doing something wrong while attempting to change the following predefined parameters.

[code]

**storage**
Basically I'm ignoring the use of the VFS as storage passing a parameter in the query string (storage=other)

**storageUrl**

full path to the storage folder, eg: storageUrl=/files/packages/63/2

[2018-02-13 21:42] michael commented on #382
Hey @fabiobatalha!

Is the app and the storage service served from the same host+port?

Also it could be that you have to urlencode the query parameter.

Maybe first hardcode the params in editor.js and see it it works?

[2018-02-13 21:46] fabiobatalha commented on #382
Hy @michael

The first attempt was hardcoding the parameters on edit.js

Yes both are in the same host+port.

[2018-02-13 21:47] michael commented on #382
Oh I think now I see. You can't just connect the editor to a static file server. You need to run that service we implemented in node for reading and storing.

E.g. the output of `http://localhost/archives/{docID}` must look like this:

![image](https://user-images.githubusercontent.com/2931/36175445-c374216a-110f-11e8-8afa-b491b61d8d84.png)

[2018-02-13 21:52] michael commented on #382
The easiest way if you want to serve something else than the contents of ./data is to point to a different root folder. You can do this like so:

[code]

There must be subfolders with valid ids, like the uuid you provided (63278a8a-2a5d-4171-b969-26bc56ab8d03)

Then you can access it via:

http://localhost:4000/editor?archive=63278a8a-2a5d-4171-b969-26bc56ab8d03&storage=fs

[2018-02-13 21:55] michael commented on #382
And make sure the contents of each subfolder (=document archive) have exactly that layout.

https://github.com/substance/texture/tree/master/data/kitchen-sink

You need to provide the manifest.xml for it to work atm.

[2018-02-13 22:17] fabiobatalha commented on #382
Humm Ok.

It seems the editor endpoint does not exists.

[2018-02-13 22:38] michael commented on #382
The editor itself is just a static page, but the storage endpoint must be node backed. In our dev setup we are just serving both the static app and the /archives/{docId} endpoint from the same port, so there's no CORS issues to overcome.

[2018-02-13 22:39] michael commented on #373
Solved.

[2018-02-13 22:39] #373 closed

[2018-02-14 00:00] michael opened #383 "Pure unreferenced affiliations"
Currently affiliations will remain in the XML, even if they're not referenced. We should somehow purge them.

[2018-02-14 00:01] michael opened #384 "Pure unused images/assets"
We are currently not deleting any images/assets. We should consider removing unlinked assets on save.

[2018-02-14 15:06] fabiobatalha commented on #382
@michael

I have just updated my Texture environment and the editor is not working any more.

I run

node make clean
npm install
npm start

The server is running but the standard url retrieve a 404.

![screenshot from 2018-02-14 10-02-00](https://user-images.githubusercontent.com/504142/36211152-757ede32-116e-11e8-82ae-370f4e3a5102.png)

[2018-02-14 17:32] michael commented on #382
Oh sorry, I introduced a regression by updating to a new version of our bundler. Please pull the latest change, it should work now.

Should we setup a call regarding integrating Alpha 4? Depending on the scenario it can involve some work to do a proper integration. We are aware of that, and should discuss. E.g. the `manifest.xml` file must be present when opening an article.

[2018-02-14 17:33] michael commented on #384
Idea: We could provide a prompt on save if there are unused images. If the user confirms to prune them, we could reset the undo history, so undo doesn't result in broken figure images.

[2018-02-14 22:10] fabiobatalha opened #385 "Problems loading contrib-group and contrib for editing"
When opening a Valid JATS XML, and JATS4R file in texture, the following error happens.

![screenshot from 2018-02-14 17-04-53](https://user-images.githubusercontent.com/504142/36230695-37724f80-11a9-11e8-9089-bc97c17ec998.png)

It seems Texture is not being able to handle the conversion from JATS4R To TextureJATS when the XML do not have id's specified in the crontrib-group and contrib elements.

[2018-02-14 22:38] fabiobatalha commented on #382
Would be nice to explain our attempt of integration, and how we can best integrate Texture with our Production Test Suite tool.

It is not a problem for us to produce the manifest.xml file, neither reproduce the FS structure under complaiance with texture needs.

I did a basic integration and it is working fine.

[2018-02-14 22:38] #382 closed

[2018-02-15 05:31] michael commented on #385
It is not the id but content-type=author of contrib-group that must be specified.

Will check if we could add a transformation step or earlier failing.

if you could adjust the converter output that would be the best solution.

[2018-02-15 16:13] fabiobatalha commented on #385
Ok no problem. We can convert it in our side.

[2018-02-15 17:31] francine-curivil commented on #249
Hi @michael
We discuss this internally and conclude that this solution is acceptable to us.

_P.S.: i'm a librarian of the SciELO team._

[2018-02-15 19:36] michael commented on #249
Nice to meet you @francine-curivil! Thank you for confirming. We will implement it that way and ship it with the next release!

[2018-02-15 19:41] michael opened #386 "Add ability to edit DOI's for figures/tables."

[2018-02-15 20:39] axfelix opened #387 "List rendering seems broken"
![image](https://user-images.githubusercontent.com/252047/36279843-4971e0e8-124d-11e8-9d67-12d8a6c85cd2.png)

Is this a known issue?

[2018-02-15 20:44] michael commented on #387
No support for lists yet. Coming in next version. See: https://github.com/substance/texture/issues/361

[2018-02-15 20:45] axfelix commented on #387
OK, thanks for confirming!

[2018-02-15 20:45] #387 closed

[2018-02-15 20:46] michael opened #388 "Add email attribute to contrib"
Add to JATS4M, TextureJATS, and Person schema. Also update EntityConverters accordingly.

[2018-02-15 20:58] fabiobatalha commented on #338
@michael

It seems to be a good approach.

Is it time to define what information we want to edit with this feature or we will talk about it in a different ticket and moment?

[2018-02-15 21:04] michael commented on #338
Definitely! Please list all the info you want to have exposed. Next we‘ll
update the JATS4M spec, and once everyone is happy we can start
implementing.
On Thu 15. Feb 2018 at 21:58, Fabio Batalha <notifications@github.com>
wrote:

[2018-02-16 15:16] michael opened #389 "Deal with rotated images (taking on a mobile phone)"
I've done some investigation and found out this is a common issue, as web browsers File objects do not consider the EXIF data. See this issue of the Ghost blogging platform: https://github.com/TryGhost/Ghost/issues/1688

In order to address this I'd like to clarify the following questions:

- Is it really a use-case that images taken on a phone are included in a scientific article?
- Would it be o

[2018-02-17 11:15] Integral commented on #388
See #390.

[2018-02-17 11:42] michael commented on #385
Will add a rule so this fails earlier.

[2018-02-17 15:17] Integral commented on #381
@michael pls take a look at #391
However I've discovered few problems:
1) we can't currently translate anything inside TOCProvider
2) we don't have an access to reference manager so we don't know which ref is going first
to fix that problems we need to pass context somehow inside TOCProvider

[2018-02-17 17:24] Integral commented on #193
@oliver---- is it still happening? If so, could you please tell me how to reproduce this flickering?

[2018-02-19 14:07] michael commented on #388
@axfelix email should be supported in master now.

[2018-02-19 14:07] #388 closed

[2018-02-19 18:12] michael commented on #385
Fixed via #392.

@fabiobatalha we do a normalisation step now that adds the missing attribute for the first and second `contrib-group` found.

Can you check if this working for you with your original input?

[2018-02-19 18:13] michael commented on #385
FYI: This is what happens behind the scenes: https://github.com/substance/texture/pull/392/commits/e02d894bfa1c0cf2d17984fc85dfb42a7f4d9158

/cc @axfelix (please check too)

[2018-02-19 18:22] michael opened #393 "Reference order not properly updated on undo/redo"
Reproduce by removing the last 3 references of the kitchen sink example. Then press undo button two times, and you should see this:

![image](https://user-images.githubusercontent.com/2931/36392126-0be88546-15aa-11e8-998e-651f665817fb.png)

Solution: We need to listen to document changes and decide when the referenceManager needs to recompute the labels. Currently this is hard-coded in some places

[2018-02-19 21:56] michael commented on #381
Done! Thank you @Integral, great job.

[2018-02-19 21:56] #381 closed

[2018-02-20 00:01] axfelix commented on #385
Working here (though we already added a converter step to add that attribute).

[2018-02-20 09:08] michael commented on #385
That's great, having it explicit is much better.

[2018-02-20 09:08] #385 closed

[2018-02-20 10:26] michael opened #394 "Rename JATS4R to JATS4M"
This should finally be done, as it is causing confusion. @Integral can do that? Just be really careful when doing the renames to not introduce regressions. It will be hard to spot later. You must also touch make.js for the schema build steps.

[2018-02-20 10:27] Integral commented on #394
Yes!

[2018-02-20 10:33] michael commented on #249
@Integral you could take over this one.

Steps needed:

- Update JATS4M spec (substance/dar) to allow multiple publisher-name/loc elements. Point me to PR when done
- Add a sample to kitchen_sink (2 publisher-name/loc pairs for one of the references)
- Introduce a transformer that turns them into `;` separated strings (EntityDatabase model does not need to be changed) on import and creates multipl

[2018-02-20 10:37] michael commented on #374
@Integral I think we'd need to change `InsertXrefCommand` or `InsertInlineNodeCommand` to select the newly inserted inline node. then the dialog should pop up immediately and we don't need an extra click.

[2018-02-20 10:38] michael commented on #386
Let's wait with this, Melissa said eLife may drop DOI's for figures as they are not well supported.

[2018-02-20 10:40] michael commented on #193
You could open a Dar with images, then delete the image on the FS to get a broken image url. Then you should see the flickering, when activating the Isolated Node.

[2018-02-20 10:43] Integral commented on #249
I will take this, thx

[2018-02-20 18:26] fabiobatalha opened #395 "Copyright statement for figure and tables"
As described in #265, the copyright statement for figures and tables should be implemented.

Is this still planned for the Alpha4 release?

[2018-02-20 18:44] michael commented on #395
Can you provide examples? I will add to the spec and schedule implementation for the next release (Beta1)

[2018-02-20 18:59] fabiobatalha commented on #361
We expect the use of the above kinds of lists.

- ordered lists
- unordered lists
- lists of relations

**Ordered list**

- decimal digit
- capital letters
- tiny letters
- roman numbers (capital letters)
- roman numbers (tiny letters)

**Unordered list**

- square [example](https://www.erudit.org/fr/revues/cqd/2013-v42-n2-cqd01010/1020609ar/#pa46)
- circle
- bullett [example](https://www.erudit.o

[2018-02-20 19:26] michael commented on #361
How does the tagging look like for "list of relations"?

[2018-02-20 19:30] fabiobatalha commented on #338
Journal

- journal publisher id
- journal aggregator id
- journal other id
- Title
- Abbreviated title
- other titles
- ISSN (electronic, print, other)
- publisher name

Issue

- volume
- number
- publication date
- received date
- reviewed date
- acceptance date
- Issue Title

Article

- Article ID (DOI, publisher ID, aggregator ID)
- pages (first, last)
- elocation
- translated titles
- abstract

[2018-02-20 19:38] fabiobatalha commented on #395
@michael https://www.erudit.org/fr/revues/cuizine/2016-v7-n2-cuizine02881/1038479ar/#fi1

[code]

[2018-02-20 19:47] fabiobatalha commented on #395
@michael

Other example with Title, caption and source.
https://www.erudit.org/fr/revues/teoros/2017-v36-n2-teoros03309/1042464ar/#fi1
[code]

[2018-02-20 19:57] Melissa37 commented on #365
There is a JATS4R recommendation for permissions, which includes permissions for assets:

https://jats4r.org/permissions

Copyright is not required, but <license> or <ali:license_ref> are.
We use <copyright-statement>, <copyright-year>, <copyright-holder> and think they should be optional too.
Thanks!

[2018-02-20 20:26] fabiobatalha commented on #361
I'm not sure how we can tag it in JATS.

Maybe allowing the use of (label ?, title ?) inside list-item.

[code]
We normally handle this structure as a table so it is not mandatory to represent it as lists.

[2018-02-21 11:28] michael commented on #361
I'd go for tables then, adding labels to a list item will make the UX worse and also complicates the implementation.

Will we need to set the list's bullet or number type per list, or is this more an article-specific setting? In other words, do articles sometimes use roman numbers in one list and capital letters in another?

[2018-02-21 14:36] fabiobatalha commented on #361
I think there is no pattern on that.

I would not say one author uses exclusively roman or letters in one unique article.

One thing that surely should happen is an article with unordered and ordered lists.

[2018-02-23 17:53] Integral commented on #249
@michael pls review #397

[2018-02-24 14:40] Integral commented on #193
@michael I'm trying to do that with kitchen-sink example and can't see any flickering... Can you describe steps more detailed or record a gif?

[2018-02-25 11:44] Integral commented on #394
@michael Let's decide what name we want to use instead of JATS4M!

[2018-02-25 15:49] michael commented on #394
Discussed with eLife and Oliver. We are calling it `DarArticle`. Along with that rename we should also turn `TextureJATS` into `TextureArticle`.

[2018-02-25 16:43] Integral commented on #394
I will take over this task, ok?

On 25 Feb 2018, 18:49 +0300, Michael Aufreiter <notifications@github.com>, wrote:

[2018-02-25 17:00] michael commented on #394
Yes just let me finish with some merges before.

[2018-02-26 07:44] michael commented on #394
You can start with this now. Just be really careful so we don't destabilize things.

[2018-02-26 11:37] michael opened #399 "If only entities are changed, changes are not saved"
We need to model a dependency between pub-meta and articles.

[2018-02-26 12:51] #374 closed

[2018-02-27 10:48] michael commented on #249
This is now done, we will ship that feature with Alpha 4 in a few days.

[2018-02-27 10:48] #249 closed

[2018-02-28 16:04] #394 closed

[2018-02-28 16:05] michael commented on #399
Fixed via #401.

[2018-02-28 16:05] #399 closed

[2018-02-28 16:38] fabiobatalha opened #402 "contrib-type is not being defined after saving"
Not sure if it is a bug or a expected result at this moment, but the last author was included in the document and after saving it, the contrib-group was not defined for the new author.

[code]

[2018-02-28 16:48] fabiobatalha opened #403 "Affiliations data loss after saving"
Some data were removed from the Texture XML after saving.

![screenshot from 2018-02-28 11-46-02](https://user-images.githubusercontent.com/504142/36800261-1e58be56-1c7d-11e8-9084-c860ebde02dc.png)

[2018-02-28 17:07] fabiobatalha opened #404 "Saving produce invalid XML's."
After saving, some elements included in the XML turns it an invalid XML, these files could not be edited again after saving due to the parsing validations made while opening Texture.

![screenshot from 2018-02-28 12-04-24](https://user-images.githubusercontent.com/504142/36801349-e0b0625e-1c7f-11e8-909a-906ac5ec1892.png)

[2018-02-28 19:26] axfelix opened #405 "Allow lists in disp-quote?"
We have a JATS4R violation being produced by OTS right now -- in some sense it's our fault and it's a bit weird, as one of our parsers really likes disp-quote elements, but in this case I can't see a solution that wouldn't result in a loss of granular detail in the document. So: can we allow list elements within disp-quote, which is permitted by JATS currently?

[2018-02-28 20:28] fabiobatalha opened #406 "Empty history element after saving lead to an invalid JATS file"
![screenshot from 2018-02-28 15-26-19](https://user-images.githubusercontent.com/504142/36811483-fb8ea7ea-1c9b-11e8-97c6-95eb1bb310ad.png)

[2018-02-28 21:39] axfelix commented on #405
Of course, I said JATS4R when I meant JATS4M. Sorry!

[2018-02-28 21:46] Melissa37 commented on #405
Thanks :-)

On Wed, Feb 28, 2018 at 9:39 PM axfelix <notifications@github.com> wrote:

--
Melissa Harrison, Head of Production Operations, *eLife*
eLife Sciences Publications, Ltd
1st Floor
24 Hills Road
Cambridge
CB2 1JP

01223 855345
orcid.org/0000-0003-3523-4408
Receive content alerts
<http://www.elifesciences.org/crm/civicrm/profile/create>
Browse articles <http://elife.elifesciences.org/brows

[2018-03-01 10:29] michael commented on #406
Is it true that an empty history element does not pass JATS validation? What would be the desired output?

We should certainly optimise here and strip out empty history elements.

[2018-03-01 10:49] michael commented on #404
This a regression that happened when we added the email field. Working on a fix.

[2018-03-01 10:57] michael commented on #403
These fields are currently not in the spec and thus ignored. https://github.com/substance/dar/blob/master/DarArticle.md#aff

Is the original really needed, i mean it will be turned into structured records anyways?

Regarding the normalized field: We can auto-generate that and include it in the JATS, but ignore it when we read the document. Much like we do with the labels.

What is important is tha

[2018-03-01 11:05] michael commented on #405
It's important to not have block content types nested, as it would make the editing experience worse (we would need to treat the disp-quote element as an isolated node and then you need to double click etc).

@axfelix can you post an example of the output? Maybe we can find a way to transform to flat structure.

[2018-03-01 11:15] michael commented on #402
Thank you for reporting. We'll work on a fix.

[2018-03-01 11:29] michael commented on #404
Fixed via #407.

[2018-03-01 11:29] #404 closed

[2018-03-01 11:29] michael commented on #402
Fixed via #407.

[2018-03-01 11:29] #402 closed

[2018-03-01 14:34] fabiobatalha commented on #406
yes it is true. Besides the Texture validations we are also validating the saved documents against the hole original JATS Schema to catch up these situations.

In jats, once you have a history element you must have a date element inside it, and at least year inside date, and so on....

The desired output should be, avoid put the history element in the XML if you do not have a date to put on it.

[2018-03-01 15:20] fabiobatalha commented on #403
Hi @michael,

I only posted this thinking on the requirement of do not have data loss in Texture.

I agree with you.

The issue with the normalized and original data is related to the SciELO Publishing Schema Style, maybe they have something to say about it.

@gustavofonseca

[2018-03-01 19:50] fabiobatalha opened #408 "ERROR:Could not find <dar> element."
Not sure what it means but we started to receive this error for all documents that were previously working.

I recently did the update of our texture instance with the last commits.

[2018-03-01 20:12] axfelix commented on #405
Actually, I'm going to close this -- there's too much use of disp-quote here anyway.

[2018-03-01 20:12] #405 closed

[2018-03-01 21:00] michael commented on #408
We slightly changed the format of the manifest.xml file. Instead of `<archive>` we now have `<dar>` as the root tag. Can you fix that on your side so it conforms to the latest spec? We need to do better in announcing such breaking changes. Sorry for that.

[2018-03-01 21:21] fabiobatalha commented on #408
No problem @michael

I will fix it here.

[2018-03-01 21:34] michael commented on #405
Perfect! 👍

On another note, we renamed the spec again from JATS4M to DarArticle. @Melissa37 I removed all occurrences of JATS4M and we should from now on all talk about the Dar Article Format. :)

https://github.com/substance/dar/blob/master/DarArticle.md

[2018-03-01 21:37] michael commented on #406
Will take care of it. Thank you!

[2018-03-01 21:38] fabiobatalha commented on #408
Hi @michael

Fixed the **dar** issue.

Now I'm having this error: ERROR:Unsupported document type

This happens with all documents.

Is there any other change I need to address.

thanks Fabio

[2018-03-01 21:42] michael commented on #408
Ah one more change:

before we had type='application/jats4m' and now you just put type='article'.

[code]

[2018-03-01 21:45] fabiobatalha commented on #408
Its working, thanks!

[2018-03-01 21:45] #408 closed

[2018-03-02 07:59] Melissa37 commented on #405
Thanks you!!

[2018-03-02 15:17] fabiobatalha opened #410 "Blockquote would be easy like bold, italic, etc."
The blockquote tag would have the same behaviour of bold, italic, etc.

It means the user can:

* Select (highlight) an available paragraph and blockquote it pressing the bq button.
* Remove the blockquote from a paragraph positioning the cursor on the paragraph and pressing the bq button

[2018-03-02 17:24] michael commented on #410
Could be an option, to treat it like headings and paragraphs. However for that to work smoothly we'd need to remove the structural nature of it that JATS allows (a blockquote can have multiple paragraphs and an attribution). If this is a requirement then it will be hard to treat it like you described.

[2018-03-02 18:59] fabiobatalha commented on #410
Hi @michael

It is only a suggestion to improve the usability, lets see what the others think about it.

For us it is not a mandatory task.

[2018-03-05 14:45] fabiobatalha commented on #408
Hello @michael

What means this error while loading a document?

"ERROR:state.errors[channel] is undefined"

[2018-03-05 16:37] michael commented on #408
This shouldn't happen. Can you provide some context? Maybe post the file you used that caused the error.

[2018-03-05 19:23] fabiobatalha commented on #408
@michael

This is an exemple.

[fe189c64-b4a6-4f51-a916-abb31d2f86d7.zip](https://github.com/substance/texture/files/1782261/fe189c64-b4a6-4f51-a916-abb31d2f86d7.zip)

[2018-03-05 19:44] fabiobatalha commented on #408
@michael

I figured out the problem.

This is a XML file produced by the OJS, there are some elements in the XML that are not in Texture specifications. I removed them from the XML, and it is working.

This kind of unconformity should not be highlighted by the parsing while validating the XML file?

The invalid elements are, bio inside contrib, aff inside contrib, issue-id, issue-title.

[2018-03-05 20:13] fabiobatalha opened #411 "include authors biography in contrib and/or in back."
Some Erudit articles have authors biography.

We should define a way to implement this requirement in future JATS4M specifications.

https://jats.nlm.nih.gov/publishing/tag-library/1.2d1/element/bio.html

[2018-03-06 07:03] Melissa37 commented on #411
We also use that tag at eLife for our non-research article content. It is a way for us to display a "wordy" affiliation and the editors have freedom about what they write.

[2018-03-06 11:01] michael commented on #411
Ok if this were a single paragraph with basic formatting (strong, emphasis,...) options?

[2018-03-06 14:44] fabiobatalha commented on #411
@michael

There are some bio that includes a photo. :-/

But I think we can start with a single paragraph with basic formatting.

[2018-03-06 15:39] fabiobatalha opened #412 "Deal with unttaged reference"
For Erudit the first main purpose of using Texture is to incorporate it in our Production Chain for Quality Control and content fixing.

Erudit now do not deal with fully marked up reference, it is one of our future improvement requirements for our production chain, and it is good that Texture is already quite advanced on it, but for now, we need that Texture take a look on how to deal with untagg

[2018-03-06 17:49] fabiobatalha opened #413 ""ERROR:state.errors[channel] is undefined""
Hello @michael
I opened this ticket because I'm facing this issue with some files from OTS.

In one of them I realised the XML had unexpected elements in the front metadata (bio, issue-id, issue-title).

Now there are some files that seems to be almost ok validating them against JATS, but the same error is being highlighted in Texture.

The issue is that this error do not give us any clue about wh

[2018-03-06 18:07] michael commented on #413
Thank you! It was a regression on our side. I pushed a fix to master, now you should see a proper validation error message.

[2018-03-06 18:16] michael commented on #408
@fabiobatalha can you check if this was also fixed by https://github.com/substance/texture/commit/dd56e4629bc6d7d8b224fb5f7c4eacbb4361cfdf ?

[2018-03-06 18:31] fabiobatalha commented on #413
Working

[2018-03-06 18:31] #413 closed

[2018-03-06 18:31] fabiobatalha commented on #408
It is working!

[2018-03-07 19:06] michael commented on #412
I will try to integrate a pub-type="other" with free form text. Will ping you when ready so you can test.

[2018-03-07 20:39] fabiobatalha commented on #412
@michael

I don't think it is a good approach.

1. We still want to know the type of the reference;
2. pub-type=other should still being used by tagged references;

I was think we should have a specific field for this purpose. Maybe we can use the <styled-content>

It is allowed inside element-citation

we should have something like:

[code]

[2018-03-07 20:42] fabiobatalha commented on #412
We don't need to have at this moment a detailed attribute options, the specific-use="display" is enough for now.

[2018-03-07 22:37] michael commented on #412
Good suggestion. I wonder if it makes sense to introduce this as an optional field generally, where you can override the display. E.g. when you're not happy with what the renderer produces or in your case, don't have structured info.

Not sure... i mean the ultimate goal should be to have structured info and a stable renderer. Maybe we should rather not show this field and use a configuration for

[2018-03-07 23:07] fabiobatalha commented on #412
I agree with the configuration

On Wed, 7 Mar 2018 at 17:37 Michael Aufreiter <notifications@github.com>
wrote:

[2018-03-08 10:35] michael opened #415 "Usability: Disable xref insertion if nothing can be referenced"
Currently we show an empty popup, which is kind of a dead end usability wise. I think we need to override isDisabled in `InsertXrefCommand`.

[2018-03-08 10:49] michael opened #416 "Remove usage of window.prompt"
These don't work in Electron. Affected is deletion of references and footnotes (which have citations) as well as table insertion.

I see two options:

- make a util function which checks if in an electron environment and show `dialog.showMessageBox` or window.prompt
- Implement a custom Prompt component (similar to our modal dialogs); this requires some kind of workflow in the app as we hand over

[2018-03-08 14:12] gustavofonseca commented on #403
Hi @fabiobatalha and @michael,

The element `//institution[@content-type = 'normalized']` will no longer be mandatory on SciELO PS >= 1.8, so I think the current behaviour will not be a problem for us.

[2018-03-08 15:27] fabiobatalha commented on #412
@michael

* Yes this should be an optional field.
* We may include a toggle display button for those who have the unstructuredReferences:true
* The toggle button switch between structured and unstructured display or the structured display is always available, and the toggle button display/hide the unstructured reference bellow the structured reference
* The toggle button could be above the referen

[2018-03-08 16:09] fabiobatalha commented on #412
@michael  My best shoot!

![screenshot from 2018-03-08 11-08-13](https://user-images.githubusercontent.com/504142/37161574-101cf380-22c1-11e8-9c52-d96251ff8fd7.png)

[2018-03-08 22:05] fabiobatalha opened #418 "Element 'p', attribute 'level': The attribute 'level' is not allowed."
Invalid JATS structure after saving a document.

Element 'p', attribute 'level': The attribute 'level' is not allowed. line 195

![screenshot from 2018-03-08 16-56-00](https://user-images.githubusercontent.com/504142/37178875-c9547e92-22f1-11e8-9de8-5bb2df4a50bd.png)

[poutine.zip](https://github.com/substance/texture/files/1794973/poutine.zip)

[2018-03-08 22:08] fabiobatalha opened #419 "Unsorted references inside XML after save"
The references in the XML file do not follow the same order of the interface.

It is important to preserver the order of the references in the saved XML file.

[2018-03-09 11:20] michael commented on #418
Thanks for reporting. Can you reproduce when this is happening? Is it when you switch the type from a heading to a paragraph, that the level attribute stays?

[2018-03-09 11:23] michael commented on #418
This is a really nice article btw! :)

[2018-03-09 11:29] oliver---- commented on #418
I think this is happening on every heading to paragraph switch.
ATM, the live-validator does not check attributes, that's why we fail to do this correctly.

[2018-03-09 15:33] fabiobatalha commented on #418
@michael @oliver----

I can't reproduce this. I tried to switch between h1 -> par, h2 -> par, h3 -> par, saving the document in each change, the level attribute was never created.

[2018-03-09 15:40] fabiobatalha commented on #418
I tried the previous steps in a new paragraph.

Doing any change in the broken paragraph and saving the document fixed the problem.

The given paragraph came from a copy n paste from a PDF file.

[2018-03-09 16:37] michael opened #420 "When a new affiliation is added through the user interface, saving fails"

[2018-03-09 16:38] michael commented on #416
I solved this for now. However we should come up with a visual tool for table insertion at some point.

[2018-03-09 16:38] #416 closed

[2018-03-10 10:54] michael opened #421 "named-content should allow text again"
We currently 'abuse' the `named-content` element to describe code cells as valid JATS. However, we had to disable text in the schema, as there were problems with prettty printing XML. Let's find a better solution. Generally using elements in a hybrid way is problematic.

[code]

[2018-03-10 12:17] michael opened #422 "Display affiliations along with authors if available"

[2018-03-10 12:31] michael commented on #411
We should be careful here. With our entity database abstraction, we are prepared to some day keep author information (affiliations, bio etc.) in a separate database for reuse (outside of the article).

Now there's a blurry line.. when we talk about author bios or photos, are these specific for the document or is it so that if the author publishes more articles, the same bio should be used?

Maybe

[2018-03-10 13:29] michael commented on #420
Fixed via #417.

[2018-03-10 13:29] #420 closed

[2018-03-10 13:29] michael commented on #422
Fixed via #417

[2018-03-10 13:29] #422 closed

[2018-03-10 13:42] michael opened #423 "Support collab element in person-group"
We currently can't deal with collab elements in person groups. It is important to add that, as it is limiting the ability to build a bibliography in the editor.

Such things should be possible:

[code]

The current workaround is to tag organisations (groups) as persons (`name` element).

@Melissa37 at eLife can `collab` elements occur in each publication-type or just in some?

[2018-03-10 13:50] michael commented on #395
Just copied this from another thread, where Melissa posted.

---

There is a JATS4R recommendation for permissions, which includes permissions for assets:

https://jats4r.org/permissions

Copyright is not required, but `<license>` or `<ali:license_ref>` are.
We use `<copyright-statement>`, `<copyright-year>`, `<copyright-holder>` and think they should be optional too.
Thanks!

[2018-03-10 16:30] Melissa37 commented on #423
Hi there

We need them to be allowed for all publication types.

Thanks
M

[2018-03-10 16:32] Melissa37 commented on #411
Yes, let's add this to the agenda.
We at eLife need it for human readability and the information need not be retained in the database for re-use for the author the next time; it's likely to change. These authors will also have fully structured affiliation details

[2018-03-11 22:47] michael opened #425 "Centered layout: Toolbar not aligned"

[2018-03-11 22:49] michael opened #426 "Desktop: Setup Help -> Learn more"
Should point to some introduction, quick start guide.

[2018-03-12 09:50] michael opened #427 "Drag and Drop: Handle situations when a file is dropped outside the dropzone"
Currently in Texture Desktop the image replaces the web-view contents.

[2018-03-12 14:06] fabiobatalha commented on #412
@michael

It is ok to go ahead with the second approach having in mind we still need to identify the type of the reference.

[2018-03-12 14:55] fabiobatalha commented on #411
Hi @michael and @Melissa37

May this bio change from one document to another, but I think it is ok to be structured and stored to be used further.

[2018-03-12 15:54] michael commented on #418
We'll tackle this as soon as we can reproduce. Maybe you can find the same steps that led you to the problem.

[2018-03-12 16:02] michael opened #428 "Add/Remove columns/rows for tables"
I'd suggest we follow the approach of Google Docs, where you can use a context menu (and no other UI elements are needed)

![image](https://user-images.githubusercontent.com/2931/37294702-be1214cc-2616-11e8-82ae-60065925d977.png)

@oliver---- I'm just thinking ahead when later we want to implement merge cell behavior. Then we would need a table selection, when you mouse down in one cell and drag i

[2018-03-12 18:55] michael commented on #412
Is this really pressing or could we put it on the agenda for the meeting? I know this sounds like a rather trivial feature, but it has implications on usability. Would be good to talk it through in detail and come up with something that satisfies both use cases well.

[2018-03-12 19:07] fabiobatalha commented on #412
@michael

No pressure we can put it in our agenda.

[2018-03-12 19:41] michael commented on #427
Fixed via #429

[2018-03-12 19:41] #427 closed

[2018-03-12 22:15] michael opened #430 "Revise default renderers for citations"
Current implementation can be found here: https://github.com/substance/texture/blob/master/src/entities/entityRenderers.js

We'd need some quality checking to make sure we have correct display for different possible inputs.

We are following eLife's citation style (used in their PDF's)

https://elifesciences.org/download/aHR0cHM6Ly9jZG4uZWxpZmVzY2llbmNlcy5vcmcvYXJ0aWNsZXMvMzI2NzEvZWxpZmUtMzI2NzEtd

[2018-03-12 22:21] michael opened #431 "Import of bibliography in CSL JSON"
E.g. we should be able to read:

[code]

and map accordingly to our internal schema:

[code]

More publication types here:

https://github.com/substance/texture/blob/master/src/entities/EntityDatabase.js

I will do a first shot and then get help from @zuphilip.

[2018-03-12 22:48] zuphilip commented on #430
The eLife style is close to the [American Medical Association style](http://editor.citationstyles.org/styleInfo/?styleId=http%3A%2F%2Fwww.zotero.org%2Fstyles%2Famerican-medical-association) which might be better documented. Moreover, there are [guidelines to display DOIs from Crossref](https://www.crossref.org/display-guidelines/) as well as [from DataCite](https://support.datacite.org/docs/dataci

[2018-03-13 12:06] lpanebr opened #432 "References not showing all fields saved"
I was playing with the [demo](http://cdn.substance.io/texture-preview-1/) and noticed this while editing references.

The following fields are saved but are not shown in the reference list:
 - issue
 - month
 - day
 - page range
 - e-location id

[2018-03-13 12:48] zuphilip commented on #430
See also #432

[2018-03-13 13:20] michael commented on #432
Thank you! We need to revise that renderer (see #430). I just did a very basic initial implementation. What publication type were you using?

[2018-03-13 13:51] michael commented on #432
Right! We need to go through all pub types and consider all different cases (assuming all fields are optional).

@zuphilip, @lpanebr could one of you two work on that (#430) and submit a Pull Request? :)

[2018-03-13 14:00] michael commented on #430
Following American Medical Association style and DOI guidelines from Crossref sounds like a good idea.

In the long run we will probably integrate Citeproc.js into Texture so the user can choose between different styles. However that's technically tricky to solve (Citeproc.js does not work well with incremental updates), and will take some time.

@Melissa37 @fabiobatalha are you ok with proceeding

[2018-03-13 14:57] michael commented on #428
@oliver---- awaiting your green light, before Daniel can start implementing it.

[2018-03-13 14:58] michael commented on #428
(only the add column/row thing, not the merge-split)

[2018-03-13 14:59] lpanebr commented on #432
I much as I would love to code I am not currently with free dev time..

I can however try to help with some testing and algorithm/style rules definition if that helps.

[2018-03-13 15:01] oliver---- commented on #428
We should try to reuse the Selection from the Sheet implementation (See CustomSelection).

[2018-03-13 15:06] oliver---- commented on #428
Green light. While the Sheet's sliding viewport is too complicated, there are probably some pieces useful from the higher layer (overlays, selection, navigation, copy'n'paste, etc.)

[2018-03-13 15:11] michael commented on #428
Cool, that's what I thought too. I also think it's ok here to have two separate implementations. The table one will be much simpler, an doesn't need handles and sliding viewport etc.

@Integral i will just start and check if we can activate our custom context menu. Once that is done, I will ping you and you can start implementing the commands.

[2018-03-13 15:12] Melissa37 commented on #411
Happy with this suggestion :-)

[2018-03-13 15:59] zuphilip commented on #430
FYI The [overleaf template of eLife](https://www.overleaf.com/latex/templates/elife-latex-template/csqxykvsnyxm#.WIs5NLaLRGw) is more or less identical to AMA (position of the year, issue numbers).

[2018-03-13 17:30] fabiobatalha commented on #430
@michael
It is ok.

My only consideration is, texture should not try to format the authors name, as an example, see the image below, the reference 10.

![screenshot from 2018-03-13 12-18-46](https://user-images.githubusercontent.com/504142/37354985-41affb08-26b9-11e8-95ef-87dd6077a42f.png)

[2018-03-13 17:36] de-code opened #433 "Can't install npm dependency from github"
Hi,

It would be nice if it was possible to install the dependency from github since it deviated quite a bit from the last release. e.g.:

[code]

That 'installs' fine but the dependency can't be imported. Which I think is because the bundle is missing.

[2018-03-13 18:46] fabiobatalha opened #434 "Preset Bold Style for image title lead to bad WYSIWYG results"
The images titles are presented as **bold** text as default, but it is not represented in the final XML file after saving. When saving, the XML stills as a normal text without the bold tag.

For the user perspective it is a bad approach once it is not WYSIWYG as expected.

All preset styles forced by texture according to any kind of **data structure** must be reflected in the XML file (using the b

[2018-03-13 20:41] fabiobatalha opened #435 "Saving authors in modal do not takes effect until ctrl+s"
After saving changes made in Authors Modal, it is necessary to save the document with ctrl+s, otherwise the changes will not take place in the XML file.

It is not so intuitive.

[2018-03-13 20:44] fabiobatalha opened #436 "crtl+s stops to work after including a new institution"
After include a new institution in a document without institutions, the ctrl+s stops to work.

The resulting action after ctrl-s is the ordinary browser behaviour to save the webpage.

[2018-03-13 20:50] michael commented on #436
Do you use the latest version? I think I fixed that...

[2018-03-13 21:15] fabiobatalha commented on #436
I have just updated Texture and the behaviour is the same.

by the way, the new look is much better!

[2018-03-14 08:50] michael commented on #435
That behavior was intensional, we also don't save if you change the title. However we should maybe change the "Save" label to "Update" to avoid confusion. What do you think?

[2018-03-14 12:09] michael commented on #434
Hmm.. we just use bold as style to give it more weight. It's the same for headings, which also don't have a bold tag but are just rendered differently.

What we should make sure though is that when you mark text bold inside a caption title, that the font-weight is increased from bold to super-bold so you can see it. :)

[2018-03-14 13:33] michael commented on #433
I've added a postinstall hook, to build the bundle. Can you try again?

[2018-03-14 13:36] michael commented on #433
Well that does not seem to work. I think we need the npm releases because of that said build step.

[2018-03-14 14:27] fabiobatalha commented on #435
yes, I think the update button is proper, maybe also a message to alert the user to save the document after the update.

[2018-03-14 14:29] fabiobatalha commented on #434
Yes, I understand.

I thing the bold to super-bold should work.

[2018-03-14 21:36] zuphilip commented on #430
@fabiobatalha Do you mean the `Durand C` is displayed as `D C`? Well this seems to be a confusion about first and last name. Because the citation style will only display the initials of the first name and in your example it seems that `Durand` was wrongly saved as the first name.

[2018-03-14 21:45] zuphilip opened #438 "Error: Token already used"
If you open the browser toolbar at the current preview website , you see the following errors:
[code]

The same errors show up during `npm start`.

[2018-03-14 21:49] michael commented on #438
Thanks. It's a known issue but does not affect the functionality. We'll look into fixing that.

[2018-03-15 08:48] de-code commented on #433
Okay, I think some other projects either provide a bundle built by CI or the source is standard enough to be understood. I noticed that your latest preview is actually in npm. So it is probably not an issue if those are available frequently.

[2018-03-15 08:48] #433 closed

[2018-03-15 10:44] michael commented on #433
Yes, we'll count them up frequently (at least the preview channel), as we have softwares depend on Texture. E.g. https://github.com/stencila/stencila

[2018-03-15 11:35] michael commented on #434
Fixed via https://github.com/substance/texture/commit/590a54021c461fb6a40cc6cb16ac218ab742b5b7.

[2018-03-15 11:35] #434 closed

[2018-03-15 16:00] fabiobatalha opened #440 "Some files are not being loaded in texture anymore."
Some files stop to work in texture, and no hint is displayed in the interface, neither in the stdout.

This is all info that I have:
![screenshot from 2018-03-15 11-58-09](https://user-images.githubusercontent.com/504142/37475191-7a52764e-2848-11e8-8e6c-f650a8f98dea.png)

[2018-03-15 16:03] oliver---- commented on #440
Hey @fabiobatalha
Is it possible that you provide us the XML file. There seems some problem with the file, maybe encoding or such.

[2018-03-15 16:25] fabiobatalha commented on #440
Hi @oliver----

I don't think so. It was working before I update Texture with the last version, including files previously saved in Texture stopped to work.

I'm sending a XML sample:

[texture.zip](https://github.com/substance/texture/files/1816203/texture.zip)

[2018-03-15 19:56] fabiobatalha opened #441 "Possibility to set figure type for each figure."
Nowadays, tables can still be represented as figures, it is important for us to be able to identify the type of a figure. The main use cases are:

- To identify the type of the figure for those documents that keep using this element to represent tables and formula. (all documents in Érudit scenario)
- To distinguish between a picture/photo to a chart.

https://jats.nlm.nih.gov/publishing/tag-libra

[2018-03-16 08:50] ericvincenterv opened #442 "Install KO !"
Hello,

I want to install "Texture" and I follow "readme".

When I wrote "npm install", I have some problems.

npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ERR! code ELIFECYCLE
npm ERR! substance-texture@1.0.0-preview.1.1 prepublish: `node make publish`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the substance-texture@1.0.0-preview.1

[2018-03-16 14:38] fabiobatalha commented on #441
After internal discussion, we decided it is not necessary any more.

[2018-03-16 14:38] #441 closed

[2018-03-17 15:15] netbek commented on #442
According to the readme, Node 8 is required: https://github.com/substance/texture/blob/8fc4a7437b7114c273ab1bb231152d81175c5704/README.md#install Your error message says you have Node 4 installed.

[2018-03-19 14:39] fabiobatalha commented on #440
Hi @oliver----

Do you have tried to load this file?

[2018-03-19 15:16] #415 closed

[2018-03-19 17:39] fabiobatalha opened #443 "References Metadata are being replaced by anything else...."
@michael

Intriguing!!!

References in Texture are being replace by anything else different from what is available in the XML file.

The image below show the texture reference on the upper left, the original document in the upper right and the XML saved on Texture in the bottom.

![screenshot from 2018-03-19 13-35-52](https://user-images.githubusercontent.com/504142/37612065-7a3e92e8-2b7a-11e8-941

[2018-03-19 18:35] michael commented on #442
Yes, requires Node 8, at least if you want to use persistence.

@ericvincenterv did you get it to work now?

[2018-03-19 19:04] michael commented on #440
Currently we can't handle files, that don't have an abstract. To fix please just place an empty abstract element in `<article-meta>`.

I will work on a fix to create an `abstract` element automatically.

[2018-03-19 19:41] fabiobatalha commented on #443
At my point of view it is not working well, the references in Texture interface are totally different from that available in the XML file.

Regarding to the OTS results we are evaluating them. At this example at least the first 2 references are ok, as you can see in the image, the third is not ok.

But the real issue in this ticket is that Texture is presenting 49 unknown references in its interfa

[2018-03-19 19:54] fabiobatalha commented on #443
Sorry, now I figured out. It is the issue of the order of the references. In Texture, they are not in the same order of the XML file.

[2018-03-19 19:54] #443 closed

[2018-03-19 19:55] michael commented on #443
Oh sorry for the misunderstanding.

I don't know what happens on docx to JATS conversion, this is out of scope for Texture and needs to be improved separately. Have you talked to Alex Garnett?

We currently render only one citation style (AMA). See: https://github.com/substance/texture/pull/437

[2018-03-19 19:56] michael commented on #443
The order of references I will address soon. Just a bit short on time atm.

[2018-03-19 19:56] michael commented on #419
Will work on this in the next days..

[2018-03-19 20:08] michael commented on #430
@fabiobatalha can you confirm this is the case? We could then close this issue.

Thank you @zuphilip great work!

[2018-03-19 20:43] fabiobatalha commented on #430
@michael Yes, it is. You can close this issue.

[2018-03-19 20:45] michael commented on #430
Thanks!

[2018-03-19 20:45] #430 closed

[2018-03-19 20:54] #403 closed

[2018-03-19 20:55] michael commented on #432
@lpanebr can you try out latest master, and see if your problem has been solved?

[2018-03-19 21:50] michael commented on #440
Your file should now be working @fabiobatalha. Can you try latest master and also quick check with some other files. Not that I introduced a regression.

[2018-03-19 21:50] michael commented on #419
Fixed via #445. Can you check with latest master?

[2018-03-19 21:54] michael commented on #435
Fixed via https://github.com/substance/texture/commit/6aaf4342aebd6a11a524548a95a0cabf5f9f9dc0

[2018-03-19 21:54] #435 closed

[2018-03-19 21:55] michael commented on #418
Closing this for now. Please reopen if you have steps to reproduce.

[2018-03-19 21:55] #418 closed

[2018-03-19 21:56] michael commented on #410
Let's see if this comes up again. No action required atm.

[2018-03-19 21:56] #410 closed

[2018-03-19 21:59] #425 closed

[2018-03-19 22:00] #386 closed

[2018-03-19 22:08] michael opened #446 "Make article-meta interleave"
Then we need to be less careful when adding new elements. In order to do that we need to create containers for every element that could occur multiple times. E.g. contrib-group (author|editor)

[2018-03-19 22:11] michael commented on #446
It could be a general goal for TextureArticle to not have any elements that depend on order. Except for containers such as body.

[2018-03-19 22:14] michael commented on #436
Can you check again with master? This should be solved now.

[2018-03-20 05:29] zuphilip commented on #432
* issue: should show up for journal article :heavy_check_mark:
* year: should show up on all publication types :heavy_check_mark:
* month, day: only used for webpage (:heavy_check_mark: )
* page range: not used, because there seems to be the same information with firstpage and lastpage :question:
* e-location id: not yet used, because I don't understand what this information is :question:

[2018-03-20 12:19] lpanebr commented on #432
- issue: OK
- year: OK
- **month, day**: should also show in other reference types. In journal articles the month is particularly frequent in the 3-letter abbreviated form.[1][2]
- **page range**: is used for discontinuous page numbers[3]. In terms of algorithm I think that if `page-range` present is it SHOULD render replacing the pair `fpage-lpage` BUT in the exported XML all 3 elements MUST appe

[2018-03-20 12:23] lpanebr opened #447 "Journal Reference should have `PubMed ID`"
Just noticed that the Book form has the `PubMed ID` and that the journal does not.

- Journal Reference should also have the `PubMed ID` field.[1]

[1] https://www.ncbi.nlm.nih.gov/books/NBK7282/#A32750

[2018-03-20 12:36] lpanebr opened #448 "XML not exporting the `issue`"
I noticed that by accident so I'll just leave this here like this. sorry.

- The issue renders:
![image](https://user-images.githubusercontent.com/129185/37654663-b5415a68-2c21-11e8-9100-2cbcb4f7fb44.png)

![image](https://user-images.githubusercontent.com/129185/37654744-f56c3ca2-2c21-11e8-8d88-6d5ad8038681.png)

- But does not export:
[code]

[2018-03-20 14:22] lpanebr opened #449 "Reference rich-text fields should allow PASTE"
Paste CTRL+V does not work in fields that allow bold, italic etc.

Tested with;
 - Article Title
 - Book Title

[2018-03-20 14:44] fabiobatalha commented on #440
@michael It is perfectly working now!

[2018-03-20 14:55] fabiobatalha commented on #419
@michael  Working!

[2018-03-20 15:49] #436 closed

[2018-03-20 15:49] #419 closed

[2018-03-20 18:03] michael commented on #446
We agreed that always using interleave in TextureArticle is a good strategy. We then just need to bring the items back into a valid order on export. We should address this as part of the QC-Mode iteration.

[2018-03-20 20:26] fabiobatalha opened #450 "Elocation not available in saved XML."
Not sure if it have any relation with #432 but I also figured out that elocation is not present in the saved XML.

[2018-03-20 20:32] michael commented on #450
I will check these things soon, thanks for reporting.

[2018-03-21 06:27] zuphilip commented on #432
Thank you for your feedback. This is helpful! I hope to find time to work on these issues. Moreover, I guess you want also that the PubMED ID shows up in the references, see #447.

I could imagine that the UI has only one field for entering the pages or article id. From the content it should be possible to decide whether this is a page range, discontinuous page range or a e-location id. Moreover,

[2018-03-21 07:48] michael commented on #432
That's a good idea, and will simplify usability! We just need to make sure the content can always be parsed.

As a data model we could use:
- `contentLocation` (page range or elocationid)
- `contentLocationType` ('print' or 'electronic')

I'd need to make some changes to the model and converters. Before I do, do we all agree that what we just proposed will work? @fabiobatalha

[2018-03-21 13:38] fabiobatalha commented on #432
@michael

It seems to work.

If I understand, Texture will deal with the parsing of these fields to output the correct XML.

**Example 1**
Input:
contentLocation: 12-23
contentLocationType: print

Output:
[code]

**Example 2**
Input:
contentLocation: 12-23; 25-26; 28
contentLocationType: print

Output:
[code]

**Example 3**
Input:
contentLocation: e212810
contentLocationType: electronic

Output:
[

[2018-03-21 14:02] zuphilip commented on #432
A page range can contain numbers, dashes, semi-colons and spaces. Everything else would be an article id (e-location). But a single number, e.g. `98` could be the page range of a one-page paper or the article id. Thus, we need a second parameter as you suggested.

There are electronic articles with a page range. Therefore, we may want to use other labels than `print` and `electronic` for the diffe

[2018-03-21 14:06] fabiobatalha commented on #432
Yes @zuphilip That is it.

Maybe the contentLocationType could be: (pages, elocation)

[2018-03-21 14:18] michael commented on #432
Currently in JATS you can either have a pages OR an elocation-id, not both.

```(((fpage, lpage?)?, page-range?) | elocation-id)?```

@zuphilip do you have an example for an electronic article with pages? Ideally we would need to display just one field for the user and solve everything using a convention that can be parsed.

Is there a spec somewhere that defines how an elocation id must look like

[2018-03-21 14:27] #440 closed

[2018-03-21 14:31] fabiobatalha commented on #432
@michael

as far as I now there is no patterns for elocation ids. The "e" preceding anything is only a not mandatory convention.

[2018-03-21 14:42] Melissa37 commented on #432
Yup, the elocation ID should not be restricted in anyway as the publisher chooses their way to define it. e1234 is an eLife-specific. eg BMJ uses something else: http://www.bmj.com/content/360/bmj.k1270.
It's a bit like DOI format - publisher specific.
BMJ is an interesting one, they publish longer format online and short in a print product. I don't know whether they have eLocation ID for the long

[2018-03-21 15:17] zuphilip commented on #432
* e-journal with page numbers: https://www.transacl.org/ojs/index.php/tacl/issue/view/14 which is AFAIK e-only, but I think there are much more.
* Examples for article ids:
   * `P1.2` in http://www.combinatorics.org/ojs/index.php/eljc/article/view/v25i1p2
   * `D17-1005 ` in https://aclanthology.coli.uni-saarland.de/papers/D17-1005/d17-1005
   * `1760011` in https://www.worldscientific.com/doi/ab

[2018-03-21 15:33] lpanebr commented on #432
I like the proposed solution using parsing.

I believe the two biggest parsing challenges will be:

1. Detecting and expanding compressed last pages: 121-9, 131-42 witch
should yeld:

    <fpage>121</fpage>
    <lpage>142</lpage>
    <page-range>121-9, 131-42</page-range>

2. Deciding or asking the user when a single integer is provided.
Since 1234 could equally be a fpage or an e-location

For th

[2018-03-21 15:41] fabiobatalha commented on #432
And have in mind as well that some journals use the roman numbers to identify pages.

[2018-03-21 15:53] lpanebr commented on #432
Great catch Fábio! This should add an additional layer in the parsing
processing challenge for the devs. ;-)

att.
Luciano Panepucci

[2018-03-21 15:58] lpanebr commented on #432
This reminded me that some journals also have prefixed pages like
s123-s129...

Possibilities that come to mind:

1. we can all agree that those cases are less frequent and "forget" them
for now

2. Detect those awkward scenarios and then present the user with an
extended form

3. Deal with it

[2018-03-21 16:29] michael commented on #432
Okay, then we may want to solve it with an explicit Radio button to display either the field for page-range or e-location id. Here's sketches:

![image](https://user-images.githubusercontent.com/2931/37722870-50a7042e-2d2d-11e8-973e-a002304e0497.png)

[2018-03-21 16:31] michael commented on #432
Alternatively to save space we could make Page-Range a dropdown (to switch to e-location ID when necessary)

![image](https://user-images.githubusercontent.com/2931/37723027-a7ec9438-2d2d-11e8-9b89-09e4421a8523.png)

[2018-03-21 18:15] lpanebr commented on #432
I don't think that collecting the medium is important as it does not necessarily relate with the location type (page or e-location). Adding the medium will most likely confuse the user I think.

I was very happy with the single input for the page/e-location.

What if we stick to the single input but let the user know that for Article ID they MUST use a prefix like `eid:`

![image](https://user-ima

[2018-03-21 18:19] #442 closed

[2018-03-21 18:21] michael commented on #328
Think this now works better in the new design.

[2018-03-21 18:21] #328 closed

[2018-03-21 18:38] michael commented on #432
Jeah that would also work. We just need to make sure, the input is easily parsable/serialisable.

[2018-03-22 11:16] michael opened #451 "UX: Edit Authors"
Working on ideas how to improve author editing. Currently you need to navigate a lot of modals to enter basic author data such as given names, surname.

Here's a UI idea, that allows quick editing and supports two author types (person and group). By clicking on edit you'll see another modal offering more detailed fields (such as ORCID, affiliations etc.)

![image](https://user-images.githubusercon

[2018-03-22 11:31] michael commented on #432
I like your first proposal better. Regarding validating user input I thought that we allow any text input but run a linter on it. If we don't recognise our defined patterns we would color the field yellow and add a warning message.

[2018-03-22 11:48] lpanebr commented on #432
Perfect. I like the single input also. I just got worried with requesting the user to add a fixed prefix in the elocation for I know users suck at reading, understanding and following instructions..

With the single input approach the key then is making it utterly evident how the user needs to enter the elocation. **Is it possible to add a little colored question mark besides the field label which

[2018-03-22 11:52] michael commented on #451
Here's an updated Edit Person dialog, that allows basic editing of affiliations in-place.

![image](https://user-images.githubusercontent.com/2931/37768724-ec13aa38-2dce-11e8-82fb-5bebaa5798b7.png)

Compared to the current UI this has some pros but also some cons e.g.:

- Good: faster creation and editing of affiliations (no longer navigating dialogs)
- Bad: Users may overlook that there's more fi

[2018-03-22 11:53] michael commented on #451
NOTE: Clicking "New Affiliation" could provide a selection of available affiliations (e.g. when entered already from another author's view). Then you decide either to pick an existing one or create a new one.

[2018-03-22 12:11] michael commented on #451
An alternative to in-place affiliation editing:

We could show a list of affiliations (using the display version of the affiliation) which you can expand to reach the form fields underneath.

![meh](https://user-images.githubusercontent.com/2931/37769641-f1cd0e4e-2dd1-11e8-80c9-2f0747b6d44b.png)

[2018-03-22 12:22] michael commented on #451
We could apply the same to author editing, but then we'd get multiple editing levels (`AuthorList > Edit Author > Edit Affiliation`).

[2018-03-22 14:22] michael opened #452 "UX: In-Place Reference Editing"
![image](https://user-images.githubusercontent.com/2931/37776077-d249e8e0-2de4-11e8-8c6d-77302450e031.png)

Considerations:

- no modal required
- edits are immediately previewed
- quick editing of authors (person, or group)

[2018-03-22 14:33] michael commented on #432
Worked on drafting a UI for inline-editing of references (without the need for a popup). See #452

![image](https://user-images.githubusercontent.com/2931/37776763-4e399b98-2de6-11e8-80c9-aa4edcd3ca77.png)

[2018-03-22 14:39] fabiobatalha commented on #452
It is really great!!

[2018-03-22 14:54] lpanebr commented on #432
This is freaking awesome. I love it!

[2018-03-22 15:06] Melissa37 commented on #432
Echo that!

[2018-03-22 16:38] michael commented on #451
Here's another attempt, allowing in-place editing of authors, without an extra popup. Also see #452

![bla](https://user-images.githubusercontent.com/2931/37784117-5e4f562e-2df7-11e8-8a28-9d5f9298d2f9.png)

[2018-03-22 16:40] michael commented on #432
Thank you!

I tried the same with author editing. See last post in #451 .

[2018-03-22 16:48] lpanebr commented on #451
This looks very nice and is surely much better than navigating modals. I just find it a bit awkward having the email between first and last names.

[2018-03-22 16:55] lpanebr commented on #432
It looks equally great. I just find it a bit awkward having the email between first and last names.

Maybe it makes sense to deal with #447 now?

[2018-03-22 16:56] michael commented on #451
Yeah I just copied the existing forms which are generated from the schema and sometimes have weird order. We'll fix those things once we have decided on a UI/UX pattern.

[2018-03-22 17:05] michael commented on #447
Fixed via https://github.com/substance/texture/commit/fbbb500230d8915a38f37b678f3d6d802b0d3fbd.

[2018-03-22 17:05] #447 closed

[2018-03-22 17:07] michael commented on #449
Yeah these HTML editors have some issues which we need to address, in a dedicated effort. We can work on this in April/May.

Meanwhile, would it be ok to make all fields plain text inputs?

[2018-03-22 17:11] michael commented on #448
Fixed via https://github.com/substance/texture/commit/2841a62207d976fed71959537b890694f0fe64dc.

[2018-03-22 17:11] #448 closed

[2018-03-22 17:14] michael commented on #450
Fixed via https://github.com/substance/texture/commit/9b4b641188c8935174036ce6777f5ff53a55e048.

[2018-03-22 17:14] #450 closed

[2018-03-22 17:29] lpanebr commented on #449
I think so. Retyping titles is very painful.. But you probably want to hear from Fabio and Melisa about this.

[2018-03-23 07:56] Melissa37 commented on #449
I agree - retyping is the absolute worst and people will think the system is awful if they cannot copy and paste into it! It's fine if formatting is lost to start with.

[2018-03-23 20:42] fredhampton opened #455 "New to Texture (How do you create/save/export)"
I m new to Texture. I'am using the current browsers based versions.

How do you create new documents ?

How do you save documents ?

Is there a way to export documents ?

[2018-03-23 20:59] michael commented on #455
You can download a Desktop version here: https://github.com/substance/texture/releases

Then you can create and save documents on your disk.

[2018-03-23 22:43] oliver---- commented on #433
@de-code I think this should be possible now, after I have re-factored the build configuration via #454.

[2018-03-24 23:34] fredhampton commented on #455
@michael Is there a way to have the same functionality in the browser version ?
I would like to have my entire work flow in the browser and have texture as an open tab.

All thanks to you

Wiliam

[2018-03-26 07:37] gmaciocci commented on #452
Pretty interesting approach! Is the form loaded dynamically or on first load? Wouldn't want to needlessly slow down the page.

[2018-03-26 07:38] gmaciocci commented on #451
How do you dismiss the forms once displayed?

[2018-03-26 10:17] michael commented on #455
Yes you can have the same functionality in the browser. We have developed a storage backend in Node.js that can be used for storage, but you could also implement the same API in a different server-side language.

https://github.com/substance/dar-server

We don't provide a full-stack solution, because we want to focus on developing the text editor interface. So integration and publishing workflows

[2018-03-26 10:20] michael commented on #452
Nothing need to be loaded, as all data is already in memory. This is just a matter of presenting/revealing information. You could toggle on multiple references for editing, the editing dialog would be closed by clicking on the edit symbol again.

[2018-03-26 10:36] michael commented on #451
By clicking on the author/affiliation name again. But we could have a separate button in the form, called something like "done editing" to make this more explicit.

[2018-03-26 16:38] axfelix opened #456 "Manifest.xml requirement"
Hi guys,

Just to confirm -- is it necessary to pass a manifest.xml along with document.xml when importing documents into Texture in every case? This doesn't seem right (I think the goal is to be able to open any compliant DarArticle JATS file directly) but we're getting a little confused when integrating the newest version into OJS.

[2018-03-26 16:54] kaschioudi opened #457 "texture integration with OTS"
Hi Guys,

I am currently working on integrating OTS with your latest release. i have noticed that the integration is different from the previous integration we performed. Based on the example file from `texture-1.0.0-preview.1-web.zip`, here's what I have done so far.

I have updated substance and texture CSS and Javascript to their latest version. Then I have created an `editor.js` file in charge

[2018-03-27 10:54] michael commented on #456
Yes currently it is necessary, as we can't guess how for instance image urls etc. are resolved. As an integrator you can dynamically compute the manifest file using your conventions.

I suppose you are currently storing the JATS XML in the database, and now want a way to open in Texture. This can be achieved by implementing an HTTP endpoint that returns a valid RawArchive JSON structure. See here:

[2018-03-27 10:54] michael commented on #457
Hey! See #456.

[2018-03-27 10:55] #457 closed

[2018-03-28 10:25] NickDuffield commented on #451
@michael I think a modal panel is a better approach. Simply because it handles bigger forms more easily. In addition it scales better to smaller screens without wasting space. I think the show more options for inputs need to be very carefully considered, especially in the affiliation instance. I would avoid show more when you can and only use it for inputs that are rarely used or not key.

General

[2018-03-28 13:33] lpanebr commented on #451
My experience with modals on small screens is not good. They often do not resize appropriately making me have to fiddle with panning to achieve what I need or to simply dismiss it. I blame this on design without responsiveness in mind.

That being said I think that the inline UI can yield a better UX **if the forms are designed to be responsive** and simple.

[2018-03-29 13:53] kaschioudi commented on #456
Hi @michael ,

thank you for you reply.

I am still under the process of integrating OTS with Texture 1.0.0-preview.1. At the moment, I am having hard time displaying images in the editor. Could you please tell me why images are not displaying with this attached JSON file?

[egg_comic2.txt](https://github.com/substance/texture/files/1860362/egg_comic2.txt)

[2018-03-29 13:57] kaschioudi commented on #456
I have also tried from electron desktop add with luck. I broke down this JSON file into `manifest.xml`, `manuscript.xml` + images. (please not that i tried to put all the images in the root folder first and then inside a media folder).

[2018-03-30 13:53] meininghang opened #459 "convert"
How can I convert the xml to doc?

[2018-03-31 08:19] michael commented on #431
We'll start working on support to import CSL/JSON records.

@Integral in order to fetch recoreds from DataCite we can use the following url:

https://data.datacite.org/application/vnd.citationstyles.csl+json/DOI

E.g.
https://data.datacite.org/application/vnd.citationstyles.csl+json/10.5063/f1m61h5x

[2018-03-31 10:57] michael commented on #431
New Modal shown after clicking "Add Reference(s)".

![image](https://user-images.githubusercontent.com/2931/38162532-f00fe320-34e2-11e8-8fc5-edf44365a160.png)

[2018-03-31 14:17] Integral opened #462 "Improve indentation style of TOC"
<img width="194" alt="screen shot 2018-03-31 at 16 15 15" src="https://user-images.githubusercontent.com/182010/38164064-bc0bd64e-34fe-11e8-8307-12f3f21b14f8.png">

We should reduce line height of the single toc item, as it looks now as two separated items.

[2018-03-31 16:44] zuphilip commented on #431
@michael You can use content negotiation for CSL JSON on `doi.org` directly, which then should work for DataCite, Crossref as well as mEDRA, e.g.
[code]
See also https://citation.crosscite.org/docs.html#sec-4

[2018-04-04 14:52] gustavofonseca opened #466 "It should be possible to choose the file name while saving on the desktop app."
When saving the file it is possible to choose the target directory but it is not possible to choose the file name. The result of the save action is always the creation of the files manifest.xml and manuscript.xml.

I'm using the version 1.0.0-preview.1 (1.0.0-preview.1) on MacOS High Sierra.

[2018-04-04 15:11] gustavofonseca opened #467 "Could not open a file previously saved by the desktop app."
The file opening window doesn't allow me to select files, but only directories. If I click the button "open" at the context of a directory, I get the following error: **ERROR:Cannot read property 'name' of undefined**

I'm using the version 1.0.0-preview.1 (1.0.0-preview.1) on MacOS High Sierra.

[2018-04-04 15:41] michael commented on #466
The current behaviour is intentional as we want to move away from single XML files which are separate from assets (e.g. images, videos) towards an archive format, which essentially is a folder. Having it as a folder has is the most open one (e.g. you can use version control like Git) but we could also support a compressed single file that's then easier to share (e.g. `mydoc.dar`).

Let's discuss t

[2018-04-04 15:42] michael commented on #459
Conversion is currently not in the scope of the editor. However this topic is being worked on and once stable importers/exporters to docx, pdf etc. are available we will integrate them into the Texture desktop application.

[2018-04-06 10:27] michael commented on #456
Sorry this is a bit hard to resolve without more context. I assume you are working on a custom endpoint implemented in PHP?

The general concept is that the endpoint returns a valid image url (you can store it wherever you want).

You can see a working example by starting the dev server and opening: http://localhost:4000/archives/kitchen-sink

![image](https://user-images.githubusercontent.com/293

[2018-04-06 17:51] michael commented on #431
@zuphilip thanks for the tip! We finished a first version using DataCite but definitely makes sense to use doi.org and content negotiation. We'll work on that.

@zuphilip if you want you could now take over and improve the CSL/JSON conversion. See: https://github.com/substance/texture/blob/master/src/converter/bib/BibConversion.js

[2018-04-10 09:02] songzenghui opened #469 "Is there tutorial about texture?"
I install the texture,it's clean,and light.
I wonder that if there is a tutorial about texture?like,how to add math formula?

[2018-04-10 19:18] kaschioudi commented on #456
hi @michael ,

Which additional information do you need?

Did you look at the attached json file above? (note: I have replaced the URL of my OTS install with `www.domain.com` but I could email you the complete URL so that you can try yourself since the images URL are valid and accessible from Internet.)

[2018-04-10 19:26] kaschioudi opened #470 "custom button in the editor toolbar"
Hi guys,

Is it possible to add a custom button to the editor's toolbar ?
If so could you please point me to some documentation or example code ?

thanks,

[2018-04-10 20:50] michael commented on #456
Hi @kaschioudi

There are many ways to approach resolving images and where to store the XML and generating the manifest. I don't know how you are doing it currently. Have you written a script in PHP that implements the RawArchive endpoint or are you using our implementation from dar-server?

The file you attached is invalid JSON. However I see that there are some escaped slashes, maybe there's the

[2018-04-10 20:56] michael commented on #469
Support for adding math formulas will be added soon. However there is no tutorial yet. We will work on better documentation in the coming months.

[2018-04-10 20:56] #469 closed

[2018-04-10 21:01] michael commented on #470
What would you like to add?

The tools are configured here: https://github.com/substance/texture/blob/master/src/editor/EditorPackage.js

However, note that these are currently only editing-related tools, so application-level things like a save button do not really fit here. In a next version of Texture there may be a way to inject app level commands and tools into the main toolbar. We are current

[2018-04-11 13:08] kaschioudi commented on #470
thank you for your reply.

Is it the only way ? I mean is there another way than modifying directly `EditorPackage.js` ? Like when I extend `substance.Component`

It's actually the save button I was interested in.

[2018-04-11 14:33] kaschioudi commented on #456
Hi @michael,

I have configured the editor to use `substance.HttpStorageClient(storageUrl)` where `storageUrl` points to a URL which return a document archive created based on the OTS job conversion ID submitted in the URL. The document I have attached above is an example of returned JSON document.

Based on your previous comment, I have made changes so that `json_encode` does not escape slashes `

[2018-04-11 18:34] michael commented on #431
@zuphilp if you had some time to work o. BibConversion.js it would be fantastic. We are almost there with zotero import :)

[2018-04-12 08:20] #393 closed, assigned to nobody

[2018-04-12 10:51] oliver---- commented on #456
@kaschioudi Thanks for the information. I am looking into it.

[2018-04-12 11:40] michael commented on #361
Decision Substance Consortium:

- one bullet type for each level of the list
- consider ability to [link numbering to a previous list](https://jats.nlm.nih.gov/archiving/tag-library/1.1/attribute/continued-from.html)
- only support text inside a list-item (+ inline content such as math, xrefs etc.)

[2018-04-12 12:37] michael commented on #432
Group says:

- We use one field for both elocation-id and pagerange, but we store the structured info in the XML
- We need just one page range, until there's someone complaining

[2018-04-12 12:47] michael commented on #411
Group says:

- One free form biography - that can be annotated with simple HTML (em,link)

Lower priority:

- Image for the author

[2018-04-12 12:49] michael opened #471 "More compact date field(s)"
We want this to be more compact:

![image](https://user-images.githubusercontent.com/2931/38678214-530f94ec-3e58-11e8-854a-a9891e6ede8f.png)

[2018-04-12 13:04] michael commented on #360
Group says:

- allow group author names + people of that group
- no subgroups
- no affiliations for groups

[2018-04-12 13:38] michael opened #472 "Multi-Language support"
Some example:

- https://www.scielosp.org/article/bwho/2015.v93n12/826-833/en/
- https://epaa.asu.edu/ojs/article/view/3367

Group says: We need translations for title+abstract+keywords

- not visible in UI by default
- activated by "Add translation" in the menu

[2018-04-12 13:44] michael opened #473 "Support for Sub Articles"
- Currently used by eLife/SciELO for Decision Letter / Author Comments
- Translated articles are represented by SciELO as sub-articles
- Benefit is that ther's only one shared place for metadata

[2018-04-12 13:47] michael commented on #473
- Another benefit is that the sub-article inherits things like ref-list from the main article

[2018-04-12 13:52] michael opened #474 "Allow level one sections in the abstract"
They are optional, and used to structure the summary.

[2018-04-12 13:53] michael commented on #474
For example: https://www.scielosp.org/article/bwho/2015.v93n12/826-833/en/

[2018-04-12 13:54] jalperin commented on #474
Another example, from PLOS: http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0190482&type=manuscript

[2018-04-12 14:06] michael opened #475 "Add keywords support to Texture"
Group says:

- we would only need one keyword group
- we could add the optional content-type attribute for kwd elements to group keywords
- Users would prefer keyword sections in the user interface
- We would need one additional keyword group per translated language

[2018-04-12 15:07] michael opened #476 "Funder registry verification"
We need more info from Melissa.

- Github Repo
- List needs to be fetched and used for verifying

[2018-04-12 15:16] michael commented on #476
We need to review the tagging and add a spec to Dar.

[code]

[2018-04-12 15:16] Melissa37 commented on #476
https://github.com/CrossRef/open-funder-registry

[2018-04-12 16:24] michael opened #477 "When importing CSL/JSON or fetch via DOI we should overwrite existing entries"
@Integral currently we skip duplicates but we should actually overwrite the existing entries. Can you fix that?

[2018-04-12 16:28] michael commented on #451
We must make sure this works well when there's a huge list of authors (like 100).

[2018-04-12 16:30] michael opened #478 "Allow entering PMIDs and fetch from PubMed the CSL/JSON record"
What do we need to do that?

[2018-04-12 17:11] lpanebr commented on #451
If composing a long list of authors like this is a real requirement then this current approach may not be the best.

An easier way IMO would be to do it with a spreadsheet-like UI having one author per row. Maybe the same for institutions and using regular numeral indexes to make the author institution links.

One alternative way would be to keep the current approach and just add a batch import fe

[2018-04-12 21:17] Integral commented on #477
I can. Are you sure that we should do that? If the record is already there that could mean custom input. Do we want to remove it?

[2018-04-13 06:29] Melissa37 commented on #478
https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/tmTools/RESTfulAPIs.html
https://www.ncbi.nlm.nih.gov/home/develop/api/
https://github.com/robertaboukhalil/pubmed

Any of these help?

[2018-04-13 06:44] zuphilip commented on #478
PMID has different APIs with different formats. E.g. https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=PubMed&tool=Zotero&retmode=xml&rettype=citation&id=22230355 which is also the one Zotero uses, see https://github.com/zotero/translators/blob/master/PubMed.js#L42 and https://github.com/zotero/translators/blob/master/PubMed%20XML.js

[2018-04-13 10:25] michael opened #479 "Permissions"
Evaluate and implement support for permissions/attributions:

https://jats4r.org/permissions

[2018-04-13 10:43] gustavofonseca commented on #472
I just remembered that at SciELO there are also some use cases for figure captions in multiple languages. For example http://www.scielo.br/pdf/ce/v61n357/0366-6913-ce-61-357-00001.pdf.

[2018-04-15 03:56] oliver---- commented on #431
@jalperin was mentioning this
http://citeas.org/cite/http:/doi.org/10.5281/zenodo.160400

![image](https://user-images.githubusercontent.com/284099/38774854-4ce8da70-4069-11e8-8cc6-90cc63d44748.png)

[2018-04-16 16:31] michael opened #481 "Real world examples for all supported pub types"
We are currently improving the support for different publication types within the ref list. It would be helpful to have a real world example for each type so we can understand them better and cover edge cases.

@Melissa37 @fabiobatalha @gustavofonseca could you collect and post those here? Maybe including a link to the published article that contains the pub-type.

[2018-04-16 19:03] michael opened #482 "Normalise title properties in publication types"
From `BibConversion.js`...

[code]

We should probably use a title property everywhere, as done by CSL/JSON. Also we could introduce Chapter as a separate pub type, again to conform to CSL/JSON and not have that weird distiction of source and title for the book type.

@zuphilip what would you suggest is the cleanest way to do it? We are pretty free what we do internally (and in the Dar spec) as lo

[2018-04-16 19:10] michael commented on #482
Todo:

- [ ] update EntityDatabase.js
- [ ] update EntityConverters.js
- [ ] update BibConversion.js
- [ ] update [Dar spec](https://github.com/substance/dar/blob/master/DarArticle.md#ref) accordingly

[2018-04-16 19:29] michael commented on #482
If we use separate types for book and chapter we would get:

Book:

[code]

Chapter:

[code]

Please help refine this! What differs between a book and a book chapter?

[2018-04-16 20:45] Melissa37 commented on #481
_How do we differentiate between books and book chapters?_
They are both book-type publications, but a chapter in a book has more metadata (usually the chapter title, page numbers and authors (if the main book is edited and has different contributors for each
chapter)).

[code]

[2018-04-16 20:47] Melissa37 commented on #482
Please don't have different types!
See comments and examples on https://github.com/substance/texture/issues/481

[2018-04-16 20:48] michael opened #483 "Allow importing of records without a DOI"
Currently we only allow importing of bibliographic records that have a DOI.

See: https://github.com/substance/texture/pull/480#discussion_r181580524

To add support for entries without DOI's we'd need to make sure we don't end up with a lot of duplicates. Some options:

- Be okay with duplicates being created for entries without a DOI
- Implement a checksum over JSON object so we can check if an

[2018-04-16 21:18] Melissa37 commented on #483
Hi there

Why is this so important? Is it because you are still trying to build a database of references? :-)

Many journals do not have DOIs yet, and some journals with DOIs did not update their archives and add DOIs to them. Some books have DOIs, but not all.

We have to allow for all reference types to not have DOIs.

eLife has schematron that detects duplicate references I think @JGilbert-eLif

[2018-04-16 21:35] oliver---- commented on #483
Yeah 😀 no, it isn't because of that. As you said there will be a lot of references without DOI. Also we are allowing to Import from reference Managers, such as Zotero. We are just concerned to introduce problems by allowing to import the same record twice.

[2018-04-16 21:39] Melissa37 commented on #483
Cool! I hope James might be able to share how we do the check via Schematron if that helps?

[2018-04-16 22:41] zuphilip commented on #482
CSL-JSON has also _two_ poperties: `title` and `container-title`, where e.g.
* for a book `title` is the book title;
* for a chapter `title` is the chapter title and `container-title` is the book title;
* for a journal article `title` is the title of the journal article and `container-title` is the journal title.

Well, I would suggest to have different item types for a book and a chapter. I have

[2018-04-19 10:14] michael commented on #482
Thanks for your comment @zuphilip!

Convinced we want a separate type for chapters. @Melissa37 we will use the exact same structure as now, the only thing is that we make chapters explicit by introducing `publication-type=chapter`

I'll work on a PR for this...

[2018-04-19 10:27] michael commented on #482
@zuphilip can you point me to a spec for the CSL schema?

But maybe i just start with normalising the title attributes and let you do a second path... you know the terminologies better than I do. :)

[2018-04-19 10:32] michael commented on #481
@Melissa37 thank you! Can you give examples for all the other pub types as well? I will incorporate them into the Texture kitchen sink file.

[2018-04-19 11:48] #459 closed

[2018-04-19 18:02] michael commented on #477
That's done.

[2018-04-19 18:02] #477 closed

[2018-04-19 18:03] michael commented on #482
Being worked on #484

[2018-04-19 18:14] michael commented on #475
Spec proposal:

[code]

This model is equivalent to typed tags. We keep everything in a flat structure but allow the keyword to be member of a group. Using this model we can make Texture configurable to support journal- and  subject-specific keywords.

[2018-04-19 18:41] zuphilip commented on #482
The best resource for the CSL types and fields is IMO the mapping from the Zotero fields: https://aurimasv.github.io/z2csl/typeMap.xml

[2018-04-19 19:19] fabiobatalha commented on #482
@michael This approach seems to not cover all the Books references representations.

What happens if we want to have the source and chapter-title in the same reference? It is really a common pattern in books references.

See the last example @Melissa37 gave to us in:  #481

[2018-04-19 19:38] michael commented on #482
That was my mistake, of course we will support both fields.

[2018-04-19 22:52] ovillamx commented on #481
Hi @michael in the next link you can see some examples from SciELO:

http://docs.scielo.org/projects/scielo-publishing-schema/pt_BR/1.8-branch/tagset/elemento-element-citation.html

If you wish to see the same in english you may download their manual from:

https://github.com/scieloorg/scielo_publishing_schema/raw/master/versions/EN-scielo-publishing-schema-1.5.pdf

That manual it's a few outdated

[2018-04-19 23:36] ovillamx opened #485 "Customize journal and article metadata"
Hello,

My name is Omar Villa, I work in a mexican company named eScire. I was looking in your roadmap, meeting notes and issues, I think this isn't duplicated, sorry if that's the case.

I was wondering if it would be posible a function to allow editing "properties of the article", I mean, any way to edit aditional content of `<journal-meta>` and `<article-meta>` tags from the `<front>`. I see th

[2018-04-20 05:52] oliver---- commented on #456
Hey @kaschioudi,
I think the problem is that the assets are not within the "resources" block:
I.e. move these
[code]
into `"resources": {...}`, where e.g. `manifest.xml` is defined..

[2018-04-20 05:54] oliver---- opened #486 "Add a validator for raw archives"
As seen in #456 it would be good to have better errors, if the delivered raw archive JSON is not as we expect.

[2018-04-21 14:42] zuphilip opened #487 "Reduce number of item types"
I have studied the examples given in #481 and think that we may not need all item types which we have at the moment. Here are two suggestions how we can reduce them:
* Delete the item type `periodical` which seems identical to `journal article` and because it neither exists in the SciELO Publishing Schema nor in the CSL data schema. Even if someone wants to cite a special issue of a journal rather

[2018-04-21 14:50] zuphilip commented on #481
We should handle the `volume` field also for multi-volumes books as the example `bib25` indicates it here:
[code]

[2018-04-21 18:00] zuphilip commented on #487
Oh, I see. Then I would suggest to keep this type, but rename it into `newspaper-article`. The term "periodical" is ambiguous, see e.g. [here](https://en.wikipedia.org/wiki/Periodical_literature).

[2018-04-22 05:46] oliver---- opened #488 "Substance as peerDependency?"
We need to investigate how to use `substance` as a dependency correctly.
E.g. Stencila is using Texture as a library, but itself depends on substance.
If both have substance as a regular dependency, it may now happen, that Texture uses a different substance version than Stencila.

Don't know how to do this exactly. My first try would be, adding `substance` to the `devDependencies` and as a `peerDe

[2018-04-22 05:46] oliver---- commented on #488
@michael what is your take on this?

[2018-04-23 12:01] michael commented on #488
Sorry for the delay. I think what you proposed works well; ensures that Stencila does not end up with two different substance dependencies accidentally right? I mean at least you get warned.

[2018-04-23 12:05] michael opened #490 "Introduce additional fields for books and chapters"
As described by @zuphilip:

[2018-04-23 12:08] michael opened #491 "Additional fields for proceedings and articles in proceedings"

[2018-04-23 12:27] michael opened #492 "Allow formatting in bibliographic entries"
Which tags should we allow?

- `em`
- `strong` (isn't it actually a bad practice to put strong=bold text in the titles?)
- `sub`
- `sup`

We should try to avoid formatting where possible. And I'd prefer semantic tags over `<i>` `<b>`...

[2018-04-23 12:33] Melissa37 commented on #492
Hi there

I agree strong should not be included - it's a display thing. However, people using mixed-citation might be presenting the formatting as well as presentation from within the XML?

Italics are essential, they are used to denote things like species, genes etc.

[2018-04-23 13:11] oliver---- commented on #488
No worries. This just happened to me while working on Stencila.
With the current preview versions npm does not give a warning. Hope that this would be different with regular semvers.

[2018-04-23 13:25] Melissa37 commented on #491
AKA
<conf-name>
<conf-loc>

in JATS DTD

[2018-04-23 13:43] JGilbert-eLife commented on #487
@zuphilip I agree it's ambiguous but I'm not sure newspaper-article is the right name either. Periodical, as eLife uses it, covers magazine articles (e.g. New Scientist or Which? Magazine or something like that) as well as newspapers. It's short-hand for any non-academic piece of periodical literature - as @Melissa37 says, something that has not been peer-reviewed.

I suppose going by the wikipedi

[2018-04-23 15:15] zuphilip commented on #487
"Periodicals" cover all literature appearing on a regular schedule, including magazines, newspapers but also scientific journals. That is IMO a standard definition supported also by [Online Dictionary for Library and Information Science](https://www.abc-clio.com/ODLIS/odlis_p.aspx#periodical) or the well-known reference work "Ulrich's International *Periodicals* Directory". At least I am not aware

[2018-04-24 15:42] Melissa37 commented on #487
OK, we at eLife would be OK with @publication-types "magazine" and "newspaper" to replace "periodical"

Thanks

[2018-04-24 15:54] fabiobatalha commented on #492
I agree with the comments.

Besides the tagged references we will have the ability to represent the original reference as described at #412. In this case we should preserve the basic formatting tags like `<b>`.

[2018-04-24 16:01] fabiobatalha commented on #412
@michael

We would have the ability of display at least the element **object-id** together with the untagged reference. The purpose is to easily view the DOI number when it is available.

[2018-04-24 17:34] michael commented on #487
I just updated the Dar spec according to what has been proposed here. @substance/texture-contributors Please review:

https://github.com/substance/dar/blob/master/DarArticle.md#ref

@zuphilip regarding the `section` field in newspaper.. which JATS tag would you pick to represent that? See: https://jats.nlm.nih.gov/archiving/tag-library/1.1/element/element-citation.html

@zuphilip let's try to use

[2018-04-25 07:04] zuphilip commented on #487
Maybe [`part-title`](https://jats.nlm.nih.gov/archiving/tag-library/1.1/element/part-title.html) would be suitable for section in newspapers?

For reports I suggest to also include the field `series` for things like "Technical Report Series; 949". I couldn't find a suitable JATS field to separate the series number.

[2018-04-25 08:52] michael commented on #491
Thank you. I added them to the spec. Schema needs to be adjusted and converters need to be implemented.

[2018-04-25 09:48] michael commented on #487
Also started adding some hints to EntityDatabase.js where the properties do not match the JATS elements. See https://github.com/substance/texture/commit/9e0f4ffa81073751dd6f1e54435c4df5d0bc5228.

[2018-04-25 09:58] michael commented on #490
I've added `volume` and series (=`part-title`) to the spec.

Couldn't find good tags for number of volumes or number in the series. Is it ok to have those fields combined? Is it a problem having the information combined in one field?

@zuphilip Not sure we want to track translators: will they ever show up in the rendered citation?

For Texture the primary aim is not to build a database of bibliogr

[2018-04-25 10:36] zuphilip commented on #490
I see [`series`](https://jats.nlm.nih.gov/archiving/tag-library/1.1/element/series.html) in JATS and this might be better suitable here than `part-title`.

That is a possible solution to e.g. save the series number into the series field, e.g. `series="Awesome Working Paper Series; no. 11"`. It is possible that the delimiter between series and the number depends on the citation style and also the l

[2018-04-25 10:54] michael opened #494 "Improved schema and converters for bibliographic data"
I've tried to consolidate a number of proposals by @zuphilip (#487, #490, #491, #481)

Tasks:

- [ ] verify updated [Dar spec](https://github.com/substance/dar/blob/master/DarArticle.md#ref)
- [ ] Normalise properties of EntityDatabase to use same props as CSL-JSON (not reinvent the wheel), e.g. some of the `source` properties can be called `containerTitle` (we just add a note to which JATS elemen

[2018-04-25 11:05] michael commented on #470
We will work out something to address this properly. We just need some time.

[2018-04-25 11:08] michael commented on #485
Hi there!

We are working on standardising the metadata part, and then have Texture support editing it. This will be done over the next couple of months. I will add separate Github issues tagged with "requirements", please comment on them.

[2018-04-25 11:36] michael commented on #490
Ok I will change to series, unless there are objections. I'm not so familiar with these terminologies, but what I think would be important is to not have different contextual meanings for the same tag. If we use the series tag it should mean the same thing, no matter in which pub type it is used.

Good idea to suggest a convention for the input (e.g. semicolon to separate the no). That way we can

[2018-04-25 12:07] michael commented on #431
@oliver---- not sure how we could make use of CiteAs. It provides some citation styles and raw metadata (not sure this is also CSL/JSON), I guess it's better to collect the fields and render the styles locally and ad-hoc using Citeproc.js.

[2018-04-25 12:55] michael opened #495 "Math: Use selected text as formula"
Needs investigation. I think the data is there and saved, but no rerender (at least of the KaTeX part) is done.

[2018-04-25 13:42] michael commented on #495
Also, we when you have some text selected (property selection) we should use that as the TeX code instead of overriding with f(x). That way you can type sqrt(42), select it and turn it into math.

[2018-04-25 14:47] michael commented on #495
Rerender problem fixed via https://github.com/substance/texture/commit/ed30a74b9b8f6120d32fa0fdf3380ee54f7f2d7a

[2018-04-25 15:14] jalperin commented on #431
My understanding from a [very quick look](http://citeas.org/sources) is that it looked up metadata from places other than Crossref. It seems it does, but only of github repos and CRAN/PyPI project pages, so perhaps not so useful, unless they expanded to also pulling metatada using things like Zotero connectors.

Zotero does a good job of pulling metadata from URLs, I wonder if it would make sense

[2018-04-25 15:17] jalperin commented on #431
Here's a Ruby Gem: [Terrier](https://github.com/Authorea/terrier/tree/master/lib/terrier) that has a simple implementation of this.

[2018-04-25 21:35] Integral commented on #495
pls check #496

[2018-04-26 12:55] kaschioudi commented on #456
thanks @oliver---- , it's working!

[2018-04-26 21:38] zuphilip opened #497 "Add publisher, location, ... to some more types"
I compared the current Dar spec with the CSL and suggest to add some more fields:
* For `confproc` we can add additionally (a paper in a conference proceeding is IMO just a special case for a chapter and all fields from there can also be used here):
   * isbn
   * volume
   * series
   * publisher-name
   * publisher-loc
 * For `data` we can additionally:
   * publisher-name
   * publisher-loc

[2018-04-26 21:45] zuphilip commented on #490
Thank you! (I cant't help you with citeproc.js much, besides that I can point you to some experts there.)

[2018-04-27 07:05] zuphilip commented on #494
Okay, I can start with the implementation. I can spend some time today, but don't know how much time I can spent the other days...

[2018-04-30 07:54] oliver---- opened #499 "Make DAR robust against missing files"
In Stencila, @apawlik found a case where a previously opened DAR could not be opened anymore.
One source of the error is, that `StencilaArchive/TextureArchive` crashed because of a missing `sheet.xml`

We should make sure, that the DAR can still be opened, and probably inform the user about the problem.

[2018-04-30 19:55] michael opened #500 "When math is selected content is shifted down (jumpy)"
![image](https://user-images.githubusercontent.com/2931/39447134-1cf49052-4cc1-11e8-9906-72b9cd4709b7.png)

@Integral maybe you can investigate. Also maybe there's a way to draw a nicer selection rectangle. I think we had a nice solution in the old Stencila app already. Maybe we can replicate it.

[2018-04-30 19:57] michael commented on #500
Look here it is stable:

![math-selection-old-stencila](https://user-images.githubusercontent.com/2931/39447243-7af91416-4cc1-11e8-8e70-7f8edaddb975.gif)

[2018-04-30 20:03] Integral commented on #500
Will take a look

On Mon, 30 Apr 2018, 22:57 Michael Aufreiter, <notifications@github.com>
wrote:

[2018-05-01 22:57] #495 closed

[2018-05-02 01:37] brainwane opened #501 "Roadmap question: is live collaborative editing planned?"
Texture looks amazing! I have not yet set up a test installation, so it's not clear to me: is live, simultaneous collaborative editing by multiple authors (as in applications like Etherpad, Google Docs, and Dropbox Paper) a current feature, or potentially planned? I see Substance supports concurrent collaborative editing, so I hope Texture will as well. Thank you!

[2018-05-02 13:51] fabiobatalha commented on #412
Hello @michael

We are documenting our Érudit Publishing Schema and writing the schematron rules to address our needs. It will be compliant with JATS4M, and include some extra validations.

One of these validation isn't officially defined in JATS4M.

Besides the UX issues, we must have one decision about the data structure to handle the untagged references.

Our suggestions it to go forward with t

[2018-05-02 16:43] michael commented on #412
Hey @fabiobatalha!

I'm still not sure what the best way would be to handle untagged references. But I agree we should soon come up with a schema (tagging guideline) for those; the ui/ux can come later. Give me a bit of time and I will come back to you! (having a very busy week)

[2018-05-02 16:53] fabiobatalha commented on #412
Hi @michael

No problem, take your time. We have some time before launching the first version of Érudit Publishing Schema.

[2018-05-03 06:57] Integral opened #503 "Undo/redo with math could lead to text operation errors"
Steps to reproduce:
1) Open the kitchen sink example
2) Find a place with a square root, remove first slash: \sqrt(13) -> sqrt(13), quit formula editor
3) Apply undo
4) Edit formula another time, you'll see \sqrt(13)), remove first or last symbol
5) You'll see the error: "provided string is too short".

![](http://g.recordit.co/eRBNAS1jJd.gif)

[2018-05-03 10:52] michael opened #506 "Create link command should collapse selection at the end"
Doing that, the user will see the edit url prompt, otherwise needs an extra click and is not clear.

@Integral can you take that one?

[2018-05-03 20:03] Integral opened #509 "Edit math tool styles are broken after overlays restyling"

[2018-05-03 20:58] Integral commented on #509
Fixed via  b7f405e.

[2018-05-03 20:58] #509 closed

[2018-05-04 11:29] michael commented on #499
Should I take this now?

[2018-05-04 11:32] oliver---- commented on #499
Yeah, maybe investigate how to do it appropriately. In the workaround I have just 'dropped' the unresolvable sessions. Dunno if that has a negative side-effect else where. At least the manuscript should be fixed as well. And there should be a message shown to the user.

[2018-05-04 13:26] michael commented on #499
Dropping sessions is ok, though we should also fix the manifest document to not include the dropped entries. Otherwise they'll show up for instance in the tabs, but have no session... will check...

Regarding errors, think for now I just do a console.warn, but agree we should introduce an error API for the loading process.

[2018-05-04 14:40] michael commented on #499
@oliver please review #511

[2018-05-04 15:12] michael commented on #501
It's absolutely planned and half-implemented. There's just a load of other priorities which we want to put first. You can expect this to be addressed for Texture once we start running it in production (maybe around end of the year).

[2018-05-04 16:04] brainwane commented on #501
Thank you! Where should I have looked for this information? Is this the "Group authors" feature mentioned in the roadmap in the `README`?

[2018-05-04 21:25] nokome opened #513 "When exporting to JATS <element-citation publication-type="undefined">"
I suspect that this is a known bugs but thought I'd submit this since it's causing corruption of archives (so that they can not be opened).

To reproduce:

1. `npm start`
2. Go to `http://localhost:4000/?storage=fs`
3. Make a change to the text and press `Ctrl+S`
4. Then refresh the browser page to reload the example

Get error:
[code]
`git diff data/kitchen-sink/manuscript.xml` shows:

[code]

[2018-05-06 09:00] oliver---- opened #514 "No reference popup when a xref goes after another"
As observed in `Stencila` when two `xrefs` follow each other without any other character in between, the reference dialog does not show up:
![](http://g.recordit.co/o7OtSfWFhl.gif)

[2018-05-06 09:01] oliver---- commented on #514
Close this one if this is fixed here: https://github.com/stencila/stencila/issues/551

[2018-05-07 09:27] michael commented on #499
Fixed via https://github.com/substance/texture/pull/511.

[2018-05-07 14:08] josuevalrob opened #515 "It doesnt work."
Npm 5.6.0

Npm install:
$ npm start

Npm start:

[2018-05-08 09:07] michael commented on #513
@Integral can you take that one?

[2018-05-08 10:26] oliver---- commented on #515
It is the wrong node version, I think: node >=8
It is working for me on Windows

Michael Aufreiter <notifications@github.com> schrieb am Di., 8. Mai 2018,
12:21:

[2018-05-08 10:51] Melissa37 commented on #497
No problem for us, we might restrict for eLife specific.

[2018-05-08 13:36] gustavofonseca commented on #497
No problem for us either.

[2018-05-08 14:34] fabiobatalha commented on #497
Neither for us!!!

[2018-05-08 15:08] robsalasco commented on #483
any news about this feature? I'm using texture for a spanish journal but it's near impossible to have all the doi codes

[2018-05-09 10:46] michael commented on #513
Fixing this now as it's urgent.

[2018-05-09 13:13] michael commented on #513
Fixed.

[2018-05-09 13:15] michael commented on #513
@zuphilip we are close to releasing Texture and Stencila. Could you maybe do a final pass of testing, so we have good confidence that the converters for references work as expected and no data is lost on save.

To test writing to the file system you can use the following url:

http://localhost:4000/?storage=fs

Now pressing cmd+s will write to the data/kitche_sink folder.

[2018-05-09 21:49] oliver---- commented on #513
This is fixed.

[2018-05-09 21:49] #513 closed

[2018-05-09 21:53] oliver---- commented on #503
@Integral be careful with text property paths:
https://github.com/substance/texture/blob/8387e32310085aee011baf5e93fa8edefb4b950a/src/editor/components/EditInlineFormulaTool.js#L16

Unfortunately substance won't prevent doing this.

Correctly it is done like this:
https://github.com/substance/texture/blob/3c3e411499c219146c698e691c35cf335bda5745/src/editor/components/EditInlineFormulaTool.js#L18

[2018-05-09 21:53] #503 closed

[2018-05-09 21:58] Integral commented on #503
Sorry,
that must be hack from the very beginning when we did try to bring it
anywhere without proper xml api. Bad thing.

On Thu, May 10, 2018 at 12:53 AM Oliver Buchtala <notifications@github.com>
wrote:

[2018-05-09 21:59] oliver---- commented on #503
No worries. I'll just show you best practices ;)

[2018-05-10 03:03] oliver---- commented on #513
I think there is no pressure. Things are basically working.
In the next weeks I will flesh out the test suite a bit more.

[2018-05-14 08:35] Integral commented on #514
@michael @oliver---- this is more general substance issue which affects all inline nodes. See substance/substance#1190

[2018-05-14 08:38] Integral commented on #478
@michael, can I take this one?

[2018-05-14 09:56] Integral commented on #471
Can i take this?

[2018-05-15 10:28] michael commented on #513
@zuphilip sorry I missed your comment. As Oliver said there is no big pressure, but if you had some time just to quick test the supported publication types and if they render properly that would be great. Just so users of this release have a fairly stable experience for editing references.

[2018-05-15 10:28] #515 closed

[2018-05-15 12:31] Integral opened #524 "Placeholder for empty references"
I thought I did that already (with grey font), but currently empty record looks like this:
<img width="739" alt="screen shot 2018-05-15 at 15 24 36" src="https://user-images.githubusercontent.com/182010/40056701-d08c0534-5854-11e8-8f48-acccb72f97ea.png">

[2018-05-16 14:58] samboustani opened #525 "Error: Cannot find module 'substance'"
npm install

npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EINTEGRITY: sha1-ltDNYQ69WNS03pzAxoKM2pnHVI8= integrity checksum failed when using sha1: wanted sha1-ltDNYQ69WNS03pzAxoKM2pnHVI8= but got sha512-bAdJv7fBLhWC+/Bls0Oza+mvTaNQtP+1RyhhhvD95pgUJz6XM5IzgmxOkItJ9tkoCiplvAnXI1tNmmUD/eScyA==. (73721 bytes)

npm WARN registry Using stale package data fr

[2018-05-18 03:03] oliver---- opened #526 "Tables: replicate cell type when inserting rows"
@michael suggested:

if add a column/row we should probably try to replicate the style (e.g. make the first cell of a column a header if the previous one was a header too)

[2018-05-18 03:05] oliver---- commented on #526
This however does not make sense, because the table is not a sheet. The users will add their headings.
A numbering of 'A - Z' is just arbitrary content, that is only there as a template after creation.

[2018-05-18 03:23] oliver---- opened #527 "Can not undo deletion of a table"
Probably the order of ops is wrong, so that children are deleted after the parent. On undo this means, that the parent is created before its children, which is wrong.

[2018-05-18 03:25] oliver---- commented on #525
This must be something with your setup. Maybe you have `npm linked` substance. Maybe wiping `node_modules` and `npm install` helps.

[2018-05-18 03:25] #525 closed

[2018-05-18 03:27] oliver---- commented on #488
We need to see if npm is complaining once we have a regular version string.

[2018-05-18 03:27] #488 closed

[2018-05-18 08:41] oliver---- commented on #527
Was a regression in substance. Fixed now.

[2018-05-18 08:41] #527 closed

[2018-05-18 09:18] michael commented on #526
Oh you are of course right. :)

@Integral you want to take this one?

[2018-05-18 10:18] Integral commented on #526
Yes, is do!

[2018-05-22 23:58] oliver---- opened #529 "Question: How can I use my custom data-base to load archives into Texture?"
How do you dynamically load a data file instead of having it hardcoded in the source to point to the data folder?  The data file would come from a database and then displayed in the Texture editor.

[2018-05-23 00:02] oliver---- commented on #529
We have a concept of an archive which is called DAR: https://github.com/substance/dar
There is a reference implementation of an HTTP implementation in node: https://github.com/substance/dar-server

The idea is that the backend provides a raw archive, which contains a `manifest.xml` and documents, such as JATS files, plus assets, which are allowed to be provided as URLs.

[2018-05-23 00:06] oliver---- commented on #529
This is all pretty new, but should be working already.
Someone that has implemented this in OJS is @kaschioudi: see https://github.com/substance/texture/issues/456 for some more details
We will work on a better documentation of this in the next months.

[2018-05-23 00:07] oliver---- commented on #529
Also look here: https://github.com/substance/texture/blob/master/docs/steps/0004-persistence.md#raw-archive

[2018-05-23 01:13] samboustani commented on #529
Thank you for your help and time, Oliver!  I'll take a look and try it out.  I will post a solution if it works.

[2018-05-23 13:36] JGilbert-eLife opened #530 "Article type/category and subject area display and editing"
(This is the first issue to be opened as part of the 'elife-next' category which details our requirements for Texture as a production tool)

In order to use Texture as a production/proofing tool at eLife, we would need to be able to view and edit the article-categories -

[code]

[2018-05-23 22:02] oliver---- opened #531 "Errors when loading an archive"
See the screenshot in https://github.com/stencila/desktop/issues/54#issuecomment-390107842

It seems that there is a problem in how the archive change listener is registered.
What we have:
- Here the archive change listener is registered: https://github.com/substance/texture/blob/45c2e8eb20d4b489507301702eac13f7e6df7332/src/TextureDesktopApp.js#L24
- Here the change listener is implemented: https:

[2018-05-23 23:25] samboustani commented on #529
I have a proof of concept on how to load an archive dynamically.  However, any new archives that are created, except those that were there in the Github clone, produce the error "**Uncaught (in promise) Error: File does not exist: 5af51a28070f6d1740d2ca42/manifest.xml at SimpleVFS.readFileSync (vfs.js:31)**"

5af51a28070f6d1740d2ca42 being a folder under /data, same as blank and list, which both w

[2018-05-23 23:28] oliver---- commented on #529
@samboustani Thanks for this.
I will take a look ASAP!
But probably I am not able to this the next 2 days.
Will ping you when I start.

[2018-05-23 23:31] samboustani commented on #529
I noticed at the top of vfs.js there are all the archives in a constant.  Is everything hardcoded with this app?

const CONTENT = {
  "blank/manifest.xml":
  "blank/manuscript.xml":
  "elife-32671/manifest.xml":
  "elife-32671/manuscript.xml":
  "kitchen-sink/manifest.xml":
  "kitchen-sink/manuscript.xml":
  "list/manifest.xml":
  "list/manuscript.xml":
}

[2018-05-23 23:37] oliver---- commented on #529
We have the vfs (virtual fs) as a development thingie. This is generated during build from the examples, and not meant as a real solution.
A real setup would be more like what we do with `dar-server`.
Have you seen that? https://github.com/substance/texture/blob/master/make.js#L32-L40
This is again a dev setup, but there we start the dar-server with an `express` app.
Maybe this helps a bit.
Beyond

[2018-05-23 23:50] oliver---- commented on #529
Another comment about vfs: we use this to simulate a real 'fs' scenario in the browser. It is actually read-only, or only in-memory read-write. I.e. everything is lost on reload.
Generally almost everything can be developed and tested using the browser this way. The debugger in the browser is great, particularly in Chrome.

[2018-05-23 23:56] samboustani commented on #529
@oliver---- I'm passing the archive folder name as a query parameter

/Texture/index.html?archive=blank

This works fine with the original archives when cloned, but won't work on any new folders added to the data folder, because it won't find them since they're not in vfs.js file constant.

I haven't worked with dar.server yet, so I'll have to try it.

I'm wondering what the parameters are for sto

[2018-05-23 23:58] oliver---- commented on #529
Yep, HTML param 'storage=fs' would try to read from a `dar-server` instance.

[2018-05-23 23:59] oliver---- commented on #529
(sorry that needs all be documented, and isn't yet.)

[2018-05-24 00:03] oliver---- commented on #529
You can get a real setup by running by
[code]
look at `package.json` how it is configured, together with the block in `make.js` I mentioned before

[2018-05-24 02:59] samboustani commented on #529
Unfortunately, a new error is coming up when running npm start.  I even deleted the node_modules folder and ran npm install again.

Starting server on port 4000...
Watching for changes... Press CTRL-C to exit.
Error: listen EACCES 0.0.0.0:4000
    at Object._errnoException (util.js:1022:11)
    at _exceptionWithHostPort (util.js:1044:20)
    at Server.setupListenHandle [as _listen2] (net.js:1350:1

[2018-05-24 07:53] oliver---- commented on #529
I guess this error means that you are not allowed to start a server on the machine you are working on.
Is it maybe a some kind of shared computer, where you might need to ask a sys-admin?
If it is your own computer you could try to run as root, just to identify if permissions would solve the problem.

I think it makes sense to try this with the `express - Hello World` example first: look here http

[2018-05-24 07:59] oliver---- commented on #529
Also make sure nothing else is running on port 4000.
Maybe you have started too instances?
But there could be another application too. Run `netstat -ano` and look if something is bound to the port.

[2018-05-24 09:52] michael commented on #531
Thanks for investigating. I'll take care of it! Just finishing off the Reader setup first.

[2018-05-24 12:27] michael commented on #531
I'm on this now, do you know how i can reproduce the problem?

[2018-05-24 12:57] michael commented on #531
Makes sense. The place where we register the handler is definitely not cool, we need more control. However for now I'd just guard the _archiveChanged handler. Like so:

[code]

that ok?

[2018-05-24 12:58] oliver---- commented on #531
Yeah, that makes sense, too. ;)

[2018-05-24 13:03] michael commented on #531
Will include this in the fix-entity-editing PR. Anything else we want to fix before releasing the patch?

[2018-05-24 13:04] oliver---- commented on #531
I think we are good now.

[2018-05-24 13:06] samboustani commented on #529
@oliver---- I started the command prompt in Admin mode after powering up this morning and it ran successfully.

As for setting the configuration in my app to use dar-server, I tried several configurations but it always returns 404 not found for the archive I point to.  I'll look into it today and post my final solution to getting this to work inside another application.

[2018-05-24 13:08] oliver---- commented on #529
Running as root is of course not ideal on the long run. Maybe you have restricted your user rights too much? (I am unfortunately not a Windows permissions expert)

[2018-05-25 00:40] samboustani commented on #529
I got things running somewhat. The issue now is that when you run "npm start", it builds a "dist" folder.  However, it does not reference the "data" folder inside the "dist" folder. It instead uses the "data" folder in the main texture root.  I tested this by removing an archive folder in the root and got a 404 not found error, but the archive folder was still in the dist, which means it wasn't ac

[2018-05-25 02:34] samboustani commented on #529
I set this up in IIS using IISNode and URLRewrite.  I moved the dist folder to the IIS path.  This is the current status:

Application has thrown an uncaught exception and is terminated:
Error: Cannot find module 'substance'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/mo

[2018-05-25 13:38] JGilbert-eLife opened #533 "Allowing display and editing of sub-figures"
eLife content allows for multiple figure supplements to be appended to main figure using the `<fig-group>` tag. Our use of Texture would require this to be supported in the following fashion:

* The ability to add or remove figure supplement images, titles and labels to main figures.
* The ability to view these once added. Ideally, they should be listed after the main figure they are associated wi

[2018-05-25 13:54] JGilbert-eLife opened #534 "Allowing display and editing of additional article assets"
In addition to main figures and figure supplements, eLife supports a number of additional assets for articles.

    source code (code) - this can exist on its own or in relation to a figure, table or video
    source data (data) - this can exist on its own or in relation to a figure, table or video
    video (video)
    supplementary file (supp)
    reporting standards (repstand)
    inline graphi

[2018-05-25 14:11] JGilbert-eLife opened #535 "Adding publication and history dates to articles"
This is vital to using Texture as a production tool. We need to be able to add and change a published date

[code]
as well as including and being able to view dates detailing the article history. These would not need to be editable, but they will have to be visible.

[code]

[2018-05-25 14:18] JGilbert-eLife opened #536 "Citations of figures with part labels"
I noticed that at present there is no means of updating figure citations to refer to specific parts of the figure. By this I mean

Figure 1A
Figure 1B-C
Figure 1A, 1B, 1C

and other such permutations. One can only type a letter after the citation link.

![screen shot 2018-05-25 at 15 12 33](https://user-images.githubusercontent.com/1785305/40549031-4a3ef824-602e-11e8-9eb3-273fbf31a848.png)

Ideall

[2018-05-25 14:42] JGilbert-eLife opened #537 "Ability to add sub-articles"
eLife specifically uses sub-articles to include 'Decision letter' and 'Author response' sections. Decision letters contain information on the reviewing editor who handled  the article. Author responses contain disp-quote sections quoting the Decision letter.

[code]

[2018-05-25 14:50] JGilbert-eLife opened #538 "Including author footnotes"
Support for contribution, conflict of interest and additional footnotes is required for authors.

[code]

[2018-05-25 14:57] JGilbert-eLife opened #539 "Ability to tag authors as equal contributors"
In the eLife XML, we apply this as an attribute on the author and as a footnote:

[code]

[2018-05-25 14:59] JGilbert-eLife opened #540 "Ability to tag authors as deceased"
In the eLife XML, we apply this as an attribute on the author and as a footnote:

[code]

[2018-05-25 15:02] JGilbert-eLife opened #541 "Ability to indicate authors as corresponding authors"
This is key - we need to be able to designate one or more authors as corresponding author and for this to be visible and editable in Texture (e.g. applying and removing corresponding author status, updating the email address used etc). An email address is required

[code]

[2018-05-25 17:25] fabiobatalha opened #542 "Use of boxed-text for piece of texts"
In some articles the authors highlight a piece of text for different purposes. It seems the boxed-text fits well for this need.

Sample of articles in Érudit:

 * https://www.erudit.org/fr/revues/mi/2011-v15-n2-mi1521301/1003446ar/#pa26
* https://www.erudit.org/fr/revues/rse/2013-v39-n1-rse01350/1024535ar/#pa32

References:

JATS Reference: https://jats.nlm.nih.gov/publishing/tag-library/1.2d1/ele

[2018-05-25 17:37] Melissa37 commented on #538
Note - there is a JATS4R recommendation for clinical trials now: https://jats4r.org/clinical-trials
eLife will be implementing that soon.

[2018-05-25 19:45] samboustani commented on #529
Sorry, I know integration is my responsibility and that the team is focusing on the editor itself.  However, the NPM package page has some details that this page does not.  There is a usage example (where would this code actually be executed from?) and an "examples" link that is broken.  Are there actually integration examples somewhere?

Usage

[code]

See our examples for a complete integration

[2018-05-28 14:32] michael opened #543 "Towards a TextureDocument API"
I'm working on the reader and creating new components while trying to design them reusable (for editor and reader) and less dependent on the internal Texture XML model.

I've found that we work directly with the XML model a lot. Also we named our components after the XML elements. E.g. FrontComponent, BodyComponent etc., maybe we should question that.

I'd like to move towards a range of independe

[2018-05-28 14:50] oliver---- commented on #543
In general is such an abstraction not a bad thing.
The advantage of this is more flexibility. The disadvantage for us, we need to document it.
Advantage of using XML directly, the schema can be used to generate documentation, disadvantage the implementation is tangled with the specific XML schema.
In general I prefer this abstraction, because it might give us more freedom/stability on the long run

[2018-05-28 14:54] oliver---- commented on #543
Thinking of very specific UI for JATS, which we will have to do a lot in the next months, I would on the other hand say, it is an overkill.
So it would be nice to have a general solution for reusable things, but maybe we will find it annoying to create this extra layer for JATS specific meta data stuff.

[2018-05-28 14:59] michael commented on #543
You need to do something similar as NodeComponent.

True, but this could then be a chance to model the updates better. E.g. sometimes we have different elements (abstract+abstract-content) we need to listen to but they form one semantic unit, so this could be a chance to group them together again, and just say, when the model updates, rerender the component.

[2018-05-28 15:04] oliver---- commented on #543
You can do that.
Just be aware that adding listeners for document changes without any means of hierarchical layering, it will slow down the system with the number of components.

[2018-05-28 15:07] michael commented on #543
Actually for the publisher metadata, I'd see the abstraction as rather helpful. While the JATS representation might be changing for some time the interface could stabilise much faster. E.g. we can define the setKeywords() API and keep it while changing the serialisation underneath several times until the publishers are happy.

Most of the metadata is simple key-value stuff without annotations so t

[2018-05-28 15:10] michael commented on #543
the layering would still be there right (it's in the model) - so if we have the FigureModel it would only proxy updates that happen inside `fig` - or am I missing sth?

[2018-05-28 15:10] oliver---- commented on #543
There won't be no shortcuts like generated UI anymore, or the XML hack thingie.
So if something is blocking adoption, it is blocked. Just be prepared to create a lot of things really quick ;)

[2018-05-28 15:11] oliver---- commented on #543
It is still substance data, and no magic. With every change you need to identify the list of candidates you want to call. If this identification is done by a increasing number of 'selectors' then your system is slowing down.

[2018-05-28 15:12] oliver---- commented on #543
You need to come up with something new, or use something like NodeComponent.

[2018-05-28 15:29] michael commented on #543
what's your feeling? is it the right time to start this work?

I'm just realising that now by working on the reader components that things are very much tied to the XML nodes and even the element structure in XML. If we extracted some generic model for different places, we could step by step break free of the serialisation format.

If we needed the XML edit thingie we could provide that as an api

[2018-05-28 15:37] oliver---- commented on #543
I think it could be the right time, as we do not want to release a new Texture Version the next 2 weeks.

[2018-05-28 15:39] oliver---- commented on #543
It could also be interesting to work on Component tests along with this work. Then the whole thing will get cleaner and tighter.

[2018-05-28 15:48] michael commented on #543
I will start this off by introducing TextureArticleAPI and use it for the new reader implementation. I will for now not touch the existing editor code. So we can go hybrid for a lil while until we feel confident and switch over the whole thing?

[2018-05-28 15:50] oliver---- commented on #543
Also you might want to consider looking at the EditingInterface. This is basically already intended to be something like this. `tx` is fulfilling this API.

[2018-05-28 16:00] michael commented on #543
Not sure but maybe it's ok to have that on a separate level (EditingInterface). E.g. TextureArticleAPI could start transactions internally but don't expose the concept to the user.

My feeling is that EditingInterface could be a more low-level version of the api, while TextureArticleAPI then is really intended for the folks that don't want to mess with editing and selections etc.

[2018-05-28 16:01] oliver---- commented on #543
That is ambitious. But if you want you can go for it.

[2018-05-28 16:26] oliver---- commented on #543
@Integral after some basic first steps done by us, definitely! :)

[2018-05-28 18:04] michael opened #544 "Configurator imports need to be controllable"
Currently the configurator is setup during archive construction.

https://github.com/substance/texture/blob/master/src/ArticleLoader.js#L11

This is a problematic place, since we may want to load different configurations. In my concrete case, I want to either use ReaderPackage or EditorPackage. But even if I were able to tell TextureArchive, which config to use for what article type, that still wo

[2018-05-28 20:46] michael commented on #544
Using this hack for now.

https://github.com/substance/texture/blob/ea3c626eb9608a1d44e1057f2b525cdf78cbb522/src/WebAppChrome.js#L19

[2018-05-28 20:47] michael commented on #544
@oliver---- please take a look. Reader interface is available at: http://localhost:4000/reader.html

[2018-05-28 20:49] michael commented on #544
sorry, last comment belongs to this PR:

https://github.com/substance/texture/pull/545/files

[2018-05-28 23:50] oliver---- commented on #544
I guess the challenge now is to get generalized components for the content nodes, e.g. for a figure. ATM ContainerEditor is spawning components, and passes a node as prop. Maybe we need to override ContainerEditor's methods to pass a generalized model and an editing API. This also needs to go through the IsolatedNodeComponents layer.

[2018-05-29 03:58] samboustani commented on #529
I've gotten to a point where I pass my own XML data into the editor. However, I'm not sure what to call to make this data appear inside the editor.  At first it looked like I would need to use the _ingest(rawArchive) function inside the TextureArchive class inside texture.js, but wasn't sure how to call it from editor.js, where I'm making my changes.

This is what it looks like now in part of edit

[2018-05-29 10:15] michael commented on #544
Could you help me prototype an alternative ContainerComponent that does that? We could do first for the reader, so we don't destabilise the editor and when we have the reader in place also use the new ContainerComponent and try to reuse as much as code as possible. Generally editor and reader components could have the same markup except for some ui elements (ellipsis menu etc.)

I will add some mo

[2018-05-29 10:29] oliver---- commented on #544
I could envisage to have modular editor APIs for fragments like figs etc.
For that we need a tweaked ContainerEditor and IsolatedNodeComponent, because they are meant to work on nodes.

This method would need to be overridden in a customized ContainerEditor: https://github.com/substance/substance/blob/develop/ui/ContainerEditor.js#L117-L131

And this method for a customized IsolatedNodeComponent:

[2018-05-29 12:10] michael commented on #544
I guess we'd need a lookup mechanism for a model. Something like:

[code]

I guess we would then switch from using the node.type to match the component to using the model.type. For figures and tables that could be a way to map table-wrap, fig etc. to a generic FigureModel.

I can try to get something working...

[2018-05-29 12:11] oliver---- commented on #544
Sounds good.
Probably we want to have a configurator for this.

[2018-05-29 18:19] michael commented on #544
Quick update: I wanted to change the property for components from `node` to `model` so we see the different semantics. However, I don't want to break everything in this first iteration, so I will keep using node with the same generic interface (id,type, getPath for text nodes etc.).

that an ok approach?

[2018-05-29 18:24] oliver---- commented on #544
Do you mean you are adding an alias for the model named `node` or do you provide the model node?
For sake of legacy, it would make sense to add both, i.e. the model as `model`  with the new semantics and `node` as `node` with the old semantics.
After some time you would try to drop the `node` prop alltogether.

[2018-05-30 09:48] michael commented on #544
Makes sense - will keep both as you suggested.

[2018-05-30 09:58] michael commented on #540
I'd suggest to only use the deceased attribute in the source XML. Adding a separate footnote is redundant. It can be automatically generated and displayed in the HTML version. If this needed e.g. to conform to PubMed standards, we could always generate an "archive version" of the XML.

[2018-05-30 11:01] michael commented on #544
@oliver---- with the separation it gets a bit blurry how to do the mapping and not just 1:1 replicating the structure we already have with the XML nodes.

E.g. in the internal XML we have:

 - `abstract > abstract-content > p*`
- `fig > caption`

fig and abstract being block nodes and abstract-content+caption being container nodes. Somehow I'd like to eliminate these extra layers in the model, but

[2018-05-30 15:12] oliver---- commented on #544
I guess instead of replacing Substance Data Nodes, we should let a Node 'be a' model. I.e. a TextNode is a TextModel. The same for ContainerModel and Node. etc.
As you said this will affect the very core of our implementation, thus this will take some time.
With EditingInterface and Editing (as impl) I went the have way probably, i.e. triggering manipulations for basic editing via API, rather than

[2018-05-31 00:45] samboustani opened #546 "Error when using XMLDocumentImporter to process article - Could not find <dar> element"
I'm returning the following using the dar service and a custom storageUrl, but I get an error at the following function in XMLDocumentImporter.js.  The <dar> element is in a manifest.xml file, but I'm not using that file (at least I don't want to have to use it since I'm sending the content in without it):

[code]

**_Uncaught (in promise) Error: Could not find <dar> element.**
    at XMLDocumentI

[2018-06-01 18:09] fabiobatalha opened #549 "ability to tag verse-group and verse-line"
Many of the Érudit journals have this kind of content in their documents.

https://jats.nlm.nih.gov/publishing/tag-library/1.2d1/element/verse-group.html

[2018-06-04 10:10] JGilbert-eLife opened #550 "Integrating Schematron rules for references"
eLife is implementing a set of Schematron rules to validate the content of references. We would like to integrate these into the Texture reference tool to ensure that the reference list and in-text citations match our style requirements.

https://github.com/elifesciences/reference-schematron

We have set up an API service to run XML files against the Schematron at two stages in the production proc

[2018-06-04 10:33] JGilbert-eLife opened #551 "Associating funder with authors and including grant numbers"
eLife publishes funder name (+ fundref ID if available), grant number and author for each grant received by authors on an article:

[code]

We need to be able to add new funding entries to an article, verify the entered funder against the fundref registry (see https://github.com/substance/texture/issues/476) and add a fundref ID if available, and associate one or more authors with each funding ent

[2018-06-04 11:29] JGilbert-eLife commented on #540
That's a good point - we only have it in there because it is required for deceased status to show up on PMC.

We could approach PMC about changing the way they handle this. I agree that the footnote is otherwise unnecessary and PMC seems able to generate a corresponding author status footnote from that attribute alone. What does everyone think?

[2018-06-04 14:26] JGilbert-eLife opened #552 "Group authors"
We need to be able to list group authors. These will need to placed within the main author list with the same options as singular authors.
Where appropriate it should be possible to add members of the group authors as contributors within the group. These people can, but are not required to have, their own affiliations, ORCID IDs and email addresses.
A group author may be the corresponding author o

[2018-06-04 14:28] JGilbert-eLife commented on #552
I tagged this one as an enhancement as support for group authors seems that a pretty important addition to texture beyond eLife's use of it.

[2018-06-04 15:42] JGilbert-eLife opened #553 "Additional license statements for figures etc"
eLife sometimes applies additional license statements to article assets (e.g. figures) where those assets are in part of in whole not covered by the article level creative commons licenses. There can be multiple licenses associated with a single figure.

[code]

[2018-06-04 15:59] michael commented on #553
Thank you for providing all these examples @JGilbert-eLife. Very helpful!

[2018-06-04 16:35] JGilbert-eLife opened #554 "Including appendix sections"
eLife articles may contain one or more appendices. These can contain their own assets:

figures
figure supplements
tables
videos
source data and source code related to the above

References in eLife appendices got into the main reference list used for the whole article.

[2018-06-05 12:35] michael commented on #550
This is an important functionality but think we should wait until we have the user interface + data model in place generally.

The approach we want to take is to display an issue pane, where all problematic places are shown. And by clicking on them you get taken to the corresponding form field. We can have a relatively simple rule set evaluated in Javascript to accomplish that. We need to investig

[2018-06-05 13:20] JGilbert-eLife opened #555 "Coloured text, coloured cells in tables"
eLife permits coloured text. At the moment this is implemented using named-content tags which are then interpreted by our website. For example:
[code]
The website will then display 'Some text' in red.

Similarly, coloured backgrounds in cells are added using the style attribute:
[code]
The list of allowed colours is given in the attached PDF file.
[eLife_Allowed_Colours.pdf](https://github.com/sub

[2018-06-05 13:28] michael commented on #538
I have a feeling this could be done more elegantly as attributes or elements of `contrib`. I know we are missing some elements in JATS but to me this should look something like this:

[code]

Is there really a need for arbitrary footnotes for authors? Or could such information go into the bio for instance? I think we would benefit a lot by structuring this information instead of assigning footnote

[2018-06-05 13:58] JGilbert-eLife opened #556 "Table footnotes"
In addition to a title and a caption, eLife supports footnotes in tables. These can be linked to the content of the table but do not have to be.

[code]

[2018-06-05 15:03] JGilbert-eLife opened #557 "Data availability section"
Following the JATS4R recommendations (https://jats4r.org/data-availability-statements), eLife includes a Data availability section. This contains a paragraph detailing where the source data for a work can be found. It may in addition contain details of generated datasets (those produced by the work) and/or previously published datasets (those used by the work).

We would need the ability to add da

[2018-06-05 15:11] katrinleinweber commented on #238
Moved to https://github.com/substance/dar/blob/master/DarArticle.md, I presume.

[2018-06-05 15:45] scimole opened #558 "NLM JATS to DAR JATS"
Im new to texture. How can i convert an xml from NLM JATS to DAR JATS format, for further editing with Texture.

Thanks in advance

[2018-06-05 16:02] JGilbert-eLife opened #559 "Ability to add an 'Impact statement'"
eLife includes an Impact statement (one sentence summary) for each research article in article-meta:
[code]
We need to be able to edit this during proofing.

[2018-06-05 16:21] JGilbert-eLife opened #560 "Ability to add 'Digests' (executive-summary)"
On many research articles, eLife includes a 'Digest', a plain language summary of the article content. This is added using the "executive-summary" abstract-type. The digest follows the standard abstract in article-meta.

[code]

[2018-06-05 16:30] JGilbert-eLife opened #561 "Ability to add present addresses"
This is another enhancement that would definitely not be just eLife specific - we need the ability to add present addresses as well as main affiliations.

These are linked to authors using footnotes:

[code]
[code]

[2018-06-06 09:02] michael opened #562 "Not possible to create two links next to each other"
Reported by Nick Stiffler:

Response:

We may want to find a better behaviour to prevent such confusion.

[2018-06-06 11:42] michael opened #563 "Implement shared/ReferencesComponent based on ReferencesModel"
We start by building this for the TextureReader interface, and once it's working adapt also the editor to use it.

[2018-06-06 11:59] michael opened #564 "Follow citations of figures/references in the Reader"
In the reader component we need a different behaviour when clicking on a reference. I'd suggest to do the following simple interactions in a first version:

- hovering a reference: show a tooltip, with the reference details
- clicking a figure/table reference: jump to the figure/table in the document

[2018-06-06 13:55] fabiobatalha commented on #564
Is it possible for figures and tables to show a tooltip with the label, title and caption? I think for authoring purpose, the label, title and caption are the most important information the author may want to see while hovering a figure/table citation.

The click in most of the cases should work fine for figures and tables but if the figure/table are far from the citation, the user will need to sc

[2018-06-06 14:02] fabiobatalha commented on #549
Sample:

[code]
In the same way of `disp-quote` element, the `verse-group` should support the element `attrib`

[2018-06-06 14:07] fabiobatalha commented on #542
Sample:

[code]

[code]
In the same way of `<disp-quote>` element, the `<boxed-text>` should support the element `<attrib>`

[2018-06-06 16:01] fabiobatalha commented on #564
Yes, it will be a good improvement.

I agree to have it in future versions

[2018-06-06 18:17] fabiobatalha opened #567 "Ability to add name-alternatives for authors"
In Érudit context there are several cultural journals where the authors make use of alternative names, or pseudonyms.

The ability to deal with this kind of data will be an improvement for Érudit in the use of Texture as a QC tool.

The DAR should change from:

[code]

To:

[code]

[2018-06-07 10:07] michael opened #568 "ReferenceModel API"
We currently have an indirection between the XML (ref element) and the entity (pubMetaDb) holding the data.

This is causing confusion when programming Texture you always need to be aware of that relationship. With the new API I'd like to remove that cognitive load. Here's an idea (up for discussion).

[code]

Returns:

[code]

Adding a new reference:

[code]

Updating a reference (update props, b

[2018-06-07 10:08] oliver---- commented on #568
Less cognitive load and dumb plain objects is exactly what my ears like to hear ;)

[2018-06-07 10:15] michael commented on #568
Haha, just hope I didn't miss something? You think it's ok to swallow the entityId? My idea behind it was to think of editing the bibliography as a local task. Since behind the scenes we have stored the link to the entity db record we could implement some kind of sync mechanism but without needing the programmer to be aware of it. They would only manipulate the local bibliography.

[2018-06-07 10:18] oliver---- commented on #568
The sync mechanism can be done via ops. So If you can retain the id internally, that should be fine I guess.

[2018-06-07 10:18] oliver---- commented on #568
Maybe bath operations are dangerous, because then you don't know how to map them

[2018-06-07 10:42] michael commented on #568
Batch ops we could implement on top of the per-record ops I guess.

One thing I'd like to be able to do is support in-place editing without an explicit save button. Like sketched here: https://github.com/substance/texture/issues/452#issue-307664729

I guess that we could achieve by calling updateReference() on each blur. I don't understand if we should support undo/redo there though and if yes how

[2018-06-07 10:43] oliver---- commented on #568
You need to record ops and transmit to the other session.

[2018-06-07 11:20] michael commented on #568
The undo/redo thing should also go into app level right? Then we can pull together different editorSessions and forward the undo/redo ops appropriately. If I understand correctly we can use the simple API I proposed for editing references, and derive ops using a diff. Think that could work well.

[2018-06-07 11:21] oliver---- commented on #568
Yes, as we discussed several times in the past. We need some kind of composite Undo-History here.

[2018-06-07 14:40] michael opened #569 "Regressions in Reader branch"
Just to track them so we don't forget fixing:

- annotations are not properly rendered in Editor (bold, ext-link etc.), in Reader it works
- References are broken in Editor (we may refactor that anyways)
- tbc...

[2018-06-07 15:01] michael commented on #569
I fixed the problem with missing annotation components. Was just missing registrations.

Found some other things:

- IsolatedNodes are no longer rendered in Editor
- Seems Footnotes and References are mixed up in EditXrefComponent (some change must have caused this)

![image](https://user-images.githubusercontent.com/2931/41108194-35a00afc-6a74-11e8-99c0-9eea8eab7cf7.png)

@oliver---- can you conf

[2018-06-07 17:01] oliver---- commented on #569
For annotations we need to register components explicitly. This has changed in Texture, because it overrides the fall-back component for unsupported inline nodes.

[2018-06-08 08:05] michael commented on #569
Yeah I saw the comment and it's fixed now. Also provided an ExtLinkComponent with a proper link. I've also just fixed the confusion of referenceManager with footnoteManager, that was my mistake.

If you have time, could you look into those two things:

- IsolatedNodes are no longer rendered in Editor
- Adding a new citation breaks: try adding a new xref for a reference (think this is related to th

[2018-06-08 08:20] oliver---- commented on #569
Will do

[2018-06-08 08:29] michael commented on #568
Yeah! If we manage to have the complexity behind the API, that would be a wonderful thing.

Btw, my first usage of the new API in reader:

https://github.com/substance/texture/blob/reader/src/reader/components/ReaderXrefComponent.js#L23-L40

Generally it feels good but there are some concerns too: With the node (rich object) approach we had everywhere before, there was a clear way to propagate upd

[2018-06-08 08:37] oliver---- commented on #568
It wasn't not so direct before neither, because everything needed to go through a transaction. We still need these, and together with an app-state flow. If everything is listening directly you can not control the correct order of updates, and can not avoid unnecessary rerenderings.

[2018-06-08 08:39] oliver---- commented on #568
That means, with a plain-object approach it does not mean that you can manipulate the data in-place.
Always via API calls. And maybe we even need a batch mode, where you can do several api calls in a row.

[2018-06-08 08:57] michael commented on #567
How will this information be displayed? Will it be in the authors list somehow, or will it be some kind of info box per author, that shows a line "uses pseudonym RapidRabbit"? ;)

I'm only a bit worried about how we make this info editable and accessible. It will become a very crowded form just to enter an author, and most fields are not used in 99% of the cases.

One question I'd always ask is wi

[2018-06-08 08:59] michael commented on #568
I really like the plain object + functional approach. I think this leads to a better design, especially when implementing components when you don't have to think about all the listeners etc. in the first place.

Let me think about it a bit... I think with our new "Managed" approach we could do a very different design. Can you provide me the link again to your gist with the Managed stuff?

[2018-06-08 09:09] oliver---- commented on #568
Yes, that is the idea.
https://github.com/substance/app-experiments/blob/master/single-doc/SingleDocumentEditor.js#L101

[2018-06-08 09:12] michael commented on #568
Do you think we could try out this new stuff in the Reader branch? I'd love to test out this new paradigm... for implementing the reference list (and in place editing of references).

[2018-06-08 09:17] oliver---- commented on #568
It is just a PoC in that repo. But I am fine with moving on with this idea.

[2018-06-08 10:44] michael commented on #568
Something like this?

[code]

[2018-06-08 10:48] oliver---- commented on #568
Yep, something like this.
For `bibliography`, `Managed` need to understand that there is a model with this name?
It is still a bit fuzzy for me, for other cases, this might need to be an id probably, or maybe even, a path(?)

[2018-06-08 10:50] michael commented on #568
Only drawback I could see here, is that whenever there's a minimal change to the bibliography, we would rerender the whole thing, which may be acceptable.  But in case we wanted this to be more fine-grained, we'd need scoped bindings.

[code]

[2018-06-08 11:03] oliver---- commented on #568
I guess it needs to be something canonical, that can then be mapped appropriately, without doing a lot hand-coding of these binders.

[2018-06-08 11:28] oliver---- commented on #569
I have fixed the two mentioned issues.

[2018-06-08 11:31] oliver---- commented on #569
Two things I'd like to make you aware of @michael @Integral
- please use `export default` with the class name. Since ES6 it is not necessary to have that at the bottom. Without the line at the bottom the code is less redundant.
- as mentioned above, be aware that `Commands` must pass `context` through to the rest of the api. This is particularly important for higher-level command implementations,

[2018-06-08 12:55] JGilbert-eLife opened #570 "Support for Keywords and Research Organisms"
eLife needs to be able to add and edit Keywords and Research Organisms within the article-meta:

[code]
For information, we maintain a list of preset Research Organisms but also permit additional organisms to be listed.

[2018-06-08 14:07] JGilbert-eLife opened #571 "Allow alternative reference citation styles"
At present, Texture supports number citations, e.g.

For reading out neuronal activity in vivo, the combination of calcium imaging of neuronal populations (​[1]) with two-photon microscopy ([2]​), has proved its utility because of its high selectivity, good signal-to-noise ratio, and depth penetration in scattering tissues (​[3-9]).

However, eLife and other journals use author, year citations. In

[2018-06-08 16:25] michael opened #572 "Reader: Show preview also for footnotes and figures"
I've implemented a preview (on mouseover) for references. @Integral when you get time you could implement a similar preview for footnotes and figures/tables.

When the xref is clicked we want to scroll to the target eventually, so if you have implementation ideas for that as well, please go ahead (but keep in a separate PR and only after the previews are implemented)

[2018-06-08 16:39] michael commented on #569
Thank you! Works perfectly. One question: When in the reader, clicking on an isolated node highlights it, do we want that, or somehow disable these selections? I mean such a selection would be fine, but you should be able to clear it by clicking somewhere else.

Thanks for the hints regarding export and context.

[2018-06-08 18:07] michael commented on #569
Can we just not render the isolated node if `this.props.disabled === true`? Guess that would feel best, in terms of a reader. Currently you can't make a selection inside a caption.

[2018-06-08 18:12] oliver---- commented on #569
You can try, by changing TextureContainerEditor.getNodeComponent()

[2018-06-08 18:54] fabiobatalha commented on #567
A real example: https://www.erudit.org/fr/revues/socsoc/2017-v49-n1-socsoc03347/1042824ar/

``Kurt Tucholsky, alias Peter Panter``

We are not able to query by the alias, yet, but we should.

Once this info exists in the Article and it is not frequent but still an existing practice, I think we should be able to deal with this, even if we say that Texture will not be able to handle, edit or show th

[2018-06-11 13:19] gustavofonseca commented on #567
I'm checking with the production team.

[2018-06-11 18:08] jalperin commented on #567
This seems like a pretty obscure case, and I do not think we should be worrying about allowing it to be edited within texture. At least not for a 1.0.

Adding edge cases like this will always be tempting, but if we start including them all, then it will get messy fast. However, I don't think adding a free form text field is the right solution either.

Perhaps the middle ground is to make sure Text

[2018-06-11 18:53] gustavofonseca commented on #567
Just to update on my last comment [https://github.com/substance/texture/issues/567#issuecomment-396240437], we are not aware of the occurrence of authors with alternative names in our database.

[2018-06-13 08:21] meinbrodt opened #573 "[Question] Is the persistence logic consolidated?"
Hello,

I would like to experiment with a storage client that saves the contents of the PersistedDocumentArchive into a Mongo Database. Looking at the Texture sourcecode I would approach this the following way:

(1) Create a MongoDBClient with a read and write method + other helper methods if necessary
(2) Pass this client to an instance of the PersistedDocumentArchive where the methods described

[2018-06-13 13:27] meinbrodt opened #574 "[Question] What is the interplay (if any) between Texture and lens reader?"
Hello,

I have another question. Is there any interplay between Texture and the lens reader or are they using both completely different code bases?

Since both are visualizing NLM XML flavoured documents (Texture allows also for their editing of course) I'm wondering if there is any code reusage between these two project.

Regards, Matthias

[2018-06-21 13:48] michael commented on #551
I wonder if we coulda achieve a real association between an author (contrib element) and a grant (award-group). So instead of repeating the name in principal-award-recipient, could we use an xref within contrib to reference `fund1` according to this example?

[code]

[2018-06-22 14:37] GrazingScientist commented on #467
Same here, also with Mac OS High Sierra. I saved a test file (Texture did not allow me to change the name, only the folder to store it). Then I wanted to open the same file ('manuscript.xml'), but I cannot open any file with Texture. Any suggestions?

[2018-06-23 21:00] michael commented on #574
Hi!

Currently Texture is a new codebase, and Lens code uses a bit outdated Substance version. We are working however on joining the two codebases. At first, to just have a classic Texture Reader (one panel) but later bring back Lens functionalities (split pane interactions).

[2018-06-25 11:07] michael commented on #467
In Texture you open folders (=archives) not files. That's why on save you are prompted with a folder path, not a file path.

If you still have problems, please provide a zip file of the corrupt contents, so we can investigate.

[2018-06-25 14:45] michael commented on #555
Is there a way to move towards a more semantic direction. E.g. we could say one category is "key-concept" which means the words tagged are particular important concepts in the paper. We can still use the color palette but we put the semantics first, and not the style. Any thoughts?

Maybe you could look at your corpos of documents that use author-callout styles and try to identify common semantics

[2018-06-25 14:57] Melissa37 commented on #555
Yes, we agree with being more semantic and would really appreciate input from the rest of the consortium on this!
It's not great how eLife specific it is and we'd welcome the ability to make it more useful for others too

[2018-06-25 15:28] michael commented on #573
Look at the reference implementation here. You just need to implement a service that speaks the raw-archive protocol.

https://github.com/substance/dar-server

This spec is maybe slightly outdated but may also help you understanding. https://github.com/substance/texture/blob/master/docs/steps/0004-persistence.md

[2018-06-25 15:59] michael commented on #569
We are good here. Closing.

[2018-06-25 15:59] #569 closed

[2018-06-25 16:14] michael commented on #567
We need to make a decision sooner or later, which will be either supporting that edge case or not. If we support it (in agreement) then I would make this info editable as well. As said I'm worried about crowded forms (we even may need multiple alternative names, with add+remove functionality), and other orgs may have similar use-cases, which are very rare and I'd like to say yes only if there's br

[2018-06-25 16:14] #563 closed

[2018-06-25 16:17] michael commented on #567
I'm adding a propsal label to unconfirmed requirements. So this just means it's open for discussion but not confirmed. Everything that is confirmed will have a 'requirements' label.

[2018-06-25 16:20] michael commented on #556
I'm not convinced we need specific table footnotes. You could still use footnotes in captions but they would end up in the global fn-group. At eLife you could decide to render them in-place, but I think this should not be a main functionality of Texture. It complicates the XML structure and UX.

[2018-06-25 16:28] michael commented on #561
@substance/texture-contributors are present addresses a requirement to all of you?

Suggestion: If we need this, it would be better to capture the info using an `address` element rather than a footnote, which does not carry semantics.

[2018-06-25 16:30] michael commented on #555
I think the main need behind this is semantically tagging and linking concepts in the text. So if we do this right, we may be able to not just say this is a concept, but also link it to a database entry (gene databse etc.).

Let's not rush here, and bring this to the attention of more people. I'll label this as a proposal for now until we've found agreement.

[2018-06-25 16:49] michael commented on #558
There are a lot different flavours of JATS so it's hard to write a general converter. However we'd like to encourage orgs/journals to write little transformers to convert/normalise their content.  It's not a hard job, just there's a lot of variation, and we can't take responsibility for that. With the Dar format we hope that in future things will be interexchangable between journal etc. (even auth

[2018-06-25 20:00] Melissa37 commented on #556
Humm, not sure about that, footnotes are quite specific and different from the caption in my opinion. Would be interested to hear what others think - I appreciate the idea, but would appreciate other thoughts from other publishers

[2018-06-26 05:06] GrazingScientist commented on #467
Hi @michael ,

thanks for the specification. It is a little counterintuitive but understandable that you need to store images, text files etc. in a folder not in a single file. Thanks for the support. For my side this issue may be closed!

[2018-06-26 08:46] JGilbert-eLife commented on #556
Just writing this out for clarity (and to check my own thinking) --

The specific use for footnotes is cross-linking into the main body of the table. So, for example, if you have a footnote

` <fn id="tablefn1"><label>*</label><p>This is a definition of what * indicates in the table.</p></fn>`

you can then call this out in the body of the table with an xref:

`<xref ref-type="table-fn" rid="table

[2018-06-26 09:05] michael commented on #556
I understand how it is used to annotate the table's main content. I just wonder if we could find a more canonical+semantic and less visual interpretation of footnotes. In a digital document I would rather consider them just "notes", which means some information is attached to the content. Clicking or hovering with the mouse will reveal the additional information. Conceptually putting a note inside

[2018-06-26 09:10] michael commented on #556
Here's how it's currently looking like in the editor. In the reader, you'd only see the assigned footnote.

![image](https://user-images.githubusercontent.com/2931/41901557-843fe6e8-7931-11e8-8784-0e2b992f8d06.png)

[2018-06-26 10:06] Melissa37 commented on #556
My interpretation of that image you posted is that all footnotes to an article are listed together  and when you hover over them they show in white the one you're hovering over and the others go grey?

A table is a self-contained asset with it's own DOI. It is cited in the article, but its content and specific footnotes et al need to be contained within that asset.

There are other issues with thi

[2018-06-26 10:08] #482 closed

[2018-06-26 10:08] #558 closed

[2018-06-26 10:09] michael commented on #546
The root tag must be `<dar>` not `<article>`.

[2018-06-26 10:10] michael commented on #546
Oh wait sorry, in the manifest.xml it has to be `<dar>` the article itself can have `<article>`. You must provide a manifest file for the interface to be fulfilled.

[2018-06-26 10:10] #546 closed

[2018-06-26 10:11] michael commented on #549
Anyone else uses verse-group?

[2018-06-26 10:18] michael commented on #542
Would be good to fine out what the semantic uses are here. Like boxed-text is just a visual encoding. We can use the tag but I'd like to internally decide what this type of content means. I'm against wrapping fig elements in boxed text. That's strange semantics to me. Thoughts?

[2018-06-26 10:46] Melissa37 commented on #542
@michael we at eLife will need the ability for figures to be within boxes. This is different to the use case above, but it's the same basic requirement.
I'll get some examples

[2018-06-26 10:49] Melissa37 commented on #549
eLife does not, but we don't tend to publish poems :-)

It's a semantic way to distinguish poetry and also gives the ability to format it as the poet requires (which is important?) so I think it is a requirement.

M

[2018-06-26 12:02] michael commented on #556
No in the reader interface on hover, you'd only see the associated footnote/note. Screenshot is from the editor where you have to choose from existing footnotes.

Regarding self-containment of tables. I think this not fulfilled anyway, like when a caption cites a reference. This one also lives outside the table, which is really fine I think. I think the main motivation for explicit table footnotes

[2018-06-26 12:47] michael commented on #561
This is how it would look like:

[code]

NOTE: for a proper address record we need a lot of fields, this would clutter the edit author form but is the only way to store correct semantic information. Is there any address fields (according to example) that you are sure you don't need to capture?

[2018-06-26 12:52] michael commented on #561
WAIT... shouldn't we better solve this by assigning an affiliation that has that present address data?

Like in `<contrib>`:

[code]

Advantage would be that we don't clutter the edit author form so much. We'd not show that present-address affiliation in the main affiliation list, but still use the same mechanism for data keeping.

@substance/texture-contributors thoughts?

[2018-06-26 14:50] fabiobatalha commented on #567
@michael

The pseudonym was an example, authors may publish with artistic name and other things. We reproduce the ways the journals deals with their publications, so, at this moment, it is not in Érudit hands to decide to publish or not both names.

So, in Érudit use cases, we still need to have the ability to identify and publish the authors names and their pseudonyms (or other names).

If this f

[2018-06-26 15:00] fabiobatalha commented on #549
Yes @Melissa37 it is important.

We usually don't publish poems as well, but there are several articles that includes peaces of poems in their content, and they are tagged as it.

[2018-06-26 15:12] jalperin commented on #567
My vote is to not allow editing in V1, but to also not remove from XML if
present.

Juan

On Tue, Jun 26, 2018, 10:51 Fabio Batalha <notifications@github.com> wrote:

[2018-06-26 15:13] JGilbert-eLife commented on #561
Absolutely agree about capturing this in affiliation tagging - for us, there's generally no difference in the kind of information we're capturing for affiliations and present addresses. However, I think the distinction between the two needs to be captured within a present address aff, not in the xref.

I think it would be relevant for both final display and data mining efforts to be able to distin

[2018-06-26 15:30] michael commented on #561
Thank you @JGilbert-eLife very helpful!

How would you attach that info to the aff element then. If I understand correctly we need two flags:

- is main affiliation
- is present address

(sometimes both is true)

Can you provide an example tagging?

[2018-06-26 15:39] michael commented on #360
Hi @substance/texture-contributors  and especially @Melissa37 and @JGilbert-eLife. I've spent time to study the requirements for group authors and I've come up with  more complete example that covers the requirements described in the main issue text. I've also come up with user interface mockup that fulfills QC requirements.

Please have a close look and let me know what's missing. This is one of

[2018-06-26 18:43] Melissa37 commented on #360
@gmaciocci and @JGilbert-eLife can we chat about this?

[2018-06-27 10:06] michael commented on #540
I've covered the deceased attribute #360

[2018-06-27 10:49] JGilbert-eLife commented on #561
Taking you're suggestion from above using specific-use, I'd suggest something like (with labels included for PDF requirements):

Main affiliation:

[code]

Present address:

[code]

This would then be cross-referenced from the author name as

[code]

This seems to most straightforward solution from the XML point of view. It would mean that is some cases we have the same details present once as a m

[2018-06-27 11:01] #574 closed

[2018-06-27 13:55] michael commented on #561
That's an ok solution I think. I just thought if we had the specific use on the xref we could elegantly solve the case where present-address = main affiliation. For Texture we have an internal JS API (I'm just documenting this) and then we could replicate that structure to the XML.

Here's how the internal JSON record looks like:

[code]

[2018-06-27 13:57] michael commented on #561
You used a different tagging for aff elements. The latest Dar proposal looks like this:

https://github.com/substance/dar/blob/master/DarArticle.md#aff

[2018-06-27 15:53] michael commented on #530
Could we make it more explicit and use unique group names. E.g. "heading-1" and "heading-2" ? Or are these headings on the same level.

[2018-06-27 16:11] JGilbert-eLife commented on #530
They're different kinds of categories, so I'm not quite sure how to classify their relationship in that fashion. While they're not quite the same level, neither are they in the hierarchical relationship heading-1 and heading-2 would imply.

What do you think @Melissa37? I know we used "display-channel" and "heading" because those are JATS recommended values, but is there scope to use something mor

[2018-06-27 16:32] michael commented on #535
`pub-date pub-type="collection"` is redundant to the primary pub-date. Can we leave it out?

[2018-06-27 19:50] Melissa37 commented on #535
Yes it is. We have some internal system using it, but it' a hangover.
@gnott FYI future :-)

[2018-06-27 19:53] Melissa37 commented on #530
Hi there

https://jats.nlm.nih.gov/archiving/tag-library/1.2d1/element/subj-group.html

I think "display-channel" and "heading" and are a thrownback from our time with another hosting vendor and I'd be happy to revisit these terms, but would like to do it in conjunction with a group like JATS4R.
There is a keywords group currently in session - I'll take this to them.

Cheers
M

[2018-06-27 22:06] gnott commented on #535
Thanks, eLife relies on this for some logic at the moment. Internally we should look for an alternative again.

[2018-06-28 10:32] michael opened #580 "Table Editing is broken"
Cell can not be entered, neither with click nor with ENTER. @oliver---- please have a look.

[2018-06-28 13:22] michael opened #581 "Add MultiSelect Form Element"
For tasks like associating affiliations with authors we need a multi-select input widget.

![image](https://user-images.githubusercontent.com/2931/42033067-e8ac260e-7adb-11e8-9720-79eb21f1aa4a.png)

[code]

When changes are made to the selection, an action should be sent up.

[code]

Regarding layout:

- Remove icons should be aligned and move to the right according to the longest item
- selector

[2018-06-29 11:51] Integral commented on #581
See #582. Perhaps I need a mockup to be able to style it with more details.

[2018-06-29 14:24] Melissa37 commented on #542
HI there, here is an elife example: https://elifesciences.org/articles/05519

[2018-07-02 14:08] Melissa37 commented on #360
We've chat chatted about this in eLife and think a call with @JGilbert-eLife and @gmaciocci would be good.
@michael could you do a call with them on Friday afternoon?

[2018-07-03 11:36] michael opened #584 "CRITICAL: Update schema so named-content is only used for text content"
Currently we abuse named content, to model code cells. We agreed that we will just introduce custom tags for code cells, then we can also remove the converters for cell and repro fig.

[2018-07-03 14:59] michael opened #585 "Implement API's with support for group authors"
Please implement in the following order:

- [x] [Get authors](https://github.com/substance/texture/blob/master/docs/TextureAPI.md#authors)
- [x] [Get affiliations](https://github.com/substance/texture/blob/master/docs/TextureAPI.md#affiliations)
- [x] Add author
- [x] Update author/group author
- [x] Delete author/group author
- [x] Add/Update/Delete affiliation record
- [x] Add award/Update/Delet

[2018-07-03 15:03] michael commented on #585
The internal JATS model for group authors looks like this for reference. However you only have to deal with the pubMetaDb records, the converters I'm implementing will do the rest.

[code]

[2018-07-04 08:22] michael commented on #585
We also need:

[ ] Model (EntityDatabase.js) and Converters for keywords
[ ] Model (EntityDatabase.js) and Converters for award

I've added the XML to the kitchen sink.

[2018-07-04 12:44] michael commented on #360
Hey @Melissa37 yes we can do Friday. Not too late if possible. :)

[2018-07-04 12:59] JGilbert-eLife commented on #360
Hi @michael - Melissa's out of the office today so I thought I should jump in. I can certainly do a call on Friday; not sure what time would be good for @gmaciocci as he's out as well. I'll check with him tomorrow.

From our discussion earlier this week, we might actually want the extra tags you mention after all, since we're erring towards a different way of handling group authors in the XML.

[2018-07-04 13:04] michael opened #587 "Add support for deceased, corresp, equal-contrib attributes"

[2018-07-04 13:07] michael commented on #360
Ok, let's discuss in the call then.

[2018-07-05 06:20] Integral commented on #585
Hey @michael,
I was thinking whatever we need a validator for creation API? Like when you add entities via pubMetaDbSession you can pass any properties and they will stay in DB. We can cut off anything not related to schema. What do you think?

[2018-07-05 10:33] michael commented on #423
Solved via #588.

[2018-07-05 10:33] #423 closed

[2018-07-05 11:30] michael commented on #585
We have a model already for the entities, so any properties that are not in the schema should be deleted anyways. But we can think about better errors and warnings etc. according to schema. However other things have priority I think.

[2018-07-05 13:45] JGilbert-eLife commented on #360
Hi again @michael - @gmaciocci  is free from 14:00-16:00 UK time tomorrow. Would 14:00 UK time work for you?

James

[2018-07-05 14:39] michael commented on #360
Hi @JGilbert-eLife @gmaciocci! 14:00 UK time works fine. Can you send a calendar invite to everyone?

[2018-07-06 12:44] michael commented on #587
@Integral could you add that to the schema and converters?

[2018-07-06 13:50] JGilbert-eLife commented on #360
Few quick notes from the call today:

* Change the way in which group authors work so that each member of a group author is added in an identical fashion as a 'main' author (with all the same information) and is then added to an author group.
* This would require the creation of a batch operation function so that multiple authors could be selected  and have some property applied or changed. This w

[2018-07-06 14:33] michael commented on #360
If we use the flat UI with tagging as proposed, we won't be able to model sub-groups. Is that still a requirement, or could we challenge that?

[2018-07-06 14:37] eLifeProduction commented on #360
That was one thing we forgot to say; we think if we model members of groups as normal authors, we can handle the sub-groups by means of the author contributions, since that's basically all that sub-groups are - ways of demonstrating different contributions from different segments of the group.

I would say that idea might be affected by any effort JATS4R puts into groups, but for now, we're happy

[2018-07-06 14:37] JGilbert-eLife commented on #360
That was one thing we forgot to say; we think if we model members of groups as normal authors, we can handle the sub-groups by means of the author contributions, since that's basically all that sub-groups are - ways of demonstrating different contributions from different segments of the group.

I would say that idea might be affected by any effort JATS4R puts into groups, but for now, we're happy

[2018-07-06 14:55] michael commented on #360
Contribution is modelled using the `<role>` element right?

[2018-07-06 15:04] JGilbert-eLife commented on #360
No, it's modelled using footnotes:
[code]

[code]

In our case, the content of each contribution footnote is populated from preset text, though we allow free-form text to be appended to the preset options.

[2018-07-06 15:21] michael commented on #360
To be able to assign multiple contribution descriptions to one author will make the UI quite complex (same as associating affiliations etc.). I wonder if we could just have one contribution field per author (e.g. role) that could become easier. Is it an option?

[2018-07-06 18:15] michael commented on #360
I see. Hm, too bad there's no element. Do you use the `<role>` tag at eLife?

[2018-07-06 19:01] michael commented on #360
Here's another attempt on the UI (using a flat structure).

![image](https://user-images.githubusercontent.com/2931/42395021-837ef0ea-815c-11e8-9d5b-71d1ae0f60e9.png)

Considerations:

- All field values are editable directly (no extra click needed to switch context to edit mode)
- Only required and filled out fields are shown by default (more compact cards); can be expanded so all available field

[2018-07-06 19:17] michael commented on #360
Maybe after assigning a regular author to a group, we could group them together visually and use a different rendering so the user can see how things will appear on the paper.

(maybe not so trivial to implement such a custom interface... but curious what you think)

[2018-07-07 12:42] #587 closed

[2018-07-07 12:42] michael commented on #584
Done.

[2018-07-07 12:42] #584 closed

[2018-07-07 18:21] Integral commented on #585
Only docs are left.

[2018-07-08 00:01] oliver---- commented on #580
You have broken it, with https://github.com/substance/texture/commit/2d4f895aa12934b41345c35294d76ae3bc6229ba

Note that the content of IsolatedNodeComponents is disabled when not focused. Thus a guard in ` didMount()` disables this forever.

[2018-07-08 00:07] oliver---- commented on #580
I'd suggest you revert your changes. We need to discuss how we can configure such components to support a read-only, but still reactive version.

[2018-07-10 07:32] oliver---- commented on #580
@michael I have reverted 2d4f895 in branch `qc-mode` to get the test-suite working.

[2018-07-11 12:04] JGilbert-eLife commented on #360
Hi @michael - very sorry for the delay in replying.

* eLife uses `<role>` to denote specific kinds of editor, e.g. 'Reviewing editor':

[code]
* The new interface looks like a good start to me. I think I'm perhaps having a little trouble imagining how it will work without being able to click around and see, however, so I might have more feedback after doing that.
* I'd agree that grouping the aut

[2018-07-12 08:51] #581 closed

[2018-07-16 15:08] fabiobatalha commented on #411
@michael

Will Texture support the **bio** element in all the elements JATS is supporting it?

JATS elements that supports the element **bio**: `<back>`, `<collab>`, `<contrib>`, `<contrib-group>`

[2018-07-17 11:25] michael opened #607 "Metadata Editor Improvements"
Here's a bunch of tasks related to improving the Metadata Editor:

- [x] Display warnings as overlays when cursor is in input field (to avoid jumping and make interface more minimal)
- [x] Remove add buttons in the document (should go into toolbar)
- [x] Use box shadow for cards (like we do for tables, figures, etc in main content)
- [x] Make section headings look like regular headings
- [x] Use s

[2018-07-17 12:03] #568 closed

[2018-07-17 12:03] #572 closed

[2018-07-17 13:31] michael commented on #567
Suggestion: Can we do it as a simple property of a contrib element. Like this:

[code]

We can make this easily editable. Only limitation: Just one pseudonym per author.

@fabiobatalha what do you think?

[2018-07-17 14:08] fabiobatalha commented on #567
@michael I think it is ok.

[2018-07-17 14:12] michael commented on #607
Regarding improve CSS: _entity-editor.css is leaking a lot of styles (e.g. overriding hover for text inputs etc., this should go into the css of the individual component).

Also things like:

[code]

we should avoid, as it will not scale with adding more input types. The best thing would be to not include labels in the TextInput etc. component (as this is redundant stuff). It would be better to in

[2018-07-17 14:19] michael commented on #607
Reuse TextInput inside RefContribEditor (that will be possible once we have separated it from the labels etc).

[2018-07-17 17:56] michael opened #609 "Introduce Toolbar for MetadataEditor"
We want to provide a dedicated toolbar for the metadata editor, to allow quick access to related tasks (e.g. adding entities such as authors, affiliations etc.)

The toolbar will include a mode switcher (right side) to be able to switch between editor, metadata editor and reader (=preview) modes.

![image](https://user-images.githubusercontent.com/2931/42836385-300c9f1e-89fb-11e8-9cb9-8d1f6a2bcd68

[2018-07-17 18:17] michael opened #610 "Batch actions for metadata editor"
According to the discussion with @JGilbert-eLife and Giuliano we want to consider introducing batch actions for metadata editing. This may not need to be a primary interface, but very important in edge cases (e.g. when we have to deal with hundreds of authors in one paper)

Here's a proposal of a compact view, which is optimised for batch actions, such as deleting records, moving items or starting

[2018-07-17 18:17] michael commented on #609
Also see #610 for more UI/UX ideas including batch actions.

[2018-07-17 18:24] michael commented on #360
@JGilbert-eLife we will soon be able to provide a clickable prototype (end of week I hope).

Could you discuss at eLife wether it would be feasible to use the role element to hold a contribution instead of the xref strategy. I'd propose this tagging (at least until there's a dedicated contribution tag)

[code]

[2018-07-17 19:04] fabiobatalha commented on #610
I really liked it.

[2018-07-17 21:21] michael opened #612 "Styling needed"
We implemented these cards, and the UX feels quite nice. It allows quick in-place editing of references too. However I'm failing to give this a minimal consistent style.

Desired:

- minimal buttons for adding and removing of authors/editors
- consistent button style
- position of the warning sign for required fields
- way to reveal the warning message (I guess we don't want to display all the tim

[2018-07-18 08:34] JGilbert-eLife commented on #360
Hi @michael - I understand that the JATS4R group is currently discussing contributions, so I think we need to wait for them to complete their recommendation before we can make a decision on this.

Looking forward to the prototype!

[2018-07-18 08:46] michael commented on #610
We are realising that batch actions are useful for simple changes such as deleting records and reordering. However for batch assigning (e.g. authors to affiliations) we would be better off with specialised workflow interfaces. E.g. consider this sketch:

![image](https://user-images.githubusercontent.com/2931/42870288-b6dbee88-8a77-11e8-85ff-5438d1ed3eb7.png)

[2018-07-18 10:13] michael opened #613 "Allow multiple languages for keywords"
Dar JATS input:

[code]

Tasks (now):

- Create converter that populates language property of Keyword model
- On export, split into values of language property and create keyword groups for each value
- We just use strings for now (as we do with keyword category)

Tasks (later):

- Allow configure texture with languages and labels (regular LabelProvider)
- Display selectbox where you can choose fr

[2018-07-18 12:12] michael opened #614 "Import and display article record (including pub history) in MetadataEditor"
This input is already in the kitchen sink, but we need to make it editable.

[code]

Plan is the following: Introduce an ArticleRecord model (EntityDatabase.js), it's a singleton with a fixed id: "article-record".

[code]

So this needs to be converted on import and export. Please make sure the following criteria is fulfilled:

- [ ] we use fixed date-types (pub, received,accepted, rev-received, r

[2018-07-18 14:12] fabiobatalha commented on #360
@michael @JGilbert-eLife  @Melissa37

The `<collab>` element allows the use of `<fn>` elements. It may help to solve the issue of xrefs between authors and fn-contribution.

The bad thing is that the use of `<collab>` will become overloaded.

[code]

[2018-07-18 15:13] Integral commented on #613
Only later tasks left.

[2018-07-18 15:21] michael commented on #613
Nice. Closing this and create new issue.

[2018-07-18 15:24] michael opened #615 "Allow configure texture with languages and labels"
Display selectbox where you can choose from registered languages (e.g. in EntityEditor for keywords).

Let's wait a bit with this until we have a clear plan.

[2018-07-19 13:01] michael opened #617 "Figures QC: permissions"
![image](https://user-images.githubusercontent.com/2931/42943538-51d1a338-8b63-11e8-834f-2da57662f1b2.png)

This reflects [JATS4R tagging](https://jats4r.org/permissions).

[code]

Considerations:

- only one permission exposed in UI for simplicity (multiple permissions are really an edge case and we will find some other way to support it)
- translations will just be optional fields to fill out (w

[2018-07-19 13:01] #613 closed

[2018-07-19 13:07] michael commented on #553
See: https://github.com/substance/texture/issues/617

[2018-07-19 13:12] michael opened #618 "QC Mode requirements"
Requirements according to @fabiobatalha :

Journal

- journal publisher id
- journal aggregator id
- journal other id
- Title
- Subtitle
- Abbreviated title
- Translated Title
- Translated Subtitle
- other titles
- ISSN (electronic, print, other)
- publisher name

Issue

- volume
- number
- publication date
- received date
- reviewed date
- acceptance date
- Issue Title

Article

- Article Type
-

[2018-07-19 13:14] michael commented on #338
We have taken a different path for the QC interface. Closing this, and opening a new issue regarding your requirements @fabiobatalha. See https://github.com/substance/texture/issues/618

[2018-07-19 13:14] #338 closed

[2018-07-19 13:17] michael commented on #618
We'll support a great portion of it in Texture 1.0, but let's review this in Sao Paulo together and refine until everyone is happy.

[2018-07-19 13:19] michael commented on #551
This is done and editable via the interface. Will be ready for testing in next release.

[2018-07-19 13:19] #551 closed

[2018-07-19 13:21] michael commented on #475
First version done, including category property and multiple languages.

[2018-07-19 13:22] #475 closed

[2018-07-19 13:40] soarecostin opened #619 "References ordered alphabetically instead of numerically"
Dear Team,

When citing multiple references, the order in which they appear cited is sorted alphabetically rather than numerically and sometime that results is a problem. Let me give you a few examples:

- Citing references 2, 3, 14 and 15 results in Texture displaying [14, 15, 2, 3] instead of [2, 3, 14, 15]
- Citing references 1, 2, 3, 4, 16, 17 results in Texture displaying [1, 16, 17, 2-4] ins

[2018-07-19 13:55] soarecostin opened #620 "Inconsistent behavior with merged cells in tables"
Dear Team,

I have found that depending on how I setup some merged cells in the table, sometimes it works without any issues, other times I get an error when I try to save (Ctrl+S) and in rare cases the browser crashes.

Please see below a few examples of merged cells:

![texture editor 1](https://user-images.githubusercontent.com/6401790/42946659-b2397b4e-8b6b-11e8-8c9e-318bc189ec0f.png)
_This is

[2018-07-19 13:57] michael commented on #617
@fabiobatalha @gustavofonseca regarding translated figures, I guess we also need translations for the figure title? If yes, can you provide some example markup?

[2018-07-19 14:08] #585 closed

[2018-07-19 15:47] Melissa37 commented on #530
HI @klawsonvt

Thanks for looking at this with your group!
It's good to have the JATS4R feedback :-)

I am with @JGilbert-eLife on this as I don't think we consider them as hierarchical. I am thinking about how we'd arrange them in an issue TOC
the 'display-channel' could trump the 'heading' simply because it would be unusual for a journal to mix editorial content such as editorials and commission

[2018-07-19 16:22] michael opened #621 "Implement Multi-Language support for titles + abstracts"
This is just a start but the goal is to introduce a section in MetadataEditor that allows adding new translations for article title and abstract.

![image](https://user-images.githubusercontent.com/2931/42956158-8c40f9d0-8b7f-11e8-8501-7d6a17901f07.png)

Implementation plan:

- Introduce TranslationsModel that abstracts a translation API
- Introduce a TranslationsEditor component that gets rendere

[2018-07-20 18:18] Integral commented on #614
@michael according to JATS there could be elocation-id and volume/issue. Let me know if I'm wrong.

[2018-07-21 22:14] meinbrodt opened #623 "Different folder structure within src folder"
Hello,

I propose a different folder structure within the `/src` folder. The goals of this proposal are:

1.  Easier understanding of the codebase
2. A stronger emphasis on the fact that texture is/will be agnostic to the type of document/resource that can be edited and visualized
3. A stronger emphasis on the fact that texture is a "toolset for the production of scientific content" from which a d

[2018-07-22 19:04] meinbrodt opened #624 "Is it possible to import and use node.js modules?"
Hi,

I wanted to import an external node.js module while tinkering a little bit with texture using

[code]

Running `node start` builds the web based texture version without any errors,  however, when I open the page on localhost I always get a `Uncaught ReferenceError: require is not defined` at the exact position in the code where I inserted the require statement.

Any help on how to solve this